<p style="text-align:center"><strong>Viribus</strong><strong> </strong><strong>unitis</strong><strong>: розгадуючи мовний код</strong></p>

<p style="text-align:justify"><strong><img alt="" src="/pages/files/354e74ada001/001.jpg" style="height:388px; width:780px" /></strong><em>&nbsp; &nbsp;Вже друге десятиліття поспіль світова громада підтримує традицію святкування Міжнародного дня рідної мови.</em></p>

<p style="text-align:justify">&nbsp; &nbsp; Збереження мовної різноманітності &ndash; нагальна проблема нашого часу, адже очевидною є тенденція до зникнення мов малих народів, взаємного розмивання культурних кордонів.</p>

<p style="text-align:justify">&nbsp;Студенти Коледжу ЧНУ імені&nbsp;Юрія&nbsp;Федьковича з нагоди святкування 21 лютого <strong>Дня рідної мови</strong> вирішили привернути увагу ровесників та викладачів до культурних істин, без яких годі уявити сучасний світ. Так постали два великих проєкти: &laquo;Лідери думок &ndash; про мову&raquo; та &laquo;Рідна мова. Відеозапис&raquo;.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/038c5b21cff8/003_.jpg" style="height:585px; width:780px" />&nbsp; &nbsp;Окремо варто відзначити роботи 117 групи (викладач - Остапович М.О.), 102 (викладач - Чік Л.В.) та 106, 116 груп (викладач - Славінська Н.П.). Так, студенти 1-гокурсу спеціальності &quot;Фнанси, банківська справа та страхування&quot;&nbsp;(Братушко О., Богданюк В., Ісар А., Голіната А. та&nbsp; Руда Юлія) вирішили зосередитись на потребі кожного мовця мати чітке власне &laquo;Я&raquo;, адже лише свідома людина здатна поважати культуру інших та розвивати власну. Студенти 1-го курсу спеціальності &quot;Прикладна математика&quot; (Кацап В., Снігур Л., Джаман Ю., Гречак О., Чупірчук С., Макаранюк О.) звернулася до української поетичної спадщини, наголосила на важливості саме рідного, а не цікавого, але сусідського слова.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/f3ccc087a972/0021.jpg" style="height:491px; width:780px" />&nbsp; &nbsp;Підтвердили думку колег й розширили її студенти 1-го курсу спеціальності &quot;Право&quot; (Якобишена Е, Чобан В., Шелефета В., Панчук Д.)&nbsp;оскільки важливо не лише сформувати власне культурне &laquo;Я&raquo;, а й постійно утримувати в полі зору закон переємності: без любові до родинних історій, пісень, фото, дрібничок на згадку, які передаватимуться як найдорожча спадщина, не матимемо змоги розгадати барвистий мовний код цього світу.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:780px">
	<tbody>
		<tr>
			<td>Відеоролик студентів спеціальності&nbsp;&quot;Фнанси, банківська справа та страхування&quot;</td>
			<td style="text-align:center"><a href="https://www.youtube.com/watch?v=f_4383rDJF4">Переглянути</a></td>
		</tr>
		<tr>
			<td>Відеоролик студентів спеціальності &quot;Прикладна математика&quot;</td>
			<td style="text-align:center"><a href="https://www.youtube.com/watch?v=_16-OJS5O4I">Переглянути</a></td>
		</tr>
		<tr>
			<td>Відеоролик студентів спеціальності &quot;Право&quot;</td>
			<td style="text-align:center"><a href="https://www.youtube.com/watch?v=vET5EW3NqEY">Переглянути</a></td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>
