<p style="text-align:center"><img alt="" src="/pages/files/b04eff8a97c3/123.jpg" style="height:291px; width:780px" /></p>

<p style="text-align:center"><strong>ДИСЦИПЛІНИ ВІЛЬНОГО ВИБОРУ ЗДОБУВАЧА ОСВІТИ</strong></p>

<hr />
<p><strong>ЗАГАЛЬНА ПІДГОТОВКА<br />
&nbsp;&nbsp; 1.</strong>&nbsp;<a href="/pages/files/2d3dffbda640/English for Life.pdf">Англійська для життя</a>&nbsp;[English for life]&nbsp;<em>(Н.Д. Добровольська)</em><strong>&nbsp;&nbsp;<br />
&nbsp; &nbsp;2.</strong>&nbsp;<a href="/pages/files/d3d5d72eb0e4/Historical figures.pdf">Історичні постаті в процесах державотворення України</a>&nbsp;<em>(В.Я. Дерев&#39;янчук)</em><br />
<strong>&nbsp; &nbsp;3.</strong>&nbsp;<a href="/pages/files/39a8be1f769c/Organization of business.pdf">Організація та ведення бізнесу</a>&nbsp;<em>(О.Ю. Докаш)</em><br />
<strong>&nbsp; &nbsp;4.</strong>&nbsp;<a href="/pages/files/e16a9234099b/Start-UP.pdf">Основи START-UP</a>&nbsp;<em>(О.І. Луган)</em><br />
<strong>&nbsp; &nbsp;5.</strong>&nbsp;<a href="/pages/files/c0343b919455/Accounting.pdf">Основи бухгатерського обліку</a>&nbsp;&nbsp;<em>(С.І. Гнат)</em><br />
<strong>&nbsp; &nbsp;6.</strong>&nbsp;<a href="/pages/files/9998f98a40c4/scientific research.pdf">Основи наукових досліджень</a>&nbsp;<em>(М.О. Остапович)</em><br />
<strong>&nbsp; &nbsp;7.</strong>&nbsp;<a href="/pages/files/f4ac5468cd01/the art of good.pdf">Мистецтво добра</a>&nbsp;<em>(І.В. Пержун)</em><br />
<strong>&nbsp; &nbsp;8.</strong>&nbsp;<a href="/pages/files/041ce644c866/international finance.pdf">Міжнародні фінанси</a>&nbsp;<em>(Ю.В. Семенюк)</em><br />
<strong>&nbsp; &nbsp;9.</strong>&nbsp;<a href="/pages/files/dce5fcd0dbf2/Copyright.pdf">Правопорушення у сфері авторського права та використання цифрових пристроїв</a>&nbsp;<em>(П.В. Єгоров)</em><br />
<strong>&nbsp; &nbsp;10.</strong>&nbsp;<a href="/pages/files/e7f0b87fb93e/psychology.pdf">Психологія</a>&nbsp;<em>(А.В. Кушнір)</em><br />
<strong>&nbsp; &nbsp;11.</strong>&nbsp;<a href="/pages/files/eac23912d1e0/Financial services market.pdf">Ринок фінансових послуг</a>&nbsp;<em>(А.М. Томашевська)</em><br />
<strong>&nbsp; &nbsp;12.</strong>&nbsp;<a href="/pages/files/e27603640893/financial literacy.pdf">Фінансова грамотність</a>&nbsp;<em>(А.В. Марич)</em><br />
<strong>&nbsp; &nbsp;13.</strong>&nbsp;<a href="/pages/files/15fb7c07c1fb/small business finance.pdf">Фінанси малого бізнесу</a>&nbsp;<em>(А.В. Марич)</em><br />
<br />
<strong>&nbsp;</strong><strong>ПРОФЕСІЙНА ПІДГОТОВКА</strong><br />
<strong>&nbsp; &nbsp;1.</strong>&nbsp;<a href="/pages/files/37f1dd3fa75e/CyberSecurity.pdf">Основи кібербезпеки</a>&nbsp;<em>(О.В. Букурос, Х.В. Мельничук)</em><br />
<strong>&nbsp;</strong><strong>&nbsp; 2.</strong>&nbsp;<a href="/pages/files/600697ad87fd/Robotics.pdf">Робототехніка</a>&nbsp;<em>(Д.В. Кондрюк, В.М. Нагорний)</em><br />
<strong>&nbsp;</strong><strong>&nbsp; 3.</strong>&nbsp;<a href="/pages/files/0dbe0e976be7/asoi_KI.pdf">Автоматизовані системи обробки інформації</a>&nbsp;<em>(В.В. Коропецький)</em><br />
<strong>&nbsp; &nbsp;4.</strong>&nbsp;<a href="/pages/files/754ed4548ba6/Motion KI.pdf">Основи Motion дизайну</a>&nbsp;<em>(І.В. Гудзик)</em><br />
<strong>&nbsp; &nbsp;5.</strong>&nbsp;<a href="/pages/files/e75baafdd470/mongo_KI.pdf">Програмування баз даних та знань</a>&nbsp;<em>(Ю.В. Луцюк)</em><br />
<strong>&nbsp; &nbsp;6.</strong>&nbsp;<a href="/pages/files/8c6114dbcb87/stp_KI.pdf">Сучасні технології програмування</a>&nbsp;<em>(Ю.В. Луцюк)</em></p>
