<p style="text-align: justify;"><img alt="" src="/pages/files/4ba45cbb3d1a/konk.jpg" style="height:238px; width:780px" />&nbsp; &nbsp;Цикловою комісією &quot;Філологічних дисциплін&quot; завершено&nbsp;<strong>І етап конкурсів&nbsp;та олімпіад&nbsp;з української мови та літератури</strong>&nbsp;(Мовно-літературний&nbsp;конкурс&nbsp;імені&nbsp;Тараса&nbsp;Шевченка, Конкурсу української мови імені&nbsp;Петра Яцика та Всеукраїнська&nbsp;олімпіада&nbsp;з&nbsp;української мови) серед студентів Коледжу ЧНУ імені Юрія Федьковича.</p>

<p style="text-align: center;"><strong>РЕЗУЛЬТАТИ</strong><br />
<strong>І етапу Всеукраїнської олімпіади з української мови</strong></p>

<table border="1" cellspacing="0" style="width:446.55pt">
	<tbody>
		<tr>
			<td style="border-color:black; vertical-align:top; width:256.35pt">
			<p style="text-align:center"><strong>I курс</strong></p>
			</td>
			<td style="border-color:black; vertical-align:top; width:190.2pt">
			<p style="text-align:center"><strong>II курс</strong></p>
			</td>
		</tr>
		<tr>
			<td style="border-color:black; vertical-align:top; width:256.35pt">
			<p>I місце - Лаврук Христина</p>

			<p>104 гр.</p>
			</td>
			<td style="vertical-align:top; width:190.2pt">
			<p>I місце - Ротар Крістіна</p>

			<p>205 гр.</p>
			</td>
		</tr>
		<tr>
			<td style="border-color:black; vertical-align:top; width:256.35pt">
			<p>II місце -Ісар Адріана</p>

			<p>106 гр.</p>
			</td>
			<td style="vertical-align:top; width:190.2pt">
			<p>II місце - Романська Анастасія&nbsp; 205 гр.</p>
			</td>
		</tr>
		<tr>
			<td style="border-color:black; vertical-align:top; width:256.35pt">
			<p>III місце - Гречак Оксана</p>

			<p>103 гр.</p>
			</td>
			<td style="vertical-align:top; width:190.2pt">
			<p>III місце -Ткачук Іван</p>

			<p>214 гр.</p>
			</td>
		</tr>
	</tbody>
</table>

<p style="text-align:center">&nbsp;</p>

<h1 style="text-align:center">РЕЗУЛЬТАТИ</h1>

<h1 style="text-align:center">&nbsp;І етапу ХХ Міжнародного конкурсу</h1>

<h1 style="text-align:center">&nbsp;з української мови імені Петра Яцика</h1>

<h1 style="text-align:center">&nbsp;</h1>

<table border="1" cellspacing="0" style="width:446.55pt">
	<tbody>
		<tr>
			<td style="border-color:black; vertical-align:top; width:256.35pt">
			<p style="text-align:center">I курс</p>
			</td>
			<td style="border-color:black; vertical-align:top; width:190.2pt">
			<p style="text-align:center">II курс</p>
			</td>
		</tr>
		<tr>
			<td style="border-color:black; vertical-align:top; width:256.35pt">
			<p>I місце - Ісар Адріана 106 гр.</p>
			</td>
			<td style="vertical-align:top; width:190.2pt">
			<p>I місце - Ткачук Іван 214 гр.</p>
			</td>
		</tr>
		<tr>
			<td style="border-color:black; vertical-align:top; width:256.35pt">
			<p>II місце - Лаврук Христина 104 гр.</p>
			</td>
			<td style="vertical-align:top; width:190.2pt">
			<p>II місце - Кравчук Юлія</p>

			<p>217 гр.</p>
			</td>
		</tr>
		<tr>
			<td style="border-color:black; vertical-align:top; width:256.35pt">
			<p>III місце - Галіщук Даниїл</p>

			<p>106 гр.</p>
			</td>
			<td style="vertical-align:top; width:190.2pt">
			<p>III місце - Ротар Крістіна</p>

			<p>205 гр.,&nbsp;&nbsp;&nbsp;&nbsp; Романська Анастасія 205 гр.</p>
			</td>
		</tr>
	</tbody>
</table>

<h1 style="text-align:center">&nbsp;</h1>

<h1 style="text-align:center">РЕЗУЛЬТАТИ</h1>

<h1 style="text-align:center">&nbsp;І етапу Х Міжнародного мовно-літературного конкурсу</h1>

<p style="text-align:center"><strong>учнівської та студентської молоді </strong><strong>ім</strong><strong>ені </strong><strong>Т</strong><strong>араса </strong><strong>Шевченка</strong></p>

<p style="text-align:center">&nbsp;</p>

<table border="1" cellspacing="0" style="width:446.55pt">
	<tbody>
		<tr>
			<td style="border-color:black; vertical-align:top; width:256.35pt">
			<p style="text-align:center">I курс</p>
			</td>
			<td style="border-color:black; vertical-align:top; width:190.2pt">
			<p style="text-align:center">II курс</p>
			</td>
		</tr>
		<tr>
			<td style="border-color:black; vertical-align:top; width:256.35pt">
			<p>I місце - Пилипчук Суламіта</p>

			<p>107 гр.</p>
			</td>
			<td style="vertical-align:top; width:190.2pt">
			<p>I місце - Кравчук Юлія 217 гр.</p>
			</td>
		</tr>
		<tr>
			<td style="border-color:black; vertical-align:top; width:256.35pt">
			<p>II місце - Лаврук Христина 104 гр.</p>
			</td>
			<td style="vertical-align:top; width:190.2pt">
			<p>II місце - Оленич Ірина 207 гр.</p>
			</td>
		</tr>
		<tr>
			<td style="border-color:black; vertical-align:top; width:256.35pt">
			<p>III місце - Костенюк А. 103 гр.</p>
			</td>
			<td style="vertical-align:top; width:190.2pt">
			<p>III місце - Михайлович М.217 гр.</p>
			</td>
		</tr>
	</tbody>
</table>
