<p style="text-align: justify;"><img alt="" src="/pages/files/12a51b6e0959/123.png" style="height:273px; width:780px" />&nbsp; &nbsp;Відбувся фінал&nbsp;<strong>Чемпіонату з волейболу</strong> серед закладів вищої освіти Чернівецької області в рамках cпортивних ігор&nbsp;серед студентської молоді.&nbsp;Перемогу&nbsp;здобула&nbsp;збірна&nbsp;команда&nbsp;ЧНУ імені Юрія Федьковича в склад якої увійшов й студент Коледжу ЧНУ імені Юрія Федьковича - <strong>Богдан ЦУРКАН</strong>&nbsp;(2-й курс, спеціальність &quot;Комп&#39;ютерні науки&quot;).</p>

<p style="text-align: justify;"><img alt="" src="/pages/files/18c9d1000f63/Curkan.jpg" style="height:397px; width:780px" />&nbsp; &nbsp;Вітаємо ПЕРЕМОЖЦІВ і нашого члена збірної&nbsp;<strong>Богдана ЦУРКАНА </strong>зокрема!!!</p>
