<p style="text-align: center;"><img alt="" src="/pages/files/4e93a4d82490/005.jpg" style="height:390px; width:780px" /><span style="color:#000000"><strong>На Міжнародному конкурсі в Болгарії - 1 місце!</strong></span></p>

<p style="text-align: justify;"><span style="color:#000000">&nbsp; &nbsp;У м. Кітен&nbsp;(Болгарія) відбувся&nbsp;<strong>IX Міжнародний шоу-фестиваль&nbsp;&laquo;ZаГрай entertainment fest літо - 2020&raquo;</strong>.&nbsp;Багатожанровий фестиваль&nbsp;об&#39;єднав близько 1000 учасників з різних країн.&nbsp;Коледж&nbsp;Чернівецького національного університету імені Юрія Федьковича представляв студент 2-го курсу спеціальності &quot;Фінанси, банківська справа та страхування&quot;&nbsp;-&nbsp;<strong>Арсен ВАКАРЧЮК</strong>, який&nbsp;у номінації &quot;Художнє читання&quot; здобув почесне <strong>1 місце</strong>! 🏆🏆🏆</span></p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/de693223b509/002.jpg" style="height:569px; width:390px" /></td>
			<td><img alt="" src="/pages/files/1042b010c55b/003.jpg" style="height:569px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align: justify;"><span style="color:#000000">&nbsp; &nbsp;Керівник <strong>Марко Ірина Вікторівна</strong> нагороджена <strong>Подякою</strong> за активну професійну діяльність з обдарованими дітьми, сприяння формуванню нової творчої еліти на міжнародному рівні.</span></p>

<p style="text-align: justify;"><img alt="" src="/pages/files/0f93f2e3d455/004.jpg" style="height:1388px; width:780px" /></p>
