<p style="text-align:justify">&nbsp; &nbsp;26-28 березня 2021 р.&nbsp;у місті Анталія (Туреччина)&nbsp;відбувся І Міжнародний шоу-фестиваль мистецтв&nbsp;<strong>&quot;Арабески Аладдина 2021&quot;</strong>.&nbsp;Буковину на фестивалі представляла студентка 1-го курсу ВСП &quot;Фаховий&nbsp;коледж&nbsp;ЧНУ імені Юрія Федьковича&quot; -&nbsp;<strong>Юлія Гашмей</strong>.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/69553db3c9e1/002.jpg" style="height:520px; width:390px" /></td>
			<td><img alt="" src="/pages/files/68f038025e02/003.jpg" style="height:521px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;Фестиваль об&#39;єднав понад 1000 учасників у різних номінаціях. Конкурсну програму оціювало поважне журі, куди увійшли народні та заслужені артисти, діячі культури та мистецтва, представники шоу-бізнесу.<br />
Серед понад 300 декламаторів поважне журі &nbsp;визнало конкурсний номер Юлії Гашмей найкращим і присудило у номінації &quot;Художнє читання&quot; - поважне І місце!🏆🏆🏆</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/0db5a05bb86f/004.jpg" style="height:521px; width:390px" /></td>
			<td><img alt="" src="/pages/files/ead8b06eb217/005.jpg" style="height:521px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;Керівника Марко Ірину Вікторівну нагороджено Подякою за професіоналізм, та активну участь у розвитку нової творчої еліти на міжнародному рівні.</p>
