<p><strong>СТИПЕНДІЇ</strong></p>

<p><strong>1.</strong>&nbsp;<a href="http://college-chnu.cv.ua/pages/files/593280427b72/stupendii.pdf">Правила призначення і виплати стипендії студентам коледжу</a></p>

<p><strong>2.&nbsp;</strong><a href="/pages/files/ccff704eed71/Зміни до  призначення стипендії.pdf">Зміни до Правил призначення і виплати стипендій студентам коледжу</a></p>

<p><strong>3.</strong>&nbsp;<a href="http://college-chnu.cv.ua/pages/files/776476d64d31/college_scholarship_2018-2019.pdf">Рейтингові списки студентів коледжу за результатами зимової екзаменаційної сесії 2018/2019 н.р.</a></p>
