<p style="text-align:justify">&nbsp;За сприяння Комітету з фізичого виховання та спорту МОН України, у&nbsp;місті Львів, у рамках&nbsp;<strong>&quot;Спортивних&nbsp;ігор&nbsp;України серед студентів коледжів та технікумів&quot;</strong>&nbsp;пройшли змагання з волейболу.</p>

<p><img alt="" src="http://college-chnu.cv.ua/pages/files/30d7d177c03b/%D0%B8%D0%B7%D0%BE%D0%B1%D1%80%D0%B0%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5_viber_2019-05-19_17-23-33.jpg" /></p>

<p style="text-align:justify">&nbsp; &nbsp;До складу збірної команди Чернівецької області увійшли двоє студентів Коледжу ЧНУ імені Юрія Федьковича:&nbsp;<strong>Цуркан Богдан</strong>&nbsp;(1 курс, спеціальність &quot;Комп&#39;ютерні науки&quot;) та&nbsp;<strong>Скочиляс Олег</strong>&nbsp;(3 курс, спеціальність &quot;Фінанси, банківська справа та страхування&quot;).&nbsp; Збірна команда Чернівецької області посіла почесне&nbsp;<strong>ІІІ місце</strong>.&nbsp;<strong>ВІТАЄМО</strong>&nbsp;наших призерів!</p>

<p><img alt="" src="http://college-chnu.cv.ua/pages/files/cb9d717d0d57/%D0%B8%D0%B7%D0%BE%D0%B1%D1%80%D0%B0%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5_viber_2019-05-19_17-23-06.jpg" /></p>
