<p style="text-align:center"><img alt="" src="/pages/files/56d52bddf13f/076.jpg" style="height:219px; width:780px" /></p>

<p style="text-align:center"><strong>ОБОВ&#39;ЯЗКОВІ&nbsp;ДИСЦИПЛІНИ</strong></p>

<hr />
<p><strong>ЗАГАЛЬНА ПІДГОТОВКА&nbsp; &nbsp;<br />
&nbsp; &nbsp;1.</strong>&nbsp;Основи філософських знань<br />
<strong>&nbsp; &nbsp;2.</strong>&nbsp;Українська мова за професійним спрямуванням<br />
<strong>&nbsp; &nbsp;3.</strong>&nbsp;Іноземна мова за професійним спрямуванням<br />
<strong>&nbsp; &nbsp;4.</strong>&nbsp;Історія України<br />
<strong>&nbsp; &nbsp;5.</strong>&nbsp;Культорологія<br />
<strong>&nbsp; &nbsp;6.</strong>&nbsp;Соціологія<br />
<strong>&nbsp; &nbsp;7.</strong>&nbsp;Вища математика<br />
<strong>&nbsp; &nbsp;8.</strong>&nbsp;Інформатика та комп&#39;ютерна техніка<br />
<strong>&nbsp; &nbsp;9.</strong>&nbsp; Фізичне виховання</p>

<p><strong>ПРОФЕСІЙНА ПІДГОТОВКА<br />
&nbsp; &nbsp;1.</strong> Економічна теорія<br />
<strong>&nbsp; &nbsp;2.</strong> Економіка підприємства<br />
<strong>&nbsp; &nbsp;3.</strong> Бухгалтерський облік<br />
<strong>&nbsp; &nbsp;4.</strong> Фінанси<br />
<strong>&nbsp; &nbsp;5.</strong> Підприємництво<br />
<strong>&nbsp; &nbsp;6.</strong> Фінансовий та податковий облік<br />
<strong>&nbsp; &nbsp;7.</strong> Біржова діяльність<br />
<strong>&nbsp;&nbsp; 9.</strong> Економічний аналіз<br />
<strong>&nbsp; &nbsp;8.</strong> Інформаційні системи і технології на підприємстві<br />
<strong>&nbsp;</strong><strong>&nbsp; 10.</strong> Курсова робота<br />
<strong>&nbsp; &nbsp;11.</strong> Навчальна практика (Основи інформаційної безпеки)<br />
<strong>&nbsp; &nbsp;12.</strong> Навчальна практика (Бізнес-тренінг)<br />
<strong>&nbsp; &nbsp;13.</strong> Виробнича практика</p>

<p style="text-align:center"><strong>ДИСЦИПЛІНИ ЗА ВИБОРОМ ЗАКЛАДУ ФАХОВОЇ ПЕРЕДВИЩОЇ ОСВІТИ</strong></p>

<hr />
<p><strong>ЗАГАЛЬНА ПІДГОТОВКА<br />
&nbsp; &nbsp;1.</strong>&nbsp;Статистика<br />
<strong>&nbsp; &nbsp;2.</strong>&nbsp;Основи правознавства<br />
<strong>&nbsp; &nbsp;3.</strong>&nbsp;Основи екології<br />
<strong>&nbsp; &nbsp;4.</strong>&nbsp;Громадське здоров&#39;я<br />
<br />
<strong>ПРОФЕСІЙНА ПІДГОТОВКА</strong><br />
<strong>&nbsp; &nbsp;1.</strong> Менеджмент<br />
<strong>&nbsp; &nbsp;2.</strong>&nbsp;Маркетинг</p>

<p style="text-align:center"><strong>ДИСЦИПЛІНИ ВІЛЬНОГО ВИБОРУ ЗДОБУВАЧА ОСВІТИ</strong></p>

<hr />
<p><strong>ЗАГАЛЬНА ПІДГОТОВКА<br />
&nbsp;&nbsp; 1.</strong>&nbsp;<a href="/pages/files/9544d36b0c08/076 English for Life.pdf">Англійська для життя. [English for life]</a>&nbsp;<em>(Н.Д. Добровольська)</em><strong>&nbsp;&nbsp;<br />
&nbsp; &nbsp;2.</strong>&nbsp;<a href="/pages/files/d57cf0e2ffb4/076 Economic statistics.pdf">Економічна статистика</a>&nbsp;<em>(Н.О.&nbsp;Марценяк)</em><br />
<strong>&nbsp; &nbsp;3.&nbsp;</strong><a href="/pages/files/443acf9b1085/076 E-commerce.pdf">Електронна комерція та ІТ-бізнес</a>&nbsp;<em>(І.В. Гудзик)</em><br />
<strong>&nbsp; &nbsp;4.</strong>&nbsp;<a href="/pages/files/26c56c6f2b5f/076 graphic processing.pdf">Інтегровані пакети графічної обробки</a>&nbsp;<em>(І.В. Гудзик, В.В. Коропецький)</em><br />
<strong>&nbsp; &nbsp;5.</strong>&nbsp;<a href="/pages/files/75847fac0fd8/076 Historical figures.pdf">Історичні постаті в процесах державотворення України</a>&nbsp;<em>(В.Я. Дерев&#39;янчук)</em><br />
<strong>&nbsp; &nbsp;6.</strong>&nbsp;<a href="/pages/files/eb1fc13b5338/076 the art of good.pdf">Мистецтво добра</a>&nbsp;<em>(І.В. Пержун)</em><br />
<strong>&nbsp; &nbsp;7.</strong>&nbsp;<a href="/pages/files/dcc11e65539d/076 economic risks.pdf">Моделювання економічних ризиків</a>&nbsp;<em>(Т.І. Крошка)</em><br />
<strong>&nbsp; &nbsp;8.</strong>&nbsp;<a href="/pages/files/014af45af387/076 Organization of business.pdf">Організація та ведення бізнесу</a>&nbsp;<em>(О.Ю. Докаш)</em><br />
<strong>&nbsp; &nbsp;9.</strong>&nbsp;<a href="/pages/files/6d772023d3c0/076 WEB-design.pdf">Основи web-дизайну</a>&nbsp;<em>(В.В. Коропецький)</em><br />
<strong>&nbsp; &nbsp;10.</strong>&nbsp;<a href="/pages/files/302d0bd639f4/076 scientific research.pdf">Основи наукових досліджень</a>&nbsp;<em>(М.О. Остапович)</em><br />
<strong>&nbsp; &nbsp;11.</strong>&nbsp;<a href="/pages/files/108e55fede6e/076 psychology.pdf">Психологія</a>&nbsp;<em>(А.В. Кушнір)</em><br />
<strong>&nbsp; &nbsp;12.</strong>&nbsp;<a href="/pages/files/5948ee28cb35/076 financial mathematics.pdf">Фінансова математика</a>&nbsp;<em>(Т.І. Крошка)</em><br />
<br />
<strong>&nbsp;</strong><strong>ПРОФЕСІЙНА ПІДГОТОВКА</strong><br />
<strong>&nbsp;</strong><strong>&nbsp; 1.</strong>&nbsp;<a href="/pages/files/1a108fa38992/076 Budget system.pdf">Бюджетна система</a>&nbsp;<em>(Ю.В.&nbsp;Семенюк)</em><br />
<strong>&nbsp; &nbsp;2.</strong>&nbsp;<a href="/pages/files/c00e75f49205/076 ZED.pdf">Зовнішньо-економічна діяльність</a>&nbsp;<em>(Ю.В.&nbsp;Семенюк)</em><br />
<strong>&nbsp; &nbsp;3.</strong>&nbsp;<a href="/pages/files/21371901f669/076 Margin trading.pdf">Маржинальна торгівля</a>&nbsp;<em>(О.І.&nbsp;Луган)</em><br />
<strong>&nbsp; &nbsp;4.</strong>&nbsp;<a href="/pages/files/29ec29c93e53/076 international finance.pdf">Міжнародні фінанси</a>&nbsp;<em>(Ю.В.&nbsp;Семенюк)</em><br />
<strong>&nbsp; &nbsp;5.</strong>&nbsp;<a href="/pages/files/be1dd14f6ed9/076 accounting and analysis ZED.pdf">Облік і аналіз ЗЕД</a>&nbsp;<em>(О.С.&nbsp;Гіщук)</em><br />
<strong>&nbsp; &nbsp;6.</strong>&nbsp;<a href="/pages/files/f77d5a4f369e/076 Accounting PMB.pdf">Облік на підприємствах малого бізнесу</a>&nbsp;<em>(С.І.&nbsp;Гнат)</em><br />
<strong>&nbsp; &nbsp;7.</strong>&nbsp;<a href="/pages/files/6cf10c9b89f9/076 Start-UP.pdf">Основи start-up</a>&nbsp;<em>(О.І.&nbsp;Луган)</em><br />
<strong>&nbsp; &nbsp;8.</strong>&nbsp;<a href="/pages/files/86ad02c12fbc/076 Financial services market.pdf">Ринок фінансових послуг</a>&nbsp;<em>(А.М.&nbsp;Томашевська)</em><br />
<strong>&nbsp; &nbsp;9.</strong>&nbsp;<a href="/pages/files/5cfdd34cd250/076 Managerial Accounting.pdf">Управлінський облік</a>&nbsp;<em>(С.І.&nbsp;Гнат)</em><br />
<strong>&nbsp; &nbsp;10.</strong>&nbsp;<a href="/pages/files/041baa99c0b9/076 small business finance.pdf">Фінанси малого бізнесу</a>&nbsp;<em>(А.В.&nbsp;Марич)</em><br />
<strong>&nbsp; &nbsp;11.&nbsp;</strong><a href="/pages/files/e2e5b06dc9ee/076 financial literacy.pdf">Фінансова грамотність</a>&nbsp;<em>(А.В.&nbsp;Марич)</em><br />
<strong>&nbsp; &nbsp;12.</strong>&nbsp;<a href="/pages/files/316b23756a90/076 Financial Statements.pdf">Фінансова звітність</a>&nbsp;<em>(О.С.&nbsp;Гіщук)</em></p>
