<p style="text-align:center"><img alt="" src="/pages/files/c1196f033576/25.jpg" style="height:176px; width:780px" /></p>

<p style="text-align:center"><strong>На Міжнародному &nbsp;фестивалі &quot;ZlataFest - Golden Talents of the World&quot; - два 1-ші місця!</strong></p>

<p style="text-align:justify">&nbsp; &nbsp;14.02.2021 р.&nbsp;відбувся&nbsp;<strong>Міжнародний &nbsp;фестиваль &quot;ZlataFest - Golden Talents of the World&quot;</strong>. &nbsp;Фаховий коледж ЧНУ імені Юрія Федьковича на фестивалі &nbsp;представляла студентка 1-го курсу&nbsp;<strong>Юлія ГАШМЕЙ</strong>, яка взяла участь у двох номінаціях &nbsp;&quot;Художнє читання&quot; та &quot;Вокал&quot;, і здобула в них почесні &nbsp;<strong>1-і місця</strong>!</p>

<p style="text-align:justify"><img alt="" src="/pages/files/c939a49df98c/3in1.jpg" style="height:471px; width:780px" />&nbsp; &nbsp;Керівника<strong> Ірину МАРКО</strong>&nbsp;було нагороджено&nbsp;Подякою за вагомий внесок у розвиток культури та мистецтва світу.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/ba2d3342493d/005.jpg" style="height:535px; width:780px" /></p>

<p>&nbsp; &nbsp;</p>
