<h3 style="text-align: center;"><strong>ЦИКЛОВА КОМІСІЯ<br />
ФІЛОЛОГІЧНИХ ДИСЦИПЛІН</strong></h3>

<hr />
<table border="0">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/bf4afde9cb7d/6.png" /></td>
			<td>
			<p><strong>ГОЛОВА&nbsp;ЦИКЛОВОЇ КОМІСІЇ</strong></p>

			<p><strong>Чік Людмила Василівна</strong><br />
			викладач вищої кваліфікаційної категорії,<br />
			кандидат філологічних наук <em>(із спеціальності &quot;Українська література&quot;)</em></p>

			<p>&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Українська мова;</li>
				<li>Українська література;</li>
				<li>Зарубіжна література;</li>
				<li>Українська мова за професійним спрямуванням.</li>
			</ul>

			<p><strong>&nbsp; &nbsp;Освіта:</strong> Чернівецький державний університет імені Юрія Федьковича<br />
			за спеціальністю &quot;Українська мова та література&quot; (1993 р.)</p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr />
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/bf4afde9cb7d/6.png" /></td>
			<td>
			<p><strong>Гарвасюк Олександра Іванівна</strong><br />
			викладач вищої кваліфікаційної категорії,<br />
			викладач-методист.</p>

			<p>&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Українська мова;</li>
				<li>Українська література;</li>
				<li>Зарубіжна література;</li>
			</ul>

			<p><strong>&nbsp; &nbsp;Освіта:</strong> Чернівецький національний&nbsp;університет імені Юрія Федьковича<br />
			за спеціальністю &quot;Українська мова та література&quot; (2001&nbsp;р.)</p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr />
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/bf4afde9cb7d/6.png" /></td>
			<td>
			<p><strong>Завійська Тетяна Анатоліївна</strong><br />
			викладач ІІ-ї кваліфікаційної категорії</p>

			<p>&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Українська мова;</li>
				<li>Українська література;</li>
				<li>Зарубіжна література;</li>
			</ul>

			<p><strong>&nbsp; &nbsp;Освіта:</strong> Чернівецький національний&nbsp;університет імені Юрія Федьковича<br />
			за спеціальністю &quot;Українська мова та література&quot; (2006&nbsp;р.)</p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr />
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/bf4afde9cb7d/6.png" /></td>
			<td>
			<p><strong>Марко Ірина Вікторівна</strong><br />
			викладач вищої кваліфікаційної категорії,<br />
			кандидат філологічних наук&nbsp;<em>(із спеціальності &quot;Українська мова&quot;)</em></p>

			<p>&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Українська мова;</li>
				<li>Українська література;</li>
				<li>Зарубіжна література;</li>
				<li>Українська мова за професійним спрямуванням.</li>
			</ul>

			<p><strong>&nbsp; &nbsp;Освіта:</strong> Чернівецький національний&nbsp;університет імені Юрія Федьковича<br />
			за спеціальністю &quot;Українська мова та література&quot; (2003 р.)</p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr />
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/bf4afde9cb7d/6.png" /></td>
			<td>
			<p><strong>Остапович Марія&nbsp;Олександрівна</strong><br />
			викладач ІІ-ї кваліфікаційної категорії<br />
			<br />
			&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Українська мова;</li>
				<li>Українська література;</li>
				<li><a href="/pages/files/6de9ce09de1f/ОНД (Остапович).pdf">Основи наукових досліджень (вибіркова)</a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</li>
			</ul>

			<p><strong>&nbsp;Освіта:</strong> Чернівецький національний&nbsp;університет імені Юрія Федьковича<br />
			за спеціальністю &quot;Українська мова та література&quot; (2006&nbsp;р.)</p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr />
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/bf4afde9cb7d/6.png" /></td>
			<td>
			<p><strong>Ратушняк Уляна Романівна</strong><br />
			викладач вищої кваліфікаційної категорії<br />
			<br />
			&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Українська мова;</li>
				<li>Українська література;</li>
				<li>Діловодство.</li>
			</ul>

			<p><strong>&nbsp; &nbsp;Освіта:</strong> Чернівецький національний&nbsp;університет імені Юрія Федьковича<br />
			за спеціальністю &quot;Українська мова та література&quot; (2006&nbsp;р.)</p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr />
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/bf4afde9cb7d/6.png" /></td>
			<td>
			<p><strong>Сивак Лариса&nbsp;Михайлівна</strong><br />
			викладач вищої кваліфікаційної категорії,<br />
			кандидат філологічних наук&nbsp;<em>(із спеціальності &quot;Українська мова&quot;)</em></p>

			<p>&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Українська мова;</li>
				<li>Українська література;</li>
				<li>Зарубіжна література;</li>
				<li>Українська мова за професійним спрямуванням.</li>
			</ul>

			<p><strong>&nbsp; &nbsp;Освіта:</strong> Чернівецький національний&nbsp;університет імені Юрія Федьковича<br />
			за спеціальністю &quot;Українська мова та література&quot; (2003 р.)</p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr />
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/bf4afde9cb7d/6.png" /></td>
			<td>&nbsp;
			<p><strong>Славінська Неля&nbsp; Павлівна</strong><br />
			викладач вищої кваліфікаційної категорії</p>

			<p>&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Українська мова;</li>
				<li>Українська література;</li>
				<li>Зарубіжна література.</li>
			</ul>

			<p><strong>&nbsp; &nbsp;Освіта:</strong> Чернівецький державний університет імені Юрія Федьковича<br />
			за спеціальністю &quot;Українська мова та література&quot; (1996&nbsp;р.)</p>
			</td>
		</tr>
	</tbody>
</table>
