<p style="text-align: justify;">&nbsp; &nbsp;В умовах активізації в Україні активної боротьби з цькуванням у закладах освіти, з метою привернення уваги здобувачів освіти до протидії булінгу, наголошенні на неприпустимості байдужої поведінки спостерігачів конфліктів вперше&nbsp;проведено обласний конкурс соціальних відеороликів&nbsp;<strong>&laquo;Байдужість вбиває&raquo;</strong>.</p>

<p style="text-align: justify;">&nbsp; &nbsp;Учасники самостійно або з допомогою педагогічного колективу розробили соціальні відеоролики, які відображають засудження усіх проявів булінгу, донесення ідеї &laquo;спостерігач такий же зловмисник, як кривдник&raquo;, хронометражем до 2-х хвилин.</p>

<p style="text-align: justify;"><img alt="" src="/pages/files/3889c77e0451/IMG_9507.JPG" style="height:369px; width:780px" />&nbsp; &nbsp;У заході прийняло участь 63 команди учнів/вихованців закладів загальної середньої, професійної (професійно-технічної), позашкільної освіти, студентів закладів вищої освіти Чернівецької області.&nbsp;</p>

<p>&nbsp; &nbsp;Конкурс проведено в двох номінаціях:</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp;-&laquo;Учнівські відеороботи&raquo; (учні ЗЗСО, ПО, ПТО);<br />
&nbsp; &nbsp; &nbsp; &nbsp;-&laquo;Студентські відеороботи&raquo; (студенти ЗВО).</p>

<p style="text-align: justify;">&nbsp; &nbsp;Студентка Коледжу Чернівецького національного унівесритету імені Юрія Федьковича -&nbsp;<strong>Ольга Плотнікова</strong> (2-й курс, спеціальність &quot;Комп&#39;ютерні науки&quot;) виброла почесне ІІІ місце</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/083c09dd6842/IMG_9479.JPG" style="height:567px; width:390px" /></td>
			<td><img alt="" src="/pages/files/106975655f2d/Плотнікова.jpg" style="height:567px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p>&nbsp; &nbsp;ВІТАЄМО нашу студентку з черговою перемогою! Молодець!</p>
