<p style="text-align:justify">&nbsp; &nbsp;30 січня 2021 р. відбувся ON-LINE&nbsp;<strong>INTERNATIONAL FESTIVAL OF TALENTS 2021</strong>&nbsp;(м. Київ), на якому студентка 1-го курсу Фахового коледжу Чернівецького національного унівесритету&nbsp;імені Юрія Федьковича -&nbsp;<strong>Юлія ГАШМЕЙ</strong>&nbsp;здобула почесне&nbsp;<strong>2-е місце</strong>!</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/7ec950454d1b/001.jpg" style="height:723px; width:390px" /></td>
			<td><img alt="" src="/pages/files/a47439636bbb/004.jpg" style="height:722px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp; &nbsp;Нашу презерку&nbsp;нагороджено&nbsp;Дипломом&nbsp;Лауреата ІІ ступеня, пам&#39;ятним знаком &quot;Талановиті діти України&quot;.<br />
&nbsp; &nbsp;Поважне журі, до складу якого увійшли професори, педагоги&nbsp;закладів вищої освіти, артисти шоу-бізнесу кіно та продюсери, високо оцінило номер Юлії ГАШМЕЙ&nbsp;у номінації &quot;Оригінальний жанр&quot;. Додатково Юлія отримала офіційний рекомендаційний лист фестивалю та Сертифікати-запрошення на участь у 4 &nbsp;міжнародних конкурсах в Польщі, Болгарії, &nbsp;м.Приморськ та на озері Синевір на Закарпатті.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/7d9499526fa1/005.jpg" style="height:547px; width:390px" /></td>
			<td><img alt="" src="/pages/files/514d1afe3c02/006.jpg" style="height:546px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;Керівник <strong>Ірина МАРКО</strong>&nbsp;нагороджена Дипломом за особистий внесок у розвиток талановитих дітей та молоді, надання їм можливості проявити свою індивідуальність, за високий професіоналізм у роботі та вагомий внесок у розвиток і збереження національного мистецтва.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/2d758728b7b7/002.jpg" style="height:538px; width:390px" /></td>
			<td><img alt="" src="/pages/files/afe766ac56a3/003.jpg" style="height:538px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align: center;"><a href="https://www.youtube.com/watch?v=GSnU1mMQIg0">ПЕРЕГЛЯНУТИ КОНКУРСНЕ ВІДЕО</a></p>
