<p>Програми для підготовки до вступу у Фаховий коледж ЧНУ імені Юрія Федьковича у 2021 р.</p>

<ul>
	<li>Програма з математики <a href="/pages/files/a57100749652/Math.pdf">(переглянути)</a></li>
	<li>Програма з української мови <a href="/pages/files/608eedb504d7/Ukr.pdf">(переглянути)</a></li>
	<li>Програма з історії України <a href="/pages/files/a4e4c3533caf/History.pdf">(переглянути)</a></li>
</ul>

<hr />
<p>Телефони&nbsp;для консультацій&nbsp;<strong>Приймальної комісії коледжу </strong></p>

<p><strong>тел. моб. </strong>068-790-46-90<br />
<strong>тел.</strong> (0372)<strong>&nbsp;</strong>55-38-26</p>
