<p style="text-align:justify">&nbsp; &nbsp;Комісія для проведення комплексного моніторингу якості підготовки фахівців Коледжу ЧНУ імені Юрія Федьковича,&nbsp;створена у&nbsp;відповідності&nbsp;<a href="http://college-chnu.cv.ua/pages/files/ada139310b82/%D0%A0%D0%9E%D0%97%D0%9F%D0%9E%D0%A0%D0%AF%D0%94%D0%96%D0%95%D0%9D%D0%9D%D0%AF_61.jpg">Розпорядження ректора № 61-р від 01.11.2019 р.</a>, доповіла про результати своєї роботи, що проходила з 4 листопада 2019 р. по 21 листопада 2019 р.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/ca552ef6457f/001.jpg" style="height:364px; width:780px" /></p>

<p style="text-align:justify">&nbsp; &nbsp;Звіт про роботу комісії розпочала голова комісії - <strong>Іванчук Марія Георгіївна</strong>. Марія Георгіївна глибоко та грунтовно проаналізувала результати роботи комісії в цілому. Голова візуалізувала отримані результати та наочно продемонструвала їх колективу коледжу.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/a78d0f426a29/002.jpg" style="height:341px; width:780px" /></p>

<p style="text-align:justify">&nbsp; &nbsp;Більш детально, у розрізі відділень висловили своє бачення і інші члени комісії</p>

<ul>
	<li style="text-align:justify"><strong>Грешко Роман Ігорович</strong> - Економічне відділення;</li>
	<li style="text-align:justify"><strong>Струк Ярослав Михайлович</strong> - Природниче&nbsp;відділення;</li>
	<li style="text-align:justify"><strong>Меленко Оксана Володимирович</strong> - Юридичне відділення;</li>
	<li style="text-align:justify"><strong>Кушнірчук Василь Йосипович</strong> - проведеня виховної&nbsp;роботи&nbsp;коледжу.</li>
</ul>

<p style="text-align:justify"><img alt="" src="/pages/files/9585da528916/003.jpg" style="height:329px; width:780px" />&nbsp; &nbsp;Після доповідей членів комісії, директор коледжу - <strong>Собчук Олександр Васильович</strong>, висловив подяку комісії за проведену роботу.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/7f5f6e5cdab1/004.jpg" style="height:281px; width:780px" /></p>
