<p style="text-align: justify;">&nbsp; &nbsp;На історичному факультеті&nbsp;ЧНУ імені&nbsp;Юрія&nbsp;Федьковича, викладач ВСП &quot;Фаховий коледж ЧНУ&quot;, професор&nbsp;<strong>Михайло Юрій</strong>&nbsp;представив свої монографії.</p>

<p style="text-align: justify;"><img alt="" src="/pages/files/f009b0c8c27e/004.jpg" style="height:628px; width:780px" />&nbsp; &nbsp;Монографії були представлені одним циклом, це проблеми України, проблеми цивілізації та культури. Перші дві у загальному виражають цивілізацію та культуру а інші кокретизують: культура і цивілізація, ментальний вимір української цивілізації, антропологічний код української культури і цивілізації. У монографії досліджується ментальність українців в історичному контексті.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:780px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/31b5cab95e47/001.jpg" style="height:370px; width:780px" /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/b6c996931984/002.jpg" style="height:501px; width:780px" /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/dda06b7ce357/003.jpg" style="height:473px; width:780px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align: justify;">&nbsp; &nbsp;Науковці стверджують, що 80% ментальності людини формується до 5-ти річного віку. Аналогічно формується і ментальність цілого народу. У народу також є своє дитинство. Дитинство народу це близько&nbsp;300 років. Тому 30 років незалежності України для історії це крапля і нам, як стверджує професор Михайло Юрій ще треба багато зробити щоб українці ідентифікували себе, як нація.</p>

<p style="text-align: center;"><a href="https://www.youtube.com/watch?v=gzjULR6UAx4">ПЕРЕГЛЯНУТИ ВІДЕО</a></p>
