<p style="text-align: justify;">&nbsp; &nbsp;Cтуденти Коледжу ЧНУ імені Юрія Федьковича разом з громадськістю краю зустрічали десантників 3 бгтр 80-ї окремої десантно-штурмової бригади ЗСУ.</p>

<p><img alt="" src="/pages/files/2c606a5eff70/001.jpg" style="height:352px; width:780px" /><img alt="" src="/pages/files/25dedf3a81f7/002.jpg" style="height:372px; width:780px" /></p>

<p style="text-align: justify;">&nbsp; &nbsp;Також студенти коледжу&nbsp;відвідали виставку&nbsp;<strong>&quot;Герої не вмирають. Обличчя війни&quot;</strong>&nbsp;&nbsp;у приміщенні обласної адміністрації.</p>

<p><img alt="" src="/pages/files/45e418dab451/003.jpg" style="height:345px; width:780px" /></p>

<p>&nbsp; &nbsp;Вдячні нашим солдатам за мирне небо.&nbsp;Хай Бог дарує вам міцне здоров&#39;я і допомагає у всіх починаннях!</p>
