<p style="text-align:center"><img alt="" src="/pages/files/9bff8c83cb04/metod.jpg" style="height:259px; width:780px" /></p>

<p style="text-align:center"><strong>МЕТОДИЧНІ РЕКОМЕНДАЦІЇ</strong></p>

<p><strong>1.</strong> <a href="/pages/files/0200c06b610c/Recommendations.pdf">Методичні рекомендації до створення силабусів навчальних дисциплін</a><br />
<strong>2.</strong> <a href="/pages/files/b062615b7da7/Sample.pdf">Зразок силабусу (структура)</a><br />
<strong>3.</strong> <a href="/pages/files/2b0d65f5805e/syllabus_college.doc">Титульна сторінка силабусу навчальної дисципліни (коледж)</a></p>

<hr />
<p style="text-align:center"><strong>НАВЧАЛЬНО МЕТОДИЧНЕ ЗАБЕЗПЕЧЕННЯ</strong><br />
(орієнтовні навчальні програми)</p>

<p><a href="https://mon.gov.ua/ua/osvita/zagalna-serednya-osvita/navchalni-programi/navchalni-programi-dlya-10-11-klasiv">Навчальні програми ЗАГАЛЬНООСВІТНЬОЇ ПІДГОТОВКИ</a></p>

<hr />
<p style="text-align:center"><strong>ЕКОНОМІЧНЕ ВІДДІЛЕННЯ</strong><br />
(Галузь знань 07 &quot;Управління та адміністрування&quot;)</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp;<a href="https://onedrive.live.com/view.aspx?resid=647B89EC5E30ED4B!2663&amp;ithint=file%2cdocx&amp;authkey=!AGwzLO8bY6BI6kk">ЗАГАЛЬНА ПІДГОТОВКА</a><br />
&nbsp; &nbsp; &nbsp; &nbsp;<strong>ПРОФЕСІЙНА ПІДГОТОВКА</strong><br />
<strong>071</strong> <a href="https://onedrive.live.com/view.aspx?resid=647B89EC5E30ED4B!2666&amp;ithint=file%2cdocx&amp;authkey=!AP0JApmnpCGb7V4">ОБЛІК І ОПОДАТКУВАННЯ</a><br />
<strong>072 </strong><a href="https://onedrive.live.com/view.aspx?resid=647B89EC5E30ED4B!2667&amp;ithint=file%2cdocx&amp;authkey=!AIBLP6m81P4YzPU">ФІНАНСИ, БАНКІВСЬКА СПРАВА ТА СТРАХУВАННЯ</a><br />
<strong>076</strong> <a href="https://onedrive.live.com/view.aspx?resid=647B89EC5E30ED4B!2665&amp;ithint=file%2cdocx&amp;authkey=!AMA5VUug_e7ipcU">ПІДПРИЄМНИЦТВО, ТОРГІВЛЯ ТА БІРЖОВА ДІЯЛЬНІСТЬ</a></p>

<hr />
<p style="text-align:center"><strong>ЮРИДИЧНЕ ВІДДІЛЕННЯ</strong><br />
(Галузь знань 08&nbsp;&quot;Право&quot;)</p>

<p><strong>081</strong> <a href="https://onedrive.live.com/view.aspx?resid=647B89EC5E30ED4B!2672&amp;ithint=file%2Cdocx&amp;authkey=!AGcJU6hLljVdDwI">ПРАВО</a></p>
