<p style="text-align:center"><img alt="" src="/pages/files/9bff8c83cb04/metod.jpg" style="height:259px; width:780px" /></p>

<p style="text-align:center"><strong>МЕТОДИЧНІ РЕКОМЕНДАЦІЇ</strong></p>

<p><strong>1.</strong> <a href="/pages/files/371a3c7c404b/1_9-434.pdf">Методичні рекомендації з навчально-методчиного забезпечення дисциплін - рекомендації МОН</a><br />
<strong>2.</strong> <a href="/pages/files/371a3c7c404b/1_9-434.pdf">Методичні рекомендації до складання інд. навч. плану здобувача ФПО&nbsp;- рекомендації МОН (ІМЗО)</a>&nbsp;<br />
<strong>3.</strong> <a href="/pages/files/0200c06b610c/Recommendations.pdf">Методичні рекомендації до створення силабусів навчальних дисциплін - рекомендації ЧНУ</a><br />
<strong>4.</strong> <a href="/pages/files/b062615b7da7/Sample.pdf">Зразок силабусу (структура) - рекомендації ЧНУ</a><br />
<strong>5.</strong> <a href="/pages/files/84d2c88900f5/syllabus_college_FMB.doc">Титульна сторінка силабусу навчальної дисципліни (зразок для фахового коледжу)</a><br />
<strong>6.</strong> <a href="/pages/files/a6e916865c6c/Robocha_school_FMB.doc">Титульна сторінка загальноосвітнього предмета&nbsp;(зразок для фахового коледжу)</a><br />
<strong>7.</strong> <a href="/pages/files/2ab15ad93abd/Tit_praktic_FMB.doc">Титульна сторінка програми практики (зразок для фахового коледжу)</a></p>

<hr />
<p style="text-align:center"><strong>НАВЧАЛЬНО-МЕТОДИЧНЕ ЗАБЕЗПЕЧЕННЯ</strong></p>

<hr />
<p style="text-align:center">ЗАГАЛЬНООСВІТНЯ ПІДГОТОВКА</p>

<p><strong>1.</strong> <a href="https://mon.gov.ua/ua/osvita/zagalna-serednya-osvita/navchalni-programi/navchalni-programi-dlya-10-11-klasiv">Навчальні програми ЗАГАЛЬНООСВІТНЬОЇ ПІДГОТОВКИ</a><br />
<strong>2.</strong> <a href="/pages/files/39dc4c770fb3/MON_1407.pdf">Наказ МОН України №1407 від 23.10.2017 р. (Про надання грифу МОН навчальним програмам)</a><br />
<strong>3.</strong> <a href="/pages/files/559ae188fbea/MON_1539.pdf">Наказ МОН України №1539&nbsp;від 24.11.2017 р. (Про надання грифу МОН навчальним програмам)</a></p>

<hr />
<p style="text-align:center"><strong>ПРОФЕСІЙНА ПІДГОТОВКА</strong><br />
(ОРІЄНТОВНІ ПРОГРАМИ)</p>

<hr />
<p style="text-align:center"><strong>ЕКОНОМІЧНЕ ВІДДІЛЕННЯ</strong><br />
(Галузь знань 07 &quot;Управління та адміністрування&quot;)</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp;<a href="https://onedrive.live.com/view.aspx?resid=647B89EC5E30ED4B!2663&amp;ithint=file%2cdocx&amp;authkey=!AGwzLO8bY6BI6kk">ЗАГАЛЬНА ПІДГОТОВКА</a><br />
&nbsp; &nbsp; &nbsp; &nbsp;<strong>ПРОФЕСІЙНА ПІДГОТОВКА</strong><br />
<strong>071</strong> <a href="https://onedrive.live.com/view.aspx?resid=647B89EC5E30ED4B!2666&amp;ithint=file%2cdocx&amp;authkey=!AP0JApmnpCGb7V4">ОБЛІК І ОПОДАТКУВАННЯ</a><br />
<strong>072 </strong><a href="https://onedrive.live.com/view.aspx?resid=647B89EC5E30ED4B!2667&amp;ithint=file%2cdocx&amp;authkey=!AIBLP6m81P4YzPU">ФІНАНСИ, БАНКІВСЬКА СПРАВА ТА СТРАХУВАННЯ</a><br />
<strong>076</strong> <a href="https://onedrive.live.com/view.aspx?resid=647B89EC5E30ED4B!2665&amp;ithint=file%2cdocx&amp;authkey=!AMA5VUug_e7ipcU">ПІДПРИЄМНИЦТВО, ТОРГІВЛЯ ТА БІРЖОВА ДІЯЛЬНІСТЬ</a></p>

<hr />
<p style="text-align:center"><strong>ЮРИДИЧНЕ ВІДДІЛЕННЯ</strong><br />
(Галузь знань 08&nbsp;&quot;Право&quot;)</p>

<p><strong>081</strong> <a href="https://onedrive.live.com/view.aspx?resid=647B89EC5E30ED4B!2672&amp;ithint=file%2Cdocx&amp;authkey=!AGcJU6hLljVdDwI">ПРАВО</a></p>
