<p><img alt="" src="/pages/files/e921c66a5335/2ccd2edd4dc2be47bd7019c93d53a6bd.png" style="height:184px; width:780px" /></p>

<p style="text-align:center"><span style="color:#3c3c3c"><span style="background-color:#ffffff"><strong>ДОРОГА УНІВЕРСИТЕТСЬКА РОДИНО!</strong></span></span></p>

<p style="text-align:center"><span style="color:#3c3c3c"><span style="background-color:#ffffff"><strong>Шановні колеги, студенти та співробітники!</strong></span></span></p>

<p style="text-align:justify"><span style="color:#3c3c3c"><span style="background-color:#ffffff">&nbsp; &nbsp;Надсилаю вам щиросердні вітання з величним християнським святом &ndash; Воскресінням Христовим! У цей благословенний час Великодня прийміть найкращі побажання міцного здоров&rsquo;я, душевної гармонії, мирного неба, творчого довголіття і Божого благословення.</span></span></p>

<p style="text-align:justify"><span style="color:#3c3c3c"><span style="background-color:#ffffff">&nbsp; &nbsp;Воскресіння Христа &ndash; це торжество справедливості й перемоги добра над злом, утвердження віри й надії в серці кожного християнина, великий дарунок Господньої любові. Тож нехай Божа милість осяває Ваше життя, великодні дзвони принесуть у Вашу оселю безмежну радість і достаток, спокій і благополуччя! Хай диво Христового Воскресіння надихає Вас на добрі справи, окриляє і додає сил, енергії та творчої наснаги!</span></span></p>

<p style="text-align:justify"><span style="color:#3c3c3c"><span style="background-color:#ffffff">&nbsp; &nbsp;У ці весняно-святочні дні сердечно бажаю кожному з нас, попри тяжку недугу, що шириться нашим краєм, відчути сповна затишок рідної оселі й духовну спорідненість з отчою домівкою!</span></span></p>

<p style="text-align:center"><span style="color:#3c3c3c"><span style="background-color:#ffffff"><em>Хай лине увись передзвін великодній</em></span></span></p>

<p style="text-align:center"><span style="color:#3c3c3c"><span style="background-color:#ffffff"><em>І кличе молитва душу в політ!</em></span></span></p>

<p style="text-align:center"><span style="color:#3c3c3c"><span style="background-color:#ffffff"><em>Хай зійдуть на землю щедроти Господні</em></span></span></p>

<p style="text-align:center"><span style="color:#3c3c3c"><span style="background-color:#ffffff"><em>І крила розгорне оновлений світ!</em></span></span></p>

<p style="text-align:center"><span style="color:#3c3c3c"><span style="background-color:#ffffff"><strong>ХРИСТОС ВОСКРЕС! ВОІСТИНУ ВОСКРЕС!</strong></span></span></p>

<p style="text-align: right;"><span style="color:#3c3c3c"><span style="background-color:#ffffff"><em>&nbsp;</em></span></span><span style="color:#3c3c3c"><span style="background-color:#ffffff">З повагою&nbsp;і щирими вітаннями&nbsp;‒</span></span></p>

<p style="text-align:right"><span style="color:#3c3c3c"><span style="background-color:#ffffff"><strong><em>ректор</em></strong>&nbsp;<strong><em>РОМАН ПЕТРИШИН</em></strong></span></span></p>
