<h3 style="text-align:center"><strong>ЦИКЛОВА КОМІСІЯ<br />
ФІЛОЛОГІЧНИХ ДИСЦИПЛІН</strong></h3>

<hr />
<table border="0" style="width:780px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/bf4afde9cb7d/6.png" style="height:241px; width:185px" /></td>
			<td>
			<p style="text-align:center"><strong>ГОЛОВА&nbsp;ЦИКЛОВОЇ КОМІСІЇ</strong></p>

			<p><strong>&nbsp;Чік Людмила Василівна</strong><br />
			&nbsp;канд.&nbsp;філологічних наук <em>(із спец.-ті &quot;Українська література&quot;, 2012 р.),</em><br />
			&nbsp;викладач вищої кваліфікаційної категорії</p>

			<p>&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Українська мова;</li>
				<li>Українська література;</li>
				<li>Зарубіжна література;</li>
				<li>Українська мова за професійним спрямуванням.</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; &nbsp;Освіта:</strong> Чернівецький державний університет імені Юрія Федьковича за спеціальністю &quot;Українська мова та література&quot; <em>(1993 р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr />
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/bf4afde9cb7d/6.png" style="height:241px; width:185px" /></td>
			<td>
			<p><strong>&nbsp;Гарвасюк Олександра Іванівна</strong><br />
			&nbsp;викладач вищої кваліфікаційної категорії,<br />
			&nbsp;викладач-методист</p>

			<p>&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Українська мова;</li>
				<li>Українська література;</li>
				<li>Зарубіжна література;</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; &nbsp;Освіта:</strong> Чернівецький національний&nbsp;університет імені Юрія Федьковича&nbsp;за спеціальністю &quot;Українська мова і&nbsp;література&quot; <em>(2001&nbsp;р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr />
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/bf4afde9cb7d/6.png" style="height:241px; width:185px" /></td>
			<td>
			<p><strong>&nbsp;Завійська Тетяна Анатоліївна</strong><br />
			&nbsp;викладач ІІ-ї кваліфікаційної категорії</p>

			<p>&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Українська мова;</li>
				<li>Українська література;</li>
				<li>Зарубіжна література;</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; &nbsp;Освіта:</strong> Чернівецький національний&nbsp;університет імені Юрія Федьковича&nbsp;за спеціальністю &quot;Українська мова та література&quot; <em>(2006&nbsp;р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr />
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="1" rowspan="2"><img alt="" src="/pages/files/bf4afde9cb7d/6.png" style="height:241px; width:185px" /></td>
			<td colspan="1" rowspan="2">
			<p><strong>&nbsp;Заїць Вероніка Григорівна</strong><br />
			&nbsp;канд.&nbsp;філологічних наук,<br />
			&nbsp;викладач вищої кваліфікаційної категорії</p>

			<p><br />
			&nbsp;&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Українська мова;</li>
				<li>Українська література</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; &nbsp;Освіта:</strong> Чернівецький національний&nbsp;університет імені Юрія Федьковича&nbsp;за спеціальністю &quot;Українська мова та література&quot; <em>(2005&nbsp;р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr />
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr />
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/49d4d074a5a2/Ostapovuch.jpg" style="height:290px; width:210px" /></td>
			<td>
			<p><strong>&nbsp;Остапович Марія&nbsp;Олександрівна</strong><br />
			&nbsp;викладач ІІ-ї кваліфікаційної категорії<br />
			<br />
			&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Українська мова;</li>
				<li>Українська література;</li>
				<li>Основи наукових досліджень&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; &nbsp;Освіта:</strong> Чернівецький національний&nbsp;університет імені Юрія Федьковича&nbsp;за спеціальністю &quot;Українська мова та література&quot; <em>(2006&nbsp;р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr />
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/77c130c8ec59/Rat.jpg" style="height:290px; width:210px" /></td>
			<td>
			<p><strong>&nbsp;Ратушняк Уляна Романівна</strong><br />
			&nbsp;викладач вищої кваліфікаційної категорії<br />
			<br />
			&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Українська мова;</li>
				<li>Українська література;</li>
				<li>Діловодство.</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; &nbsp;Освіта:</strong> Чернівецький національний&nbsp;університет імені Юрія Федьковича&nbsp;за спеціальністю &quot;Українська мова та література&quot; <em>(2006&nbsp;р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr />
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/5b73e0d4f331/Suvak.jpg" style="height:291px; width:210px" /></td>
			<td>
			<p><strong>&nbsp;Сивак Лариса&nbsp;Михайлівна</strong><br />
			&nbsp;канд.&nbsp;філологічних наук&nbsp;<em>(із спец.-ті &quot;Українська література&quot;, 2013 р.),</em><br />
			&nbsp;викладач вищої кваліфікаційної категорії</p>

			<p>&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Українська мова;</li>
				<li>Українська література;</li>
				<li>Зарубіжна література;</li>
				<li>Українська мова за професійним спрямуванням.</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; &nbsp;Освіта:</strong> Кам&#39;янець-Подільський державний педагогічний інститут&nbsp;за спеціальністю &quot;Українська мова та література&quot; <em>(1997&nbsp;р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr />
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/bf4afde9cb7d/6.png" style="height:241px; width:185px" /></td>
			<td>&nbsp;
			<p><strong>&nbsp;Славінська Неля&nbsp; Павлівна</strong><br />
			&nbsp;викладач вищої кваліфікаційної категорії</p>

			<p>&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Українська мова;</li>
				<li>Українська література;</li>
				<li>Зарубіжна література.</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; &nbsp;Освіта:</strong> Чернівецький державний університет імені Юрія Федьковича&nbsp;за спеціальністю &quot;Українська мова та література&quot; <em>(1996&nbsp;р.)</em></p>
			</td>
		</tr>
	</tbody>
</table>
