<p style="text-align:justify"><img alt="" src="/pages/files/1993e4abc039/valentines_day.png" style="height:321px; width:780px" />&nbsp; &nbsp;13.02.2020 р. в стінах Коледжу&nbsp;ЧНУ імені&nbsp;Юрія Федьковича була проведена літературно-художня композиція, присвячена Дню Закоханих <strong>&ldquo;St. Valentine&rsquo;s Day&rdquo;</strong>. В заході взяли участь студенти І-го&nbsp;та ІІ-го&nbsp;курсів.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/9f8c8d9b18c2/001.jpg" style="height:392px; width:780px" />&nbsp; &nbsp;Родзинкою заходу були студент 107 групи (спеціальність &quot;Право&quot;)&nbsp;Мартинюк Андрій, який зіграв на гітарі&nbsp;та студент 207 групи (спеціальність &quot;Право&quot;)&nbsp;Єнакакє Дмитро, який&nbsp; виконав на скрипці композицію Billie Eilish &ldquo;Lovely&rdquo;.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:260px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/86d8874a1e10/002.jpg" style="height:462px; width:260px" /></td>
			<td><img alt="" src="/pages/files/73689c6880c9/003.jpg" style="height:462px; width:260px" /></td>
			<td><img alt="" src="/pages/files/6cc3de159425/004.jpg" style="height:463px; width:260px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;Під час свята студенти декламували вірші англійською мовою, брали участь у конкурсах та відтворили у постановці легенду походження свята.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/db52abf43fb8/006.jpg" style="height:243px; width:390px" /></td>
			<td><img alt="" src="/pages/files/d046ee0cc2d4/007.jpg" style="height:242px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;Наприкінці всі присутні виконали пісню Елвіса Престлі &ldquo;Love me tender&rdquo;.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/e97e46a67db9/09-48-14.jpg" style="height:257px; width:390px" /></td>
			<td><img alt="" src="/pages/files/a63d24a3c7a2/09-48-1389.jpg" style="height:257px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;Захід підготували та провели викладачі циклової комісії &quot;Іноземних мов&quot; - Добровольська Н.Д. та Кузик О.В.</p>
