<table>
	<tbody>
		<tr>
			<td>
			<p style="text-align:justify">&nbsp;&nbsp;&nbsp;&nbsp;З 2010 року коледж Чернівецького національного університету імені Юрія Федьковича є активним учасником різноманітних конкурсів та олімпіад, що проводяться між студентами ВНЗ І-ІІ рівнів акредитації.</p>

			<p>&nbsp;&nbsp;&nbsp;</p>

			<p><img alt="Olimpiada" src="/pages/files/0772d6c57318/Olimpiada.jpg" style="height:576px; width:720px" /></p>
			</td>
		</tr>
	</tbody>
</table>
