<p style="text-align:justify"><span style="color:#101010">&nbsp; &nbsp;З метою ознайомлення із організацією роботи територіальних органів Міністерства фінансів України 25 вересня 2019 р., у рамках вивчення дисципліни &laquo;Бюджетна система&raquo;, студенти 3 курсу спеціальності <strong>&laquo;Фінанси, банківська справа та страхування&raquo;</strong> Коледжу Чернівецького національного університету імені&nbsp;Юрія Федьковича відвідали <strong>Департамент фінансів Чернівецької обласної державної адміністрації</strong>.</span></p>

<p style="text-align:justify"><span style="color:#101010"><img alt="" src="/pages/files/4737520ccc11/001.jpg" style="height:491px; width:780px" />&nbsp; &nbsp;Навчальну екскурсію для студентів організували викладач дисципліни &laquo;Бюджетна система&raquo; Семенюк Юліанна Валеріївна та завідувач економічного відділення Гіщук Оксана Стефанівна.</span></p>

<p style="text-align:justify">&nbsp; &nbsp;Під час зустрічі, яка проходила у форматі змістовного діалогу, начальник Відділу управління персоналом та організаційної роботи Департаменту фінансів Чернівецької ОДА Шеремета Марина Олександрівна ознайомила студентів із вимогами сьогодення до випускника-фінансиста, можливостями проходження виробничої практики та майбутнього працевлаштування у фінансових органах.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/31671c8bd6b7/IMG-be19c9a8aa874e9f79c01a9700660b11-V.jpg" style="height:442px; width:780px" /></p>

<p style="text-align:justify">&nbsp; &nbsp;У ході екскурсії начальники управлінь та &nbsp;відділів <span style="color:#101010">розповіли студентам про історію формування фінансових органів на території Чернівецької області, завдання, організаційну структуру, функції Департаменту фінансів Чернівецької ОДА та його структурних підрозділів на всіх стадіях бюджетного процесу. Висвітлили особливості складання обласного бюджету на 2020 рік, розкрили пріоритетні напрями співпраці із підприємства, установами, організаціями та населення області щодо наповнення та доцільного використання грошових коштів обласного бюджету. Жваву дискусію викликало обговорення особливостей та проблем проведення бюджетної реформи у напрямку децентралізації бюджетної системи та введення середньострокового бюджетного планування.</span></p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/3a5ca24f66ed/003.jpg" style="height:293px; width:390px" /></td>
			<td><img alt="" src="/pages/files/126db229c98c/004.jpg" style="height:293px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify"><span style="color:#101010">&nbsp; &nbsp;Приємна атмосфера, цікаві діалоги та доброзичливе ставлення працівників Департаменту фінансів Чернівецької ОДА викликало хвилю позитивних вражень та підвищило зацікавленість студентів коледжу здобувати знання у царині фінансової науки.</span></p>

<p style="text-align:justify">&nbsp;</p>
