<p style="text-align: justify;">&nbsp; &nbsp; Зовсім нещодавно, у стінах Палац &quot;Академічний&quot;, відбувся конкурс&nbsp;<strong>&laquo;Міс Коледжу ЧНУ 2019&raquo;</strong>, де найсміливіші та найартистичніші дівчата змагалися за титул найкращої.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:156px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/3d5054b41871/_01_.jpg" style="height:194px; width:156px" /></td>
			<td><img alt="" src="/pages/files/6901e57c1dca/_02_.jpg" style="height:194px; width:156px" /></td>
			<td><img alt="" src="/pages/files/d285628f4a94/_03_.jpg" style="height:193px; width:156px" /></td>
			<td><img alt="" src="/pages/files/47c9e9e91d73/_04_.jpg" style="height:195px; width:156px" /></td>
			<td><img alt="" src="/pages/files/38015f305d5d/_05_.jpg" style="height:194px; width:156px" /></td>
		</tr>
	</tbody>
</table>

<p><img alt="" src="/pages/files/3f1fb81cff30/001.jpg" style="height:312px; width:780px" /><img alt="" src="/pages/files/b8083e77f7a2/002.jpg" style="height:309px; width:780px" /><img alt="" src="/pages/files/e7c3a39fd3cc/003.jpg" style="height:350px; width:780px" /></p>

<p style="text-align: justify;">&nbsp; &nbsp;На конкурс було запрошено чимало талановитих людей нашого міста, які розважали глядачів у перерві між дефіле.</p>

<p style="text-align: justify;"><img alt="" src="/pages/files/b33abbb74962/2019iD82.jpg" style="height:323px; width:780px" /><img alt="" src="/pages/files/44a386afb7b3/2019iD117.jpg" style="height:447px; width:780px" /><img alt="" src="/pages/files/fac4a3312082/2019iD164.jpg" style="height:284px; width:780px" />&nbsp; &nbsp;Кожна із конкурсанток нагороджена подарунками та сертифікатами від спонсорів конкурсу.&nbsp;</p>

<p style="text-align: justify;"><img alt="" src="/pages/files/89c5a89c213d/2019iD139.jpg" style="height:339px; width:780px" /></p>

<table border="1" cellpadding="1" cellspacing="1" style="width:156px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/a045e5855d01/101.jpg" style="height:256px; width:156px" /></td>
			<td><img alt="" src="/pages/files/c9a9b84ce326/102.jpg" style="height:256px; width:156px" /></td>
			<td><img alt="" src="/pages/files/95f0feac3356/103.jpg" style="height:256px; width:156px" /></td>
			<td><img alt="" src="/pages/files/730fb777e356/104.jpg" style="height:256px; width:156px" /></td>
			<td><img alt="" src="/pages/files/c85f7982a3e5/105.jpg" style="height:256px; width:156px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align: justify;"><img alt="" src="/pages/files/c82586d9278c/2019iD207.jpg" style="height:375px; width:780px" />&nbsp; &nbsp;За підсумками журі:<br />
&nbsp; &nbsp; &nbsp; &nbsp;Титул <strong>&laquo;Міс чарівність&raquo;</strong> здобула <strong>Махніцька Аліна</strong>,</p>

<p style="text-align: justify;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong>&laquo;Міс креативність&raquo;</strong> - <strong>Тарабас Валерія</strong>,</p>

<p style="text-align: justify;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong>&laquo;Міс Online&raquo;</strong> - <strong>Скрипник Тетяна</strong>,</p>

<p style="text-align: justify;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong>&laquo;Віце-міс Коледжу ЧНУ&raquo;</strong> - <strong>Чекан Сабіна</strong> і,</p>

<p style="text-align: justify;">нарешті, <strong>&laquo;Міс Коледжу ЧНУ 2019&raquo;</strong> - студентка 1 курсу, <strong>Фокій Надія</strong>.</p>

<p style="text-align: justify;"><img alt="" src="/pages/files/5162e601e2f6/2019iD256.jpg" style="height:520px; width:780px" /></p>

<p style="text-align: justify;"><img alt="" src="/pages/files/dce25ef86ccb/2019iD252.jpg" style="height:559px; width:780px" /><img alt="" src="/pages/files/1cd2b39fd6b8/2019iD260.jpg" style="height:329px; width:780px" />&nbsp; &nbsp;Щира <strong>ПОДЯКА</strong> учасницям,&nbsp;спонсорам,&nbsp;гостям цього свята та&nbsp;<strong>Студентському праламенту Коледжу ЧНУ </strong>за організацію та проведення на високому рівні такого чудового конкурсу краси. Море задоволення і позитиву отримали всі завдяки всім ВАМ!</p>
