<p style="text-align:justify"><img alt="" src="/pages/files/a787e2f1f4ce/001.jpg" style="height:169px; width:780px" />&nbsp; &nbsp; &nbsp;Наприкінці листопада та на початку грудня 2019 року, у місті&nbsp;Запоріжжя,&nbsp; проходив&nbsp;<strong>IV Міжнародний шоу-фестиваль талантів &quot;Преміум fashion fest-2019&quot;</strong>, в якому студенти Коледжу ЧНУ імені Юрія Федьковича взяли участь та здобули перемогу у різних номінаціях!</p>

<p style="text-align:justify"><img alt="" src="/pages/files/e46c1cfc76ee/003.jpg" style="height:492px; width:780px" /></p>

<ul>
	<li><strong>Арсеній Вакарчюк</strong> у номінації <strong>&quot;Розмовний жанр &quot;Gold stars&quot;</strong> здобув почесне - <strong>І місце</strong></li>
	<li><strong>Богдана Сергій</strong> у номінації <strong>&quot;Сучасна естрадна пісня, ліга лауреатів &quot;Gold stars&quot;</strong> здобула почесне - <strong>I місце</strong></li>
</ul>

<p>&nbsp; &nbsp; &nbsp;Керівником обох переможців є викладач Коледжу ЧНУ - <strong>Ірина Вікторівна Марко</strong>.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/9011def4cbc6/зображення_viber_2019-12-10_12-14-47.jpg" style="height:693px; width:390px" /></td>
			<td><img alt="" src="/pages/files/7e8ce64cc530/зображення_viber_2019-12-10_12-14-50.jpg" style="height:692px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<table border="1" cellpadding="1" cellspacing="1" style="width:260px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/2c7905ed3f17/Сергій.jpg" style="height:362px; width:260px" /></td>
			<td><img alt="" src="/pages/files/cd563b175cd5/Марко_Запоріжжя.jpg" style="height:368px; width:260px" /></td>
			<td><img alt="" src="/pages/files/80929378b6ce/Вакарчюк.jpg" style="height:360px; width:260px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;Володарі І-ої премії Арсен Вакарчюк та Богдана Сергій отримали запрошення-сертифікат представляти Буковину (м.Чернівці) на <strong>IV Міжнародному фестивалі &quot;Орфей арт фест 2020&quot;</strong> (International Art festival Orfeae), що проходитиме з 20.06.2020 в Греції (м.Коринос та острів Тассос).</p>

<p style="text-align:justify"><img alt="" src="/pages/files/3a00cb411351/Греція.jpg" style="height:546px; width:780px" />&nbsp; &nbsp;Щиро<strong> ВІТАЄМО&nbsp;</strong>наших переможців та їх керівника!&nbsp;Бажаємо і надалі натхнення, віри у свої сили, невичерпної енергії, упевненості у подальших конкурсних випробуваннях!</p>
