<h3 style="text-align: center;"><strong>Обсяги державного замовлення у 2019 році</strong></h3>

<table border="1" cellpadding="1" cellspacing="1">
	<tbody>
		<tr>
			<td style="text-align:center"><strong>№<br />
			за/п</strong></td>
			<td style="text-align:center"><strong>Шифр<br />
			спеціальності</strong></td>
			<td style="text-align:center"><strong>Назва спеціальності</strong></td>
			<td style="text-align:center"><strong>Загальний<br />
			обсяг</strong></td>
			<td style="text-align:center"><strong>Місця<br />
			державного<br />
			замовлення</strong></td>
		</tr>
		<tr>
			<td style="text-align:center"><strong>1</strong></td>
			<td style="text-align:center">071&nbsp;</td>
			<td>Облік і оподаткування</td>
			<td style="text-align:center">30</td>
			<td style="text-align:center"><strong>15</strong></td>
		</tr>
		<tr>
			<td style="text-align:center"><strong>2</strong></td>
			<td style="text-align:center">072</td>
			<td>Фінанси, банківська справа та страхування</td>
			<td style="text-align:center">200</td>
			<td style="text-align:center"><strong>50</strong></td>
		</tr>
		<tr>
			<td style="text-align:center"><strong>3</strong></td>
			<td style="text-align:center">076&nbsp;</td>
			<td>Підприємництво, торгівля та біржова діяльність</td>
			<td style="text-align:center">60</td>
			<td style="text-align:center"><strong>15</strong></td>
		</tr>
		<tr>
			<td style="text-align:center"><strong>4</strong></td>
			<td style="text-align:center">081</td>
			<td>Право</td>
			<td style="text-align:center">150</td>
			<td style="text-align:center"><strong>0</strong></td>
		</tr>
		<tr>
			<td style="text-align:center"><strong>5</strong></td>
			<td style="text-align:center">113</td>
			<td>Прикладна математика</td>
			<td style="text-align:center">30</td>
			<td style="text-align:center"><strong>15</strong></td>
		</tr>
		<tr>
			<td style="text-align:center"><strong>6</strong></td>
			<td style="text-align:center">122</td>
			<td>Комп&#39;ютерні науки</td>
			<td style="text-align:center">50</td>
			<td style="text-align:center"><strong>35</strong></td>
		</tr>
		<tr>
			<td style="text-align:center"><strong>7</strong></td>
			<td style="text-align:center">123</td>
			<td>Комп&#39;ютерна інженерія</td>
			<td style="text-align:center">50</td>
			<td style="text-align:center"><strong>35</strong></td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
