<p style="text-align:justify"><img alt="" src="/pages/files/d8c95e14ae83/dyst.jpg" style="height:268px; width:780px" />&nbsp; &nbsp;06 травня 2021 р. було проведено методичне об&rsquo;єднання&nbsp; викладачів іноземних мов закладів фахової передвищої освіти Чернівецької області за темою: &laquo;<strong>Роль і функції викладача в системі дистанційного навчання</strong>&raquo;. Були присутні 24 викладачів фахових коледжів Чернівецької області та Семенюк Микола Степанович, методист Ради директорів закладів фахової передвищої освіти Чернівецької області. Голова ОМО, викладач англійської мови ВСП &quot;Фаховий коледжу ЧНУ,&quot; Наталія Дмитрівна Добровольська зробила доповідь за темою <a href="/pages/files/ed7ad93ff8fb/image.pdf">&laquo;Імідж&nbsp; викладача ХХІ століття&raquo;</a>. У своєму виступі вона підкреслила, що роль і функції викладача на сучасному етапі суттєво змінилися, що обумовлено рядом причин. По-перше, це здійснення викладацької діяльності в умовах дистанційного навчання, що, в свою чергу, було причиною переосмисленням використання певних педагогічних методик та технік навчання. По-друге, Наталія Добровольська, керуючись дослідженнями та висновками фахівців, розповіла що таке &laquo;пандемічне вигорання&raquo;, яке, в свою чергу, викликає &laquo;педагогічне вигорання&raquo;. Особливу увагу Наталія Добровольська присвятила запобіжним заходам боротьби з цим негативним явищем. По-третє, Наталія Добровольська розповіла про &laquo;капсульний гардероб&raquo; викладача.</p>

<p style="text-align:justify">&nbsp; &nbsp;Керівники творчих груп по розвитку мовленнєвих навичок студентів звітували про роботу, представивши напрацювання своїх груп, як результат колективної праці.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/8882d977f8c6/001.jpg" style="height:399px; width:390px" /></td>
			<td><img alt="" src="/pages/files/2e9276e05215/003.jpg" style="height:399px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;Керівник Арт-клубу <strong>Echo</strong><strong> </strong><strong>Chamber</strong> Крістіна Зикова, викладач Фахового коледжу дизайну та економіки, поділилася своїми враженнями від першого року роботи клубу, та наголосила, що робота клубу має бути посилена, особливо із залученням більшої кількості учасників.</p>

<p style="text-align:justify">&nbsp; &nbsp;Наталія Добровольська&nbsp; зробила огляд нормативно-правових документів та ознайомила з освітянськими подіями у світі. Голова ОМО повідомила про створення сайту ОМО, де протягом року накопичувалися матеріали роботи викладачів коледжів. Сайт ОМО викладачів іноземних мов області розміщений на сайті ВСП &quot;Фаховий&nbsp;коледжу ЧНУ&quot;</p>

<p>&nbsp; &nbsp;Викладачі іноземних мов області поділились власним досвідом роботи в дистанційному режимі.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/f9763da00054/004.jpg" style="height:392px; width:780px" />&nbsp; &nbsp;На завершення засідання ОМО були прийняті важливі рішення &ndash; керуватися нормативно-правовими документами у викладацький діяльності, працювати над своїм іміджем, коригувати його в залежності від ситуації, продовжити роботу творчих груп, продовжувати наповнювати методичними матеріалами та напрацюваннями сайт ОМО, провести обласну олімпіаду з англійської мови (лютий 2022р.), яка була відтермінована у звязку з локдауном та загальною ситуацією з COVID -19 та активізувати роботу Арт-клубу <strong>Echo</strong><strong> </strong><strong>Chamber</strong>.</p>
