<table>
	<tbody>
		<tr>
			<td style="vertical-align:top">
			<p><img alt="" src="/pages/files/3f08cbecb360/Inform.jpg" style="height:259px; width:720px" /></p>

			<p style="text-align:center">&nbsp;</p>

			<p style="text-align:center"><a href="http://college-chnu.cv.ua/pages/files/2cac8b8a942c/College_2020.pdf"><strong>Переглянути</strong></a></p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
