<p style="text-align:center"><img alt="" src="/pages/files/822c2f0aa71f/garvard.jpg" style="height:424px; width:780px" /></p>

<p style="text-align: justify;">&nbsp; &nbsp;Лінь, зневіра у власних силах та відсутність мотивації &ndash; одні з головних проблем, з якими стикаються сучасні молоді люди. І справа не лише в Україні &ndash; такі проблеми, хоч і дещо менших масштабах, можливо, поширені і закордоном. Спільнота студентів Гарварду склала власний список мотиваційних порад, які покликані вирішити це та надихнути на зміни у власному житті.</p>

<p>&nbsp; &nbsp;1. <strong>Якщо ти зараз заснеш</strong>, то тобі, звичайно, присниться твоя мрія. Якщо ж замість сну ти обереш навчання, то ти втілиш свою мрію в життя.<br />
&nbsp; &nbsp;2. <strong>Коли ти думаєш, що вже занадто пізно, насправді, все ще рано.</strong><br />
&nbsp; &nbsp;3. <strong>Муки навчання всього лиш тимчасові.</strong> Муки незнання &ndash; вічні.<br />
&nbsp; &nbsp;4. <strong>Навчання &ndash; це не час.</strong> Навчання &ndash; це зусилля.<br />
&nbsp; &nbsp;5. <strong>Життя &ndash; це не тільки навчання</strong>, але якщо ти не можеш пройти навіть через цю його частину, то на що ти, взагалі, здатний?<br />
&nbsp; &nbsp;6. <strong>Напруга і зусилля</strong> можуть бути задоволенням.<br />
&nbsp; &nbsp;7. <strong>Тільки той, хто робить усе раніше</strong>, тільки той, хто докладає зусилля, по-справжньому зможе насолодитися своїм успіхом.<br />
&nbsp; &nbsp;8. <strong>У всьому процвітати дано не кожному</strong>. Але успіх приходить тільки з самовдосконаленням і рішучістю.<br />
&nbsp; &nbsp;9. <strong>Час летить</strong>.<br />
&nbsp; 10. <strong>Сьогоднішні слюні стануть завтрашніми сльозами</strong>.<br />
&nbsp; 11. <strong>Люди, які вкладають щось в майбутнє</strong> &ndash; реалісти.<br />
&nbsp; 12. <strong>Твоя зарплата</strong> прямо пропорційна твоєму рівню освіти.<br />
&nbsp; 13. <strong>Сьогодні ніколи не повториться</strong>.<br />
&nbsp; 14. <strong>Навіть зараз</strong> твої вороги жадібно гортають книжки.<br />
&nbsp; 15. <strong>Якщо не попотієш &ndash; не заробиш</strong>.</p>
