<p>&nbsp; &nbsp;21 лютого 2019 р., до <strong>Дня рідної мови</strong>, на кафедрі історії та культури української мови Філологічного факультету ЧНУ імені Юрія Федьковича відбувся університетський тур Всеукраїнської олімпіади з української мови з професійним спрямуванням. Честь нашого Коледжу відстоювали 2 студенти. В нелегкій боротьбі з майстрами рідного слова наша студентка <strong>Іванюк Алла</strong> виборола почесне 2 місце.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/58f0cf3d6cd7/Alla.jpg" style="height:547px; width:390px" /></td>
			<td><img alt="" src="/pages/files/a58c7eafef8d/_UKRmova19.jpg" style="height:548px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<hr />
<p>&nbsp;</p>
