<p><img alt="" src="http://college-chnu.cv.ua/pages/files/a71ff3ae4be6/banerPresvesna2020.jpg" /></p>

<p style="text-align: center;"><strong>Вітаємо переможців &laquo;Прес-весни на Дніпрових схилах&raquo;!!!</strong></p>

<p style="text-align: justify;">&nbsp; &nbsp;Міжнародний фестиваль-конкурс &laquo;Прес-весна на Дніпрових схилах&raquo;, проведений цьогоріч дистанційно, допоміг одразу чотирьом студентам Коледжу ЧНУ імені&nbsp;Юрія &nbsp;Федьковича продемонструвати свої таланти з режисури та монтажу.</p>

<p style="text-align: justify;">&nbsp; &nbsp;В номінації &laquo;Відеоробота&raquo; <strong>І місце</strong> здобули <strong>Едуард ЖИТАРЮК</strong>, <strong>Владислав ЗАРЕМСЬКИЙ</strong>&nbsp;та <strong>Іван ТОКАР</strong>&nbsp;<em>(керівник &ndash; Остапович М.О.)</em>, а <strong>ІІІ</strong>&nbsp;<strong>місце</strong> &ndash; <strong>Ольга ПЛОТНІКОВА</strong>&nbsp; <em>(керівник -&nbsp;Плотнікова І.Д.)</em>. Заслужені нагороди подолали карантинні дистанції та знайшли своїх власників.</p>

<p style="text-align: justify;">&nbsp; &nbsp;Вітаємо переможців та дякуємо організаторам за щорічну можливість творчо презентувати свої таланти!</p>

<p style="text-align: center;"><a href="https://www.youtube.com/watch?v=87atovXOyAM&amp;app=desktop">Переглянути відеороботу (І&nbsp;місце)</a>.<br />
<a href="https://www.youtube.com/watch?v=Ws1uI17OqB8&amp;feature=youtu.be">Переглянути відеороботу (ІІІ місце)</a></p>

<p style="text-align: justify;">&nbsp; &nbsp;Серед факторів, що стали визначальними під час голосування, журі назвало оригінальність, концептуальне бачення проблеми. Вітаємо переможців, що вміють серед потоків інформаційного шуму зберігати власний цілісний погляд на світ!</p>

<table border="1" cellpadding="1" cellspacing="1">
	<tbody>
		<tr>
			<td><img alt="" src="http://college-chnu.cv.ua/pages/files/6c271158a611/%D0%92%D1%96%D0%B4%D0%B5%D0%BE%D1%80%D0%BE%D0%B1%D0%BE%D1%82%D0%B0%20(1%20%D0%BC%D1%96%D1%81%D1%86%D0%B5).jpg" /></td>
			<td><img alt="" src="http://college-chnu.cv.ua/pages/files/754ca7bda9d2/003.jpg" /></td>
		</tr>
		<tr>
			<td><img alt="" src="http://college-chnu.cv.ua/pages/files/dfa16b4a3206/001.jpg" /></td>
			<td><img alt="" src="http://college-chnu.cv.ua/pages/files/918aaf756c34/002.jpg" /></td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
