<p style="text-align: justify;">&nbsp; &nbsp; &nbsp;Вітаємо команду студентів Коледж ЧНУ імені Юрія Федьковича (у складі &nbsp;<strong>Чолака Владислава</strong>, <strong>Платановського Мирослава</strong> та <strong>Мар&#39;янчука Олександра</strong>. Тренер - <strong>Луцюк Юрій Віталійович</strong>), які показали&nbsp; високі знання, уміння і навички командної роботи з алгоритмізації та створення ефективних програм серед студентських команд вищих навчальних закладів у&nbsp;<strong>ІІ етапі (1/4 фіналу)&nbsp;</strong>студентської олімпіади з програмування&nbsp;<strong>ACM-ICPC 2019 </strong>виборовши <strong>2 місце</strong>&nbsp;серед закладів фахової передвищої освіти<strong>.&nbsp;</strong></p>

<p style="text-align: justify;"><strong><img alt="" src="/pages/files/6392ce3d9e3c/зображення_viber_2019-09-24_15-36-01.jpg" style="height:585px; width:780px" /></strong></p>

<p style="text-align: justify;"><strong><img alt="" src="/pages/files/b4027a10e71f/ACM_.jpg" style="height:568px; width:780px" /></strong></p>
