<p style="text-align:center">Облік і оподаткування</p>

<p style="text-align:justify"><img alt="professions" src="/pages/files/615fbaeba5cc/professions.jpg" style="height:275px; margin-left:auto; margin-right:auto; width:720px" />&nbsp; &nbsp;</p>

<p style="text-align:justify">Професія бухгалтера є універсальною і перспективною. Серед найбільш важливих аспектів навчальної діяльності є формування високого професійного рівня спеціалістів, який передбачає глибоке знання гуманітарних, фундаментальних, загальноекономічних, фахових дисциплін, а також можливість професійної адаптації спеціалістів в умовах нових ринкових економічних відносин з незмінним пріоритетом загальнолюдських цінностей.</p>

<p style="text-align:justify">Бухгалтерія &ndash; це мистецтво. Це професія, що потребує таланту і терпіння. Це особливий дар бачити за цифрами складний світ економіки у її взаємозв&rsquo;язках і гармонії.&nbsp;Спеціальність <strong><em>&ldquo;Облік і оподаткування&rdquo;</em></strong>&nbsp;&ndash; це не лише популярна економічна спеціальність, а й майбутній напрям діяльності для тих, хто прагне розкрити таємниці формування економічної інформації, яка використовується для управління підприємством, організаціями, установами.</p>

<p style="text-align:justify">Жодне підприємство будь-якої форми власності на сьогоднішній день не може обійтися без послуг висококваліфікованого спеціаліста з бухгалтерського обліку, адже всі вони зобов&rsquo;язані вести бухгалтерську звітність, а всі інші види звітності базуються саме на ній. Сучасний ринок праці вимагає підготовлених бухгалтерів, які вміють вести облік як в ручному так і автоматизованому вигляді і можуть постійно розвиватись відповідно до змін в економіці та юридичних актах.</p>

<p style="text-align:justify">Під час навчання на спеціальності <strong><em>&ldquo;Облік і оподаткування&rdquo;</em></strong> студенти оволодівають навичками дослідження закономірностей розвитку і управління податковими процесами, бюджетними відносинами держави відповідно до законодавчих і нормативних актів України; розумінням сутності податкових ризиків; вмінням здійснювати внутрішній контроль і вести податковий облік; розробляти напрями оптимізації і мінімізації податкового потенціалу підприємств усіх форм власності та регіону в цілому, консультування в сфері оподаткування; вивчають та аналізують стандартні та нетипові податкові схеми.</p>

<p style="text-align:justify">&nbsp;</p>

<p style="text-align:center"><strong>Основні дисципліни, які складають фахову підготовку:</strong></p>

<p>&bull; Бухгалтерський облік;<br />
&bull; Економіка підприємства;<br />
&bull; Статистика;<br />
&bull; Національна економіка;<br />
&bull; Фінансовий облік;<br />
&bull; Фінанси;<br />
&bull; Гроші і кредит;<br />
&bull; Планування та організація діяльності підприємства;<br />
&bull; Політична економія;<br />
&bull; Бюджетна система;<br />
&bull; Облік і звітність бюджетних установ;<br />
&bull; Казначейська справа;<br />
&bull; Податкова система;<br />
&bull; Страхові послуги;<br />
&bull; Контроль і ревізія;<br />
&bull; Інформаційні системи і технології у бухгалтерському обліку;<br />
&bull;&nbsp;Економічний аналіз;<br />
&bull;&nbsp;Банківські операції.</p>

<p style="text-align:center">&nbsp;<strong>Професійні назви робіт, які здатний виконувати фахівець<br />
освітньо-кваліфікаційного рівня &quot;Молодший спеціаліст&quot;:</strong></p>

<p>&bull; Бухгалтер;<br />
&bull; Касир-експерт;<br />
&bull; Інспектор;<br />
&bull; Інспектор з інвентаризації;<br />
&bull; Інспектор-ревізор;<br />
&bull; Ревізор;<br />
&bull; Фінансовий менеджер;<br />
&bull; Фінансовий аналітик;<br />
&bull; Технік з планування;<br />
&bull; Аудитор;<br />
&bull; Контролер;<br />
&bull; Економіст;<br />
&bull; Аналітик;<br />
&bull; Статист;<br />
&bull; Консультант на підприємствах приватної та державної форм власності;<br />
&bull; Співробітник банку;<br />
&bull; Працівник державної фіскальної служби;<br />
&bull; Обліковий фахівець страхової компанії;<br />
&bull; Фахівець державних фондів соціального страхування;<br />
&bull; Фахівець пенсійного фонду;<br />
&bull; Фахівець державного казначейства;<br />
&bull; Фахівець державної фінансової інспекції;<br />
&bull; Фахівець органів місцевого самоврядування;<br />
&bull; Митний інспектор;<br />
&bull; Інспектор податкової служби;<br />
&bull; Інспектором з експорту.</p>

<p>&nbsp;</p>

<p style="text-align:center"><strong>Основні місця роботи, де можна працювати після закінчення навчання:</strong></p>

<p>&bull; Бухгалтерії установ різних форм власності;<br />
&bull; Державні, сумісні, приватні підприємства різних галузей народного господарства;<br />
&bull; Банківські установи;<br />
&bull; Державне казначейство;<br />
&bull; Страхові компанії;<br />
&bull; Аудиторські компанії;<br />
&bull; Державна фінансова інспекція;<br />
&bull; Державний пенсійний фонд;<br />
&bull; Державне&nbsp;казначейство;<br />
&bull; Консалтингові компанії;<br />
&bull; Економічні підрозділи державних і галузевих виробничих підприємств;<br />
&bull; Наукові і проектні установи.</p>
