<p><img alt="" src="/pages/files/a3ff140bf10b/BOOKSTORE2.jpg" style="height:258px; width:780px" /></p>

<ul>
	<li><a href="http://college-chnu.cv.ua/article/5e9476cf8b2f873f5ba73762">ЗАГАЛЬНООСВІТНЯ ПІДГОТОВКА</a></li>
	<li>ПРОФЕСІЙНА ПІДГОТОВКА</li>
</ul>
