<p style="text-align:justify"><img alt="" src="/pages/files/f529316d9bec/7857e51fac192f4.jpg" style="height:168px; width:780px" /></p>

<p style="text-align:justify">&nbsp; &nbsp; &nbsp;За ініціативу <a href="https://www.facebook.com/parlament.chnu/?hc_ref=ARR-D0DeuTxU14-xfFxtiypFcvP5g7QhREsVwwDas-R5eVH0mf4-6IZVuSQ45CI1R-Y&amp;fref=nf&amp;__xts__%5B0%5D=68.ARBASB0fUUKBad2WCrtEx5NP79xsSXmOoHzcCjQNhViS0sezFPBk3iYcB2B4HQR8cpufZ-5wwRlcMcGzS_aZoqujto3zJ8Z7IdE6q4mhW0na0hD7rJVMq_mWdsPKKTPeMFwsyVAVH1yTIT9Usx_ct537Ud5C-R34v8zYIeP1jkgqHnaCxXBITWcw9ji1xH37wheYjtTvnozr_y9Ix6gQALRPbk9uu18br_lqZYNPWFYuSjaOqeDXvAVOxcnXa65rsSdVGqRry2mARWhd8BcHHCYW_rk3aJb4LGW_1q_dc7VZ-IOjdbWeCVaaJGfVxzX8YM9RVKhLDuFqagtAuC3wdFw&amp;__tn__=kC-R">Студентського парламенту ЧНУ імені Юрія Федьковича</a> 21.03.2019 р. відбувся університетський турнір зі збирання <strong>кубика Рубика</strong>. Студенти різних факультетів демонстрували свої навики і вміння у такій непростій головоломці. Абсолютнем переможцем став студент 2-го курсу Коледжу ЧНУ &ndash; <strong>Сєрний Назар </strong>(спеціальність &laquo;Комп&rsquo;ютерна інженерія&raquo;).&nbsp;<strong>Вітаємо нашого Чемпіона!!!</strong></p>

<p style="text-align:justify"><img alt="" src="/pages/files/e665a68ab810/Rubik.jpg" style="height:871px; width:780px" /></p>

<p style="text-align: right;">&nbsp;</p>
