<p style="text-align: justify;">&nbsp;<strong>&nbsp; &quot;New Year Party 2021&quot;</strong>&nbsp;- саме під такою назвою відбулося останнє засідання гуртка англійської мови&nbsp;<strong>&ldquo;English Speaking Club&rdquo;</strong>, де студенти 1-го курсу фахового коледжу показали свої таланти у створенні&nbsp;новорічних та різдвяних листівок, декламуванні віршів, грі на музичних інструментах&nbsp;та співу.</p>

<p style="text-align: justify;"><img alt="" src="/pages/files/0353e9eb11a5/003.jpg" style="height:400px; width:780px" />&nbsp; &nbsp;Це все проводилося під керівництвом членів гуртка, новорічних ведучих Віталієм ЯВОРСЬКИМ&nbsp; та Ганною ЩЕРБАНЬ.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/6191ece4854a/004.jpg" style="height:199px; width:390px" /></td>
			<td><img alt="" src="/pages/files/54eaeefa06f5/002.jpg" style="height:199px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align: justify;">&nbsp; &nbsp;Студенти 1-го курсу спеціальності &quot;Фінанси, банківська справа та страхування&quot; підготувала презентацію, де коротко була подана інформація про новорічну атрибутику, фільми та новорічні пісні.</p>

<p style="text-align: justify;"><img alt="" src="/pages/files/ef78f2abc2d1/001.jpg" style="height:461px; width:780px" />&nbsp; &nbsp;Не обійшлося&nbsp;на святі без демонстрації &nbsp;музичних, співочих та танцювальних талантів, які &nbsp;продемонстрували нам Христина ШЕВЧУК, Ігор ЛЮБЕЦЬКИЙ&nbsp;та Ксенія ПОЛЯКОВА.</p>

<p style="text-align: justify;">&nbsp; Декламування віршів у виконанні студента Олександра ГАМАГИ&nbsp;добавило неповторного колориту до прекрасного&nbsp; новорічного&nbsp; настрою.</p>

<p style="text-align: justify;">&nbsp;&nbsp;&nbsp; Демонстрація презентацій Олександри ФРИЦАК&nbsp;та Ангеліни ЦУРКАН&nbsp;зробили реальну &nbsp;можливість побачити як святкуються&nbsp; Різдво&nbsp; та Новий рік у різних країнах&nbsp;світу.</p>

<p style="text-align: justify;">&nbsp; &nbsp;Логічним завершенням свята стали побажання з новорічними святами, які пролунали від студентів &nbsp;та викладачів англійської мови Фахового коледжу ЧНУ імені Юрія Федьковича Валентини БАНИЛЕВСЬКОЇ&nbsp;та&nbsp; Михайла ВЕРЕНЬКА.</p>

<p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Останнє слово представив керівник гуртка, який закінчив дане дійство словами, які всі знають&nbsp;<strong> Merry Christmas and happy new year</strong>!</p>
