<table>
	<tbody>
		<tr>
			<td>
			<h3><strong>Галерея</strong></h3>
			</td>
		</tr>
	</tbody>
</table>

<table>
	<tbody>
		<tr>
			<td style="vertical-align:top">&nbsp;
			<p><a href="http://college-chnu.cv.ua/article/5c5c88078f13050d955f224a">Інтерв&#39;ю з директором коледжу ЧНУ ім. Ю.Федьковича</a></p>

			<p><a href="http://college-chnu.cv.ua/article/5c5c87558f13050d955f223f">Чернівці - місто де варто жити</a></p>

			<p><img alt="Galery" src="https://web.archive.org/web/20160928232942im_/http://www.college-chnu.cv.ua/images/Baner/Galery.jpg" style="height:441px; width:720px" /></p>
			</td>
		</tr>
	</tbody>
</table>
