<p style="text-align:center"><img alt="" src="/pages/files/7e63ea78ba2b/9-9.jpg" style="height:266px; width:780px" /></p>

<p style="text-align:center"><strong>До уваги абітурієнтів !!!</strong></p>

<p style="text-align:center">Прийом документів на базі 9 класів: <strong>з 01 липня 2019 року по 13 липня 2019 року</strong></p>

<p style="text-align:center">Прийом документів на базі 11 класів: <strong>з 10 липня 2019 року по 29 липня 2019 року</strong><br />
(в електронному вигляді)</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">Перелік документів для вступу:</p>

<hr />
<hr />
<p style="text-align:justify"><strong>1.</strong> Документ державного зразка про базову загальну середню освіту <em>&nbsp;</em>і додаток до нього (+ чорно-білі ксерокопії).</p>

<p style="text-align:justify"><strong>2.</strong> Документ, що посвідчує особу -&nbsp; паспорт України (у формі ID&shy;картки по досягненню 14-річного віку) + витяг до нього або свідоцтво про народження для осіб, яким виповнюється 14 років після 01 травня 2019 року &nbsp;та їх чорно-білі ксерокопії.</p>

<p style="text-align:justify"><strong>3.</strong> Копія довідки про присвоєння ідентифікаційного номера.</p>

<p style="text-align:justify"><strong>4.</strong> Шість кольорових фотокарток розміром 3x4.</p>

<p style="text-align:justify"><strong>5.</strong> 2 конверти з марками по Україні + 2 великих конверти без марок формату А5.</p>

<p style="text-align:justify"><strong>6.</strong> Папка для паперів на зав&rsquo;язках.</p>

<hr />
<p style="text-align:justify"><em>Для абітурієнтів пільгових категорій (сирота, особа з інвалідністю, дитина учасника бойових дій) &ndash; документи, що підтверджують статус, свідоцтво про народження, паспорт одного з батьків та їх</em> <em>чорно-білі</em><em> ксерокопії.</em></p>

<hr />
<p style="text-align:center">Документи приймаються в 5 корпусі<br />
Чернівецького національного університету імені Юрія Федьковича,<br />
(вул. Коцюбинського,2)</p>
