<p style="text-align:center"><img alt="" src="/pages/files/a6d88170442e/Перелік-документів-для-вступу-1024x314.png" style="height:239px; width:780px" /></p>

<p style="text-align:center">Перелік документів згідно&nbsp;<strong>УМОВ ПРИЙОМУ 2020</strong><br />
&nbsp;</p>

<p><strong>&nbsp; &nbsp; &nbsp; Перелік документів (після 9 класу):</strong></p>

<p><strong>1.</strong> Документ державного зразка про базову загальну середню освіту і додаток до нього. <em>+ ксерокопія</em></p>

<p style="text-align:justify"><strong>2.</strong> Документ, що посвідчує особу - паспорт Ураїни (ID-картка та витяг з Єдиного державного демографічного реєстру щодо реєстрації місця проживання) або свідоцтво про народження (якщо вступнику не виповнилося 14 років).&nbsp;<em>+ксерокопія</em></p>

<p><strong>3.</strong> Паспорт одного з батьків.&nbsp;<em>+ ксерокопія</em></p>

<p><strong>4.</strong> Довідка про присвоєння ідентифікаційного номера.&nbsp;<em>+ ксерокопія</em></p>

<p><strong>5.</strong> Чотири кольорові фотокартки розміром 3х4.</p>

<p><strong>6.</strong>&nbsp;Два&nbsp;конверти з марками по Україні і один формату А5.</p>

<p><strong>7.</strong> Папка для паперів на зав&#39;язках.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><strong>&nbsp; &nbsp; &nbsp;Перелік документів (після 11 класу):</strong></p>

<p style="text-align:justify"><strong>1.</strong>&nbsp;Документ державного зразка про повну загальну середню освіту і додаток до нього.&nbsp;<em>+ ксерокопія</em></p>

<p style="text-align:justify"><strong>2.</strong>&nbsp;Документ, що посвідчує особу - паспорт Ураїни (ID-картка&nbsp;та витяг з Єдиного державного демографічного реєстру щодо реєстрації місця проживання).&nbsp;<em>+ ксерокопія</em></p>

<p style="text-align:justify"><strong>3.</strong>&nbsp;Сертифікати УЦОЯО 2017-2020&nbsp;рр. <span style="color:#c0392b"><em>(або за вибором абітурієнта можна складати вступні випробування у коледжі)</em></span></p>

<p style="text-align:justify"><strong>4.</strong>&nbsp;Довідка про присвоєння ідентифікаційного номера.&nbsp;<em>+ ксерокопія</em></p>

<p style="text-align:justify"><strong>5.</strong> Військовий квиток (приписне свідоцтво) для юнаків.&nbsp;+ <em>ксерокопія</em></p>

<p style="text-align:justify"><strong>6.</strong>&nbsp;Чотири кольорові фотокартки розміром 3х4.</p>

<p style="text-align:justify"><strong>7.</strong>&nbsp;Два&nbsp;конверти з марками по Україні і один формату А5.</p>

<p style="text-align:justify"><strong>8.</strong>&nbsp;Папка для паперів на зав&#39;язках.</p>

<p>&nbsp;</p>
