<p style="text-align:justify"><img alt="" src="/pages/files/9c1904c2ae38/SOC.jpg" style="height:240px; width:780px" />&nbsp; &nbsp;8 грудня 2020 р. на юридичному відділенні Фахового коледжу ЧНУ імені Юрія Федьковича в рамках вивчення дисципліни &laquo;Право соціального захисту&raquo; був проведений студентський круглий стіл на тему: <strong>&laquo;Соціальні ризики в Україні: проблеми сьогодення&raquo;</strong>.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/4cabaf01ab1d/4.jpg" style="height:275px; width:780px" /></p>

<p style="text-align:justify">&nbsp; &nbsp;В роботі круглого столу взяли участь студенти 4 курсу спеціальності &quot;Право&quot;. Модератором заходу виступила д.п.н., доц. Докаш О. Ю.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/37f0efc30c33/2.jpg" style="height:441px; width:780px" /></p>

<p style="text-align:justify">&nbsp; &nbsp;До обговорення пропонувалися такі проблеми&nbsp; - поняття, ознаки та види соціальних ризиків (Нестор К.), загальна характеристика постійної непрацездатності (Михайлюк В.), порядок встановлення стійкої непрацездатності (Радуляк М.), інвалідність як соціальний ризик&nbsp; (Душинський В.), причини та критерії встановлення груп інвалідності (Судас В.), поняття та загальний порядок розслідування нещасного випадку на виробництві та професійного захворювання (Світова А., Бигар Н.), проблеми правового регулювання безробіття на сучасному етапі (Колбаско М., Токар Т.), порядок визнання громадянина безробітним (Швачій С.), втрата годувальника та малозабезпеченість як соціальні ризики (Довганюк О., Козак А, Штефанчук К.), страховий та вислуга років як юридичні факти в праві соціального захисту (Гриб Н., Гливко Х.), безпритульність як складна життєва обставина (Данчук Є.), безпритульні діти як виклик системи соціального захисту (Гураєвська К.), сирітство (Дашкевич А.), ухилення від виконання обов&rsquo;язків з виховання дитини (Дмитрюк Т.), прояви девіантної поведінки (Дробко М.), насильство в сім&rsquo;ї як соціальний ризик (Дущак К.).</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/a1514098adbc/1.jpg" style="height:324px; width:390px" /></td>
			<td><img alt="" src="/pages/files/75091aef5542/3.jpg" style="height:324px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;В кінці майже кожної доповіді виникала жвава дискусія, що свідчить про небайдужість і зацікавленість студентів до важливих проблем сьогодення.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/eda3866a00b4/7.jpg" style="height:391px; width:780px" /></p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/c24e3db19de0/5.jpg" style="height:275px; width:390px" /></td>
			<td><img alt="" src="/pages/files/9596973fdb48/6.jpg" style="height:275px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
