<p style="text-align: justify;"><img alt="" src="/pages/files/46b0f966c5ad/HAPPY-1.jpg" style="height:251px; width:780px" /></p>

<p style="text-align: justify;">&nbsp; &nbsp; &nbsp;До <strong>Міжнародного дня Щастя</strong>&nbsp; студенти Коледжу ЧНУ&nbsp;за ініціативи Центру культури ЧНУ імені Юрія Федьковича з концертом та гостинцями завітали у Чернівецький геріатричний пансіонат. Ативісти показували нашим літнім людям козацькі небилиці, танцювальні та вокальні номери. Концерт отримав відгук у серцях пенсіонерів.&nbsp;</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/2519960ca208/001.jpg" style="height:520px; width:390px" /></td>
			<td><img alt="" src="/pages/files/dd3bdf185f05/002.jpg" style="height:520px; width:390px" /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/fe4e1bd49fd5/003.jpg" style="height:519px; width:390px" /></td>
			<td><img alt="" src="/pages/files/7ec7b5589395/004.jpg" style="height:518px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p><img alt="" src="/pages/files/e935d49e745f/005.jpg" style="height:346px; width:780px" /></p>
