<table border="0">
	<tbody>
		<tr>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center"><span style="color:#ffffff">&nbsp;<strong>Ліцензія</strong></span></td>
			<td>&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center"><strong>Ліцензія</strong></td>
			<td>&nbsp;</td>
			<td style="text-align:center"><strong>Додаток до ліцензії</strong></td>
		</tr>
		<tr>
			<td><span style="color:#ffffff">Коледж ЧНУ</span>&nbsp;</td>
			<td><a href="https://web.archive.org/web/20170702050430/http://college-chnu.cv.ua/index.php?option=com_content&amp;view=article&amp;id=122%3A2013-10-30-18-53-41&amp;catid=18%3A2013-10-30-18-46-45&amp;Itemid=126"><img alt="licence 15" src="/pages/files/8e3fbbc7ac16/licence_15.jpg" style="height:353px; width:250px" /></a></td>
			<td><span style="color:#ffffff">Коледж</span></td>
			<td><a href="https://web.archive.org/web/20170702050430/http://college-chnu.cv.ua/index.php?option=com_content&amp;view=article&amp;id=123%3A2013-10-30-18-55-57&amp;catid=18%3A2013-10-30-18-46-45&amp;Itemid=126"><img alt="dod lic 11 15" src="/pages/files/6735dfaa8ed3/dod_lic_11_15.jpg" style="height:355px; width:250px" /></a></td>
		</tr>
		<tr>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center"><strong>Додаток до ліцензії</strong></td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;<a href="https://web.archive.org/web/20170702050430/http://college-chnu.cv.ua/index.php?option=com_content&amp;view=article&amp;id=124%3A-2&amp;catid=18%3A2013-10-30-18-46-45&amp;Itemid=126"><img alt="dod lic 12 15" src="/pages/files/0b2fb46dc089/dod_lic_12_15.jpg" style="height:355px; width:250px" /></a></td>
			<td>&nbsp;</td>
			<td style="text-align:center"><a href="http://www.chnu.edu.ua/index.php?page=ua/zaginf/04 ofic_inf/05 licens">Повна версія ліцензії</a></td>
		</tr>
	</tbody>
</table>
