<p style="text-align:justify">&nbsp; &nbsp;Завжди потрібно замислюватися не тільки над особистими проблемами, а й над проблемами інших, розвивати в собі якості милосердя, підтримки та віри. Студенти коледжу спільно із вихованцями&nbsp;Центру культури та дозвілля ЧНУ відвідали зі святковим візитом дітей, що знаходяться на лікуванні в Чернівецькій обласній дитячі клінічній лікарні.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/97931c8134b8/001.jpg" style="height:365px; width:780px" />&nbsp; &nbsp;Діти з радістю зустріли казкових героїв, з захопленням розповідали їм вірші та весело співали новорічні пісні, за що отримували приємні подарунки. Мета такого&nbsp;візиту - створити позитивний настрій у дітей&nbsp;та наблизити їхнє повне виздоровлення.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/6e4799e011d2/002.jpg" style="height:520px; width:390px" /></td>
			<td><img alt="" src="/pages/files/3b15e7585df2/003.jpg" style="height:520px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;Потім вирішили продовжити дарувати дітям щастя та хороші емоції. Для цього було&nbsp;обрано&nbsp;Соборну площу нашого міста. На площі дітвора охоче фотографувалася з переодягненими студентами&nbsp;та пригощалася солодощами. Наостанок хочеться сказати, що дарувати приємний настрій&nbsp;та хороші емоції&nbsp;не так вже й складно як це здається, і до цього може долучитися кожеш охочий. Дякуємо&nbsp;всім студентам, хто долучився до збору коштів.&nbsp;Тому не забувайте знаходити час для дітей, адже вони цього дуже потребують.</p>
