<p style="text-align: center;">Комп&#39;ютерні науки</p>

<p><img alt="KNIT" src="/pages/files/9cc150961b38/KNIT.jpg" style="height:291px; width:720px" /></p>

<p>&nbsp;</p>

<p>Сьогодні важко уявити собі життя без комп&#39;ютерів. Темпи розвитку комп&#39;ютерних технологій вражають. Ми є свідками справжньої комп&#39;ютерної революції! Комп&#39;ютерні технології, які з&#39;явилися у середині 20-го століття, мали великий вплив на розвиток науки, техніки, бізнесу та багатьох інших сфер людської діяльності. Ці технології будуть і надалі користуватися великим попитом на ринку працевлаштування, а ті, хто працює в галузі інформаційних технологій, відіграватимуть вирішальну роль у формуванні майбутнього.</p>

<p>XXI століття &ndash; доба широкого впровадження інформаційних і комп&#39;ютерно-інтегрованих технологій в усі сфери життєдіяльності людини. Стрімкий розвиток комп&#39;ютеризації суспільства сформував необхідність здійснення адміністративного управління на підприємствах різних форм власності з використанням інформаційних технологій. Інформаційні технології розвиваються так швидко, що не лише у нас, але й в усіх країнах світу відчувається великий дефіцит спеціалістів цієї галузі. Спеціальність&nbsp;<strong>&ldquo;Комп&rsquo;ютерні науки&rdquo;</strong>&nbsp;- це міжгалузевий напрямок підготовки, призначений для інноваційної діяльності з розроблення теоретичних основ та інструментальних програмних засобів реалізації задач розробки, інтелектуалізації, інтеграції, автоматизації та управління складними розподіленими системами, мережами, організаціями, технологічними, соціальними та бізнес-процесами.<br />
&nbsp; &nbsp; Об&#39;єктами професійної діяльності випускника спеціальності&nbsp;<strong>&ldquo;Комп&rsquo;ютерні науки&rdquo;</strong><strong>&nbsp;</strong>є: обробка даних, бази даних та знань; налаштування та супровід програмного забезпечення комп&rsquo;ютерних систем і мереж; створення програмного забезпечення, у тому числі, у сфері Інтернет технологій, проектування інтерфейсів; захист інформації в комп&rsquo;ютерних системах і мережах, надання консультацій в сфері інформаційних технологій.</p>

<p>&nbsp;</p>

<p><strong>Основні дисципліни, які складають фахову підготовку:</strong></p>

<p>&bull;&nbsp;Основи баз даних і знань;</p>

<p>&bull;&nbsp;Основи програмування та алгоритмічні мови;</p>

<p>&bull;&nbsp;Структури даних та алгоритми;</p>

<p>&bull;&nbsp;Технології програмування та створення програмних продуктів;</p>

<p>&bull;&nbsp;Інструментальні засоби візуального програмування;</p>

<p>&bull;&nbsp;Об&rsquo;єктно-орієнтовне програмування;</p>

<p>&bull;&nbsp;Web-технології та Web-дизайн;</p>

<p>&bull;&nbsp;Системне програмне забезпечення і операційні системи;</p>

<p>&bull;&nbsp;Автоматизовані системи обробки інформації;</p>

<p>&bull;&nbsp;Методи та засоби комп&rsquo;ютерних інформаційних технологій;</p>

<p>&bull;&nbsp;Проектування автоматизованих інформаційних систем;</p>

<p>&bull;&nbsp;Моделювання та прогнозування стану довкілля;</p>

<p>&bull;&nbsp;Архітектура комп&rsquo;ютерів;</p>

<p>&bull;&nbsp;Основи електроніки та електротехніки;</p>

<p>&bull;&nbsp;Комп&rsquo;ютерні мережі;</p>

<p>&bull;&nbsp;Комп&rsquo;ютерна схемотехніка;</p>

<p>&bull;&nbsp;Комп&rsquo;ютерна графіка.</p>

<p>&nbsp;</p>

<p><strong>Професійні назви робіт, які здатний виконувати фахівець&nbsp;<br />
освітньо-кваліфікаційного рівня &quot;Молодший спеціаліст&quot;:</strong></p>

<p>&bull;&nbsp;Аналітик комп&rsquo;ютерних систем;</p>

<p>&bull;&nbsp;Аналітик еколого-економічних систем;</p>

<p>&bull;&nbsp;Аналітик бізнес-процесів (бізнес-аналітик);</p>

<p>&bull;&nbsp;Програміст бізнес-додатків,</p>

<p>&bull; Адміністратор та налагоджувальник локальних мереж;<br />
&bull; Керівник підрозділу комп&#39;ютерних послуг;<br />
&bull; Фахівець у галузі інформаційних технологій, для вирішення питань пошуку, обробки, передачі та захисту інформації;<br />
&bull; Фахівець у галузі розробки Web-сайтів;<br />
&bull; Фахівець у галузі формування та управління електронних баз даних;<br />
&bull; Оператор електронно-обчислювальної (комп&#39;ютерної) техніки;<br />
&bull; Налагоджувальник технологічного устаткування (електронна техніка);<br />
&bull; Консультант з програмного забезпечення.</p>

<p>&nbsp;</p>

<p><strong>Основні місця роботи, де можна працювати після закінчення навчання:</strong></p>

<p>&bull; Банківські установи;<br />
&bull; Відділ обробки інформації підприємств різних форм власності;<br />
&bull; Фірми, які займаються розробкою прикладного та програмного забезпечення;<br />
&bull; Фірми, що є провайдерами послуг Internet;<br />
&bull; Фірми, що надають послуги кабельного та супутникового телебачення;<br />
&bull; Наукові інститути і установи.</p>

<p>&nbsp;</p>
