<p style="text-align:center"><strong><em>&laquo;Жінка &ndash; рушійна сила наукового прогресу&raquo;</em></strong></p>

<p style="text-align: justify;">&nbsp; &nbsp;Час перед педагогом ставить завдання не тільки надати студенту основні теоретичні знання, але й виховати особистість і навчити вижити у цьому світі. Одного підручника для цього замало&hellip;</p>

<p style="text-align: justify;">&nbsp; &nbsp;За ініціативи викладача Природничого відділення коледжу, Кобильник Лесі Анатоліївни, 4 квітня 2019 року було проведено студентську математичну конференцію <strong><em>&laquo;Жінка &ndash; рушійна сила наукового прогресу&raquo;.</em></strong></p>

<p style="text-align:justify"><strong><em><img alt="" src="/pages/files/b8e36f0631c8/001.jpg" style="height:297px; width:780px" /></em></strong></p>

<p style="text-align:justify"><span style="color:#333333">&nbsp; &nbsp;В рамках роботи конференції працювали </span><span style="color:#333333">5</span><span style="color:#333333"> секцій за </span><span style="color:#333333">такими </span>&nbsp;<span style="color:#333333">н</span><span style="color:#333333">апрямками:</span></p>

<ol>
	<li><span style="background-color:white"><span style="color:#333333">Внесок у розвиток математики як науки видатними жінками Давнього світу.</span></span></li>
	<li><span style="background-color:white"><span style="color:#333333">Наукова спадщина жінок Середньовіччя</span><span style="color:#333333">.</span></span></li>
	<li><span style="background-color:white"><span style="color:#333333">Математичний здобуток жінок-вчених ХІХ - ХХст.</span></span></li>
	<li><span style="background-color:white"><span style="color:#333333">Математичні інтереси жінок-вчених України. </span></span></li>
	<li><span style="background-color:white"><span style="color:#333333">Вчені &ndash; жінки українського походження в умовах міжнародного наукового простору.</span></span></li>
</ol>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/2c045c0c3bb1/photo5273834555607984735.jpg" style="height:252px; width:390px" /></td>
			<td><img alt="" src="/pages/files/da31ac475d5b/photo5273834555607984736.jpg" style="height:252px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;Завданням даного заходу було підвищити мотивацію та інтерес студентів до навчальної діяльності, до пізнання дійсності та самих себе; сприяти вихованню самодисципліни та самоорганізації, розкриттю внутрішнього потенціалу; розвитку&nbsp; логічного та творчого мислення, вміння орієнтуватися в інформаційному просторі; а також&nbsp; формувати навики індивідуальної&nbsp; роботи та роботи в команді, вміти нести відповідальність за результат власної праці і виховувати почуття патріотизму та гордості за свою Батьківщину.</p>

<p style="text-align:justify"><span style="background-color:white"><span style="color:#333333">&nbsp; &nbsp;Особливість конференції полягає в тому, що вона присвячена&nbsp; науковим здобуткам&nbsp; саме жінок &ndash; вчених різних епох та країн світу, звичайно, особливу увагу приділено українським математичним досягненням минулого і сьогодення.</span></span></p>

<table border="1" cellpadding="1" cellspacing="1" style="width:260px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/9844c891ae86/photo5273834555607984740.jpg" style="height:404px; width:260px" /></td>
			<td><img alt="" src="/pages/files/f015be0e5f4f/photo5274084479754939011.jpg" style="height:403px; width:260px" /></td>
			<td><img alt="" src="/pages/files/335ddef7a8f8/photo5274084479754939006.jpg" style="height:403px; width:260px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;В роботі наукового заходу взяли участь студенти 1-го курсу. <span style="color:#333333">Широта наукових</span> <span style="color:#333333">&nbsp;інтересів </span><span style="color:#333333">&nbsp;та досягнень жінок-математиків </span><span style="color:#333333">знайшла</span> <span style="color:#333333">&nbsp;відображення в </span><span style="color:#333333">підготовлених студентами </span><span style="color:#333333">доповідях.</span> <span style="color:#333333">Актуальність проблематики, яка обговорювалась на конференції,&nbsp; викликала великий інтерес </span><span style="color:#333333">та жваву дискусію </span><span style="color:#333333">серед </span><span style="color:#333333">учасників заходу. Обрана тема стала плідним підґрунтям для&nbsp; обміну думками з приводу чи важливим є вивчення математики для сучасної людини і чи варто саме жінкам займатися наукою, математикою зокрема.</span></p>

<p style="text-align:justify"><span style="background-color:white"><span style="color:#333333">&nbsp; &nbsp;Заключне слово було надано методисту Білокрилій Ользі Яківні, яка висловила свої думки та враження з приводу такої події, а також побажання щодо подальшої співпраці.</span></span></p>

<p style="text-align:justify"><span style="background-color:white"><span style="color:#333333">&nbsp; &nbsp;Приємно зазначити, що навіть по закінченню конференції відчувалася тепла дружня атмосфера, оскільки студенти не поспішали розходитись, а продовжували ділитися враженнями, емоційно дискутували і шуткували.</span></span></p>
