<p style="text-align: justify;">&nbsp; &nbsp;За сприяння Комтітету з фізичого виховання та спорту МОН України, у&nbsp;місті Львів, у рамках&nbsp;<strong>&quot;Спортивних&nbsp;ігор&nbsp;України серед студентів коледжів та технікумів&quot;</strong>&nbsp;пройшли змагання з волейболу.</p>

<p><img alt="" src="/pages/files/30d7d177c03b/изображение_viber_2019-05-19_17-23-33.jpg" style="height:299px; width:780px" /></p>

<p style="text-align: justify;">&nbsp; &nbsp;До складу збірної команди Чернівецької області увійшли двоє студентів Коледжу ЧНУ: <strong>Цуркан Богдан</strong> (1 курс, спеціальність &quot;Комп&#39;ютерні науки&quot;) та <strong>Скочиляс Олег</strong> (3 курс, спеціальнісь &quot;Фінаси, банківсьа справа та страхування&quot;).&nbsp; Збірна команда Чернівецької області посіла почесне&nbsp;<strong>ІІІ місце</strong>. <strong>ВІТАЄМО</strong> наших призерів!</p>

<p style="text-align: justify;"><img alt="" src="/pages/files/cb9d717d0d57/изображение_viber_2019-05-19_17-23-06.jpg" style="height:611px; width:780px" /></p>
