<p style="text-align: justify;"><img alt="" src="/pages/files/cce7c1676c60/slide.png" style="height:154px; width:780px" /></p>

<p style="text-align:center"><strong><span style="background-color:white">&laquo;</span></strong><strong><span style="background-color:white">Навчайся! Накопичуй! Заробляй!</span></strong><strong><span style="background-color:white">&raquo;</span></strong></p>

<p style="text-align: justify;">&nbsp;&nbsp;22-23 березня 2021 року студенти&nbsp;спеціальності &laquo;Фінанси, банківська справа та страхування&raquo;&nbsp;разом із викладачем&nbsp;Марич А.В. прийняли участь у заходах Національного Банку України, приурочених до святкування&nbsp;<strong>G</strong><strong>lobal</strong><strong>&nbsp;</strong><strong>M</strong><strong>oney</strong><strong>&nbsp;</strong><strong>W</strong><strong>eek</strong><strong>&nbsp;2021</strong>.</p>

<p style="text-align:justify">&nbsp; 22 березня учасникам заходу була представлена лекція заступника директора департаменту стратегії та розвитку Михайла Відякіна на тему: <strong>&laquo;НБУ &ndash; 30 років розвитку: якими ми були, що змінилося і яке майбутнє будуємо&raquo;</strong>, на якій можна було ознайомитись із історією створення банківських систем різних країн світу; дізнатись про основні завдання та функції Національного банку України; ознайомитись із основними законодавчими документами, якими керується в своїй роботі центральний банк нашої країни, а також із трансформаційними змінами у діяльності банку за останні роки.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/50e55d3a0a4d/IMG-0614.jpg" style="height:293px; width:390px" /></td>
			<td><img alt="" src="/pages/files/d3432378b37c/IMG-0625.jpg" style="height:293px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify"><span style="background-color:white">&nbsp; По завершенню заходу, студенти стали учасниками цікавої та пізнавальної відео-екскурсії &laquo;Топ-5 експонатів Музею грошей НБУ&raquo;.</span></p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/a943d7236f82/IMG-0639.jpg" style="height:293px; width:390px" /></td>
			<td><img alt="" src="/pages/files/ea8b6e7f83b5/IMG-0640.jpg" style="height:293px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp;&nbsp;<span style="background-color:white">23 березня всім присутнім була подана лекція провідного фахівця Департаменту комунікацій Національного банку України Костів Марти на тему: <strong>&laquo;</strong></span><strong><span style="background-color:white">Як користуватися </span></strong><strong><span style="background-color:white">Cashless</span></strong><strong><span style="background-color:white"> за межами Гоґвортсу?&raquo;, </span></strong><span style="background-color:white">на якій лектор розповів про безготівкові інструменти оплати товарів/послуг, які активно використовуються не лише в країнах ЄС, а також в Кенії, Індії, Китаї, Сінгапурі, Малайзії тощо. Крім того, було проаналізовано окремі спеціальні введення по країнах по безготівкових розрахунках для збереження ваших коштів від шахрайських дій. Лектор наголосила, як себе вберегти від шахраїв, які потрібно робити кроки, якщо ви попались в їхні руки і як вплинула пандемія </span><span style="background-color:white">Covid</span><span style="background-color:white">-19 на безготівкові розрахунки в світі. </span></p>
