<p style="text-align: justify;"><img alt="" src="/pages/files/2ed5a57a7837/d7c5c338e79765e1f17edd974e07975b_XL.jpg" style="height:369px; width:780px" />&nbsp; &nbsp;Напередодні Дня юриста четвертий курс спеціальності &laquo;ПРАВО&raquo; Коледжу Чернівецького національного університету імені Юрія&nbsp;Федьковича відвідали Апеляційний суд Чернівецької області.</p>

<p style="text-align: justify;"><img alt="" src="/pages/files/1c8dce90b7be/001.jpg" style="height:434px; width:780px" /><br />
&nbsp; &nbsp;3 жовтня в Апеляційному суді Чернівецької області у м. Чернівці відбулося виїзне навчальне заняття для студентів четвертого курсу спеціальності &laquo;Право&raquo;, приурочене святкуванню <strong>Дня юриста</strong> в Україні. Захід організований викладачем юридичного відділення Анатійчук В.В. &nbsp;за підтримки керівника апарату Апеляційного суду Сорохана І.В.<br />
&nbsp; &nbsp;Метою виїзного заняття було вивчення історії становлення і розвитку судової влади в Україні, основних принципів діяльності, завдань, повноважень і функцій Апеляційного суду, а також знайомство студентів з практичною стороною професії юриста, яку вони отримують.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/8171ded7b54c/002.jpg" style="height:293px; width:390px" /></td>
			<td><img alt="" src="/pages/files/a73add5a335b/003.jpg" style="height:293px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align: justify;">&nbsp; &nbsp;Під час оглядової екскурсії студенти відвідали судову палату у цивільних справах та судову палату в кримінальних справах.&nbsp;Для &nbsp;знайомства з практичною стороною професії юриста студентам надали унікальну можливість бути присутніми на судовому розгляді цивільної справи і відчути себе учасниками судового процесу.&nbsp;<br />
&nbsp; &nbsp;На завершення візиту гості висловили слова вдячності працівникам суду, за надану можливість в процесі якої вони дізналися не тільки про те як функціонує суд, а про структуру судового апарату та посадові обов`язки працівників.</p>
