<p style="text-align:justify"><img alt="" src="/pages/files/ae56daed0def/cf30eda.jpeg" style="height:195px; width:780px" />&nbsp; &nbsp;Вишиванка &ndash; це особлива національна традиція українців. А сам&nbsp;<strong>День вишиванки</strong>&nbsp;&ndash; сприяє єдності і культурному&nbsp;відродженню&nbsp;всього багатонаціонального українського народу. Тож нехай це свято зітре кордони й об&rsquo;єднає українців по всьому світу.&nbsp; Українські традиції &ndash; одні з найкрасивіших в світі. І в наших з вами силах поширити їх, розповісти про них всім. Одягайте свої вишиванки і нехай весь світ побачить, як прекрасна наша Україна і її символи.Зі святом, з Днем вишиванки!</p>

<p style="text-align:justify"><img alt="" src="/pages/files/aab7252b80dd/002.png" style="height:141px; width:780px" />&nbsp; &nbsp;Студенти Коледжу Чернівецького національного університету імені Юрія Федьковича шанують&nbsp;українські народні традиції та звичаї. Не дивлячись на загальнонаціональний карантин студенти знайшли можливість доєднатись до чудового свята.</p>

<p style="text-align:center"><a href="https://www.youtube.com/watch?v=EFAh41wb6Q8">Переглянути відеороботу (1 курс, спеціальність &quot;Право&quot;)</a><br />
<a href="https://www.youtube.com/watch?v=IoSs_Ktc46A">Переглянути відеороботу (3&nbsp;курс, спеціальність &quot;Прикладна математика&quot;)</a></p>

<p style="text-align:center">&nbsp;</p>
