<p style="text-align:justify"><img alt="" src="/pages/files/8943f5885e26/photo.jpg" style="height:221px; width:780px" /></p>

<p style="text-align:justify">&nbsp; &nbsp;<span style="background-color:#ffffff">Ми схиляємо голови перед пам&rsquo;яттю мільйонів загиблих на полі бою, розстріляних у каральних акціях, спалених у концтаборах, замучених у катівнях &ndash; тих, чиє життя забрала війна...</span></p>

<p style="text-align:justify">&nbsp; &nbsp;<span style="background-color:#ffffff">Вічна їм, світла пам&rsquo;ять.</span></p>

<p style="text-align:justify">&nbsp; &nbsp;<span style="background-color:#ffffff">Нехай ніколи на нашій землі не буде більше воєн, лише мирне небо, у домівках &ndash; достаток, а в душі &ndash; спокій і радість!</span></p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/91265dc4f6d8/001.jpg" style="height:387px; width:387px" /></td>
			<td><img alt="" src="/pages/files/ee6dceb08754/002.jpg" style="height:387px; width:387px" /></td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
