<p style="text-align:center"><img alt="" src="/pages/files/a71ff3ae4be6/banerPresvesna2020.jpg" style="height:347px; width:780px" /></p>

<p style="text-align:center"><strong>Концептуальна перемога</strong></p>

<p style="text-align:justify">&nbsp; &nbsp;З 15 по 18 травня 2020 року в Києві відбувався XVІІІ Міжнародний фестиваль-конкурс дитячо-юнацької журналістики <strong>&laquo;Прес-весна на Дніпрових схилах&raquo;</strong>. Учасники із 7 країн світу надіслали понад 300 робіт, що розкривали їхнє бачення теми &laquo;2020: моя країна в смартфоні&raquo;.</p>

<p style="text-align:justify">&nbsp; &nbsp;Кількаденний марафон в галузі медіа для студентів Коледжу ЧНУ імені Юрія Федьковича завершився результативно: <strong>Едуард ЖИТАРЮК</strong>, <strong>Влад ЗАРЕМСЬКИЙ</strong>, <strong>Іван ТОКАР</strong>&nbsp;(1 курс, спеціальність &quot;Комп&#39;ютерні науки&quot;) під керівництвом викладача коледжу <strong>М.О. Остапович</strong> здобули <strong>І місце</strong> в номінації <strong>&laquo;Відеоробота&raquo;</strong>, а <strong>Ольга ПЛОТНІКОВА</strong>&nbsp;&nbsp;(2 курс, спеціальність &quot;Комп&#39;ютерні науки&quot;) &ndash; <strong>ІІІ місце</strong> в цій же номінації.</p>

<p style="text-align:center"><a href="https://www.youtube.com/watch?v=87atovXOyAM&amp;app=desktop">Переглянути відеороботу (І&nbsp;місце)</a>.<br />
<a href="https://www.youtube.com/watch?v=Ws1uI17OqB8&amp;feature=youtu.be">Переглянути відеороботу (ІІІ місце)</a></p>

<p style="text-align:justify">&nbsp; &nbsp;Серед факторів, що стали визначальними під час голосування, журі назвало оригінальність, концептуальне бачення проблеми. Вітаємо переможців, що вміють серед потоків інформаційного шуму зберігати власний цілісний погляд на світ!</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/6c271158a611/Відеоробота (1 місце).jpg" style="height:559px; width:390px" /></td>
			<td><img alt="" src="/pages/files/754ca7bda9d2/003.jpg" style="height:559px; width:390px" /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/dfa16b4a3206/001.jpg" style="height:462px; width:390px" /></td>
			<td><img alt="" src="/pages/files/918aaf756c34/002.jpg" style="height:462px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
