<p style="text-align: center;"><img alt="" src="/pages/files/2d99d243e4c8/MOVA3.jpg" style="height:430px; width:780px" /><strong>ОБЛАСНЕ МЕТОДИЧНЕ ОБ&#39;ЄДНАННЯ<br />
викладачів УКРАЇНСЬКОЇ&nbsp;МОВИ та ЛІТЕРАТУРИ закладів фахової передвищої освіти<br />
Чернівецької області</strong></p>
