<p style="text-align:justify">&nbsp; &nbsp;Дорога українська родино! Щиро вітаємо Вас з&nbsp;<strong>14 жовтня</strong>&nbsp;&ndash; святом сили, мужності, доблесті й честі. Цей день поєднує чотири нерозривно пов&rsquo;язані між собою свята &ndash;&nbsp;<strong>День захисника України</strong>,&nbsp;<strong>День Українського козацтва, День створення УПА</strong>&nbsp;та&nbsp;<strong>Покрови Пресвятої Богородиці</strong>&nbsp;&ndash; які символізують зв&rsquo;язок поколінь, давню історичну традицію, а тому особливо шануються українцями.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/051eb2614df0/002.jpg" style="height:268px; width:780px" />&nbsp; &nbsp;Сьогодні захисники нашої батьківщини приймають святкові поздоровлення, і Коледж Чернівецького&nbsp;національного університету імені Юрія Федьковича з великим задоволенням та хвилюванням приєднується до вітань!</p>

<p style="text-align:center"><strong>Дорогі наші захисники, воїни, герої!</strong></p>

<p style="text-align:justify">&nbsp; &nbsp;Прийміть насамперед безмежну вдячність за незламну силу духу і героїзм, який виявляєте. Напевно, багато хто сьогодні скаже Вам, що це Ваше професійне свято. Але ж служіння Вітчизні &ndash; це більше, ніж професія. Це &ndash; величезна любов, сила волі й патріотизм.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/3858c2d0248f/003.jpeg" style="height:322px; width:780px" />&nbsp; &nbsp;Дозвольте привітати Вас зі святом мужності, святом історії та добра. Воно не лише для чоловіків, а для всіх, хто любить свою Батьківщину. Це &ndash; свято України. Нехай Ваш дім буде наповнений світлом і любов&#39;ю, довірою і миром! Будьте завжди справжніми чоловіками &ndash; сильними, мудрими і добрими, які вміють однаково надійно тримати у руках як зброю, так і щастя своїх рідних!</p>

<p><img alt="" src="http://college-chnu.cv.ua/pages/files/ed17b7c6c237/4fa95056a6b0a11f38cb2a0bb7bd20f9.jpg" />&nbsp; &nbsp;Ми чекаємо вдома кожного з Вас, живими і здоровими! Повертайтеся з перемогою! Повертайтеся живими!</p>
