<p style="text-align:justify"><img alt="" src="/pages/files/51ddc1c2a025/Basketball-Clouds-Sports-Banner-1920x960.jpg" style="height:238px; width:780px" /></p>

<p style="text-align:justify">&nbsp;&nbsp;&nbsp;Збірна команда Коледжу Чернівецького національного університету&nbsp;імені Юрія Федьковича з&nbsp;<strong>БАСКЕТБОЛУ (дівчата)</strong>&nbsp;посіла &nbsp;<strong>III місце</strong>&nbsp;&nbsp;у&nbsp;<strong>71 Спартакіаді</strong>&nbsp;Чернівецького національного університету імені Юрія Федьковича.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/86f9753a6f86/зображення_viber_2019-11-26_18-51-27.jpg" style="height:545px; width:780px" /></p>

<p style="text-align:justify">Склад команди призерів&nbsp;наступний:</p>

<ul>
	<li style="text-align:justify">Молдован Альона (4 курс, спеціальність &quot;Право&quot;);</li>
	<li style="text-align:justify">Токар Тая (3&nbsp;курс, спеціальність &quot;Право&quot;);</li>
	<li style="text-align:justify">Козак Адріана&nbsp;(3&nbsp;курс, спеціальність &quot;Право&quot;);</li>
	<li style="text-align:justify">Лахман Діана&nbsp;(3&nbsp;курс, спеціальність &quot;Право&quot;);</li>
	<li style="text-align:justify">Голіната Ангеліна&nbsp;(1&nbsp;курс, спеціальність &quot;Фінанси, банківська справа та страхування&quot;);</li>
	<li style="text-align:justify">Китайгородська Каріна&nbsp;(1&nbsp;курс, спеціальність &quot;Фінанси, банківська справа та страхування&quot;);</li>
	<li style="text-align:justify">Костинюк Анна-Марія&nbsp;(1&nbsp;курс, спеціальність &quot;Фінанси, банківська справа та страхування&quot;);</li>
	<li style="text-align:justify">Паславська Ольга&nbsp;(1&nbsp;курс, спеціальність &quot;Фінанси, банківська справа та страхування&quot;).</li>
</ul>

<p style="text-align:justify">&nbsp; <strong>&nbsp;ВІТАЄМО</strong> нашу команду дівчат та бажаємо всім Вам здоров&rsquo;я, успіхів, невичерпної життєвої енергії, величезної сили волі й нездоланного бажання перемагати.</p>
