<p style="text-align: justify;">&nbsp; &nbsp;1-2 жовтня 2020 р.<strong>&nbsp;</strong>в рамках святкування дня міста Чернівці студентами 2 курсів Коледжу ЧНУ імені&nbsp;Юрія&nbsp;Федьковича під керівництвом викладачів англійської мови Наталії ДОБРОВОЛЬСЬКОЇ&nbsp;та Олени КУЗИК&nbsp;було організовано віртуальну виставку творчих робіт, а саме світлин, Буковини та міста Чернівці&nbsp;<strong>&ldquo;</strong><strong>STOP&nbsp;SHOT&rdquo; (&ldquo;СТОП-КАДР&rdquo;)</strong>.&nbsp;Свої світлини різних куточків Буковини, а саме Путильщина, Вижниччина, Сторожинеччина, Кіцманщина, представили студенти 205 групи,&nbsp;Анна ПИСАРЕНКО&nbsp;декламувала вірш &ldquo;Край&rdquo; (Миколи Мозгового) англійською мовою.</p>

<p style="text-align:justify">&nbsp; &nbsp;Уляна ЛЕОНТІЙ,&nbsp;продемонструвала відео &ldquo;4 Seasons&rdquo; (&ldquo;4 пори року&rdquo;), яке відображає всю красу нашого краю в будь-яку пору.</p>

<p style="text-align:justify">&nbsp; &nbsp;Увазі глядачів представлено фотоальбом &ldquo;Чернівці-унікальні&rdquo; зі світлинами меморіальних дошок центральної частини міста.</p>

<p style="text-align:justify">&nbsp; &nbsp; Також англійською мовою проведено короткий екскурс в історію міста.</p>

<p style="text-align: center;"><strong>ENJOY VISITING OUR EXHIBITION!</strong></p>
