<p style="text-align:justify"><img alt="" src="/pages/files/828b8ac8f764/Без имени-1.jpg" style="height:276px; width:780px" />&nbsp; &nbsp;24 лютого 2020 р., на Філологічному факультеті ЧНУ імені Юрія Федьковича відбувся&nbsp;<strong>Перший тур</strong>&nbsp;конкурсу на краще читання української поезії, присвяченому&nbsp;<strong>206-й річниці від дня народження Тараса ШЕВЧЕНКА</strong>.&nbsp;У конкурсі взяли участь четверо студентів Коледжу ЧНУ імені Юрія Федьковича:&nbsp;Ірина ПОПОВИЧ, Наталія БИГАР, Анна КЛИМ та&nbsp;Олександр ДЕМЧУК.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/e4e751e91f49/college.jpg" style="height:703px; width:780px" /><br />
&nbsp; &nbsp;У непростій боротьбі до&nbsp;фіналу Конкурсу, який відбудеться 5 березня 2020 р., вийшли <strong>Анна КЛИМ</strong>&nbsp;(1 курс, спеціальність &quot;Підприємництво, торгівля та біржова діяльність&quot;) та <strong>Олександр ДЕМЧУК</strong>&nbsp;(2 курс, спеціальність &quot;Комп&#39;ютерна інженерія&quot;). Вболіваємо&nbsp;за наших фіналістів!</p>

<p style="text-align:justify">&nbsp;</p>
