<p style="text-align:justify"><img alt="" src="/pages/files/d884f661a9ee/11122.jpg" style="height:221px; width:780px" /><strong>&nbsp; &nbsp;4 жовтня 2019 р. </strong>в рамках святкування дня міста Чернівці студентами 2-3 курсів коледжу ЧНУ ім. Ю. Федьковича під керівництвом викладачів англійської мови Добровольською Н.Д. та Кузик О.В. було організовано виставку творчих робіт, а саме картин, світлин,&nbsp; вишиванки, макету ЧНУ. Свої поробки студенти презентували українською та англійською мовами.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/d4306084472d/001.JPG" style="height:418px; width:780px" /></p>

<hr />
<p style="text-align:justify"><img alt="" src="/pages/files/4c5229a89ad9/002.JPG" style="height:398px; width:780px" />&nbsp; &nbsp; На першому поверсі була встановлена фото зона у вигляді макету ЧНУ. Чільне місце займала картина із зображенням герба Чернівців (автор &ndash; студентка 3-го курсу Білявська Софія). Квітковий орнамент довкола герба &ndash; петровський розпис, відзначається особливою самобутністю та водночас органічно продовжує народні традиції регіону, зазвичай виконується 2-4 кольорами за один мазок. Також була організована виставка світлин, яка відображала історію вулиці, де розташований коледж.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/1132832ecd1f/003.JPG" style="height:293px; width:390px" /></td>
			<td><img alt="" src="/pages/files/3cfddbbf2138/004.JPG" style="height:293px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;На другому поверсі були виставлені картини та світлини, присвячені пам&rsquo;ятним будівлям нашого міста (готелі кінця 19 ст., театр, університет).</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/7ef1e09a0580/005.JPG" style="height:293px; width:390px" /></td>
			<td><img alt="" src="/pages/files/507a6e6e929d/007.JPG" style="height:293px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify"><img alt="" src="/pages/files/c4dbfd9a0208/008.JPG" style="height:293px; width:780px" />&nbsp; &nbsp;На третьому поверсі присутні мали змогу ознайомитися з історією створення муралів &ndash; настінних малюнків сучасних Чернівців.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/68c6c4ddf482/009.JPG" style="height:445px; width:780px" />&nbsp; &nbsp;Задоволення отримали як екскурсанти на чолі з директором коледжу Собчуком О.В., так і екскурсоводи, студенти, які готували експозицію виставки.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/2ca1d28495ce/SAM_6786.JPG" style="height:505px; width:780px" /></p>
