<p style="text-align:center"><strong>Перелік спеціальностей за якими здійснюється підготовка<br />
у Коледжі ЧНУ імені Юрія Федьковича</strong></p>

<table border="0" style="height:426px; width:669px">
	<tbody>
		<tr>
			<td>
			<p>081 <a href="http://localhost:25565/article/5c5c2895e4c89c0f4878c774">Право</a></p>

			<p>076&nbsp;<a href="http://localhost:25565/article/5c5c2951e4c89c0f4878c775">Підприємництво, торгівля та біржова діяльність</a></p>

			<p>072&nbsp;<a href="http://localhost:25565/article/5c5c29fee4c89c0f4878c776">Фінанси, банківська справа та страхування</a></p>

			<p>071&nbsp;<a href="http://localhost:25565/article/5c5c2dfee4c89c0f4878c777">Облік і оподаткування</a></p>

			<p>113&nbsp;<a href="http://localhost:25565/article/5c5c2e7be4c89c0f4878c778">Прикладна математика</a></p>

			<p>122&nbsp;<a href="http://localhost:25565/article/5c5c2efae4c89c0f4878c779">Комп&#39;ютерні науки</a></p>

			<p>123&nbsp;<a href="http://localhost:25565/article/5c5c2fb4e4c89c0f4878c77a">Комп&#39;ютерна інженерія</a></p>
			</td>
			<td><img alt="Students05" src="https://web.archive.org/web/20180109082616im_/http://www.college-chnu.cv.ua/images/banners/Students05.jpg" style="height:200px; width:77px" /></td>
		</tr>
	</tbody>
</table>

<p><img alt="specialnosti" src="https://web.archive.org/web/20180109082616im_/http://www.college-chnu.cv.ua/images/img_for_colledg/specialnosti.jpg" style="height:405px; margin-left:auto; margin-right:auto; width:668px" /></p>
