<p style="text-align:justify">&nbsp; &nbsp;7 жовтня 2019 р. Головне територіальне управління юстиції у Чернівецькій області в рамках загальнонаціонального правопросвітницького проекту <strong>&laquo;Я маю право&raquo;</strong> та з нагоди святкування <strong>Дня юриста</strong> проводило інтелектуальну гру <strong>&laquo;Що? Де? Коли?&raquo;.</strong></p>

<p style="text-align:justify"><img alt="" src="/pages/files/5c002029072d/001.jpeg" style="height:429px; width:780px" /><strong>&nbsp; &nbsp;</strong>У грі брали участь команда Коледжу Чернівецького національного університету імені Юрія Федьковича&nbsp; <strong>&laquo;Максимум&raquo;</strong> членами якої були &nbsp;студенти 3-го курсу, спеціальність &laquo;Право&raquo; (Гриб Наталія, Довганюк Ольга, Колбаско Максим, Нестор Крістіна, Світова Аліна, Швачій Софія) та команда Чернівецького кооперативного економіко-правового коледжу <strong>&laquo;Діти феміди&raquo;</strong>.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/ff282606f796/002.jpeg" style="height:293px; width:390px" /></td>
			<td><img alt="" src="/pages/files/589dbd841375/003.jpg" style="height:293px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;Молодь продемонструвала свою ерудицію та логіку, вміння швидко сконцентруватися, давати чіткі відповіді, працювати в команді, що допомогло здобути студентам нашого коледжу перемогу.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/598bd2c7e5b9/004.jpeg" style="height:365px; width:780px" />&nbsp; &nbsp;Вітаємо переможців та учасників!</p>
