<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/ae487863ce89/IKT2019.jpg" style="height:290px; width:390px" /></td>
			<td><img alt="" src="/pages/files/c77212875b0c/INF_2019.jpg" style="height:289px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify"><span style="background-color:white"><span style="color:#1d2129">&nbsp; &nbsp; &nbsp;21 березня&nbsp;</span></span>2019 р. на базі Коледжу&nbsp;ЧНУ імені Юрія Федьковича відбувся II (обласний) етап&nbsp;<strong>ХІІ Всеукраїнської олімпіади з інформатики та комп&rsquo;ютерної техніки</strong>. У конкурсних випробуваннях свої знання продемонстрували кращих 22 учасника з 13 коледжів і технікумів Буковини.&nbsp;Олімпіада проводиться щорічно з метою виявлення, відбору та підтримки обдарованої студентської молоді, розвитку та реалізації здібностей студентів, стимулювання творчої праці студентів та науково-педагогічних працівників, підвищення якості підготовки фахівців, активізації навчально &ndash; пізнавальної діяльності студентів, інтенсифікації та вдосконалення навчального процесу, формування команд для участі в міжнародних олімпіадах, а також для виявлення переможця, який візьме участь у ІІІ етапі Всеукраїнської олімпіади.<br />
<span style="background-color:white"><span style="color:#1d2129">&nbsp; &nbsp; &nbsp;Представники Коледжу ЧНУ&nbsp;<strong>Іван Дерда</strong>&nbsp;та&nbsp;<strong>Марина Гульпак</strong>&nbsp;(викладач Луцюк Ю.В.)&nbsp;посіли почесне&nbsp;<strong>ІІІ</strong><strong>&nbsp;місце</strong>&nbsp;з однаковою кількістю балів</span></span>.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/febffac39f8c/001.jpg" style="height:261px; width:390px" /></td>
			<td><img alt="" src="/pages/files/293d3414867e/002.jpg" style="height:261px; width:390px" /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/3b1427394968/003.jpg" style="height:261px; width:390px" /></td>
			<td><img alt="" src="/pages/files/8493d2ceb986/004.jpg" style="height:261px; width:390px" /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/35955cd6f5e2/005.jpg" style="height:261px; width:390px" /></td>
			<td><img alt="" src="/pages/files/bdfc3db93b2f/006.jpg" style="height:261px; width:390px" /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/b48e5ef24919/007.jpg" style="height:260px; width:390px" /></td>
			<td><img alt="" src="/pages/files/572918fd7a9f/008.jpg" style="height:261px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
