<p style="text-align:center"><strong>Засідання методичного об&rsquo;</strong><strong>єднання викладачів іноземних мов<br />
закладів фахової передвищої освіти</strong></p>

<p style="text-align:justify">&nbsp;&nbsp; 7 листопада 2019 року на базі Коледжу ЧНУ імені Юрія Федьковича був проведений семінар-практикум Методичного об&rsquo;єднання викладачів іноземних мов закладів фахової передвищої освіти за темою: &laquo;Забезпечення якісної підготовки студентів до ДПА у формі ЗНО через вдосконалення професійної компетентності викладача та усвідомлене навчання студентів&raquo;.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/939cf1bc61d0/001.jpg" style="height:471px; width:780px" /></p>

<p style="text-align:justify">&nbsp;&nbsp; Були присутні викладачі іноземних мов всіх закладів фахової передвищої освіти Чернівецької області.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/08f7270afeb7/009.jpg" style="height:441px; width:780px" />&nbsp;&nbsp; Заступник директора Коледжу ЧНУ імені Юрія Федьковича <strong><em>Дерев</em></strong><strong><em>&rsquo;</em></strong><strong><em>янчук Микола Ярославович</em></strong> представив &laquo;Візитну картку&raquo; Коледжу, та наголосив на важливості предмету &laquo;Іноземна мова&raquo; у сучасному освітньому процесі.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/04668e80c3b2/002.jpg" style="height:520px; width:390px" /></td>
			<td><img alt="" src="/pages/files/182e3d4a9b8b/003.jpg" style="height:520px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp;&nbsp; Для &laquo;Педагогічного портрету&raquo; ЦК викладачів іноземних мов Коледжу слово було надане голові ЦК <strong><em>Веренько Михайлу Михайловичу</em></strong>.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/8eca18a8e203/005.jpg" style="height:520px; width:390px" /></td>
			<td><img alt="" src="/pages/files/34f3a83f4af4/004.jpg" style="height:520px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify"><strong><em>&nbsp;&nbsp; Куриш Світлана Михайлівна</em></strong>, доцент, завідувач науково-методичним центром іноземних мов та міжнародних відносин&nbsp; ІППОЧО ознайомила присутніх із нормативними документами щодо викладання іноземних мов, розповіла про міжнародні проекти Британської Ради та Гете Інституту в Україні, представила методичні рекомендації щодо підготовки студентів до успішного проходження ДПА у формі ЗНО та міжнародних іспитів.</p>

<p style="text-align:justify"><strong><em>&nbsp;&nbsp; Боярин Лілія Володимирівна</em></strong>, кандидат психологічних наук, доцент кафедри педагогіки, психології та теорії управління освітою ІППОЧО провела з викладачами скринінгові дослідження рівня розвитку мотивації професійної діяльності викладачів &laquo;Діагностика розвитку мотивації професійної діяльності викладач&raquo;, з подальшою інтерпретацією результатів та рекомендаціями щодо них.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/6f5f2d70b4ab/006.jpg" style="height:520px; width:390px" /></td>
			<td><img alt="" src="/pages/files/2681fdc4f63e/007.jpg" style="height:522px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp;&nbsp; Викладачі Коледжу ЧНУ імені Юрія Федьковича поділилися власними напрацюваннями з досвіду роботи, які були оформлені у методичні розробки і записані на диск.</p>

<p style="text-align:justify"><strong><em>&nbsp;&nbsp; Кузик Олена Володимирівна</em></strong>, викладач англійської мови, викладач І категорії розповіла про досвід отримання сертифікатів TESOL, і презентувала матеріал із розвитку навичок аудіювання, провівши невеличкий воркшоп. Цікавий матеріал був запропонований на використання та розуміння ідіом.</p>

<p style="text-align:justify"><strong><em>&nbsp;&nbsp; Добровольська Наталія Дмитрівна</em></strong> презентувала бачення моделі сучасного викладача-новатора в умовах освітнього середовища у супроводі презентації в форматі Power Point, а також зробила методичний анонс-огляд навчального посібника &ldquo;Time4writing&rdquo;, який спрямований на розвиток навичок письма. Для практичної апробації Наталія Дмитрівна провела воркшоп з написання різних типів листів.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/d6159d7233fb/010.jpg" style="height:484px; width:780px" /></p>

<p style="text-align:justify">&nbsp;&nbsp; Коледж ЧНУ імені Юрія Федьковича виступив ініціатором започаткування та проведення обласної олімпіади з англійської мови у лютому-березні 2020 року на базі Коледжу ЧНУ. З цією метою , було прийнято рішення створити творчі групи по підготовці олімпіадних завдань.</p>

<p style="text-align:justify">&nbsp;&nbsp; За ініціативою Коледжу ЧНУ, яку підтримали присутні викладачі, було вирішено провести наступне засідання МО викладачів іноземних мов закладів фахової передвищої освіти в режимі on-line.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/cf3c29495fad/008.jpg" style="height:439px; width:780px" />&nbsp;&nbsp; Семенюк Микола Степанович, методист Ради директорів ЗФПО, надав детальні роз&rsquo;яснення з приводу проведення майбутньої олімпіади з англійської мови та пояснив загальні правила та положення.</p>

<p style="text-align:justify">&nbsp; &nbsp;Засідання методичного об&#39;єднання&nbsp;пройшло плідно, креативно та з користю.</p>
