<p style="text-align:center"><img alt="" src="/pages/files/65e2aeb82711/071.jpg" style="height:260px; width:780px" /></p>

<p style="text-align:center"><strong>ОБОВ&#39;ЯЗКОВІ&nbsp;ДИСЦИПЛІНИ</strong></p>

<hr />
<p><strong>ЗАГАЛЬНА ПІДГОТОВКА<br />
&nbsp; &nbsp;1.</strong>&nbsp;Основи філософських знань<br />
<strong>&nbsp; &nbsp;2.</strong>&nbsp;Українська мова за професійним спрямуванням<br />
<strong>&nbsp; &nbsp;3.</strong>&nbsp;<a href="/pages/files/e741f69dc540/English.pdf">Іноземна мова за професійним спрямуванням</a><br />
<strong>&nbsp; &nbsp;4.</strong>&nbsp;Історія України<br />
<strong>&nbsp; &nbsp;5.</strong>&nbsp;Культорологія<br />
<strong>&nbsp; &nbsp;6.</strong>&nbsp;Соціологія<br />
<strong>&nbsp; &nbsp;7.</strong>&nbsp;Вища математика<br />
<strong>&nbsp; &nbsp;8.</strong>&nbsp;Інформатика та комп&#39;ютерна техніка<br />
<strong>&nbsp; &nbsp;9.</strong>&nbsp; Фізичне виховання</p>

<p><strong>ПРОФЕСІЙНА ПІДГОТОВКА<br />
&nbsp; &nbsp;1.</strong>&nbsp;Економічна теорія<br />
<strong>&nbsp; &nbsp;2.</strong>&nbsp;Бухгалтерський облік<br />
<strong>&nbsp; &nbsp;3.</strong>&nbsp;Фінанси<br />
<strong>&nbsp; &nbsp;4.</strong>&nbsp;Економіка підприємства<br />
<strong>&nbsp; &nbsp;5.</strong>&nbsp;Фінансовий та податковий облік<br />
<strong>&nbsp; &nbsp;6.</strong>&nbsp;Облік&nbsp;у галузях економіки<br />
<strong>&nbsp; &nbsp;7.</strong>&nbsp;Податкова система<br />
<strong>&nbsp; &nbsp;8.</strong>&nbsp;Економічний аналіз<br />
<strong>&nbsp; &nbsp;9.</strong>&nbsp;Інформаційні системи і технології в обліку та оподаткуванні<br />
<strong>&nbsp; &nbsp;10.</strong>&nbsp;Курсова робота<br />
<strong>&nbsp; &nbsp;11.</strong>&nbsp;Навчальна практика (Основи інформаційної безпеки)<br />
<strong>&nbsp; &nbsp;12.</strong>&nbsp;Навчальна практика (Бізнес-тренінг)<br />
<strong>&nbsp; &nbsp;13.</strong>&nbsp;Виробнича практика</p>

<p style="text-align:center"><strong>ДИСЦИПЛІНИ ЗА ВИБОРОМ ЗАКЛАДУ ФАХОВОЇ ПЕРЕДВИЩОЇ ОСВІТИ</strong></p>

<hr />
<p><strong>ЗАГАЛЬНА ПІДГОТОВКА<br />
&nbsp; &nbsp;1.</strong>&nbsp;Статистика<br />
<strong>&nbsp; &nbsp;2.</strong>&nbsp;Основи правознавства<br />
<strong>&nbsp; &nbsp;3.</strong>&nbsp;Основи екології<br />
<strong>&nbsp; &nbsp;4.</strong>&nbsp;Громадське здоров&#39;я</p>

<p><strong>ПРОФЕСІЙНА ПІДГОТОВКА</strong><br />
<strong>&nbsp; &nbsp;1.</strong>&nbsp;Аудит<br />
<strong>&nbsp;</strong><strong>&nbsp; 2.</strong>&nbsp;Гроші та кредит</p>

<p style="text-align:center"><strong>ДИСЦИПЛІНИ ВІЛЬНОГО ВИБОРУ ЗДОБУВАЧА ОСВІТИ</strong></p>

<hr />
<p><strong>ЗАГАЛЬНА ПІДГОТОВКА<br />
&nbsp;&nbsp; 1.</strong>&nbsp;<a href="/pages/files/c2428dacbec6/071 English for Life.pdf">Англійська для життя. [English for life]</a>&nbsp;<em>(Н.Д. Добровольська)</em><strong> &nbsp;<br />
&nbsp; &nbsp;2.</strong>&nbsp;<a href="/pages/files/d5e0959a35d6/071 Economic statistics.pdf">Економічна статистика</a>&nbsp;<em>(Н.О.&nbsp;Марценяк)</em><br />
<strong>&nbsp; &nbsp;3.</strong>&nbsp;<a href="/pages/files/77b0c6b3f5cd/071 E-commerce.pdf">Електронна комерція та ІТ-бізнес</a>&nbsp;<em>(І.В. Гудзик)</em><br />
<strong>&nbsp; &nbsp;4.</strong>&nbsp;<a href="/pages/files/3659c319cbb7/071 graphic processing.pdf">Інтегровані пакети графічної обробки</a>&nbsp;<em>(І.В. Гудзик, В.В. Коропецький)</em><br />
<strong>&nbsp; &nbsp;5.</strong>&nbsp;<a href="/pages/files/0258b33dd5ce/071 Historical figures.pdf">Історичні постаті в процесах державотворення України</a>&nbsp;<em>(В.Я. Дерев&#39;янчук)</em><br />
<strong>&nbsp; &nbsp;6.</strong>&nbsp;<a href="/pages/files/f71952450f45/071 the art of good.pdf">Мистецтво добра</a> <em>(І.В. Пержун)</em><br />
<strong>&nbsp; &nbsp;7.</strong>&nbsp;<a href="/pages/files/146d3467ecf7/071 economic risks.pdf">Моделювання економічних ризиків</a>&nbsp;<em>(Т.І. Крошка)</em><br />
<strong>&nbsp; &nbsp;8.</strong>&nbsp;<a href="/pages/files/51a14bccebb7/071 Organization of business.pdf">Організація та ведення бізнесу</a>&nbsp;<em>(О.Ю. Докаш)</em><br />
<strong>&nbsp; &nbsp;9.</strong>&nbsp;<a href="/pages/files/144b7bdde69d/071 WEB-design.pdf">Основи web-дизайну</a>&nbsp;<em>(В.В. Коропецький)</em><br />
<strong>&nbsp; &nbsp;10.</strong>&nbsp;<a href="/pages/files/c1552862500b/071 scientific research.pdf">Основи наукових досліджень</a>&nbsp;<em>(М.О. Остапович)</em><br />
<strong>&nbsp; &nbsp;11.</strong>&nbsp;<a href="/pages/files/28261b4a6469/071 psychology.pdf">Психологія</a>&nbsp;<em>(А.В. Кушнір)</em><br />
<strong>&nbsp; &nbsp;12.</strong>&nbsp;<a href="/pages/files/0b380451ee71/071 financial mathematics.pdf">Фінансова математика</a>&nbsp;<em>(Т.І. Крошка)</em><br />
<br />
<strong>&nbsp;</strong><strong>ПРОФЕСІЙНА ПІДГОТОВКА</strong><br />
<strong>&nbsp; &nbsp;1.</strong>&nbsp;<a href="/pages/files/0571003ac696/071 Exchange activity.pdf">Біржова діяльність</a>&nbsp;<em>(А.М.&nbsp;Томашевська)</em><br />
<strong>&nbsp;</strong><strong>&nbsp; 2.</strong>&nbsp;<a href="/pages/files/36dd69be41d8/071 Budget system.pdf">Бюджетна система</a>&nbsp;<em>(Ю.В.&nbsp;Семенюк)</em><br />
<strong>&nbsp; &nbsp;3.</strong>&nbsp;<a href="/pages/files/f70fdb08fead/071 ZED.pdf">Зовнішньо-економічна діяльність</a>&nbsp;<em>(Ю.В.&nbsp;Семенюк)</em><br />
<strong>&nbsp; &nbsp;4.</strong>&nbsp;<a href="/pages/files/7fe815955820/071 Margin trading.pdf">Маржинальна торгівля</a>&nbsp;<em>(О.І.&nbsp;Луган)</em><br />
<strong>&nbsp; &nbsp;5.</strong>&nbsp;<a href="/pages/files/3dbb0db98cbb/071 international finance.pdf">Міжнародні фінанси</a>&nbsp;<em>(Ю.В.&nbsp;Семенюк)</em><br />
<strong>&nbsp; &nbsp;6.</strong>&nbsp;<a href="/pages/files/44b814a18728/071 accounting and analysis ZED.pdf">Облік і аналіз ЗЕД</a>&nbsp;<em>(О.С.&nbsp;Гіщук)</em><br />
<strong>&nbsp; &nbsp;7.</strong>&nbsp;<a href="/pages/files/e91da1c2fbaa/071 Accounting PMB.pdf">Облік на підприємствах малого бізнесу</a>&nbsp;<em>(С.І.&nbsp;Гнат)</em><br />
<strong>&nbsp; &nbsp;8.</strong>&nbsp;<a href="/pages/files/6293586dad9a/071 Start-UP.pdf">Основи start-up</a>&nbsp;<em>(О.І.&nbsp;Луган)</em><br />
<strong>&nbsp; &nbsp;9.</strong>&nbsp;<a href="/pages/files/9f03e5bdbe4f/071 Financial services market.pdf">Ринок фінансових послуг</a>&nbsp;<em>(А.М.&nbsp;Томашевська)</em><br />
<strong>&nbsp; &nbsp;10.</strong>&nbsp;<a href="/pages/files/d2526da5d00d/071 Managerial Accounting.pdf">Управлінський облік</a>&nbsp;<em>(С.І.&nbsp;Гнат)</em><br />
<strong>&nbsp; &nbsp;11.</strong>&nbsp;<a href="/pages/files/3983e1d3a082/071 small business finance.pdf">Фінанси малого бізнесу</a>&nbsp;<em>(А.В.&nbsp;Марич)</em><br />
<strong>&nbsp; &nbsp;12.&nbsp;</strong><a href="/pages/files/ca7b2a6cc641/071 financial literacy.pdf">Фінансова грамотність</a>&nbsp;<em>(А.В.&nbsp;Марич)</em><br />
<strong>&nbsp; &nbsp;13.</strong>&nbsp;<a href="/pages/files/478c05fc0075/071 Financial Statements.pdf">Фінансова звітність</a>&nbsp;<em>(О.С.&nbsp;Гіщук)</em></p>
