<h3 style="text-align:center"><strong>ЦИКЛОВА КОМІСІЯ<br />
ЕКОНОМІЧНИХ ДИСЦИПЛІН</strong></h3>

<hr />
<table border="0">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/f9d9bda73a31/Gnat.jpg" style="height:301px; width:210px" /></td>
			<td>
			<p style="text-align:center"><strong>ГОЛОВА&nbsp;ЦИКЛОВОЇ КОМІСІЇ</strong></p>

			<p><strong>&nbsp;Гнат Сільва Іванівна</strong><br />
			&nbsp;викладач вищої кваліфікаційної категорії<br />
			<br />
			&nbsp;&nbsp; <strong>Дисципліни:</strong></p>

			<ul>
				<li>Бухгалтерський облік;</li>
				<li>Фінансовий та податковий облік;</li>
				<li>Облік і звітність бюджетних установ;</li>
				<li>Аудит;</li>
				<li>Податкова система</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp;&nbsp; Освіта:</strong> Київський торговельно-економічний інститут за спеціальністю &quot;Бухгалтерський облік і аналіз господарської діяльності&quot; <em>(1990 р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/62e4e3831ada/Gischuk.jpg" style="height:292px; width:210px" /></td>
			<td>
			<p><strong>&nbsp;Гіщук Оксана Стефанівна</strong><br />
			&nbsp;викладач вищої кваліфікаційної категорії,<br />
			&nbsp;викладач-методист<br />
			<br />
			&nbsp;&nbsp; <strong>Дисципліни:</strong></p>

			<ul>
				<li>Бухгалтерський облік;</li>
				<li>Основи бухгалтерського обліку;</li>
				<li>Бухгалтерський облік і звітність у комерційних банках</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp;&nbsp; Освіта:</strong>&nbsp;Чернівецький державний&nbsp;університет імені Юрія Федьковича за спеціальністю &quot;Облік і аудит&quot; <em>(1999 р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/660efeb1e9cb/Lugan.jpg" style="height:280px; width:210px" /></td>
			<td>
			<p><strong>&nbsp;Луган Олександр Ілліч</strong><br />
			&nbsp;викладач І-ї кваліфікаційної категорії<br />
			<br />
			&nbsp; &nbsp;<strong>Предмети (дисципліни):</strong></p>

			<ul>
				<li>Економіка;</li>
				<li>Економіка підприємства;</li>
				<li>Менеджмент</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp;&nbsp; Освіта:</strong>&nbsp;Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Менеджмент організацій&quot; <em>(2009 р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td colspan="1" rowspan="2"><img alt="" src="/pages/files/a6959375dc46/unnamed.png" style="height:239px; width:210px" /></td>
			<td colspan="1" rowspan="2">
			<p><strong>&nbsp;Маковей Юлія Петрівна</strong><br />
			&nbsp;к.екон.н. <em>(за спец. &quot;Економіка та управління підприємствами&quot;, 2017 р.),</em><br />
			&nbsp;викладач вищої кваліфікаційної категорії</p>

			<p>&nbsp; &nbsp;<strong>Предмети (дисципліни):</strong></p>

			<ul>
				<li>Економіка;</li>
				<li>Економіка підприємства</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp;&nbsp; Освіта:</strong> <strong>1.</strong> Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Мова та література (англійська)&quot; <em>(2005 р.)</em>; <strong>2.</strong> Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Маркетинг&quot; <em>(2008 р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr />
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/f2ed4b5303db/Maruch.jpg" style="height:302px; width:210px" /></td>
			<td>
			<p><strong>&nbsp;Марич Аліна Василівна</strong><br />
			&nbsp;викладач ІІ-ї кваліфікаційної категорії,</p>

			<p>&nbsp;&nbsp; <strong>Дисципліни:</strong></p>

			<ul>
				<li>Банківські операції;</li>
				<li>Гроші та кредит;</li>
				<li>Казначейська справа</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp;&nbsp; Освіта:</strong>&nbsp;Чернівецький національний&nbsp;університет імені Юрія Федьковича за спеціальністю &quot;Фінанси&quot; <em>(2009 р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/a6959375dc46/unnamed.png" style="height:239px; width:210px" /></td>
			<td>
			<p><strong>&nbsp;Марценяк Наталія Онисимівна</strong><br />
			&nbsp;викладач вищої кваліфікаційної категорії<br />
			<br />
			&nbsp;&nbsp; <strong>Дисципліни:</strong></p>

			<ul>
				<li>Планування і організація діяльності підприємства;</li>
				<li>Економічний аналіз;</li>
				<li>Управління витратами;</li>
				<li>Статистика;</li>
				<li>Аудит</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp;&nbsp; Освіта:</strong> Львівський лісотехнічний інститут за спеціальністю &quot;Економіка і організація деревообробної промисловості&quot; <em>(1985 р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/8a75bfcd25ba/Osadets.jpg" style="height:290px; width:210px" /></td>
			<td>
			<p><strong>&nbsp;Осадець Олександра Миколаївна</strong><br />
			&nbsp;к.екон.н. <em>(за спеціальністю &quot;Гроші, фінанси і кредит&quot;, 2020 р.),</em><br />
			&nbsp;викладач вищої кваліфікаційної категорії,</p>

			<p>&nbsp;&nbsp; <strong>Дисципліни:</strong></p>

			<ul>
				<li>Фінанси підприємств;</li>
				<li>Страхові послуги;</li>
				<li>Казначейська справа</li>
			</ul>

			<p style="text-align:justify"><strong>Освіта:</strong>&nbsp;Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Фінанси&quot; <em>(2010 р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/e6d414c16bea/Semeniuk.jpg" style="height:275px; width:210px" /></td>
			<td>
			<p><strong>&nbsp;Семенюк Юліанна Валеріївна</strong><br />
			&nbsp;викладач ІІ-ї кваліфікаційної категорії<br />
			<br />
			&nbsp;&nbsp; <strong>Дисципліни:</strong></p>

			<ul>
				<li>Фінанси;</li>
				<li>Бюджетна система;</li>
				<li>Інформаційні системи і технології у фінансово-кредитних установах</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp;&nbsp; Освіта:</strong> Буковинський державний фінансово-економічний університет за спеціальністю &quot;Фінанси і кредти&quot; <em>(2012 р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/28ab4f928b99/Tomashevska.jpg" style="height:286px; width:210px" /></td>
			<td>
			<p><strong>&nbsp;Томашевська Альона Дмимтрівна</strong><br />
			&nbsp;викладач ІІ-ї кваліфікаційної категорії<br />
			<br />
			&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Фінанси;</li>
				<li>Економіка;</li>
				<li>Економіка і нормування праці;</li>
				<li>Основи маркетингу</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp;&nbsp; Освіта:</strong>&nbsp;Буковинський державний фінансово-економічний університет за спеціальністю &quot;Фінанси і кредти&quot; <em>(2012 р.)</em></p>
			</td>
		</tr>
	</tbody>
</table>
