<p><img alt="History" src="http://college-chnu.cv.ua/pages/files/a919648dd173/History.jpg" /></p>

<table border="0">
	<tbody>
		<tr>
			<td>&nbsp;</td>
			<td style="text-align:center"><a href="http://www.college-chnu.cv.ua/article/5dc9edf99fce2d0e869cac51">Історія Фахового коледжу<br />
			ЧНУ імені Юрія Федьковича</a></td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td style="text-align:center"><a href="http://chnu.cv.ua/index.php?page=ua/zaginf/01%20pro_univer">Історія<br />
			ЧНУ імені Юрія Федьковича</a></td>
		</tr>
	</tbody>
</table>
