<p><img alt="" src="/pages/files/d3df5a74b15c/NORM.jpg" style="height:235px; width:780px" /></p>

<hr />
<p style="text-align:center"><strong>УСТАНОВЧІ ДОКУМЕНТИ</strong></p>

<p><strong>1.</strong> <a href="/pages/files/fcc1e6c3979a/Статут_ЧНУ_2016.pdf">Статут Чернівецького національного університету імені Юрія Федьковича</a><br />
<strong>2.</strong> <a href="/pages/files/607509204244/College_ChNU.pdf">Положення про Коледж Чернівецького&nbsp;національного університету імені Юрія Федьковича</a><br />
<strong>3.</strong>&nbsp;<a href="/pages/files/d11d7b178451/Кол.договір_2017-2020.pdf">Колективний договір ЧНУ&nbsp;імені Юрія Федьковича на 2017-2020 рік</a><br />
<strong>4.</strong> <a href="/pages/files/9565f4744e29/stratehichnyi plan rozvytku-2019-2026.pdf">Стратегічний план&nbsp;розвитку ЧНУ імені Юрія&nbsp;Федьковича на 2019-2026 роки</a><br />
<strong>5.</strong>&nbsp;<a href="/pages/files/105dfbc22629/Konception.pdf">Концепція розвитку ЧНУ імені Юрія&nbsp;Федьковича на 2012-2022 роки</a><br />
<strong>6.</strong>&nbsp;<a href="/pages/files/5fd4ea3bc0ae/Положення_вибори_2019.pdf">Положення &quot;Про призначення декана факультету, директора інституту, директора Коледжу ЧНУ імені Юрія Федьковича&quot;</a></p>

<hr />
<p style="text-align:center"><strong>ОСВІТНІЙ ПРОЦЕС</strong></p>

<p><strong>1.</strong>&nbsp;<a href="/pages/files/8010de224c38/Освітній процес 2019.pdf">Положення про організацію освітнього процесу в ЧНУ імені Юрія Федьковича</a><br />
<strong>2.</strong>&nbsp;<a href="/pages/files/27dd71a7949d/Praktic_2015.pdf">Положення про проведення навчальних і виробничих практик студентів ЧНУ імені Юрія Федьковича</a><br />
<strong>3.</strong> <a href="/pages/files/960f0fe894d2/Положення внутр забезп 2016.pdf">Положення про&nbsp; систему внутрішнього забезпечення якості освітньої діяльності та якості вищої освіти в ЧНУ імені Юрія Федьковича</a><br />
<strong>4.</strong>&nbsp;<a href="/pages/files/fb5aeda6e765/Положення про моніторинг 2016.pdf">Положення про моніторинг якості вищої освіти в ЧНУ імені Юрія Федьковича</a><br />
<strong>5.</strong> <a href="/pages/files/5624673a2bff/Положення про контроль 2020.pdf">Положення про контроль і систему оцінювання результатів навчання&nbsp;здобувачів вищої освіти&nbsp;у&nbsp;ЧНУ імені Юрія Федьковича</a><br />
<strong>6.</strong> <a href="/pages/files/ec4cfb8cc035/Положення про апеляцію 2020.pdf">Положення про апеляцію на результати підсумкового семестрового контролю знань студентів ЧНУ імені Юрія Федьковича</a><br />
<strong>7.</strong>&nbsp;<a href="/pages/files/0db91a1367b4/Положення_плагіат_2019.pdf">Положення про виявлення та запобігання плагіату у ЧНУ імені Юрія Федьковича</a><br />
<strong>8.</strong>&nbsp;<a href="https://drive.google.com/file/d/1CB4AIMVXSAykF_CepI-k98GPc9E8KznQ/view">Етичний&nbsp;кодекс&nbsp;Чернівецького національного університету імені Юрія Федьковича</a></p>

<hr />
<p style="text-align:center"><strong>ВИХОВНИЙ ПРОЦЕС</strong></p>

<p><strong>1.</strong>&nbsp;<a href="/pages/files/7761742b01e0/ПРАВИЛА_2017.pdf">Правила внутрішнього розпорядку ЧНУ&nbsp;імені Юрія Федьковича</a></p>
