<table border="0" cellpadding="1" cellspacing="1" style="width:730px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/a3244de3aa6b/Романський Віктор.jpg" style="height:352px; width:300px" /></td>
			<td>
			<h2 style="text-align:center"><strong>Романський Віктор Васильович</strong></h2>

			<p style="text-align: center;">Голова студентського парламенту</p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/c8a774d8ea1c/Іванюк Алла.jpg" style="height:361px; width:300px" /></td>
			<td>
			<h2 style="text-align:center"><strong>Іванюк Алла Петрівна</strong></h2>

			<p style="text-align: center;">Заступник голови Студентського парламенту</p>
			</td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/4205cc29d393/Голунга Маргарита.jpg" style="height:400px; width:300px" /></td>
			<td style="text-align:center">
			<h2><strong>Голунга Маргатира Павлівна</strong></h2>

			<p>Прес-секретар Студентського парламенту</p>
			</td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/72ae5de1d4aa/Самборська Олена.jpg" style="height:400px; width:300px" /></td>
			<td>
			<h2 style="text-align:center"><strong>Самборська Олена Миколаївна</strong></h2>

			<p style="text-align: center;">Голова Культурно-масового відділу</p>
			</td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/2b0cdc58a492/Балан Олександра.jpg" style="height:375px; width:300px" /></td>
			<td style="text-align:center">
			<h2><strong>Балан Олександра Романівна</strong></h2>

			<p>Заступник голови&nbsp;Культурно-масового відділу</p>
			</td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/1b2a21e9af9f/Романська Анастасія.jpg" style="height:329px; width:300px" /></td>
			<td style="text-align:center">
			<h2><strong>Романська Анастасія Василівна</strong></h2>

			<p>Голова Навчально-організаційного відділу</p>
			</td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/3a2eeedcdc67/Дудар Дмиитро.jpg" style="height:300px; width:300px" /></td>
			<td style="text-align:center">
			<h2><strong>Дудар Дмитро Ігорович</strong></h2>

			<p>Заступник голови Навчально-організаційного&nbsp;відділу</p>
			</td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/52a08f2a9d3a/Оленюк Іванна.jpg" style="height:361px; width:300px" /></td>
			<td style="text-align:center">
			<h2><strong>Оленюк Іванна Іванівна</strong></h2>

			<p>Голова Студенської ради</p>
			</td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/8a4d10a47b49/Костинян Маріан.jpg" style="height:450px; width:300px" /></td>
			<td style="text-align:center">
			<h2><strong>Костинян Маріан-Флорін Ілліч</strong></h2>

			<p>Заступник голови Студенсткої ради</p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/21676c37f83e/Лобач Віктор.jpg" style="height:345px; width:300px" /></td>
			<td style="text-align:center">
			<h2><strong>Лобач Віктор Вікторович</strong></h2>

			<p>Голова Спортивно-оздоровчого відділу</p>
			</td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/f2e15a931639/Ісопеску Максим.jpg" style="height:394px; width:300px" /></td>
			<td style="text-align:center">
			<h2><strong>Ісопеску Максим Михайлович</strong></h2>

			<p>Заступник голови Спортивно - оздоровчого відділу</p>
			</td>
		</tr>
	</tbody>
</table>

<p><br />
&nbsp;</p>
