<p><img alt="" src="/pages/files/583d24ee0e67/Lesya.jpg" style="height:256px; width:780px" /></p>

<p style="text-align: justify;">&nbsp; &nbsp;На Всеукраїнському конкурсі в Полтаві студентки Коледжу ЧНУ&nbsp;посіли - <strong>2 призове місце</strong>!🏆🏆🏆<br />
&nbsp; &nbsp;Як приємно отримати довгоочікувану нагороду! Карантин вніс свої корективи, однак організатори конкурсу виявились незламними у своєму прагненні довести справу до логічного завершення - і дипломи та нагороди вже в Чернівцях!</p>

<p style="text-align: justify;">&nbsp;22 лютого 2020р. відбувся <strong>VІ Всеукраїнський (ХVІ Всекримський) конкурс-фестиваль учнівської та студентської творчості &laquo;Змагаймось за нове життя!&raquo;</strong>, присвячений Лесі Українці, в рамках підготовки до 150-річного ювілею від дня народження Лесі Українки.&nbsp;</p>

<p style="text-align: justify;">&nbsp; &nbsp;Усього ж цей передювілейний рік зібрав навколо себе біля восьми тисяч учасників з України, Криму, Італії, Норвегії, Молдови, Польщі, Росії і навіть Об&#39;єднаних Арабських Еміратів!<br />
&nbsp; &nbsp;Конкурсанти змагалися у різних номінаціях (&quot;твір&quot;, &quot;науково-пошукова робота&quot;, &quot;аудіо-візуальний твір&quot;, &quot;малюнок&quot;, &quot;декламація&quot;, &quot;вокал&quot;,&quot;інсценування&quot;).</p>

<p style="text-align: justify;">&nbsp; &nbsp;Студенти Коледжу ЧНУ імені Юрія Федьковича - Тетяна Шмідт🏆 та Діана Панцир🏆 взяли участь у відбірковому етапі VІ Всеукраїнського (ХVІ Всекримського) конкурсу-фестивалю, присвяченого Лесі Українці в м. Полтава, - і в номінації &quot;Інсценізація&quot;&nbsp;&nbsp;здобули почесні дипломи ІІ ступеня! 🏆🏆<br />
&nbsp;</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/fc4baba57484/photo.jpg" style="height:560px; width:390px" /></td>
			<td><img alt="" src="/pages/files/e8068328f568/marko.jpg" style="height:560px; width:390px" /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/6c8f9c31775b/pancur.jpg" style="height:559px; width:390px" /></td>
			<td><img alt="" src="/pages/files/71545081ff8b/shmidt.jpg" style="height:560px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align: justify;">&nbsp; &nbsp;11 березня у м. Чернівцях мав відбутися гала-концерт та урочисте нагородження переможців.&nbsp;Через карантин захід відмінили, а довгоочікувані дипломи і призи переможці отримали поштою.&nbsp;<br />
&nbsp; &nbsp;Маємо надію, що наступного року&nbsp;&nbsp;нас знову&nbsp;&nbsp;об&#39;єднає на сцені&nbsp;&nbsp;творчість Лесі Українки!</p>
