<p style="text-align:justify">&nbsp; &nbsp;25-27 грудня 2020 р. в Єгипті (м. Хургада) відбувся І Міжнародний фестиваль мистецтв&nbsp;<strong>&quot;Золото Єгипту-2020&quot;</strong>, в якому студентка &nbsp;Фахового коледжу Чернівецького національного університету&nbsp;імені Юрія Федьковича &nbsp;<strong>Ганна БИНДА</strong>&nbsp; здобула - почесне&nbsp;<strong>1 місце</strong>!</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/e3b12a0465ad/зображення_viber_2020-12-29_13-51-09.jpg" style="height:568px; width:390px" /></td>
			<td><img alt="" src="/pages/files/55f8cd9054ac/009.jpg" style="height:568px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p>&nbsp; &nbsp;У номінаціїї &quot;Розмовний жанр&quot; поважне журі визнало конкурсний номер Гани Бинди найкращим!</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/9e75f6fc1932/003.jpg" style="height:550px; width:390px" /></td>
			<td><img alt="" src="/pages/files/9ef5d535e4f9/004.jpg" style="height:550px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;Переможниця нагороджена Дипломом І ступеня, медаллю фестивалю, пам&#39;ятним сувеніром. Також Бинда Ганна отримала запрошення та Сертифікат на 500&euro; для участі в Міжнародному конкурсі в Болгарії в 2021 р.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/210ba89cfa17/007.jpg" style="height:549px; width:780px" />&nbsp; &nbsp;Керівник Ірина&nbsp;МАРКО&nbsp;нагороджена &nbsp;<strong>ПОДЯКОЮ</strong>&nbsp;за активну професійну діяльність з обдарованими дітьми, сприяння формуванню нової творчої еліти на міжнародному рівні.</p>

<p style="text-align:justify">&nbsp; Окрім того, викладача&nbsp;Фахового коледжу ЧНУ імені Юрія Федьковича <strong>Ірину&nbsp;МАРКО</strong>&nbsp;нагороджено&nbsp;вищою &nbsp;нагородою Всеукраїнського об&#39;єднання &quot;КРАЇНА&quot; &nbsp;за особисті видатні досягнення в професіональній сфері - <strong>медаллю</strong> <strong>&laquo;За служіння мистецтву&raquo;</strong>.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/2b1c9dd2f151/005.jpg" style="height:400px; width:780px" /><strong>&nbsp; &nbsp;ВІТАЄМО!!!</strong></p>
