<p style="text-align:center"><strong>Долаючи віртуальні дистанції: круглий стіл викладачів-філологів області</strong></p>

<p style="text-align:justify"><strong><img alt="" src="/pages/files/353558d17445/002.jpg" style="height:368px; width:780px" /></strong>&nbsp; Символічна зустріч викладачів української мови та літератури закладів фахової передвищої освіти Чернівецької області відбулася в День української писемності та мови у форматі круглого столу &laquo;Мова як інтелектуальна основа розвитку нації: обмін досвідом, проблемні аспекти викладання&raquo;.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/cc5f9190e979/003.jpg" style="height:265px; width:780px" />&nbsp; Обмін досвідом між колегами-філологами &ndash; запорука подолання викликів освітнього процесу нового часу, можливість зберегти високий професійний, духовний та освітній рівень. Саме на цьому й наголосив у привітальній промові методист Ради директорів Микола Семенюк.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/db69ba012ee3/004.jpg" style="height:390px; width:780px" />&nbsp; У ході ярмарку студентської творчості викладач Чернівецького&nbsp;коледжу дизайну та економіки Марина Юзефович представила звіт про проведений квест &laquo;Мовний калейдоскоп&raquo; як можливість адаптації студентів першого курсу, поглиблення загальних фахових знань та реалізацію виховної лінії освітнього процесу.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/a297f32162f2/005.jpg" style="height:374px; width:780px" />&nbsp; Галина Морараш, викладач Коледжу ПВНЗ &laquo;Буковинський університет&raquo; представила відеороботу як форму узагальнення історії розвитку та заборон української мови, а викладач Коледжу ЧНУ імені&nbsp;Юрія&nbsp;Федьковича Людмила Чік запропонувала розглядати сучасний освітній процес як комплекс традицій закладу та родини й презентувала результати студентського бібліотечного челенджу.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/11148edf1f28/006.jpg" style="height:447px; width:780px" />&nbsp; Досвідом організації та проведення виховних національно зорієнтованих заходів в умовах карантинних обмежень поділилася викладач Чернівецького політехнічного коледжу Наталія Темчук.</p>

<p style="text-align:justify">&nbsp; Практичні аспекти викладання філологічних дисциплін у Коледжі ЧНУ імені&nbsp;Юрія&nbsp;Федьковича в умовах змішаного та дистанційного навчання презентували керівник об&rsquo;єднання Лариса Сивак і Тетяна Завійська, опираючись на традиції закладу та власні педагогічні новації.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/f2491ec3149a/007.jpg" style="height:447px; width:780px" />&nbsp; Виховний аспект циклу філологічних дисциплін підсумувала Валентина Балахтар, доктор психологічних наук, професор кафедри педагогіки та соціальної роботи ЧНУ імені&nbsp;Юрія&nbsp;Федьковича у доповіді &laquo;Психологічні особливості розвитку національної ідентичності&raquo;.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/6ee5f5e9323c/390_003.jpg" style="height:220px; width:390px" /></td>
			<td><img alt="" src="/pages/files/7d1a70beaa96/390_004.jpg" style="height:220px; width:390px" /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/e1a54eface01/390_001.jpg" style="height:219px; width:390px" /></td>
			<td><img alt="" src="/pages/files/9a14123f1b54/390_002.jpg" style="height:219px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; Об&rsquo;єднавчими ідеями круглого столу стали потреба спілкування та обміну досвідом між колегами із загальноосвітніх закладів (пропозицію озвучила Євгенія Квітень, завідувач науково-методичного центру суспільно-гуманітарних дисциплін Інституту післядипломної педагогічної освіти Чернівецької області, а також використання всіх наявних ресурсів для досягнення найвищої мети &ndash; забезпечення якісної освіти та можливостей розвитку для наших студентів).</p>
