<p style="text-align:center"><strong><span style="color:black">Семінар-практикум </span>викладачів української філології<br />
на базі Коледжу ЧНУ ім. Юрія Федьковича<br />
&nbsp;(засідання обласного методичного об&rsquo;єднання викладачів української мови та літератури<br />
закладів фахової передвищої освіти Чернівецької області)</strong></p>

<p style="text-align:justify"><img alt="" src="/pages/files/f6d7ca89ff30/001.jpg" style="height:200px; width:780px" /><span style="color:black">&nbsp; &nbsp;Давня мудрість говорить: &laquo;Хто стоїть на місці, той відстає&hellip;&raquo; Вийти із зони комфорту, щоб своєчасно оцінити ситуацію, в якій опиняєшся, і почати діяти, приймаючи виклики сьогодення. У цьому полягає основна місія сучасного викладача будь-якої дисципліни, а філолога й поготів.</span></p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/14a03848866c/002.jpg" style="height:263px; width:390px" /></td>
			<td><img alt="" src="/pages/files/447078433137/003.jpg" style="height:265px; width:390px" /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/4b43258b87f3/004.jpg" style="height:293px; width:390px" /></td>
			<td><img alt="" src="/pages/files/39eeaa131cab/005.jpg" style="height:293px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;28 листопада 2019 року на базі Коледжу Чернівецького національного університету імені Юрія Федьковича відбулося засідання обласного методичного об&rsquo;єднання викладачів української мови та літератури закладів фахової передвищої освіти Чернівецької області. <strong>&laquo;Удосконалення професійної компетентності викладача-філолога: виклики сьогодення&raquo;</strong> - такою була тема засідання, проведеного у формі семінару-практикуму.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/bb6ae1a74998/006.jpg" style="height:294px; width:780px" />&nbsp; &nbsp;Микола Семенюк, методист Ради директорів закладів фахової передвищої освіти Чернівецької області, представив новообраного керівника об&rsquo;єднання, к.ф.н. Ларису Сивак, яка окреслила пріоритетні завдання, напрямки роботи та проблеми, що потребують вирішення.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/7e4cf5c32a0b/008.jpg" style="height:463px; width:780px" />&nbsp; &nbsp;Про імплементацію нової редакції українського правопису, терміни та етапи впровадження його змін в освітній процес, застосовування норм та правил нової редакції в усіх сферах суспільного життя розповів Мар&rsquo;ян Скаб, д.&nbsp;філ.&nbsp;н, проф., завідувач кафедри історії та культури української мови Чернівецького національного університету імені Юрія Федьковича.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/28733a001438/007.jpg" style="height:514px; width:780px" />&nbsp; &nbsp;У роботі методичного об&rsquo;єднання взяла участь Євгенія Квітень, завідувач науково-методичного центру суспільно-гуманітарних дисциплін Інституту післядипломної педагогічної освіти Чернівецької області, яка поділилася цінним досвідом та методичними розробками щодо підготовки до ЗНО з української мови та літератури.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/181a1349c642/0-02-0a-e937d2836100c267876600c5379b30a4cb4e7665aa9b79ed0e471f5aba0ea59b_87edb34b.jpg" style="height:507px; width:780px" />&nbsp; &nbsp;Галина Руда, к.&nbsp;психол.&nbsp;н., заступник директора Інституту післядипломної педагогічної освіти Чернівецької області з науково-навчальної роботи та міжнародних відносин, продемонструвала фрагмент тренінгового заняття &laquo;Технологія коучингу у формуванні мотивації професійного зростання педагога&raquo;. Викладачі Коледжу ЧНУ імені&nbsp;Юрія&nbsp;Федьковича презентували свої методичні напрацювання та педагогічні ідеї.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/0dc5d679a340/0-02-0a-008830b33468aa4a3bea1df460969358ed61d30929d0018bc2bd31301e975170_415ea14d.jpg" style="height:437px; width:780px" /></p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/4b7b0e21a6b0/изображение_viber_2019-11-28_19-25-28.jpg" style="height:293px; width:390px" /></td>
			<td><img alt="" src="/pages/files/a58a20ae68ea/0-02-0a-e08e5f01fd2757ed305f09c84902726767771b72bed05793c8cefc6b2d07f622_d09feaa1.jpg" style="height:293px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;Учасників семінару-практикуму об&rsquo;єднала ідея <span style="color:black">формування компетентного, конкурентоспроможного фахівця, самодостатньої особистості з розвиненими комунікативними навичками. Викладачі з </span>ентузіазмом підтримали завдання нового очільника, серед яких слід виокремити забезпечення якісної підготовки до ДПА у формі ЗНО, розвиток творчих зв&rsquo;язків та створення умов для співпраці філологів коледжів області, впровадження компетентнісного підходу у вивченні української мови та літератури.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/fb450e1aea01/0-02-0a-b4d9e05df8a37b40ee8b291a90694e8710d144cc7e670cc637c616ca45f8a881_9c03171b.jpg" style="height:293px; width:390px" /></td>
			<td><img alt="" src="/pages/files/87f67241f9bd/0-02-0a-bb11745cd5d02754eebbf225288cf09515fd2ef23bdba1cea5289ecb5a4aa6c9_29ea38c8.jpg" style="height:293px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
