<p style="text-align:center"><img alt="" src="/pages/files/a4d2f0289c2b/tulpan.jpg" style="height:202px; width:780px" />Дорогі жінки, найчарівніші й найкращі викладачки, студентки й співробітниці<br />
Чернівецького національного університету імені Юрія Федьковича!</p>

<p style="text-align:justify">&nbsp; &nbsp;Щиро вітаю вас з прекрасним святом <strong>8 Березня</strong> ‒ зі святом, що асоціюється з жінкою, її красою, вродою, ніжністю і мудрістю! Без вас не можна уявити жодного дня, бо кожна з вас ‒ кохана дружина й мила донечка, турботлива мама й бабуся, любляча сестра й надійна подруга! Ви створюєте родинний затишок, народжуєте й навчаєте дітей, передаючи з покоління в покоління глибокі знання, високу культуру й ментальність народу. Ви робите неоціненний внесок в успішний розвиток нашого університету, у процес виховання та якісної підготовки майбутніх фахівців. Ваша енергія, активна життєва позиція, гнучкість мислення і працьовитість несуть у світ злагоду, добро та любов.</p>

<p style="text-align:justify">&nbsp; &nbsp;Милі жінки, попри завантаженість і шалений темп життя, ви втілюєте неповторну красу квітів і яскраве сяйво зірок, легкий подих весняного вітру й незрівнянну погідність неба, даруєте нам, чоловікам, розкіш людського спілкування! Ваша елегантність і шляхетність, ввічливість і розум викликають захоплення! Тож і надалі залишайтеся такими ж гарними й вишуканими, такими люблячими й доброзичливими! Душевної гармонії вам і чудового настрою, нових творчих звершень і перемог!</p>

<p style="text-align:justify">&nbsp; &nbsp;У цей святковий день насолоджуйтеся сповна весняною повінню квітів і щедрих компліментів, щастям і коханням!</p>

<p style="text-align:justify">&nbsp; &nbsp;Усього найкращого вам!</p>

<p style="text-align: right;">З глибокою повагою ‒ ректор РОМАН ПЕТРИШИН</p>
