<p style="text-align:center"><img alt="" src="/pages/files/e57898f3af1a/license.jpg" style="height:149px; width:780px" /><a href="/pages/files/a5169ab30457/License_22-15-12-2020.pdf">Відомості щодо здійснення освітньої діяльності у сфері фахової передвищої освіти</a></p>

<hr />
<p style="text-align:center"><strong>СЕРТИФІКАТИ ПРО АКРЕДИТАЦІЮ</strong></p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><a href="/pages/files/331dab58a0f4/071.jpg"><img alt="" src="/pages/files/bcbca47589b3/071.jpg" style="height:272px; width:390px" /></a></td>
			<td><a href="/pages/files/c97feba8c6c2/072.jpg"><img alt="" src="/pages/files/bade2f866d99/072.jpg" style="height:272px; width:390px" /></a></td>
		</tr>
		<tr>
			<td style="text-align:center">Облік і оподаткування</td>
			<td style="text-align:center">Фінанси, банківська справа та страхування</td>
		</tr>
		<tr>
			<td><a href="/pages/files/3fc264ce88de/076.jpg"><img alt="" src="/pages/files/17fd9ef20245/076.jpg" style="height:272px; width:390px" /></a></td>
			<td><a href="/pages/files/710d5955191c/081.jpg"><img alt="" src="/pages/files/b863bdb9624d/081.jpg" style="height:272px; width:390px" /></a></td>
		</tr>
		<tr>
			<td style="text-align:center">Підприємництво, торгівля та біржова діяльність</td>
			<td style="text-align:center">Право</td>
		</tr>
		<tr>
			<td><a href="/pages/files/aa95e4095444/113.jpg"><img alt="" src="/pages/files/b1750f5d3249/113.jpg" style="height:272px; width:390px" /></a></td>
			<td><a href="/pages/files/b7c6c9dcff83/122.jpg"><img alt="" src="/pages/files/f58107952af5/122.jpg" style="height:272px; width:390px" /></a></td>
		</tr>
		<tr>
			<td style="text-align:center">Прикладна математика</td>
			<td style="text-align:center">Комп&#39;ютерні науки</td>
		</tr>
		<tr>
			<td><a href="/pages/files/afddbfd02b73/122_2.jpg"><img alt="" src="/pages/files/4b7cf5c0e70a/122_2.jpg" style="height:272px; width:390px" /></a></td>
			<td><a href="/pages/files/8f87b76169ac/123.jpg"><img alt="" src="/pages/files/f7d5a56a2dd0/123.jpg" style="height:272px; width:390px" /></a></td>
		</tr>
		<tr>
			<td style="text-align:center">Комп&#39;ютерні науки та інформаційні технології</td>
			<td style="text-align:center">Комп&#39;ютерна інженерія</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
