<p style="text-align:justify"><img alt="" src="/pages/files/53b0f6c99b9a/001.jpg" style="height:249px; width:780px" />&nbsp; &nbsp;27-28 березня 2020 р. двоє студенток&nbsp;3-го курсу спеціальності &laquo;Облік та оподаткування&raquo; взяли участь в&nbsp;<strong>Олімпіаді з бухгалтерського обліку серед студентів коледжів і технікумів України</strong>, яка проводилася дистанційно на базі кафедри обліку та аналізу Національного університету &laquo;Львівська політехніка&raquo;.</p>

<p style="text-align:justify">&nbsp; &nbsp;В двох турах Олімпіади взяло участь 158 учасників. Переможцями І, ІІ та ІІІ ступеня оголошено 48 учасників. Серед них і студентки Коледжу Чернівецького націлнального університету імені Юрія Федьковича &ndash; <strong>Марія Василинчук</strong> та <strong>Ганна Лаб&#39;як</strong>, які&nbsp;відзначені&nbsp;<strong>дипломами ІІІ ступеня</strong>.</p>

<p style="text-align:justify">&nbsp; &nbsp;Вітаємо студентів та керівника &ndash; <strong>Сільву Іванівну Гнат</strong>, викладача облікових дисциплін. Бажаємо подальших успіхів і підкорення нових вершин!</p>

<p style="text-align:justify"><img alt="" src="/pages/files/382e6fa94682/Василинчук.jpg" style="height:543px; width:780px" /></p>

<hr />
<p><img alt="" src="/pages/files/d4c61c280551/Лабяк.jpg" style="height:540px; width:780px" /></p>

<hr />
<p><img alt="" src="/pages/files/3e648585f81c/Гнат.jpg" style="height:544px; width:780px" /></p>
