<p style="text-align: justify;"><img alt="" src="/pages/files/35e52a9d3e79/123.jpg" style="height:209px; width:780px" />&nbsp; &nbsp;За ініціативи викладачів німецької мови Коледжу ЧНУ імені Юрія Федьовича&nbsp;(Корецької&nbsp;А.М. та Міхайлик Т.О.) проведено&nbsp;змагання з німецької мови&nbsp;<strong>&laquo;DER KL&Uuml;GSTE&raquo;</strong>&nbsp;присвячене Дням Європи. У змаганні взяли участь студенти 1 курсу, які вивчають німецьку мову.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/2389e618bf4a/001.jpg" style="height:292px; width:390px" /></td>
			<td><img alt="" src="/pages/files/64ec9140dcc6/002.jpg" style="height:292px; width:390px" /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/36c0ab00f83c/003.jpg" style="height:293px; width:390px" /></td>
			<td><img alt="" src="/pages/files/9375ae472ac8/004.jpg" style="height:292px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align: justify;">&nbsp; &nbsp;Під час змагання студенти виконуючи різнотипні завдання покращували знання з німецької мови, а також дізнавалися нову інформацію про 5 німецькомовних країн Європи.&nbsp;<span style="background-color:white"><span style="color:#222222">Студенти були нагороджені грамотами та призами.</span></span></p>

<p style="text-align: justify;"><span style="background-color:white"><span style="color:#222222"><img alt="" src="/pages/files/e38a7580cf6c/005.jpg" style="height:359px; width:780px" /></span></span><br />
.</p>
