<p><img alt="" src="/pages/files/1f8b84044730/abiturient.jpg" /></p>

<p><a href="http://college-chnu.cv.ua/article/5e3a8fc38b2f873f5ba73690">Правила прийому до ВСП &quot;Фаховий&nbsp;коледжу ЧНУ імені Юрія Федьковича&quot; у 2021 р.</a></p>

<p><a href="http://college-chnu.cv.ua/article/5c5c7a988f13050d955f21c4">Підготовчі курси у 2021 р.</a></p>

<p><a href="http://www.college-chnu.cv.ua/article/5dd3c6339fce2d0e869cacb3">Програми&nbsp;підготовки 2021 р.</a></p>

<p><a href="http://college-chnu.cv.ua/article/5c5c7d768f13050d955f21e5">Перелік документів у 2021 р.</a></p>

<p><a href="/pages/files/6220a6495eea/Ціни_2021.pdf">Вартість навчання 2021</a></p>

<p><a href="/pages/files/7dd55130d9d8/College2021.pdf">Інформаційний пакет 2021</a></p>

<p><a href="http://college-chnu.cv.ua/pages/files/ace1c45a4a92/dod_balu.pdf">Додаткові бали 2021</a></p>

<p><a href="https://docs.google.com/forms/d/e/1FAIpQLScWtOwH_mg7DLEJ18ursuUuZwyJ3mHAJihLmxvfm34qkmtJCg/viewform">Подати документи <strong>ONLINE</strong></a></p>

<p><a href="http://college-chnu.cv.ua/article/5c5c7dcc8f13050d955f21f0">Державне замовлення 2020</a></p>

<p><a href="http://vstup.chnu.edu.ua/wp-content/uploads/abitlist/fakhovyi_molodshyi_bakalavr/denna/college/rating_bzso.html">Рейтингові списки вступників 2020</a></p>

<p><a href="http://college-chnu.cv.ua/article/5f1eb3075cc811715f5f020e">Накази про ЗАРАХУВАННЯ 2020</a></p>

<p style="text-align:center">Телефон для консультацій&nbsp;<strong>Приймальної комісії коледжу 068-790-46-90</strong></p>

<p><img alt="people" src="https://web.archive.org/web/20180221231232im_/http://college-chnu.cv.ua/images/Gramotu/people.jpg" /></p>
