<p>&nbsp; &nbsp;28 лютого 2019 р. на базі Філологічного факультет ЧНУ пройшов перший тур&nbsp; конкурсу на краще читання української поезії, присвяченому 205-й річниці від дня народження Тараса Григоровича Шевченка. Двоє студентів &nbsp;Коледжу ЧНУ &ndash; <strong>Арсен Вакарчюк</strong> &nbsp;(106 група) та <strong>Богдана Сергій</strong> (206 група) - вийшли в ФІНАЛ!</p>

<p>&nbsp; &nbsp;Фінал пройде 5 березня 2019 р.</p>

<p>&nbsp; &nbsp;Вітаємо наших студентів з виходом до фіналу і бажаємо, і на наступному етапі бути кращими в декламації великого і пророчого &quot;Тарасового слова&quot;!!!</p>

<hr />
<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/731693b59a32/Bogdana.jpg" style="height:426px; width:390px" /></td>
			<td><img alt="" src="/pages/files/ac1582ad2340/Arsen.jpg" style="height:425px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
