<h3 style="text-align: center;">Всеукраїнський конкурс учнівської та студентської творчості<br />
імені Марії Фішер-Слиж&nbsp;<strong>&ldquo;Змагаймось за нове життя!&rdquo;</strong>,<br />
присвячений Лесі Українці</h3>

<p style="text-align:justify"><img alt="" src="/pages/files/93cb7e870d8d/L_UKR.jpg" style="height:365px; width:780px" />&nbsp; &nbsp; &nbsp;Всекримський конкурс учнівської та студентської творчості &laquo;Змагаймось за нове життя!&raquo; (Леся Українка) був започаткований у&nbsp;2004&nbsp;році відомою громадською діячкою п. Марією Фішер-Слиж (Торонто, Канада). Уперше він відбувся одночасно в Севастополі, Сімферополі та Ялті з ініціативи Управління освіти і науки Севастопольської міської державної адміністрації, Севастопольського міського гуманітарного університету,&nbsp;Громадського комітету &quot;Український Севастополь&quot; (координатор - Микола Владзімірський), а Регіональні (відбіркові) етапи конкурсних змагань були проведені Всекримським товариством зв&#39;язків з українцями за межами України (Товариство &laquo;Україна-Світ&raquo;), колективом загальноосвітньої школи №29 м. Сімферополя та Ялтинським музеєм Лесі Українки.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/ebaa26b159b8/GEO.jpg" style="height:576px; width:780px" />&nbsp; &nbsp; &nbsp;Ідею святкування Дня народження Лесі Українки проведенням на кримських теренах учнівсько-студентського конкурсу &laquo;Змагаймось за нове життя!&raquo; на наступні 10 років підхопили Інститут інноваційних технологій і змісту освіти Міністерства освіти і науки України (Кримська філія), Всекримське товариство зв&#39;язків з українцями за межами України (Товариство &laquo;Україна-Світ&raquo;) та за підтримки Представництва Президента України в Автономній Республіці Крим, Міністерства освіти і науки АР Крим, Ялтинського музею&nbsp;Лесі Українки, та інших державних і громадських організацій перетворили в щорічне величне свято духовності, любові до українського слова&nbsp;й щирого захоплення генієм&nbsp;української&nbsp;письменниці.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/cc8812099dee/L_002.jpg" style="height:693px; width:390px" /></td>
			<td><img alt="" src="/pages/files/7ea992d3db1a/L_001.jpg" style="height:692px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp; &nbsp;Змагання юних талантів відбувалося за номінаціями: &laquo;Декламація&raquo;, &laquo;Інсценізація&raquo;, &laquo;Твір&raquo;, &laquo;Науково-пошукова робота&raquo;. Спочатку в ньому взяло участь декілька десятків дітей. Та з кожним роком зростали популярність, кількісний і якісний рівень конкурсу, розширювалася його географія. До кримчан з різних районів півострова приєднувалися й представники Києва, Одеси, Львова, Глухова, Луганська, Івано-Франківська, Коломиї, Волині.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/72a8ebf998f9/L_003.jpg" style="height:540px; width:390px" /></td>
			<td><img alt="" src="/pages/files/f66add5d5edd/L_004.jpg" style="height:540px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp; &nbsp;За роки проведення Конкурсу з&rsquo;явилися нові номінації (&laquo;Аудіо-візуальний твір&raquo;, &laquo;Малюнок&raquo;) й традиції: поїздки переможців до Ялтинського музею Лесі Українки, декламування поезій біля фортепіано, якого торкалася рука поетеси, поїздки переможців до Карпат для проведення спільного фестивалю &laquo;Ми діти одного колоса&raquo; (Крим &ndash; Карпати).</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/5e911365d740/L_005.jpg" style="height:541px; width:390px" /></td>
			<td><img alt="" src="/pages/files/e37fdfe49413/L_006.jpg" style="height:540px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp; &nbsp; 6 квітня у Чернівецькій Філармонії відбувся V Всеукраїнський (XV Всекримський) фестиваль-конкурс учнівської та студентської творчості імені Марії Фішер-Слиж &quot;Змагаймось за нове життя!&quot; присвяченого Лесі Українці. Цьогоріч до конкурсу долучились і студенти Коледжу ЧНУ, які презентували свої роботи в номінаціях &quot;Декламування&quot;,&nbsp;&quot;Науково-пошукова робота&quot; та &laquo;Аудіо-візуальний твір&raquo;.</p>

<p style="text-align:center">Дипломами <strong>I ступеня</strong> були нагороджені студенти Коледжу ЧНУ імені Юрія Федьковича<br />
&nbsp;у таких номінаціях:</p>

<p>1) Науково-пошукова робота:<br />
&nbsp; &nbsp; <strong>Григоряк Назарій, Кравчук Костянтин, Максимчук &nbsp;Богдан</strong>, студенти 202 гр. (керівник - <strong>Остапович М.О.</strong>);</p>

<p>2) Декламація:<br />
&nbsp; &nbsp;<strong>Лаб&#39;як Ганна</strong>, студентка 205 гр. (керівник - <strong>Марко І.В.</strong>).</p>

<p style="text-align:right">ВІТАЄМО&nbsp;переможців!</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/8d9966eab6f4/L_007.jpg" style="height:652px; width:390px" /></td>
			<td><img alt="" src="/pages/files/e2061efce7b6/L_008.jpg" style="height:651px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp;</p>
