<p style="text-align: center;"><img alt="" src="/pages/files/f4843cd675ca/007.jpg" style="height:379px; width:780px" /><strong>БЛАГОДІЙНА&nbsp;АКЦІЯ</strong></p>

<p style="text-align: justify;">&nbsp; Студенти Фахового коледжу ЧНУ імені Юрія Федьковича&nbsp;щороку ініціюють акції підтримки дітям і дорослим, що опинилися в скрутних життєвих обставинах. Не став винятком і цей 2020 рік, непростий рік, рік в якому ще більше людей очікують підтримки.</p>

<p style="text-align: justify;"><img alt="" src="/pages/files/1d549c65b107/зображення_viber_2020-12-04_15-30-44.jpg" style="height:495px; width:780px" />&nbsp; За сприяння міського центру соціальних служб для сім&#39;ї та молоді (Скригулець С.Д.), вдалося централізовано зібрати іграшки, одяг, харчі та передати їх сім&rsquo;ям, що перебувають на обліку служби, а це близько 100 родин лише в м. Чернівці.</p>
