<p><img alt="" src="/pages/files/f59e618fdbb4/OMO.jpg" style="height:263px; width:780px" /></p>

<hr />
<p><strong>1. </strong><a href="http://college-chnu.cv.ua/article/5fe4b8c71ac7d90f42365575">ОБЛАСНЕ МЕТОДИЧНЕ ОБ&#39;ЄДНАННЯ&nbsp;викладачів <strong>УКРАЇНСЬКОЇ&nbsp;МОВИ</strong> та <strong>ЛІТЕРАТУРИ</strong></a></p>

<p><strong>2. </strong><a href="http://college-chnu.cv.ua/article/5f917bafd6f28212d7d8b03f">ОБЛАСНЕ МЕТОДИЧНЕ ОБ&#39;ЄДНАННЯ&nbsp;викладачів <strong>ІНОЗЕМНИХ&nbsp;МОВ</strong></a></p>
