<p style="text-align: justify;">&nbsp;5 березня 2020 р., у Шевченківській залі Чернівецького національного універсиету&nbsp;імені Юрія Федьковича відбувся&nbsp;<strong>Фінал&nbsp;конкурсу</strong>&nbsp;на краще читання української поезії, присвяченому 206-й річниці від дня народження&nbsp;<strong>Тараса&nbsp;ШЕВЧЕНКА</strong>.</p>

<p>&nbsp; &nbsp; У Фіналі конкурсу взяли участь двоє студентів коледжу: Клим Анна та Демчук Олександр.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/c4368f228535/001.jpg" style="height:520px; width:390px" /></td>
			<td><img alt="" src="/pages/files/59f8b73efb70/002.jpg" style="height:520px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align: justify;">&nbsp; &nbsp;Серед 22-х учасників студентка <strong>Анна КЛИМ</strong>&nbsp;(1-й курс,&nbsp;спеціальність&nbsp;&quot;Підприємство, торгівля та біржова діяльність&quot;) - здобула почесне <strong>ІІІ місце</strong>!</p>

<p>&nbsp;<strong> &nbsp;ВІТАЄМО</strong> нашу призерку!!!</p>
