<p style="text-align:justify"><span style="background-color:white"><span style="color:black">&nbsp; Інтелектуальний ресурс нації визначає місце країни у світовому співтоваристві. Зміцненню авторитету держави, безперечно, сприяють досягнення її громадян, зокрема перемоги у студентських олімпіадах.</span></span></p>

<p style="text-align:justify"><span style="background-color:white"><span style="color:black"><img alt="" src="/pages/files/23e7de25e61f/01.jpg" style="height:342px; width:780px" /></span></span><span style="background-color:white"><span style="color:black">&nbsp; Студенти Фахового коледжу Чернівецького національного університету імені Юрія Федьковича щорічно беруть участь у олімпіадах. Мета цих змагань &ndash;<span style="background-color:white"> виявлення і розвиток в студентів творчих здібностей, інтересу до наукової (науково-дослідницької) діяльності та засвоєння знань з дисциплін.</span></span></span></p>

<p style="text-align:justify"><span style="background-color:white"><span style="background-color:white"><span style="color:black">&nbsp; 22-25 &nbsp;березня 2021 року, в &nbsp;</span></span><span style="color:black">Фаховому коледжі Чернівецького національного університету імені Юрія Федьковича, на базі платформи </span><span style="color:black">moodle</span> <span style="background-color:white"><span style="color:black">відбулася студентська олімпіада з економіки. У інтелектуальному змаганні взяли участь </span></span><span style="background-color:white"><span style="color:black">5</span></span><span style="background-color:white"><span style="color:black">9 студентів економічних спеціальностей, з них: 29 студентів 1 курсу (106-116 груп) та 30 студентів 2 курсу (201, 205, 206, 216 груп).</span></span></span></p>

<p style="text-align:justify"><span style="background-color:white"><span style="background-color:white"><span style="color:black"><img alt="" src="/pages/files/a5b926c0b4a4/Vitayemo1.jpg" style="height:233px; width:780px" /></span></span></span></p>

<hr />
<p style="text-align:center"><span style="color:#000000"><strong>РЕЗУЛЬТАТИ</strong> (1 курс)</span></p>

<ul>
	<li>I місце - Анна Щербань</li>
	<li>II місце -&nbsp;Анастасія Колодрібська</li>
	<li>III місце -&nbsp;Наталія Романюк</li>
	<li>III місце -&nbsp;Василь Флорескул</li>
</ul>

<table border="1" cellpadding="1" cellspacing="1" style="width:195px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/40722567ab59/001.jpg" style="height:279px; width:195px" /></td>
			<td><img alt="" src="/pages/files/8fc2a4846df0/002.jpg" style="height:279px; width:195px" /></td>
			<td><img alt="" src="/pages/files/fd4ffc26dd9b/003.jpg" style="height:279px; width:195px" /></td>
			<td><img alt="" src="/pages/files/2c43f8ee2e60/004.jpg" style="height:279px; width:195px" /></td>
		</tr>
		<tr>
			<td style="text-align:center">Анна Щербань</td>
			<td style="text-align:center">Анастасія Колодрібська</td>
			<td style="text-align:center">Наталія Романюк</td>
			<td style="text-align:center">Василь Флорескул</td>
		</tr>
	</tbody>
</table>

<hr />
<p style="text-align:center"><span style="color:#000000"><strong>РЕЗУЛЬТАТИ</strong> (2&nbsp;курс)</span></p>

<ul>
	<li>I місце - Уляна Леонтій</li>
	<li>II місце -&nbsp;Ольга Унгурян</li>
	<li>III місце -&nbsp;Юлія Білоус</li>
	<li>III місце -&nbsp;Данііл Галіщук</li>
</ul>

<table border="1" cellpadding="1" cellspacing="1" style="width:195px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/84d5e5699a82/изображение_viber_2021-03-30_15-08-25.jpg" style="height:327px; width:195px" /></td>
			<td><img alt="" src="/pages/files/8bc1a705050b/изображение_viber_2021-03-30_15-09-07.jpg" style="height:327px; width:195px" /></td>
			<td><img alt="" src="/pages/files/09c49ee4251f/изображение_viber_2021-03-30_15-09-28.jpg" style="height:327px; width:195px" /></td>
			<td><img alt="" src="/pages/files/bb182a82b5da/изображение_viber_2021-03-30_15-12-50.jpg" style="height:327px; width:195px" /></td>
		</tr>
		<tr>
			<td style="text-align:center">Уляна Леонтій</td>
			<td style="text-align:center">Ольга Унгурян</td>
			<td style="text-align:center">Юлія Білоус</td>
			<td style="text-align:center">Данііл Галіщук</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
