<p><img alt="" src="/pages/files/82cb0d1c3ebb/INFORMATION.jpg" style="height:274px; width:780px" /></p>

<h2 style="text-align:center"><a href="http://college-chnu.cv.ua/pages/files/7dd55130d9d8/College2021.pdf">ПЕРЕГЛЯНУТИ</a></h2>

<hr />
<h3><img alt="" src="/pages/files/ead05c874693/str.jpg" style="height:81px; width:200px" /><a href="http://college-chnu.cv.ua/article/5dd3c6679fce2d0e869cacb4">Детальніше про ВСТУП</a></h3>

<hr />
<p>Телефони&nbsp;для консультацій&nbsp;<strong>Приймальної комісії коледжу</strong></p>

<p><strong>&nbsp; &nbsp;тел. моб.&nbsp;</strong>068-790-46-90<br />
<strong>&nbsp; &nbsp;тел.</strong>&nbsp;(0372)<strong>&nbsp;</strong>55-38-26</p>
