<p style="text-align:center"><img alt="" src="/pages/files/e765e3571596/122_2.jpg" style="height:257px; width:780px" /></p>

<p style="text-align:center"><strong>ДИСЦИПЛІНИ ВІЛЬНОГО ВИБОРУ ЗДОБУВАЧА ОСВІТИ</strong></p>

<hr />
<p><strong>ЗАГАЛЬНА ПІДГОТОВКА<br />
&nbsp;&nbsp; 1.</strong>&nbsp;<a href="/pages/files/32ed72073780/English for Life.pdf">Англійська для життя.</a> [English for life]&nbsp;<em>(Н.Д. Добровольська)</em><strong>&nbsp;&nbsp;<br />
&nbsp; &nbsp;2.</strong>&nbsp;<a href="/pages/files/079aabd943dc/Historical figures.pdf">Історичні постаті в процесах державотворення України</a>&nbsp;<em>(В.Я. Дерев&#39;янчук)</em><br />
<strong>&nbsp; &nbsp;3.</strong>&nbsp;<a href="/pages/files/516270d732f5/Organization of business.pdf">Організація та ведення бізнесу</a>&nbsp;<em>(О.Ю. Докаш)</em><br />
<strong>&nbsp; &nbsp;4.</strong>&nbsp;<a href="/pages/files/4d29ba7490fe/Start-UP.pdf">Основи START-UP</a>&nbsp;<em>(О.І. Луган)</em><br />
<strong>&nbsp; &nbsp;5.</strong>&nbsp;<a href="/pages/files/16abd79263cd/Accounting.pdf">Основи бухгатерського обліку</a>&nbsp;&nbsp;<em>(С.І. Гнат)</em><br />
<strong>&nbsp; &nbsp;6.</strong>&nbsp;<a href="/pages/files/4ac830d3e395/scientific research.pdf">Основи наукових досліджень</a>&nbsp;<em>(М.О. Остапович)</em><br />
<strong>&nbsp; &nbsp;7.</strong>&nbsp;<a href="/pages/files/6a06de0b8601/the art of good.pdf">Мистецтво добра</a>&nbsp;<em>(І.В. Пержун)</em><br />
<strong>&nbsp; &nbsp;8.</strong>&nbsp;<a href="/pages/files/0bb0a69c6bc8/international finance.pdf">Міжнародні фінанси</a>&nbsp;<em>(Ю.В. Семенюк)</em><br />
<strong>&nbsp; &nbsp;9.</strong>&nbsp;<a href="/pages/files/eef3f807fba2/Copyright.pdf">Правопорушення у сфері авторського права та використання цифрових пристроїв</a>&nbsp;<em>(П.В. Єгоров)</em><br />
<strong>&nbsp; &nbsp;10.</strong>&nbsp;<a href="/pages/files/3e7b6ea4d58d/psychology.pdf">Психологія</a>&nbsp;<em>(А.В. Кушнір)</em><br />
<strong>&nbsp; &nbsp;11.</strong>&nbsp;<a href="/pages/files/8309ddc7f0a4/Financial services market.pdf">Ринок фінансових послуг</a>&nbsp;<em>(А.М. Томашевська)</em><br />
<strong>&nbsp; &nbsp;12.</strong>&nbsp;<a href="/pages/files/5512210e1611/financial literacy.pdf">Фінансова грамотність</a>&nbsp;<em>(А.В. Марич)</em><br />
<strong>&nbsp; &nbsp;13.</strong>&nbsp;<a href="/pages/files/c5b786d6820c/small business finance.pdf">Фінанси малого бізнесу</a>&nbsp;<em>(А.В. Марич)</em><br />
<br />
<strong>&nbsp;</strong><strong>ПРОФЕСІЙНА ПІДГОТОВКА</strong><br />
<strong>&nbsp; &nbsp;1.</strong>&nbsp;<a href="/pages/files/8fb0ba72983a/CyberSecurity.pdf">Основи кібербезпеки</a>&nbsp;<em>(О.В. Букурос, Х.В. Мельничук)</em><br />
<strong>&nbsp;</strong><strong>&nbsp; 2.</strong>&nbsp;<a href="/pages/files/51b652b428b3/Robotics.pdf">Робототехніка</a>&nbsp;<em>(Д.В. Кондрюк, В.М. Нагорний)</em><br />
<strong>&nbsp;</strong><strong>&nbsp; 3.</strong>&nbsp;<a href="/pages/files/2ed1bea0c08c/asoi_KN.pdf">Автоматизовані системи обробки інформації</a>&nbsp;<em>(В.В. Коропецький)</em><br />
<strong>&nbsp; &nbsp;4.</strong>&nbsp;<a href="/pages/files/b82bb0fb3abb/Motion KN.pdf">Основи Motion дизайну</a>&nbsp;<em>(І.В. Гудзик)</em><br />
<strong>&nbsp; &nbsp;5.</strong>&nbsp;<a href="/pages/files/d8be719e778b/mongo_KN.pdf">Програмування баз даних та знань</a>&nbsp;<em>(Ю.В. Луцюк)</em><br />
<strong>&nbsp; &nbsp;6.</strong>&nbsp;<a href="/pages/files/e6215be518ec/stp_KN.pdf">Сучасні технології програмування</a>&nbsp;<em>(Ю.В. Луцюк)</em></p>
