<p style="text-align: justify;"><img alt="" src="/pages/files/5499ca9e414a/finance+background.jpg" style="height:215px; width:780px" />&nbsp;&nbsp;&nbsp;Члени наукового&nbsp;гуртка&nbsp;<strong>&laquo;Фінансист&raquo;</strong>&nbsp;Коледжу Чернівецького національного університету імені Юрія Федьковича взяли&nbsp;активну участь у Міжнародних&nbsp;наукових&nbsp;конференціях -&nbsp;<strong>&laquo;Технології, інструменти та стратегії реалізації наукових досліджень&raquo;</strong>&nbsp;(м. Херсон) та&nbsp;<strong>&laquo;Діджиталізація науки як виклик сьогодення&raquo;</strong>&nbsp;(м. Київ).</p>

<p style="text-align: justify;">&nbsp; &nbsp; Під керівництвом керівника - <strong>Альони Миколаївної Томашевської</strong> студенти -&nbsp;<strong>Юлія Білоус</strong>, <strong>Ангеліна Голіната</strong>,&nbsp;<strong>Адріана Ісар</strong>&nbsp;та&nbsp;<strong>Дмитро&nbsp;Дудар</strong>&nbsp;опублікували результати своїх наукових дослідженнях у згаданих наукових конференціях.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:388px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/36ffe27e58a6/000.jpg" style="height:291px; width:388px" /></td>
			<td><img alt="" src="/pages/files/44bc9b664432/001.jpg" style="height:291px; width:388px" /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/28e0d9f1a407/002.jpg" style="height:291px; width:388px" /></td>
			<td><img alt="" src="/pages/files/c10b8872575e/003.jpg" style="height:291px; width:388px" /></td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
