<h3 style="text-align:center"><strong>Сектор<br />
ФІЗИЧНОГО ВИХОВАННЯ та СПОРТУ</strong></h3>

<hr />
<table border="0">
	<tbody>
		<tr>
			<td colspan="1" rowspan="2"><img alt="" src="/pages/files/f58562759e4f/unnamed.png" /></td>
			<td colspan="1" rowspan="2">
			<p style="text-align: center;"><strong>КЕРІВНИК ФІЗИЧНОГО ВИХОВАННЯ</strong></p>

			<p><strong>&nbsp;Михайлович Майя Михайлівна</strong><br />
			&nbsp;майстер спорту,&nbsp;викладач&nbsp;вищої кваліфікаційної категорії</p>

			<p>&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Фізична культура;</li>
				<li>Фізичне виховання</li>
			</ul>

			<p><strong>&nbsp; Освіта: </strong>Київський державний інститут фізичної культури за спеціальністю &quot;Фізична культура і спорт&quot; <em>(1992 р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="1" rowspan="1">&nbsp;</td>
			<td colspan="1">
			<p><strong>&nbsp;</strong></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td colspan="1" rowspan="2"><img alt="" src="/pages/files/39c2282069bf/Krechun.jpg" /></td>
			<td colspan="1" rowspan="2">
			<p><strong>&nbsp;Кречун Ірина Вікторівна</strong><br />
			&nbsp;майстер спорту,&nbsp;викладач&nbsp;вищої кваліфікаційної категорії</p>

			<p>&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Електротехніка та основи електроніки;</li>
				<li>Громадське здоров&#39;я;</li>
				<li>Фізична культура;</li>
				<li>Фізичне виховання</li>
			</ul>

			<p><strong>&nbsp; Освіта: 1. </strong>Вінницький державний технічний університет за спеціальністю &quot;Конструювання та технологія електронно-обчислювальних засобів&quot;&nbsp;<em>(1994 р.)</em><strong>&nbsp;2.&nbsp;</strong>Кам&#39;янець-подільський державний педагогічний університет&nbsp;&quot;Педагогіка і методика середньої освіти, фізична культура&quot; <em>(2000&nbsp;р.)</em></p>
			</td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td colspan="2">
			<hr />
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="1" rowspan="2"><img alt="" src="/pages/files/22d6da469cb6/Fominov.jpg" /></td>
			<td colspan="1" rowspan="2">
			<p><strong>Фомінов Володимир Йосипович</strong><br />
			викладач вищої кваліфікаційної категорії</p>

			<p>&nbsp; &nbsp;<em><strong>Предмет</strong></em></p>

			<ul>
				<li>Захист України</li>
			</ul>

			<p><strong>&nbsp; Освіта:</strong>&nbsp;Хмельницьке вище артилерійське командне училище&nbsp;за спеціальністю &quot;Командна тактична артилерія&quot;&nbsp;<em>(1978 р.)</em></p>
			</td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td colspan="2">
			<hr />
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="1" rowspan="2"><img alt="" src="/pages/files/25844bffd750/Hapko.jpg" /></td>
			<td colspan="1" rowspan="2">
			<p><strong>Хапко Дмитро Олександрович</strong><br />
			викладач ІІ-ї кваліфікаційної категорії</p>

			<p>&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Фізична культура;</li>
				<li>Фізичне виховання</li>
			</ul>

			<p><strong>&nbsp; Освіта:</strong>&nbsp;Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Фітнес та рекреація&quot; <em>(2015&nbsp;р.)</em></p>
			</td>
		</tr>
	</tbody>
</table>
