<p style="text-align: justify;"><img alt="" src="/pages/files/861cafd88280/Tesol_baner.jpg" style="height:295px; width:770px" />&nbsp; &nbsp; &nbsp;<span style="background-color:#ffffff">Викладач циклової комісії &laquo;Іноземних мов&raquo; Коледжу ЧНУ імені Юрія Федьковича Кузик Олена Володимирівна успішно пройшла одну з найпопулярніших програм &quot;Advanced TESOL Certificate&quot; та отримала Диплом TESOL &ndash; міжнародний стандарт сертифікації для вчителів англійської мови.</span></p>

<p style="text-align: justify;"><span style="background-color:#ffffff">&nbsp; &nbsp; &nbsp;Global TESOL College &ndash; це Північноамериканський освітній заклад зі штаб-квартирою в місті Едмонтон, Канада, має кілька філій і навчальних центрів. Одна з найпопулярніших програм є &quot;Advanced TESOL Certificate&quot;, 120-годинна програма. </span></p>

<p style="text-align: justify;"><span style="background-color:#ffffff">&nbsp; &nbsp; &nbsp;Диплом TESOL &ndash; це міжнародний стандарт сертифікації для вчителів англійської мови і надає ліцензійне право на викладання англійської мови. Програма навчання розроблена Канадської компанією Global TESOL College під егідою уряду Канади.</span></p>

<p style="text-align: justify;"><span style="background-color:#ffffff">&nbsp; &nbsp; &nbsp;Навчання і сертифікацію проводять інструктори Global TESOL College (Канада).</span></p>

<p style="text-align: justify;"><span style="background-color:#ffffff">&nbsp; &nbsp; Щиро вітаємо Олену Володимирівну&nbsp;з успішним проходженням&nbsp;міжнародного&nbsp;стандарту сертифікації та отриманням диплому TESOL!</span></p>

<p style="text-align: justify;"><img alt="" src="/pages/files/a95866c273b5/20181230_00013_001.jpg" style="height:595px; width:770px" /></p>

<hr />
<p><img alt="" src="/pages/files/8e59b64aa587/20181230_00014_001.jpg" style="height:595px; width:770px" /></p>

<hr />
<p><img alt="" src="/pages/files/3218f4d20b83/20181230_00015_001.jpg" style="height:595px; width:770px" /></p>
