<p><img alt="" src="/pages/files/cca76aa0ecc5/hello.jpg" style="height:205px; width:780px" /></p>

<p style="text-align:center"><strong>ОБЛАСНЕ МЕТОДИЧНЕ ОБ&#39;ЄДНАННЯ<br />
викладачів ІНОЗЕМНИХ&nbsp;МОВ&nbsp;закладів фахової передвищої освіти<br />
Чернівецької області</strong></p>

<hr />
<p><a href="http://college-chnu.cv.ua/article/5f917fe7d6f28212d7d8b054">Візитна картка</a></p>

<p><a href="http://college-chnu.cv.ua/article/5f9182c3d6f28212d7d8b055">Нормативна база</a></p>

<p><a href="http://college-chnu.cv.ua/article/5f918bc5d6f28212d7d8b062">Матеріли засідань</a></p>

<p><a href="http://college-chnu.cv.ua/article/5f918a2fd6f28212d7d8b061">Організація освіти з використанням дистанційних технологій</a></p>

<p><a href="http://college-chnu.cv.ua/article/5fe4830f1ac7d90f42365574">Арт-клуб</a></p>
