<p style="text-align:justify"><img alt="" src="/pages/files/a2f1df4977bb/europe_1.jpg" style="height:279px; width:780px" /><strong>&nbsp; &nbsp;</strong>16 травня 2019 року &nbsp;в коледжі був проведений квест <strong>&laquo;Галопом по Європі&raquo;</strong>. Протягом цієї захопливої, драйвової гри дві команди &ldquo;Stars&rdquo; та&nbsp; &ldquo;Oranges&rdquo; мали чудову нагоду застосувати як фізичні, так і розумові зусилля, знання, кмітливість, артистичність та вияв командного духу. Адже, проходячи чотири станції, які були розташовані на чотирьох поверхах коледжу, студенти мали відповісти на запитання про історію створення ЄС, його функцію та сферу діяльності.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/ae781c842354/001.jpg" style="height:452px; width:780px" />&nbsp; &nbsp;А в той час у мультимедійній аудиторії&nbsp;проходила зустріч зі студентами та викладачами, на якій всі мали змогу довідатись про видатних молодих українців. Ошатна зала виглядала особливо урочисто та святково, адже це був <strong>День Вишиванки</strong>, і тому, майже всі учасники були у таких гарних та колоритних, любих нам всім вишиванках.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/e668a3209283/01.jpg" style="height:292px; width:390px" /></td>
			<td><img alt="" src="/pages/files/e42c672c713f/02.jpg" style="height:292px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/f60a971be3eb/003.jpg" style="height:320px; width:390px" /></td>
			<td><img alt="" src="/pages/files/ef48f22da469/002.jpg" style="height:319px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;До речі, автори зустрічі, звичайно, згадали про історію виникнення свята, тому що, як не гордитись, це свято започатковане у Чернівецькому національному університеті імені Юрія Федьковича. Всі присутні мали змогу вкотре впевнитись, які талановиті студенти навчаються у коледжі.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:260px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/522cb3d026cc/005.jpg" style="height:426px; width:260px" /></td>
			<td><img alt="" src="/pages/files/4a9d948b487d/007.jpg" style="height:425px; width:260px" /></td>
			<td><img alt="" src="/pages/files/bfc001c791a6/006.jpg" style="height:425px; width:260px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;Студенти співали відомі пісні англійською (Григоряк Назарій та Паскар Богдана, студенти ІІ курсу) та французькою мовами. Студенти ІІ курсу Добровольська Анастасія, Тимчук Марк та Данилюк Олександр чудово зіграли свої ролі в інсценізації стародавньої легенди про Україну, Лаб&rsquo;як Ганна, студентка ІІ курсу, майстерно продекламувала вірш про Україну англійською мовою, студенти ІІІ курсу виконали румунський народний танок &laquo;Хора де ла суд&raquo;. Чудовий виступ тріо &laquo;скрипка-труба-фортепіано (студент І курсу Єнакаке Дмитро, студенти ІІ курсу Радуляк Михайло та Григоряк Назарій, відповідно) майстерно та злагоджено виконали пісню Imagine Dragons &laquo;Believer&raquo;. А Дмитро Єнакаке майже віртуозно зіграв пісню Луїс Фонсі &laquo;Despacito&raquo;. &nbsp;107 група майже у повному складі продемонструвала сучасний танок. У квесті перемогла дружба.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/6efdb792b416/изображение_viber_2019-05-17_12-27-35.jpg" style="height:254px; width:390px" /></td>
			<td><img alt="" src="/pages/files/62a36c5aae85/WP_20190516_13_43_24_Pro.jpg" style="height:254px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;Зустріч була яскравою, колоритною, зворушливою завдячуючи чудовим ведучим &ndash; студентам ІІ курсу Довганюк Ольги та Данилюку Олександру.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/ee3885c49ab5/изображение_viber_2019-05-17_12-27-37.jpg" style="height:1040px; width:780px" /></p>

<p style="text-align:justify">&nbsp; &nbsp;Захід організували викладачі іноземних мов Н.Д. Добровольська, О.В. Кузик та Р.А. Котелевська</p>

<p style="text-align:justify">&nbsp;</p>
