<h3 style="text-align:center"><strong>Підприємництво, торгівля та біржова діяльність</strong></h3>

<p style="text-align:justify"><img alt="are" src="/pages/files/d7aa39bac7d9/are.jpg" style="height:316px; width:720px" />&nbsp;&nbsp;</p>

<p style="text-align:justify">&nbsp; &nbsp;Підприємництво є рушійною силою економіки та запорукою економічного зростання країни. Розповсюдження ринкових методів господарювання обумовлює постійну потребу в значній кількості фахівців в питаннях створення та ефективного ведення бізнесу, тому підготовка за спеціальністю <strong><em>&ldquo;Підприємництво, торгівля та біржова діяльність&rdquo;</em></strong> сьогодні дуже актуальна та перспективна.</p>

<p style="text-align:justify">&nbsp; &nbsp;Фахівець зі спеціальності <strong><em>&ldquo;Підприємництво, торгівля та біржова діяльність&rdquo;</em></strong> &ndash; це управлінець нового покоління, здатний ефективно працювати в органах державного управління, інвестиційно-консалтингових фірмах, на промислових і комерційних підприємствах і організаціях різних форм власності, провідних українських і зарубіжних компаніях, або успішно започаткувати власну справу.</p>

<p style="text-align:justify">&nbsp; &nbsp;Посада фахівця спеціальності <strong><em>&ldquo;Підприємництво, торгівля та біржова діяльність&rdquo;</em></strong> займає вагоме місце в структурі практично усіх підприємств, організацій чи установ, які можуть існувати в економічній системі держави. Випускник даної спеціальності здійснює розрахунки собівартості продукції, складає кошторис витрат, прогнозує стан економічної та фінансової діяльності підприємств і організацій, визначає шляхи підвищення ефективності господарської діяльності організації, може працювати у сфері консалтингової, страхової, банківської&nbsp; та рекламної&nbsp; діяльності. Часто саме від такого фахівця залежить успіх роботи як окремого підрозділу, так і всього підприємства.</p>

<p style="text-align:justify">&nbsp; &nbsp;Фахівець у галузі &ldquo;Управління та адміністрування&rdquo; може виконувати функції економіста, менеджера і керівника відповідних служб на підприємствах, у корпораціях, організаціях й установах &ndash; скрізь, де потрібно вміти будувати ділові стратегії, поточні плани, проводити біржові операції, он-лайн аукціони, а також організовувати їх здійснення на практиці, керувати економічними процесами та координувати роботу виконавців.</p>

<p style="text-align:center"><strong>Основні дисципліни, які складають фахову підготовку:</strong></p>

<p>&bull;&nbsp;Економіка підприємства;<br />
&bull;&nbsp;Фінанси підприємств;<br />
&bull;&nbsp;Фінансовий облік;<br />
&bull;&nbsp;Економічна безпека;<br />
&bull;&nbsp;Офісні системи і електронний документообіг;<br />
&bull;&nbsp;Інтернет-технології в інформаційній діяльності;<br />
&bull;&nbsp;Електронна комерція;<br />
&bull;&nbsp;Інформаційна діяльність підприємства;<br />
&bull;&nbsp;Управління інформаційними ресурсами;<br />
&bull;&nbsp;Захист інформації на підприємстві;<br />
&bull;&nbsp;Інформаційний бізнес;<br />
&bull;&nbsp;Інформаційні системи і технології на підприємствах;<br />
&bull;&nbsp;Податкова система;<br />
&bull;&nbsp;Економічний аналіз;<br />
&bull;&nbsp;Бюджетна система;<br />
&bull;&nbsp;Економічне обґрунтування управлінських рішень;<br />
&bull;&nbsp;Економіка і нормування праці;<br />
&bull;&nbsp;Казначейська справа;<br />
&bull;&nbsp;Страхові послуги;<br />
&bull;&nbsp;Контроль і ревізія;<br />
&bull;&nbsp;Бухгалтерський облік;<br />
&bull;&nbsp;Менеджмент;<br />
&bull;&nbsp;Основи маркетингу;<br />
&bull;&nbsp;Статистика підприємств;<br />
&bull;&nbsp;Банківські операції.</p>

<p style="text-align:center"><strong>&nbsp;Професійні назви робіт, які здатний виконувати фахівець<br />
освітньо-професійного ступеня фаховий молодший бакалавр:</strong></p>

<p>&bull; Економіст;<br />
&bull; Фахівець з економічних питань та інвестиційної діяльності;<br />
&bull; Фахівець з управління проектами та програмами у сфері виробництва;<br />
&bull; Спеціаліст у сфері праці та зайнятості;<br />
&bull; Технік з нормування праці;<br />
&bull; Технік з планування;<br />
&bull; Технік з праці;<br />
&bull; Хронометражист;<br />
&bull; Організатор з постачання;<br />
&bull; Організатор із збуту;<br />
&bull; Фахівець з найму робочої сили;<br />
&bull; Брокер (посередник) з цінних паперів;<br />
&bull; Дилер (продавець) цінних паперів;<br />
&bull; Комерсант;<br />
&bull; Менеджер у роздрібній та оптовій торгівлі;<br />
&bull; Менеджер&nbsp; у сфері послуг (менеджер ресторану, готелю, кафе, бару,...);<br />
&bull; Аукціоністами (ліцитатор);<br />
&bull; Торгівельний брокер (маклер, ріелтор з нерухомості);<br />
&bull; Помічник керівника малого підприємства.</p>

<p style="text-align:center"><strong>Основні місця роботи, де можна працювати після закінчення навчання:</strong></p>

<p>&bull; Державні органи планування і місцевого самоврядування;<br />
&bull; Державне казначейство;<br />
&bull; Банківські установи;<br />
&bull; Митна служба;<br />
&bull; Податкова інспекція;<br />
&bull; Органи з планування та координації кадрової політики;<br />
&bull; Торгівельно-посередницькі фірми;<br />
&bull; Страхові компанії;<br />
&bull; Консалтингові компанії;<br />
&bull; Економічні підрозділи державних і галузевих виробничих підприємств;<br />
&bull; Наукові і проектні установи.</p>

<hr />
<p>&nbsp;</p>
