<p><img alt="" src="/pages/files/a76a27c55768/olimp_math.jpg" style="height:142px; width:780px" /></p>

<p style="text-align:justify">&nbsp; &nbsp;Між студентами 1-го курсу ВСП &quot;Фаховий коледж ЧНУ&quot; проведено олімпіаду з&nbsp;<strong>МАТЕМАТИКИ</strong>. У непросту інтелектуальну боротьбу&nbsp;вступили кращих 25 знавців &quot;цариці наук&quot;.</p>

<p><img alt="" src="/pages/files/c9be967a3e43/фото 1.jpg" style="height:371px; width:780px" /></p>

<p>&nbsp; &nbsp;За результатами рішення журі місця були розподілені наступним чином:</p>

<p>&nbsp; &nbsp; &nbsp;І місце - Станіслав Ротар&nbsp;<em>(спеціальність &quot;Прикладна математика&quot;)</em></p>

<p>&nbsp; &nbsp; &nbsp;ІІ місце - Михайло Борлодян <em>(спеціальність &quot;Комп&#39;ютерна інженерія&quot;)</em><br />
&nbsp; &nbsp; &nbsp;ІІ місце - Микола Краснов&nbsp;<em>(спеціальність &quot;Комп&#39;ютерні&nbsp;науки&quot;)</em></p>

<p>&nbsp; &nbsp; &nbsp;ІІІ місце - Павло Жалоба&nbsp;<em>(спеціальність &quot;Комп&#39;ютерні&nbsp;науки&quot;)</em><br />
&nbsp; &nbsp; &nbsp;ІІІ місце - Богдан Рудан&nbsp;<em>(спеціальність &quot;Комп&#39;ютерні&nbsp;науки&quot;)</em><br />
&nbsp; &nbsp; &nbsp;ІІІ місце - Тимур Івасюк&nbsp;<em>(спеціальність &quot;Комп&#39;ютерні&nbsp;науки&quot;)</em><br />
&nbsp; &nbsp; &nbsp;ІІІ місце - Ольга Тимофійчук&nbsp;<em>(спеціальність &quot;Прикладна математика&quot;)</em><br />
&nbsp; &nbsp; &nbsp;ІІІ місце - Роман Григорчук&nbsp;<em>(спеціальність &quot;Комп&#39;ютерні&nbsp;науки&quot;)</em><br />
&nbsp; &nbsp; &nbsp;ІІІ місце - Олександр Баб&#39;юк&nbsp;<em>(спеціальність &quot;Комп&#39;ютерні&nbsp;інженерія&quot;)</em></p>

<p>&nbsp; &nbsp;ВІТАЄМО&nbsp;наших призерів!!! Щиро бажаємо подальших ще більших здобутків!</p>
