<p style="text-align:justify">&nbsp; &nbsp;&quot;У п&rsquo;ятницю, 18 жовтня, до нас студентів завітав військовий капелан УГКЦ <strong>Василь Гасинець</strong>. Отець надзвичайно цікаво, мудро та головне доступно пояснював нам, студентам, як варто будувати стосунки, як знайти справу життя. Оскільки у о. Василя в самого діти нещодавно пройшли перехідний вік, він зумів підібрати правильні слова і пояснити як потрібно діяти в тих чи інших ситуаціях.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/7e195b2261cf/004.jpg" style="height:329px; width:780px" />&nbsp; &nbsp;Для студентів, особливо мого віку, надзвичайно важливо чути слова підтримки та настанови, тим паче, від священнослужителя. Розповідав і про поїздки на схід... Щотижня отець збирає допомогу: фінансову, продукти, одяг, та відвозить їх воїнам, які захищають нашу рідну Україну... Як казав сам гість: &quot;Я вже не знаю, коли буваю вдома... постійні відрядження на схід вже стали звичною справою...&quot;.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/8ca2774b7f79/003.jpg" style="height:360px; width:780px" />&nbsp; &nbsp;З великою гордістю за свій народ говорив про Революцію Гідності.... &quot;В день розгону студентів, на Майдані були і мої власні діти... та саме після побиття молодих людей, вся Україна об&rsquo;єдналась заради спасіння самих же себе і своїх дітей...&quot;</p>

<p style="text-align:justify"><img alt="" src="/pages/files/f082c687a400/002.jpg" style="height:323px; width:780px" />&nbsp; &nbsp;Надзвичайно важливим, я вважаю, було пояснення для моїх колег значення любові та власного хреста... Дякую, отцю Василю за те, що знайшов час та розповів нам, молодому поколінню про найцінніше в житті&quot;.</p>

<p style="text-align: right;">Наталя Мигидин (студентка 214 групи)</p>
