<p style="text-align:justify">&nbsp; &nbsp; &nbsp;Студент 1-го курсу Коледжу ЧНУ імені Юрія Федьковча &shy;&ndash; <strong>Мар&rsquo;янчук Олександр</strong> (спеціальність &laquo;Комп&rsquo;ютерна інженерія&raquo;) прийняв участь у ІІІ етапі Всеукраїнських учнівських олімпіад з предметів: математика та інформатика. Не дивлячись на те, що Олександр приймав участь поза конкурсом, він посів високі рейтингові місця з предметних олімпіад: <strong>математика</strong> &ndash; 6 рейтингове місце (призове), <strong>інформатика</strong> &ndash; 1 рейтингове місце (переможець).</p>

<p style="text-align:justify"><img alt="" src="/pages/files/73d64927e0c1/Matem.jpg" style="height:573px; width:800px" /></p>

<p style="text-align:justify"><img alt="" src="/pages/files/79f66ab62d40/Informatika.jpg" style="height:588px; width:800px" /></p>

<p style="text-align:justify">&nbsp; &nbsp; &nbsp;Щиро ВІТАЄМО нашого переможця з такими високими результатами!</p>
