<p style="text-align:justify"><img alt="" src="/pages/files/dd5617982234/chessbanner1.jpg" style="height:190px; width:780px" />&nbsp; &nbsp; &nbsp;Команда Коледжу ЧНУ імені Юрія Федьковича&nbsp; з <strong>ШАХІВ</strong>&nbsp; у складі:</p>

<ul>
	<li style="text-align:justify"><strong>Олексій Машенцев</strong> <em>(2 курс, спеціальність &quot;Комп&#39;ютерна інженерія&quot;);</em></li>
	<li style="text-align:justify"><strong>Андрій Лучик</strong> <em>(1 курс, спеціальність &quot;Підприємництво, торгівля та біржова діяльність&quot;);</em></li>
</ul>

<p style="text-align:justify">посіла&nbsp; <strong>II місце</strong> у <strong>XV обласних Спортивних іграх</strong> серед студентської молоді закладів вищої освіти, які здійснюють підготовку молодших спеціалістів.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/a59de532d2ba/001.jpg" style="height:520px; width:390px" /></td>
			<td><img alt="" src="/pages/files/4e7e778b7014/002.jpg" style="height:520px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<hr />
<p>&nbsp; &nbsp;Студентка&nbsp; <strong>Анастасія Романська</strong> (2 курс, спеціальність &quot;Облік і оподаткування&quot;) посіла &nbsp;<strong>III місце</strong> (особистий залік) в змаганнях з шахів у <strong>XV обласних Спортивних іграх</strong> серед студентської молоді.&nbsp;</p>

<hr />
<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/e15cc437e52e/004.jpg" style="height:521px; width:390px" /></td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp;<strong>ВІТАЄМО</strong>&nbsp;СРІБНИХ та БРОНЗОВИХ призерів&nbsp;і бажаємо подальших успіхів у навчанні та спорті!</p>
