<p style="text-align:justify"><img alt="" src="/pages/files/9422b954d71d/001.jpg" style="height:249px; width:780px" />&nbsp; &nbsp;Підбито підсумки&nbsp;<strong>Всеукраїнської олімпіади з бухгалтерського обліку</strong>&nbsp;для студентів коледжів та технікумів, що проводилась&nbsp;кафедрою&nbsp;обліку та аналізу Національного&nbsp;університеті &laquo;Львівська політехніка&raquo;. В&nbsp;Олімпіаді взяли участь 119 учасників із 27 коледжів 17 областей України. Зважаючи на законодавчі вимоги в частині запобігання поширення COVID-19, Олімпіада відбувалася дистанційно у два тури: І тур &ndash; із 1 до 28 лютого 2021 року, ІІ тур відбувся 26 березня 2021 року.&nbsp;Завдання І туру були подані у формі тестів із розв&rsquo;язання завдань облікової тематики, що мали запропоновані варіанти відповідей. Завдання ІІ туру складалися із двох частин: тестових завдань та задач із відкритими відповідями. Розв&rsquo;язання завдань І туру оцінювали у 10 балів, ІІ туру &ndash; у 90 балів.</p>

<p style="text-align:justify">&nbsp; ІІ тур Олімпіади (фінал) розпочався із онлайн-зустрічі учасників із організаторами. Учасників Олімпіади привітали, розповіли про&nbsp;важливість та перспективи навчання за фахом &laquo;Облік і оподаткування&raquo;.&nbsp;Після онлайн-ідентифікації учасники розпочали виконання конкурсних завдань.</p>

<p style="text-align:justify">&nbsp; &nbsp;Наступного дня відбулося підбиття підсумків та оголошення переможців Олімпіади. Серед переможців були і студенти ВСП &quot;Фаховий коледж ЧНУ імені Юрія Федьковича&quot; - <strong>Василь Остафійчук</strong> та <strong>Крістіна Ротар</strong>, які вибороли <strong>ІІІ місце </strong>(керівник - <strong>Сільва Іванівна Гнат</strong>).</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/6ee3d7bcf87f/OSTAFIYCHUK.jpg" style="height:275px; width:390px" /></td>
			<td><img alt="" src="/pages/files/8a6f2e6d3d64/ROTAR.jpg" style="height:275px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<hr />
<p><img alt="" src="/pages/files/87a0e9443bd4/GNAT.jpg" style="height:545px; width:780px" /></p>
