<p><img alt="" src="/pages/files/7ccb4a6295f3/converted_file_86588e02.jpg" style="height:194px; width:780px" /></p>

<p style="text-align:justify">&nbsp; &nbsp;Відповідно до листа &nbsp;Державної&nbsp; Наукової Установи &laquo;Інститут модернізації змісту освіти&raquo; Міністерства освіти і науки України №22/10-626 від 25.02.2019&nbsp;р. &laquo;Щодо проведення Всеукраїнської студентської олімпіади з навчальної дисципліни &laquo;Облік в бюджетних установах&raquo; в Хмельницькому національному університеті з 20 по 22 травня 2019&nbsp;р. пройшов <strong>ІІ етап Всеукраїнської студентської олімпіади з дисципліни &laquo;Облік в бюджетних установах&raquo;</strong>.</p>

<p style="text-align:justify">&nbsp; &nbsp;У ІІ етапі&nbsp;олімпіади взяли участь&nbsp;81 учасники&nbsp;з 30 навчальних закладів України. Серед них була й студентка спеціальності &quot;Облік та оподаткування&quot; Коледжу ЧНУ імені Юрія Федьковича - <strong>Трухан Маргарита.</strong></p>

<p style="text-align:justify">&nbsp; &nbsp;Маргарита змагалась із студентами, що навчаються на освітньму рівні &quot;Бакалавр&quot; та &quot;Магістр&quot; провідних ЗВО України. Зрозуміло, що стартові позиції були далеко не рівними, та не дивлячись на всі обставини Трухан Маргарита посіла 17 рейтингове місце серед 81 учасника та здобула перемогу у номінації <strong>&quot;За обгрунтування професійного судження при розв&#39;язку завдань олімпіади&quot;. </strong>Щиро <strong>ВІТАЄМО</strong> нашу учасницю і нехай ця олімпіада, стане черговим кроком на шляху подальшого професійного становлення.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/14385a7b647d/Truhan.jpg" style="height:1090px; width:780px" /></p>
