<p style="text-align:justify">&nbsp; &nbsp;У травневі свята студенти коледжу&nbsp;спільно з викладачем історії Дмитром Павлюком провелу благодійну акцію під назвою <strong>&laquo;Я люблю історію&raquo;</strong>. У ході акції студенти та викладач відвідували літніх людей, розповідали з ними про подіх минулих років та дарували їм подаруночки.</p>

<p style="text-align:justify">&nbsp; &nbsp;Дмитро Васильович Павлюк відвідав жительку с. Шубранець пані Степанію (1936 р.н. ). Згадали дитинство, важкі роки війни та повоєнні труднощі. З ностальгією згадує про роботу у колгоспі , спочатку ланковою на полі. а потім дояркою.. Каже, що у 70і -80і &nbsp;у колгоспі працювало практично все село. Завдяки допомозі голови колгоспу їй вдалося побудувати хату, бо вона родом з сусіднього села.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/df2985b8dfdd/viber image 2019-05-09 , 16.22.45.jpg" style="height:520px; width:390px" /></td>
			<td><img alt="" src="/pages/files/0902fd609c11/viber image 2019-05-09 , 16.22.51.jpg" style="height:520px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;Топоровська Вікторія, мала змогу поспілкуватись з пані Людмилою про навчання в університеті в 50-ті роки. Бабуся родом з Сатанова, навчалась в Полтаві і проходила практику в Чернівцях. Говорили про хрущовські реформи та роботу вчителя біології в СРСР 60-80-их років.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/450fac81baad/viber image 2019-05-09 , 16.22.56.jpg" style="height:585px; width:780px" /></p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/45102237c70c/viber image 2019-05-09 , 16.23.01.jpg" style="height:520px; width:390px" /></td>
			<td>
			<p><img alt="" src="/pages/files/69eddd2ccd3a/11111.jpg" style="height:32px; width:390px" /></p>

			<p style="text-align: justify;">&nbsp;Станіславський Станіслав спілкувався з жителькою с.Снячів Строжинецького р-ну . Ось, що він розповідає про цю зустріч: &ldquo;Вона мені розказувала як вона працювала в Казахстані і те як вони працювали, також багато дізнався що казахи дуже привітливі люди і наші українці які працювали там мали вільний доступ до їжі безкоштовно&rdquo;</p>
			</td>
		</tr>
	</tbody>
</table>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td>
			<p><img alt="" src="/pages/files/b4786ad5f67b/11111.jpg" style="height:32px; width:390px" /></p>

			<p style="text-align: justify;">&nbsp; &nbsp;&laquo;Я відвідав Кушнірик Мафту Іванівну 76 років , уродженку села Малятинці Кіцманського р-ну.&nbsp; Вона розказувала мені про життя в селі у період 45-60рр&raquo;, - розповідає Штефюк Василь.</p>
			</td>
			<td><img alt="" src="/pages/files/b6a37139ffd5/viber image 2019-05-09 , 16.23.07.jpg" style="height:520px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;&laquo;Навідавши жительку с.Магала Новоселицького р-ну, вона розповіла мені про свою важку долю,як вона потрапила до Сибіру, про важку долю свого батька якого відправили в &#39;&#39;Севураллаг&#39;&#39; та&nbsp; ув&rsquo;язнили. В&nbsp; 44-45 рр. роках помирають її сестри від холоду та голоду в Омській області куди було відправлено сім&rsquo;ю. Під час реабілітації, місцева влада руйнувала будинки, ламали все&raquo; &ndash; розповідають Акостакіоає Флоріан та Скаловський Олександр.<img alt="" src="/pages/files/1d41d7a0b0f8/viber image 2019-05-09 , 16.23.19.jpg" style="height:585px; width:780px" /></p>

<p style="text-align:justify">&nbsp; &nbsp;Мигидин Наталія відвідала пані Ганну за прізвиськом Червоненька 1925 року народження,уродженка села Лисичники Заліщицького р-ну Тернопільської обл. Пані Ганна розповіла про своє складне життя. Вона народилась 1925р. в с.Лисичники.Пережила два голодомори (1932-33;1946-47рр.), Другу Світову війну; сталінський режим, дожила до сьогодення і знає ціну кожній зернині пшениці. У селі люди між собою пані Ганну називають Червоненька. Кожного разу якщо вона дізнавалась, що у когось біда,то завжди приходила на допомогу.</p>

<p style="text-align:justify">&nbsp; &nbsp;Пранничук Максим навідав літнього чоловіка який живе в селі Непоротово (Сокирянський район). В ті роки жити було дуже важко - так казав дід. Служив в армії на Кавказі. Багато років працював на Львівській Залізниці, і був на різних керівних посадах. Також розказував що його тато воював. При взятті Будапешту, був поранений . Був нагороджений багатьма медалями і Орденом за перемогу в Другій Світовій війні, медаллю за хоробрість.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/b4a3c33fc93b/viber image 2019-05-09 , 16.23.23.jpg" style="height:520px; width:390px" /></td>
			<td><img alt="" src="/pages/files/3e65370d04f2/viber image 2019-05-09 , 16.23.28.jpg" style="height:520px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;Шевченко Андрій завітав у село Корчівці Глибоцького району , де привітав з Пасхальними святами Чиківчук Віру Тодорівну, &nbsp;якій нещодавно&nbsp; виповнилося 80 років. Під час зустрічі від неї він дізнався про те що вона пройшла нелегку життєву дорогу. Коли вона народилася Буковина входила до Румунського королівства . Про те, &nbsp;як Буковину зайняли радянські війська 1940 році вона не пам&#39;ятає бо була зовсім маленькою . Її батько, Тодор Гуцулко , був грамотною людиною , свого часу закінчив Вижницьку українську гімназію, нова влада залучила до роботи сільській раді села(працював писарем, секретарем). (10-11 фото)</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/a67a1693bb7b/viber image 2019-05-09 , 16.23.33.jpg" style="height:519px; width:390px" /></td>
			<td><img alt="" src="/pages/files/0cdec3057da0/viber image 2019-05-09 , 16.23.37.jpg" style="height:520px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/521400d0b04b/viber image 2019-05-09 , 16.23.42.jpg" style="height:607px; width:390px" /></td>
			<td>
			<p><img alt="" src="/pages/files/a56241143c51/11111.jpg" style="height:32px; width:390px" /></p>

			<p>&nbsp; &nbsp;Соболь Андрій, Лобач Віктор, Паскар Дмитро навідали дитину війни, літнього чоловіка на ім&rsquo;я Ілля. Він розповів, що ті часи жилось дуже важко, його сім&#39;я була дуже бідною тому дідо ходив на роботу в свої 12 років до багатія. Там він робив все по дому, за це йому платили 3 рублі в день. Його мама була швачка в неї була машинка, яка до сих пір зберігається в селі . Завдяки їй вони заробляли на життя.</p>
			</td>
		</tr>
	</tbody>
</table>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td>
			<p><img alt="" src="/pages/files/67ef26631284/11111.jpg" style="height:32px; width:390px" /></p>

			<p>&nbsp; &nbsp;Личман Стас завітав до пані Євдокії якраз у її день народження (1 травня). Їй виповнилось 94 роки. Поговорили про здоров&#39;я, життя так як вона нічого не змогла розказати про минулі роки, бо нічого не пам&#39;ятає. Стас привітав бабусю з днем народження, що звичайно розчулило стареньку.</p>
			</td>
			<td><img alt="" src="/pages/files/c8025c7567e8/viber image 2019-05-09 , 16.23.49.jpg" style="height:545px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;Черней Микола завітав до Зінаїди Іванівни. Проживає в с.Колінківці Хотинського р-ну. &laquo;Ми говорили про Голодомор . Тому що вона народилася в часи голодомору . Розказувала про те як було тяжко їй і її брату. Закінчила школу після 3 класу . Тому що треба було сидіти з братом поки батьки працювали&raquo;.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/f58b297c7f0c/viber image 2019-05-09 , 16.23.55.jpg" style="height:560px; width:390px" /></td>
			<td>
			<p><img alt="" src="/pages/files/84dc541e8755/11111.jpg" style="height:32px; width:390px" /></p>

			<p style="text-align: justify;">&nbsp; &nbsp;Цуркан Богдан відвідав Житарюк Ніну (1928 р.н.)&nbsp; з села Росошани&nbsp; Кельменецького району. Богдан поговорив з нею, про, Кельменеччину в роки Другої Світової війни.</p>
			</td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;Також про Другу Світову війну Андрій Паращук поспілкувався з пані Марією 1935 р.н. жителькою с. Валява Кіцманського р-ну.</p>

<p style="text-align:justify">&nbsp; &nbsp;Плотнікова Ольга та Сербінчуку Валентина відвідали жителя Чернівців Дмитра Васильовича 1949 р.н. Він згадує про те, що життя стало краще з того моменту, як Україна стала незалежною. (фото 15 )</p>

<p style="text-align:justify"><img alt="" src="/pages/files/544a0a4910a0/viber image 2019-05-09 , 16.24.00.jpg" style="height:439px; width:780px" />&nbsp; &nbsp;Андрій Ляшенко відвідав Марію Йосипівну (1938 р.н. ). у с. Солоне Тернопільської обл..,&nbsp; яка розповіла йому історію краю у перші роки після війни, особливо про те як ходила в школу в 2 і 3 зміни.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/0db1954f8230/viber image 2019-05-09 , 16.24.10.jpg" style="height:820px; width:780px" />&nbsp; &nbsp;Загалом, старенькі були здивовані візиту, бо в даний час молодь рідко допомагає літнім людям... Це знак для нас, щоб хоча б декілька разів на рік виділити пів години свого дорогоцінного часу і декілька гривень, які все одно підуть на гамбургер чи тост &nbsp;і просто відвідати тих, хто цього потребує. Адже без минулого немає майбутнього.</p>
