<p style="text-align:center"><strong>До уваги абітурієнтів, зарахованих на І та ІІ курси!!!</strong></p>

<p style="text-align:center">Чекаємо на ВАС&nbsp;1 вересня 2019 року за адресою:</p>

<p style="text-align:center">&nbsp;м. Чернівці, вул. Банкова (стара назва&nbsp;вул.&nbsp;Штерна), буд. 1</p>

<p style="text-align:center">(Навчальний корпус № 20).</p>

<p style="text-align:center"><strong>І курс &ndash; на 9.30</strong></p>

<p style="text-align:center"><strong>ІІ курс &ndash; на 10.30</strong></p>

<p style="text-align:center"><a href="/pages/files/616a4d73231a/Список.pdf">СПИСКИ ГРУП</a></p>
