<p style="text-align: justify;">&nbsp; &nbsp;12-14 квітня 2019 р. відбувся V Міжнародний шоу-фестиваль талантів &quot;<strong>ZaГрай FEST ВЕСНА 2019</strong>&quot; (м.Запоріжжя). На міжнародному фестивалі наш коледж представляли двоє студенток 2 курсу - Богдана Сергій&nbsp; та Ганна Лаб&#39;як, які посіли почесні призові місця!</p>

<ul>
	<li>Богдана Сергій (номінація &quot;Оригінальний жанр&quot;) - ІІ місце!</li>
	<li>Ганна Лаб&#39;як (номінація &quot;Декламація&quot;) -&nbsp; ІІ місце!</li>
</ul>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/57a423fdb74b/001.jpg" style="height:710px; width:390px" /></td>
			<td><img alt="" src="/pages/files/18f47bcc5ad4/Zagray.jpg" style="height:251px; margin-bottom:150px; margin-top:150px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<hr />
<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/1991e5dfe23f/Labyak.jpg" style="height:551px; width:390px" /></td>
			<td><img alt="" src="/pages/files/a96936199856/Sergiy.jpg" style="height:551px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<hr />
<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/6feb08f63b3c/002.jpg" style="height:710px; width:390px" /></td>
			<td><img alt="" src="/pages/files/78f25ea8438f/Marko.jpg" style="height:551px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align: right;"><strong>Вітаємо переможців!!!</strong></p>
