<p><img alt="" src="/pages/files/7bec6ed44a3a/86072896.jpg" style="height:278px; width:780px" /></p>

<p style="text-align:justify">&nbsp;&nbsp; 6 листопада 2019 року у стінах Коледжу ЧНУ імені Юрія Федьковича, за участі вихованців Центру культури і дозвілля ЧНУ імені Юрія Федьковича та студентів коледжу, відбувся патріотично-виховний захід присвячений 30-річчю політичної організації, згодом і партії, <strong>&quot;Народний рух України за перебудову&quot;</strong>. Вступне слово взяв Завідувач ЦКіД та викладач історії Дмитро Павлюк розповів про перебудовчі процеси в Україні та передумови створення Народного руху.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/dc2ed35dfb87/001.jpg" style="height:435px; width:780px" />&nbsp;&nbsp; Учасники театр-студії &quot;Маска&quot;, немов машина часу, перенесли студентів у вересень 1989 року і показали як відбувався Перший установчий з&#39;їзд Руху, на якому його, власне, і було засновано. Кожен намагався передати атмосферу тих вересневих днів. Посеред з&#39;їзду всі присутні вшанували пам&#39;ять загиблих героїв, які склали голови за краще майбутнє для нашої країни. Вихованці вокальної студії &quot;Роси&quot; співали пісень, зокрема українську народну стрілецьку пісню &quot;Ой у лузі червона калина&quot;, також відому співанку Т.Петриненка &quot;Україна&quot; а В. Івасюка &quot;Два перстені&quot;.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/98f07d2c41fc/002.jpg" style="height:343px; width:780px" />&nbsp;&nbsp; Запрошеними гостями були Василь Бойчук-делегат від Буковинського краю на з&#39;їзді Народного руху 8-10 вересня 1989 року, та Юрій Скорейко. Василь Бойчук зазначав,що у Чернівцях, ті, хто був членом Народного Руху України до 24 серпня 1991 року отримали статус борців за незалежність України ХХ століття. Посвідчення і відзнаку отримували родичі і тих рухівців, які не дожили до наших днів, оскільки, як казав пан Василь: &quot;кожен повинен знати, що в його сім&#39;ї були герої, творці держави, які не побоялись виступити проти системи, і майбутні покоління тих родин, повинні знати свій славний родовід&quot;. Надзвичайно цікаво розповідав Юрій Скорейко про основні причини, які помалу готували всіх до створення Руху. Це, як би прикро не звучало,&nbsp;Чорнобильська трагедія, яка&nbsp; стала одним із найпотужніших поштовхом до змін та перший Майдан в історії нашої держав -&nbsp;Революція на граніті.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/0bdbc1c49403/003.jpg" style="height:349px; width:780px" />&nbsp;&nbsp; Саме завдяки таким заходам,організаціям,лекціям ми виховуємо нашу молодь, наше майбутнє. І завжди маємо надію, що майбутні покоління не заплямують славетну вікову історію суверенної та незалежної України..</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/c3ec42abbda3/004.jpg" style="height:253px; width:390px" /></td>
			<td><img alt="" src="/pages/files/94114eedf52f/005.jpg" style="height:254px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
