<p style="text-align:justify"><img alt="" src="/pages/files/4ba45cbb3d1a/konk.jpg" style="height:238px; width:780px" />&nbsp; &nbsp; Цикловою комісією &quot;Філологічних дисциплін&quot; завершено&nbsp;<strong>І етап конкурсів&nbsp;та олімпіад&nbsp;з української мови та літератури</strong>&nbsp;(Мовно-літературний&nbsp;конкурс&nbsp;імені&nbsp;Тараса&nbsp;Шевченка, Конкурсу української мови імені&nbsp;Петра Яцика та Всеукраїнська&nbsp;олімпіада&nbsp;з&nbsp;української мови) серед студентів Коледжу ЧНУ імені Юрія Федьковича.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/5ab1885cb47c/000.1.jpg" style="height:246px; width:780px" /></p>

<p style="text-align:center"><strong>РЕЗУЛЬТАТИ</strong><br />
<strong>І етапу Всеукраїнської олімпіади з української мови</strong></p>

<table border="1" cellpadding="1" cellspacing="1" style="width:780px">
	<tbody>
		<tr>
			<td colspan="3" style="text-align:center"><strong>І курс</strong></td>
		</tr>
		<tr>
			<td style="text-align:center"><strong>Місце</strong></td>
			<td style="text-align:center"><strong>ПІБ студента</strong></td>
			<td style="text-align:center"><strong>Спеціальність</strong></td>
		</tr>
		<tr>
			<td style="text-align:center"><strong>І місце</strong></td>
			<td>Христина Лаврук</td>
			<td>Комп&#39;ютерні науки</td>
		</tr>
		<tr>
			<td style="text-align:center"><strong>ІІ місце</strong></td>
			<td>Адріана Ісар</td>
			<td>Фінанси, банківська справа та страхування</td>
		</tr>
		<tr>
			<td style="text-align:center"><strong>ІІІ місце</strong></td>
			<td>Оксана Гречак</td>
			<td>Комп&#39;ютерна інженерія</td>
		</tr>
	</tbody>
</table>

<p style="text-align:center">&nbsp;</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:780px">
	<tbody>
		<tr>
			<td colspan="3" style="text-align:center"><strong>ІІ курс</strong></td>
		</tr>
		<tr>
			<td style="text-align:center"><strong>Місце</strong></td>
			<td style="text-align:center"><strong>ПІБ студента</strong></td>
			<td style="text-align:center"><strong>Спеціальність</strong></td>
		</tr>
		<tr>
			<td style="text-align:center"><strong>І місце</strong></td>
			<td>Крістіна Ротар</td>
			<td>Облік і оподаткування</td>
		</tr>
		<tr>
			<td style="text-align:center"><strong>ІІ місце</strong></td>
			<td>Анастасія Романська</td>
			<td>Облік і оподаткування</td>
		</tr>
		<tr>
			<td style="text-align:center"><strong>ІІІ місце</strong></td>
			<td>Іван Ткачук</td>
			<td>Комп&#39;ютерні науки</td>
		</tr>
	</tbody>
</table>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align: center;"><strong>РЕЗУЛЬТАТИ</strong><br />
<strong>І етапу ХХ Міжнародного конкурсу&nbsp;з української мови імені Петра Яцика</strong></p>

<table border="1" cellpadding="1" cellspacing="1" style="width:780px">
	<tbody>
		<tr>
			<td colspan="3" style="text-align:center"><strong>І курс</strong></td>
		</tr>
		<tr>
			<td style="text-align:center"><strong>Місце</strong></td>
			<td style="text-align:center"><strong>ПІБ студента</strong></td>
			<td style="text-align:center"><strong>Спеціальність</strong></td>
		</tr>
		<tr>
			<td style="text-align:center"><strong>І місце</strong></td>
			<td>Адріана Ісар</td>
			<td>Фінанси, банківська справа та страхування</td>
		</tr>
		<tr>
			<td style="text-align:center"><strong>ІІ місце</strong></td>
			<td>Христина Лаврук</td>
			<td>Комп&#39;ютерні науки</td>
		</tr>
		<tr>
			<td style="text-align:center"><strong>ІІІ місце</strong></td>
			<td>Даниїл Галіщук</td>
			<td>Фінанси, банківська справа та страхування</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:780px">
	<tbody>
		<tr>
			<td colspan="3" style="text-align:center"><strong>ІІ курс</strong></td>
		</tr>
		<tr>
			<td style="text-align:center"><strong>Місце</strong></td>
			<td style="text-align:center"><strong>ПІБ студента</strong></td>
			<td style="text-align:center"><strong>Спеціальність</strong></td>
		</tr>
		<tr>
			<td style="text-align:center"><strong>І місце</strong></td>
			<td>Іван Ткачук</td>
			<td>Комп&#39;ютерні науки</td>
		</tr>
		<tr>
			<td style="text-align:center"><strong>ІІ місце</strong></td>
			<td>Юлія Кравчук</td>
			<td>Право</td>
		</tr>
		<tr>
			<td style="text-align:center"><strong>ІІІ місце</strong></td>
			<td>Крістіна Ротар</td>
			<td>Облік і оподаткування</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p style="text-align: center;"><strong>РЕЗУЛЬТАТИ<br />
&nbsp;І етапу Х Міжнародного мовно-літературного конкурсу<br />
учнівської та студентської молоді імені Тараса Шевченка</strong></p>

<p style="text-align:center">&nbsp;</p>

<table border="1" cellspacing="0" style="width:446.55pt">
	<tbody>
		<tr>
			<td style="border-color:black; vertical-align:top; width:256.35pt">
			<p style="text-align:center">I курс</p>
			</td>
			<td style="border-color:black; vertical-align:top; width:190.2pt">
			<p style="text-align:center">II курс</p>
			</td>
		</tr>
		<tr>
			<td style="border-color:black; vertical-align:top; width:256.35pt">
			<p>I місце - Пилипчук Суламіта</p>

			<p>107 гр.</p>
			</td>
			<td style="vertical-align:top; width:190.2pt">
			<p>I місце - Кравчук Юлія 217 гр.</p>
			</td>
		</tr>
		<tr>
			<td style="border-color:black; vertical-align:top; width:256.35pt">
			<p>II місце - Лаврук Христина 104 гр.</p>
			</td>
			<td style="vertical-align:top; width:190.2pt">
			<p>II місце - Оленич Ірина 207 гр.</p>
			</td>
		</tr>
		<tr>
			<td style="border-color:black; vertical-align:top; width:256.35pt">
			<p>III місце - Костенюк А. 103 гр.</p>
			</td>
			<td style="vertical-align:top; width:190.2pt">
			<p>III місце - Михайлович М.217 гр.</p>
			</td>
		</tr>
	</tbody>
</table>
