<p style="text-align: center;"><img alt="" src="/pages/files/8d46339f66f3/petryshyn.jpg" style="height:303px; width:500px" /></p>

<table>
	<tbody>
		<tr>
			<td style="text-align:center"><strong>Зі святом, дорогі жінки! &nbsp;</strong></td>
		</tr>
		<tr>
			<td style="vertical-align:top">
			<p style="text-align:justify">&nbsp; &nbsp; &nbsp;Дорогі жінки &ndash; співробітниці, студентки, аспірантки і докторантки університету!</p>

			<p style="text-align:justify">&nbsp; &nbsp; &nbsp;Від імені Вченої ради університету сердечно вітаю Вас з прекрасним весняним жіночим святом &ndash; днем 8 березня!</p>

			<p style="text-align:justify">&nbsp; &nbsp; &nbsp;Саме на початку весни, коли прокидається природа, пробуджується і життя. А Вам, шановні жінки, у ньому належить особливе місце, бо саме жінка несе в собі зародження та продовження життя, любов і надію.&nbsp;Цей день освячений високим іменем Берегині &ndash; джерела відродження духовності народу та примноження кращих національних традицій.&nbsp;</p>

			<p style="text-align:justify">&nbsp; &nbsp; &nbsp;Жінка завжди була, є і буде прикрасою кожного колективу, а в нашому університеті жінка, крім цього, ще й є втіленням розуму, інтелекту й інновації.</p>

			<p style="text-align:justify">&nbsp; &nbsp; &nbsp;Ми, чоловіки, безмежно вдячні за Вашу невтомну працю задля розвитку та процвітання нашого Університету;&nbsp; за виховання гідного покоління;&nbsp; за вашу підтримку, любов та почуття, які надихають та оберігають усіх нас &ndash; чоловіків.</p>

			<p style="text-align:justify">&nbsp; &nbsp; &nbsp;Ми тішимося Вашими здобутками і переживаємо разом з Вами за тимчасові невдачі, підтримуємо Вас, поважаємо і любимо.</p>

			<p style="text-align:justify">&nbsp; &nbsp; &nbsp;Бажаємо здоров&rsquo;я, жіночого щастя, радості від життя, успішної кар&rsquo;єри і щоб поряд з Вами завжди був той, найрідніший Вам чоловік, на якого Ви у повній мірі можете покластися і довіряти йому.</p>

			<p style="text-align:justify">&nbsp; &nbsp; &nbsp;Щиро зичимо Вам добра і бажаного успіху, світлої весняної надії.</p>

			<p style="text-align:justify">&nbsp; &nbsp; &nbsp;Зі святом Вас, рідні, кохані, шановні, прекрасні!</p>

			<p style="text-align:justify">&nbsp;</p>

			<p style="text-align: right;">Роман Петришин</p>

			<p style="text-align: right;">Голова Вченої ради ЧНУ ім.Ю.Федьковича</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p style="text-align: center;"><img alt="" src="/pages/files/0f6003cb8c69/Otkritka.jpg" style="height:233px; width:414px" /></p>
