<p style="text-align:justify"><img alt="" src="/pages/files/50feef7237ee/pravo_2019.png" style="height:219px; width:780px" />&nbsp; &nbsp;Відповідно&nbsp; до розпорядження Кабінету Міністрів України від&nbsp; 24 серпня 2019 р. № 568-р &laquo;Про затвердження плану заходів з проведення у 2019 році Всеукраїнського тижня права&raquo;, та з метою формування рівня правової культури студентів розроблений та затверджений на засіданні циклової комісії правознавчих дисциплін &laquo;План заходів тижня права&raquo; з 09 по 13 грудня 2019 р. у &nbsp;Коледжі Чернівецького національного університету імені Юрія Федьковича.</p>

<p style="text-align:justify">&nbsp; &nbsp;У коледжі розпочався тиждень права 09 грудня, де завідувач юридичним відділенням Флорескул-Світова С.Л. коротко розповіла про історію започаткування та проведення Всеукраїнського тижня права. Тиждень&nbsp; права сьогодні вже має статус державного, носить характер національної правової традиції та включає в себе цілу низку заходів, конкурсів.</p>

<p style="text-align:justify">&nbsp; &nbsp;<em><strong>10 грудня - Міжнародний день прав людини.</strong></em> Головна мета цього дня &ndash; торжество в усьому світі понять свободи, безпеки й чесності людей по відношенню одне до одного. Сьогодні серед основних заходів, присвячених цьому дню, можна назвати засідання круглих столів, міжнародні конференції з питань дотримання прав людини, покази телевізійних програм відповідної тематики.</p>

<p style="text-align:justify">&nbsp; &nbsp;Викладачами циклової комісієї правознавчих дисциплін для студентів спеціальності &laquo;Право&raquo; Коледжу ЧНУ імені Юрія Федьковича було організовано: екскурсії, засідання круглого столу, інтелектуальні ігри, зустрічі з практичними працівниками, та ін. Заходи проведено з метою підвищення рівня правової освіти та привиття любові до обраної професії.</p>

<p style="text-align:justify">&nbsp; &nbsp;Доманчук А.Д. за сприяння Керівника апарату суду Сорохана Івана Васильовича та його заступника Котової Наталії Олександрівни організовано <em><strong>оглядову екскурсію</strong></em> для студентів спеціальності &laquo;Право&raquo; <em><strong>до Чернівецького апеляційного суду.</strong></em></p>

<p style="text-align:justify">&nbsp; &nbsp;Наталія Олександрівна розповіла студентам про: повноваження&nbsp; та юрисдикцію апеляційного суду, структуру суду, склад суду, про статус судді апеляційного суду, статус голови апеляційного суду та його заступника, про статус присяжного, електронний документообіг, порядок розгляду справи в суді апеляційної інстанції. Також студенти ознайомились із сучасними технологіями дистанційних судових засідань в режимі відеоконференцій. У доступній формі роз&rsquo;яснено порядок надання та отримання інформації, порядок звернення до суду, про що слід пам&rsquo;ятати під час перебування в суді, як поводити себе під час слухання справи, які існують негативні наслідки за порушення правил поведінки в суді.</p>

<p style="text-align:justify">&nbsp; &nbsp;Разом із викладачем циклової комісії правознавчих дисциплін Єгоровим П.В., студенти були присутні під час <em><strong>розгляду кримінальних справ</strong></em> в Шевченківському районному суді м. Чернівці з метою ознайомлення з порядком розгляду справ судом першої інстанції, в ході вивчення дисципліни &laquo;Кримінальний процес&raquo;.&nbsp;</p>

<p style="text-align:justify">&nbsp; &nbsp;В ході заходу студенти отримали можливість наочно ознайомитись з діяльністю учасників кримінального процесу під час розгляду справи в суді, порядком та структурою судового провадження у першій інстанції.</p>

<p style="text-align:justify">&nbsp; &nbsp;Викладачем Доманчук А.Д.<strong> </strong>під час аудиторного заняття з навчальної дисципліни &laquo;Правознавство&raquo; проведено <em><strong>засідання круглого столу на тему: &laquo;Громадянство України&raquo;</strong></em> присвячене обговоренню процедур набуття та припинення громадянства України і досить актуальниму на сьогодні явищу подвійного громадянства всупереч законодавству України.</p>

<p style="text-align:justify">&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;За ініціативи викладачів циклової комісії правознавчих дисциплін &ndash;Попельницької Н.С. і Флорескул-Світової С.Л. було організовано і проведено <em><strong>зустріч</strong></em> <em><strong>з</strong></em> <em><strong>практичним працівником &ndash; Кожакарем Іваном Юрійовичем</strong></em>, <em><strong>заступником завідувача криміналістичного відділу Чернівецького науково-дослідного експертно-криміналістичного центру</strong></em>.</p>

<p style="text-align:justify">&nbsp; Іван Юрійович вказав на існуючі проблемні питання досудового розслідування злочинів; специфіку проведення огляду місця події злочину; охарактеризував найбільш резонансні справи м. Чернівці та Чернівецької області за останні десять років; звернув увагу студентів на особистість маніяка і причини вчинення ними злочинних діянь з особливою жорстокістю та особливим цинізмом.</p>

<p style="text-align:justify">&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;На лекційному занятті з навчальної дисципліни &laquo;Земельне право&raquo; Доманчук А.Д. з метою поглиблення знань студентів, підвищення юридичної грамотності і правової свідомості, формування високої правової культури та виховання поваги до законодавства України <em><strong>проведено інтелектуальну гру Брейн-Ринг</strong></em> між командами &laquo;Законність і правопорядок&raquo; та &laquo;Верховенство права&raquo;.</p>

<p style="text-align:justify">&nbsp; &nbsp;Переможців Брейн-Рингу визначено за результатами 5 турів: бліц-розминка; раунд &laquo;Земельно-правова енциклопедія&raquo;; земельно-правознавча естафета; раунд &laquo;Логічні лабіринти&raquo;; ситуаційне завдання&raquo; команду &laquo;Верховенство права&raquo; учасниками якої були: Чекан Сабіна, Чорна Анна, Савчук Валерія, Чокан Маргарита, Русу Христина, Світова Надія.</p>

<p style="text-align:justify">&nbsp; &nbsp; &nbsp; 5 грудня 2019 р. викладачами циклової комісії правознавчих дисциплін Анатійчук Вікторією Василівною та Доманчук Альоною Дмитрівною разом із студентами IV курсу 427 групи <em><strong>відвідано Освітньо-дослідницький центр Human Rights Lab CHNU</strong></em> де відбувся надзвичайно цікавий та пізнавальний <em><strong>івент &ndash; CHNU Legal Talks</strong></em> в ході якого обговорювались: &laquo;Сучасна освіта в школах&raquo;, &laquo;Дискримінація та різні її прояви в суспільстві&raquo;, &laquo;Дискримінація чоловіків&raquo;, &laquo;Зворотня дискримінація&raquo;, &laquo;Право як уявна реальність&raquo;, &laquo;Секрети та тонкощі державотворення&raquo;, &laquo;Зв&rsquo;язок між тероризмом і безробіттям&raquo;.<span style="background-color:white">&nbsp; </span>08.11. викладач циклової комісії правознавчих дисциплін Качур В.В. організував <em><strong>зустріч</strong></em> <em><strong>студентів</strong></em> друго курсу юридичного відділення <em><strong>із працівниками &nbsp;вибухотехнічного відділу Головного управління Національної поліції в Чернівецькій області</strong></em>.&nbsp;</p>

<p style="text-align:justify"><img alt="" src="/pages/files/2d4ab998b626/IMG_20191205_13094911.jpg" style="height:373px; width:780px" /></p>

<p style="text-align:justify">&nbsp; &nbsp;09.12 студенти ІІІ та ІV курсу спеціальності &laquo;Право&raquo; разом із викладачем циклової комісії правознавчих дисциплін Доманчук Альоною Дмитрівною <em><strong>відвідали Управління патрульної поліції в Чернівецькій області</strong></em> з метою ознайомлення із практичними особливостями роботи патрульної поліції.</p>

<p style="text-align:justify">&nbsp; &nbsp;Із студентами провів бесіду начальник управління Артур Шкроб, який розповів про роботу управління та його структуру а також про цікаві випадки із служби та відповів на всі поставлені запитання. Найактивніші слухачі отримали подарунки на згадку про зустріч.</p>

<p style="text-align:justify">&nbsp; &nbsp;10 грудня в&nbsp; 45 аудиторії&nbsp; викладачем циклової комісії правознавчих дисциплін Флорескул-Світовою С.Л було <em><strong>проведено Брейн-Ринг.</strong></em>&nbsp;</p>

<p style="text-align:justify">&nbsp; &nbsp;За титул найрозумніших змагались три команди третього курсу. Студенти показали високий рівень загальноправових знань та знань у сфері прав та свобод людини.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:365px">
	<tbody>
		<tr>
			<td style="text-align:center"><img alt="" src="/pages/files/286a08b84bc4/3.jpg" style="height:276px; width:300px" /></td>
			<td style="text-align:center"><img alt="" src="/pages/files/64665caa3667/4.jpg" style="height:276px; width:365px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp;&nbsp;<span style="background-color:white">&nbsp; &nbsp;10 грудня 2019 року студенти - правники Коледжу ЧНУ ім. Ю. Федьковича разом з викладачами циклової комісії правознавчих дисциплін Флорескул-Світовою С.Л. та Анатійчук В.В. <em><strong>відвідали захід присвячений Всеукраїнському дню безоплатної правничої допомоги</strong></em>, організований Чернівецьким місцевим центром надання БВПД. Також, студенти були присутні на <em><strong>відкритті фотовиставки</strong></em> &laquo;Правова допомога поруч&raquo;, де у 60 світлинах відображені кадри надання безоплатної допомоги в Україні. Під час відкриття виставки були почуті &laquo;живі&raquo; історії людей, які отримали правові консультації. Також були нагороджені переможці конкурсу дитячих малюнків &laquo;Права людини &ndash; очима дітей&raquo;. Під час заходу студенти мали можливість поспілкуватись з керівником Головного територіального управління юстиції у Чернівецькій області Васильчук Вікторією Олександрівною і змогу задати їй цікаві питання, що стосуються центру та бюро правової допомоги.</span></p>

<table border="1" cellpadding="1" cellspacing="1" style="width:1px">
	<tbody>
		<tr>
			<td colspan="3"><img alt="" src="/pages/files/17d5af69fb96/зображення_viber_2019-12-16_14-28-17.jpg" style="height:570px; width:760px" /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/6171fb9cd8e8/зображення_viber_2019-12-16_14-28-13.jpg" style="height:253px; width:253px" /></td>
			<td><img alt="" src="/pages/files/e92029c6129f/2.jpg" style="height:253px; width:253px" /></td>
			<td><img alt="" src="/pages/files/f121e09f5aba/зображення_viber_2019-12-16_14-28-125.jpg" style="height:253px; width:253px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;11 грудня 2019 р. викладачем циклової комісії правознавчих дисциплін Доманчук Альоною Дмитрівною організовано <em><strong>зустріч начальника Управління міжнародного співробітництва та європейської інтеграції Чернівецької облдержадміністрації Жебчук Ганни Юріївни</strong></em> із студентами IV курсу спеціальності &laquo;Право&raquo;. Зустріч проведена з метою ознайомлення студентів із системою міжнародного захисту прав людини.</p>

<p style="text-align:justify">&nbsp; &nbsp;Ганна Юріївна виступила з інформацією про сприяння захисту прав громадян України, які перебувають за кордоном, зокрема про консульський захист та порядок повернення в Україну громадян, які стали жертвами злочинів, про вирішення проблем в разі втрати паспортів, про соціальний захист працівників-мігрантів, про сприяння консульських установ України в оформленні всіх необхідних супровідних документів та виконанні формальностей у разі смерті громадянина України за кордоном, про роботу урядової &laquo;гарячої лінії&raquo; та ін.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:1px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/be23c8e7338a/IMG_20191211_113324.jpg" style="height:200px; width:267px" /></td>
			<td><img alt="" src="/pages/files/7fbf92426581/IMG_20191211_115829.jpg" style="height:200px; width:463px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;12 грудня 2019 року в рамках проведення &laquo;Тижня права&raquo;, за ініціативи викладача циклової комісії правознавчих дисциплін, Попельницької Н.С. було організовано і проведено <em><strong>тематичний виховний захід на тему: &laquo;Права людини в контексті міжнародних стандартів&raquo;.</strong></em></p>

<p style="text-align:justify"><em><strong><img alt="" src="/pages/files/42224fcfc6b7/зображення_viber_2019-12-16_13-22-09.jpg" style="height:583px; width:765px" /></strong></em></p>

<p style="text-align:justify">&nbsp; &nbsp;&nbsp; &nbsp;Захід проводився з метою ознайомлення студентів 1 курсу спеціальності &laquo;Право&raquo; з фундаментальними правами людини, передбаченими Загальною декларацією прав людини від 10 грудня 1948 року.</p>

<p style="text-align:justify">&nbsp; &nbsp;Для підвищення своїх знань, студенти Коледжу ЧНУ взяли <strong>участь у грі &ldquo;Правова монополія&rdquo;</strong>, метою якої є обговорення основних прав людини і громадянина, закріплених Конституцією України. Даний захід присвячений Міжнародному дню прав людини який було засновано 4 грудня 1950 року на засіданні Генеральної Асамблеї ООН.</p>

<p style="text-align:justify">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img alt="" src="/pages/files/132a0f74eefb/1.jpg" style="height:360px; width:360px" /></p>

<p style="text-align:justify">&nbsp;&nbsp; &nbsp;В рамках тижня права&nbsp; студенти юридичного відділення коледжу взяли участь в <em><strong>конкурсі стінгазет</strong></em> на правову тематику де студенти змогли за допомогою ілюстрацій показати, які вони знають права.</p>

<p style="text-align:justify">&nbsp; &nbsp;У бібліотеці Коледжу ЧНУ проведена <em><strong>книжкова виставка &laquo;На паралельних дорогах прав та обов&rsquo;язків&raquo;</strong></em>, постійно проводились тематичні огляди &laquo;Знання законів &ndash; знання прав&raquo;.</p>

<p style="text-align:justify">&nbsp; &nbsp;Вищезазначені заходи сприяли підвищенню рівня правових знань та правової культури як студентів так і суспільства в цілому, формуванню у студентів поваги до права, загальнолюдських та національних правових цінностей, а також подоланню правового нігілізму, підвищенню ефективності правоосвітньої та правовиховної роботи у навчальному закладі.</p>
