<p style="text-align:center"><img alt="" src="/pages/files/621ef7190590/vstup-2020.jpg" style="height:156px; width:780px" /><strong>До уваги абітурієнтів<br />
Коледжу Чернівецького національного університету імені Юрія Федьковича!!!</strong></p>

<p style="text-align:justify"><strong>&nbsp; &nbsp;Прийом документів на базі 9 класів здійснюється з 30 червня по 13 липня 2020 року за адресою: м. Чернівці, вул. Коцюбинського, 2, корпус № 5 ЧНУ,&nbsp; ауд. 228 (2 поверх). </strong></p>

<p style="text-align:justify"><strong>&nbsp; &nbsp; &nbsp;Прохання дотримуватися МАСКОВОГО РЕЖИМУ&nbsp;та СОЦІАЛЬНОЇ ДИСТАНЦІЇ. </strong></p>

<p style="text-align:justify">&nbsp; &nbsp;Абітурієнти можуть особисто подавати документи до вступу (див. перелік) або згідно з Правилами прийому до Коледжу Чернівецького національного університету імені Юрія Федьковича подання заяв в 2020 році може здійснюватися шляхом надсилання заповнених <a href="/pages/files/c9c26171d829/Заява 9 клас.doc">заяв встановленої форми</a> (яка роздруковується, заповнюється особисто абітурієнтом, фотографується і надсилається) та фотокопій наступних документів:</p>

<ol>
	<li style="text-align:justify">ID-картка (паспорт) та витяг до неї;</li>
	<li style="text-align:justify">Свідоцтво про базову загальну середню освіту та додаток до нього;</li>
	<li style="text-align:justify">Ідентифікаційний код.</li>
</ol>

<p style="text-align:justify">на електронну адресу Приймальної комісії коледжу <strong><a href="mailto:vstup_college@chnu.edu.ua"><span style="color:black"><span style="color:black">vstup</span></span><span style="color:black"><span style="color:black">_</span></span><span style="color:black"><span style="color:black">college</span></span><span style="color:black"><span style="color:black">@</span></span><span style="color:black"><span style="color:black">chnu</span></span><span style="color:black"><span style="color:black">.</span></span><span style="color:black"><span style="color:black">edu</span></span><span style="color:black"><span style="color:black">.</span></span><span style="color:black"><span style="color:black">ua</span></span></a></strong>.</p>

<p style="text-align:justify">&nbsp; &nbsp;Приймальна комісія коледжу протягом 1 календарного дня надсилає підтвердження отримання заяви та&nbsp; повідомляє про час та дату проведення першого вступного іспиту.</p>

<p style="text-align:justify">&nbsp; &nbsp;Такий вступник подає заяву в паперовій формі та наступні документи особисто до Приймальної комісії коледжу за 1 годину до початку першого іспиту:</p>

<ol>
	<li style="text-align:justify">Свідоцтво про базову загальну середню освіту та додаток до нього (+ <strong>чорно-білі</strong> ксерокопії);</li>
	<li style="text-align:justify">ID-картка (паспорт) та витяг до неї&nbsp; (+ <strong>чорно-білі </strong>&nbsp;ксерокопії);</li>
	<li style="text-align:justify">Ідентифікаційний код ( + <strong>чорно-біла</strong> ксерокопія);</li>
	<li style="text-align:justify">Чотири&nbsp; кольорових фотокартки &nbsp;розміром 3 х 4;</li>
	<li style="text-align:justify">2 конверти з марками по Україні&nbsp; + 1 конверт формату А5;</li>
	<li style="text-align:justify">Папка для паперів на зав&rsquo;язках.</li>
</ol>

<p style="text-align:justify">&nbsp; &nbsp;Нагадуємо, що кожен абітурієнт має право подати заяву на 3 спеціальності з вказанням пріоритету (пріоритет 1 &ndash; найбільш бажана спеціальність).</p>

<p style="text-align:justify">&nbsp; &nbsp;Зразок заповненої заяви дивись нижче.</p>

<p style="text-align:justify">&nbsp; &nbsp;Абітурієнти, які зареєстровані в селах і здобули базову середню освіту (9 класів) у закладах освіти, які знаходяться на території сіл, у 2020 році подають довідку додатку 13 до Правил реєстрації місця проживання та Порядку передачі органами реєстраціїі інформації до Єдиного державного демографічного реєстру, затвердженого Постановою КМУ від 2 березня 2016 року № 207.</p>

<p style="text-align:justify"><strong>&nbsp; &nbsp;Абітурієнти пільгових категорій документи подають лише в паперовій формі.</strong></p>

<ul>
	<li style="text-align:justify"><a href="/pages/files/365663914261/Заява_2.pdf">ЗРАЗОК ЗАПОВНЕНОЇ ЗАЯВИ</a>.</li>
	<li style="text-align:justify"><a href="/pages/files/9452d899e517/Заява_1.pdf">ЗРАЗОК ЗАПОВНЕНОЇ ЗАЯВИ на спеціальність &laquo;Право&raquo;</a>.</li>
</ul>

<p style="text-align:justify">Телефон для консультацій <strong>Приймальної комісії коледжу 068-790-46-90</strong></p>
