<p style="text-align:justify">&nbsp; &nbsp;Викладача&nbsp;філологічних дисциплін Коледжу ЧНУ імені Юрія Федьковича&nbsp;<strong>Ірину МАРКО</strong>&nbsp;нагороджено&nbsp;медаллю&nbsp;<strong>&laquo;За відданість справі&raquo;</strong>. До загальноукраїнської відзнаки&nbsp;Громадської&nbsp;організації&nbsp;&laquo;Всеукраїнське об&#39;єднання громадян &laquo;Країна&raquo;&nbsp;педагога подала громадська організація &laquo;Фестивальний центр &laquo;Суперстар&raquo;.&nbsp;Девіз відзнаки &laquo;Знання, душу, серце &mdash; дітям&raquo; є життєвим принципом Ірини Вікторівни.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/053ad891b768/005.jpg" style="height:329px; width:780px" />&nbsp; &nbsp;Марко Ірина Вікторівна за велінням серця на громадських засадах працює з творчими обдарованими студентами коледжу, &nbsp;які прагнуть розвиватися та люблять українське слово.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/d10a8d02b740/002.jpg" style="height:438px; width:780px" />&nbsp; &nbsp;Професійне кредо Ірини Вікторівни&nbsp;&laquo;Мислю, отже існую&raquo;. Ключовим &nbsp;методом роботи є &nbsp;мотивація та створення ситуації успіху. Девіз педагога &ndash; &laquo;Я знаю &ndash; Ти зможеш!&raquo; і безмежна віра у справу та власний приклад мотивують студентів підкорювати численні всеукраїнські і міжнародні конкурси і здобувати впевнені призові місця!</p>

<p style="text-align:justify">&nbsp; &nbsp;Серед особистих творчих досягнень Марко І.В. - Гран-прі &nbsp;у дорослій категорії &laquo;Читці&raquo; на Міжнародному фестивалі-конкурсі &laquo;Талановиті діти України&raquo; (28.10.2018 р., м.Київ) та Гран-прі на Міжнародному фестивалі-конкурсі &laquo;Golden fest&raquo; &ndash; 2019 w Magicznyсh Ogrodaсh (з 28.08- 01.09.2019 у м. Тжчьанки (Польща).</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/c67927be24e9/002.jpg" style="height:555px; width:390px" /></td>
			<td><img alt="" src="/pages/files/25bb7017f3f4/004.jpg" style="height:555px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;Упродовж 2018-2020 рр.під керівництвом Марко.І.В. студенти вибороли <strong>17 🏆🏆🏆 перемог</strong> на Всеукраїнських та Міжнародних конкурсах.&nbsp;Географія міжнародних конкурсів &ndash; Чернівці, Київ, Полтава, Запоріжжя, Херсон, Бердянськ; Польща, Канада, Болгарія.</p>

<p style="text-align:justify">&nbsp; &nbsp;Щирі <strong>ВІТАННЯ</strong>, подальших яскравих <strong>ПЕРЕМОГ</strong>!!!</p>
