<p style="text-align:justify">&nbsp; &nbsp;05 березня 2020 року студенти III-IV курсів&nbsp;спеціальності &laquo;Право&raquo; взяли участь у <strong>тренінгу &laquo;Доступно про медіацію&raquo;</strong>, &nbsp;що проводився на базі юридичного факультету Чернівецького національного університету імені Юрія Федьковича.</p>

<p style="text-align:justify">&nbsp; &nbsp;Проводився тренінг сертифікованими медіаторами: д.ю.н., завідувачем кафедри публічного права ЧНУ імені&nbsp;Юрія Федьковича, головою правління <a name="_Hlk34344053">ГО &laquo;Буковинський центр медіації&raquo;</a> &ndash; <strong>Р. Гаврилю</strong>к, к.ю.н., доцентом кафедри публічного права <a name="_Hlk34344168">ЧНУ імені&nbsp;Юрія Федьковича</a>, магістром психології, &nbsp;членом ГО &laquo;Буковинський центр медіації&raquo; &ndash; <strong>О. Меленко</strong>; керівником лабораторії медіації, переговорів та арбітражу кафедри публічного права ЧНУ ім. Юрія Федьковича &ndash; <strong>Л. Нестеренко</strong> та керівником юридичної клініки юридичного факультету ЧНУ ім. Юрія Федькович, к.ю.н., адвокатом <a name="_Hlk34344384">&ndash;</a> <strong>І. Романюк</strong>.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/4ca7919ed61c/002.jpg" style="height:388px; width:780px" /></p>

<p style="text-align:justify">&nbsp; &nbsp;На тренінгу &laquo;Доступно про медіацію&raquo; студенти мали змогу отримати ключові знання про основи роботи з конфліктом та процес медіації. Було озвучено правила комунікації, розкрито сутність конфлікту, його позитивні та негативні аспекти.</p>

<p style="text-align:justify">&nbsp; &nbsp;Р. Гаврилюк та О. Меленко охарактеризували сутнісну природу медіації, її принципи і техніки за допомогою яких з легкістю можна вирішувати конфлікти, а також та описали портрет особи медіатора,</p>

<p style="text-align:justify">&nbsp; &nbsp;Учасникам тренінгу було роз&rsquo;яснено яким чином складати карту конфлікту і як вона сприяє у вирішенні конфліктної ситуації, що склалася.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/bbfe386f3a9d/001.jpg" style="height:319px; width:780px" />&nbsp; &nbsp;Протягом тренінгу матеріал викладався, в доступній для учасників формі, з подальшим його обговоренням, закріпленням та відпрацюванням отриманих знань на практиці. &nbsp;</p>

<p style="text-align:justify">&nbsp; &nbsp;Всім учасникам тренінгу було вручено Сертифікат, який засвідчує їхню участь у навчальному тренінгу &laquo;Доступно про медіацію&raquo;.</p>
