<p style="text-align:center">Прикладна математика</p>

<p><img alt="mat" src="/pages/files/74f4b302df23/KNIT.jpg" style="height:291px; width:720px" /></p>

<p style="text-align:justify">&nbsp; &nbsp;</p>

<p style="text-align:justify">Майже всі, у кого є навики роботи на комп&rsquo;ютері, люблять грати в комп&rsquo;ютерні ігри. Але мало хто замислюється над тим, як досягається об&rsquo;ємність зображення на екрані, за рахунок чого ми можемо розглядати предмет з усіх боків як у реальному житті, розгулювати по лабіринтах віртуального замку. Без математики все це було б неможливим.</p>

<p style="text-align:justify">За допомогою прикладної математики ми можемо зробити видимими на екрані дисплея, наприклад, такі процеси, як розповсюдження електромагнітних хвиль у різних середовищах, роботу внутрішніх органів людини. Навіть прогноз погоди неможливо зробити без фахівців з прикладної математики. Саме спеціальність <strong><em>&ldquo;Прикладна математика&rdquo;</em></strong> забезпечує інтегровану підготовку кадрів, які найбільш повно відповідають сучасному уявленню про вимоги, що висуваються до спеціалістів з інформаційних технологій.</p>

<p style="text-align:justify">Випускник спеціальності <strong><em>&ldquo;Прикладна математика&rdquo;</em></strong>&nbsp; підготовлений до діяльності, що вимагає поглибленої фундаментальної і професійної підготовки, у тому числі до науково-дослідної роботи в областях, що використовують методи прикладної математики і комп&rsquo;ютерні технології; створення і використання математичних моделей процесів і об&rsquo;єктів; розробки та застосування сучасних математичних методів та програмного забезпечення для вирішення завдань науки, техніки, економіки та управління; використання інформаційних технологій у проектно-конструкторської, управлінської та фінансової діяльності. Обґрунтованість і глибина підготовки в галузі прикладної математики дозволяє випускникам успішно займатися дослідженнями в різних областях математичного моделювання та інформаційних технологій для вдосконалення управління і підвищення ефективності бізнесу, дослідження та створення логістичних систем зв&rsquo;язку.</p>

<p style="text-align:justify">Отже, математика плюс комп&rsquo;ютер &ndash; це і складає суть спеціальності <strong><em>&ldquo;Прикладна математика&rdquo;</em></strong>. Вивчивши необхідні дисципліни, ви зможете застосувати свої знання і навики в будь-якій сфері людської діяльності.</p>

<p style="text-align:justify">&nbsp;</p>

<p style="text-align:center"><strong>Основні дисципліни, які складають фахову підготовку:</strong></p>

<p>&bull; Математичний аналіз;<br />
&bull; Теорія ймовірності та математична статистика;<br />
&bull; Чисельні методи;<br />
&bull; Дискретна математика;<br />
&bull; Диференціальні рівняння;<br />
&bull; Рівняння математичної фізики;<br />
&bull; Методи оптимізації та дослідження операцій;<br />
&bull; Мова програмування Сі;<br />
&bull; Програмне забезпечення;<br />
&bull; Спеціалізовані мови програмування;<br />
&bull; Об&#39;єктно-зорієнтоване програмування;<br />
&bull; Системне програмування;<br />
&bull; Комп&#39;ютерна графіка;<br />
&bull; Бази даних;<br />
&bull; Операційні системи;<br />
&bull; Обчислювальні системи, мережі та комп&#39;ютерні комунікації;<br />
&bull; Ресурси і сервіси мережі Internet;<br />
&bull; Моделювання еколого-економічних і соціальних процесів;<br />
&bull; Основи менеджменту та маркетингу;<br />
&bull; Основи економічних теорій.</p>

<p style="text-align:center"><strong>Професійні назви робіт, які здатний виконувати фахівець<br />
освітньо-кваліфікаційного рівня &quot;Молодший спеціаліст&quot;:</strong></p>

<p>&bull; Розробник математичного та програмного забезпечення ЕОМ;<br />
&bull; Технік-програміст;<br />
&bull; Керівник робочих груп фірм по розробці математичного та програмного забезпечення ЕОМ;<br />
&bull; Керівник відділу комп&#39;ютерних технологій в корпоративних системах;<br />
&bull; Адміністратор бази даних.</p>

<p style="text-align:center"><strong>Основні місця роботи, де можна працювати після закінчення навчання:</strong></p>

<p>&bull; Банківські установи;<br />
&bull; Відділ обробки інформації підприємств різних форм власності;<br />
&bull; Фірми, які займаються розробкою прикладного та програмного забезпечення;<br />
&bull; Фірми, що є провайдерами послуг Internet;<br />
&bull; Фірми, що надають послуги кабельного та супутникового телебачення;<br />
&bull; Наукові інститути і установи.</p>
