<p><img alt="" src="/pages/files/6c51bddac5ef/STOPCOVID.jpg" style="height:487px; width:780px" /></p>

<p style="text-align:center"><strong>ІНФОРМАЦІЯ&nbsp;</strong><br />
щодо створення безпечних умов для учасників освітнього процесу<br />
з урахуванням епідемічної ситуації в регіоні</p>

<hr />
<p><strong>1.</strong> <a href="/pages/files/bd5dd17fa5be/Polozhennia.pdf">ПОЛОЖЕННЯ про навчання з використанням можливостей дистанційних технологій навчання</a><br />
<strong>2.</strong> <a href="/pages/files/dea8ecd0015e/217.PDF">Наказ №217&nbsp;(Щодо організації протиепідемічних заходів у гуртожитках)</a><br />
<strong>3.</strong> <a href="/pages/files/b38cb7a70a5a/217а.PDF">Наказ №217а (Щодо організації протиепідемічних заходів під час освітнього процесу)</a><br />
<strong>4.</strong> <a href="/pages/files/dc2125c617f1/274_ЧНУ.PDF">Наказ №274 (Про освітній процес та посилення заходів щодо запобігання захворюванням)</a><br />
<strong>5.</strong> <a href="/pages/files/4e204ec82d88/Organization.pdf">Розпорядження №2 (Щодо організації протиепідемічних заходів під час освітнього процесу)</a><br />
<strong>6.</strong> <a href="/pages/files/c1db113b9ef3/Algoritm.pdf">Розпорядження №3&nbsp;(Алгоритм дій)</a><br />
<strong>7.</strong> <a href="/pages/files/8ad4d5c132df/Розп_18.pdf">Розпорядження №18 (Про освітній процес та посилення заходів щодо запобігання захворюванням)</a></p>
