<p style="text-align: justify;"><img alt="" src="/pages/files/4847b98de98c/icpc-logo.png" style="height:178px; width:780px" />&nbsp; &nbsp;У Відділі комп&lsquo;ютерних технологій, ІФТКН відбулося нагородження переможців відбіркового туру Міжнародної олімпіади з програмування АСМ ІСРС. Цьогоріч за вихід у 1/4 конкурсу змагалися 46 команд з Чернівецької, Тернопільської, Івано-Франківської &nbsp;області&nbsp;до складу яких входили студенти ІТ-спеціальностей Чернівецького національного університету та коледжів, учнів ліцеїв і шкіл.</p>

<p style="text-align: justify;"><img alt="" src="/pages/files/76e5d8a4a245/001.jpg" style="height:239px; width:780px" /></p>

<p>&nbsp; &nbsp;Коледж ЧНУ був представлений трьома командами дві із яких&nbsp;пройшли у фінал.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/ea02fd72ac0f/002.jpg" style="height:293px; width:390px" /></td>
			<td><img alt="" src="/pages/files/3c4d96d65b86/003.JPG" style="height:260px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p>&nbsp; &nbsp;Вітаємо наших учасників команд:</p>

<ul>
	<li>Чолак Владислав</li>
	<li>Платановський Мирослав</li>
	<li>Мар&rsquo;янчук Олександр</li>
	<li>Харитон Вадим</li>
	<li>Флорескул Максим</li>
	<li>Кравець Ілля</li>
</ul>

<p style="text-align: justify;"><img alt="" src="/pages/files/7f2406daeef6/IMG_8784.JPG" style="height:280px; width:780px" /></p>

<p style="text-align: justify;">&nbsp; &nbsp;Бажаємо всім учасникам підкорення нових вершин! Не втрачайте інтересу до справи, яку ви обрали, вірте у власні сили та надихайте інших.</p>
