<p style="text-align:center"><img alt="" src="/pages/files/9b83b6d7ce9d/nasajt8-91-1024x626.jpg" style="height:477px; width:780px" /><a href="/pages/files/18e652991dc5/ІНФ_УІНП.pdf"><strong>ІНФОРМАЦІЙНІ МАТЕРІАЛИ</strong></a></p>

<hr />
<p style="text-align: justify;">&nbsp; Студенти Коледжу Чернівецького національного ніверситету імені Юрія Федьковича активно долучилися до пам&#39;ятних заходів до ДНЯ ПАМ&#39;ЯТІ ТА&nbsp;ПРИМИРЕННЯ і&nbsp;ДНЯ ПЕРЕМОГИ НАД НАЦИЗМОМ У ДРУГІЙ СВІТОВІЙ ВІЙНІ.</p>

<p style="text-align: justify;"><img alt="" src="/pages/files/cf50029c7df7/viber image 2019-05-08 , 17.54.01.jpg" style="height:423px; width:780px" /></p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/70892a4bb741/viber image 2019-05-08 , 10.51.32.jpg" style="height:293px; width:390px" /></td>
			<td><img alt="" src="/pages/files/945e093b5708/viber image 2019-05-08 , 10.51.31.jpg" style="height:293px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
