<p style="text-align: justify;"><img alt="" src="/pages/files/626886f04ff6/unnamed (1).jpg" style="height:277px; width:780px" />&nbsp; &nbsp;Студенти Коледжу ЧНУ імені Юрія Федьковича&nbsp;взяли активну участь в обласному флешмобі &quot;Jump Sguats&quot; та легкоатлетичному пробігу &quot;Студентська миля&quot; до відзначення&nbsp;<strong>Міжнародного дня студентського спорту в Україні</strong>.</p>

<p style="text-align: justify;"><img alt="" src="/pages/files/a0ba6d22d858/001.jpg" style="height:298px; width:780px" /></p>

<hr />
<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/6c8b2f25e991/002.jpg" style="height:293px; width:390px" /></td>
			<td><img alt="" src="/pages/files/59c390457709/003.jpg" style="height:292px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
