<p><img alt="" src="/pages/files/774b14fade20/college+uni.jpg" style="height:265px; width:780px" /></p>

<p style="text-align: center;"><strong><span style="color:#3c3c3c"><span style="background-color:#ffffff">Вельмишановний абітурієнте!</span></span></strong></p>

<p style="text-align:justify"><span style="color:#3c3c3c"><span style="background-color:#ffffff">&nbsp; &nbsp;Запрошуємо Вас, Ваших батьків і друзів на онлайн-зустріч &ndash; День відкритих дверей у Чернівецькому національному університеті імені Юрія Федьковича та Коледжі ЧНУ імені Юрія Федьковича.<br />
&nbsp; &nbsp;Чернівецький національний університет імені Юрія Федьковича - один із найдавніших, найвідоміших і найпрестижніших закладів вищої освіти України і Східної Європи, будівлі якого входять до культурної спадщини ЮНЕСКО.&nbsp;<br />
&nbsp; &nbsp;Під час онлайн-зустрічі Ви зможете поспілкуватися з керівниками університету і його структурних підрозділів, дізнатися про особливості вступної кампанії 2020 р., ознайомитися із престижними спеціальностями інститутів і факультетів, можливостями працевлаштування після закінчення ЗВО, почути думку студентів про університет.<br />
&nbsp; &nbsp;Онлайн-зустріч відбудеться у п&#39;ятницю (24 квітня 2020 р.). Початок о 13:00. Зареєструватися за пропонованою формою можна до 23:59 год. 22 квітня 2020 р.<br />
&nbsp; &nbsp;У реєстраційній формі можна поставити запитання, які Вас цікавлять.<br />
&nbsp; &nbsp;Чекаємо на зустріч!</span></span></p>

<p style="text-align: center;"><span style="color:#3c3c3c"><span style="background-color:#ffffff"><a href="https://docs.google.com/forms/d/e/1FAIpQLSf5VYSQcXMju3eruu4GPdBT0DLNRPsIYwHGhwk0ypHuuDOvbw/viewform">ЗАРЕЄСТРУВАТИСЯ</a></span></span></p>

<p style="text-align: center;"><strong><span style="color:#3c3c3c"><span style="background-color:#ffffff">Обирай кращих! Навчайся у кращих! Будь кращим!</span></span></strong></p>
