<p style="text-align:justify"><img alt="" src="/pages/files/5f649cc97180/publicphil_sitetitle.jpg" style="height:260px; width:780px" />&nbsp; &nbsp;03 грудня 2019 року&nbsp;у стінах&nbsp;Коледжу&nbsp;ЧНУ імені&nbsp;Юрія&nbsp;Федьковича&nbsp;відбувся виховний захід в рамках проведення<strong>&nbsp;&quot;Тижня філософії&quot;.</strong>&nbsp;Були запрошені викладачі кафедри філософії ЧНУ імені Юрія Федьовича -&nbsp;Козьмук Ярослав Романович та&nbsp;Онофрейчук Роман Васильович, а також їхні студенти, які провели міні-лекцію на тему&nbsp;<strong>&quot;Цінність філософії для студентів нефілософських спеціальностей&quot;</strong>.&nbsp;</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/737c59e515cd/001.jpg" style="height:245px; width:390px" /></td>
			<td><img alt="" src="/pages/files/cbbfda95edb0/002.jpg" style="height:244px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p><img alt="" src="/pages/files/edd6cd668f35/003.jpg" style="height:360px; width:780px" /></p>
