<p style="text-align: justify;">&nbsp; &nbsp;Викладач Коледжу ЧНУ імені&nbsp;Юрія Федьковича, Іван ПЕРЖУН, в цьому навчальному році став національним лектором&nbsp;<a href="https://ual.ua/">Української академії лідерства</a>. Якщо ще в минулому році він викладав тільки у Чернівецькому осередку цієї організації, будучи регіональним лектором, то зараз веде курс &laquo;Філософія&raquo; в усіх осередках академії (Київ, Львів, Харків, Миколаїв, Маріуполь).</p>

<p style="text-align: justify;"><img alt="" src="/pages/files/5a49f15806fa/006.jpg" style="height:328px; width:780px" />&nbsp; &nbsp;У зв&rsquo;язку з віддаленістю та епідеміологічною ситуацією, більшість лекцій проходять у форматі онлайн, так вже були проведені заняття для Маріупольського, Харківського і Миколаївського осередків. Але 19.09.2020 р. Іван Волдимирович провів&nbsp;очні лекції для львівських студентів академії на тему &laquo;Філософія епохи Античності&raquo;, під час яких слухачі ознайомились з етичною системою Сократа, концепціями ідеальної держави і суспільства Платона та Аристотеля, їх типологіями форм правління, онтологічними та гносеологічними ідеями, класифікаціями наук. Особлива увага загострювалась на категоріях добра, любові, альтруїзму, справедливості у працях даних мислителів. В процесі роботи, студенти уважно слухали, записували, задавали запитання, висловлювали свої думки, активно вели дискусію.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/ac242af8e16a/000.jpg" style="height:301px; width:390px" /></td>
			<td><img alt="" src="/pages/files/1ed88866db13/004.jpg" style="height:301px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align: justify;">&nbsp; &nbsp;Той самий обсяг матеріалу та методика роботи застосовується Іваном Володимировичем і для студентів нашого коледжу всіх спеціальностей, що допомагає їм краще усвідомлювати себе, свій зв&rsquo;язок з оточуючим світом, закономірності розвитку природи, суспільства та держави. Знання філософії також допомагають їм розвиватись інтелектуально та морально, адже справжня мудрість - це поєднання знань і доброти.</p>
