<p style="text-align: justify;"><img alt="" src="/pages/files/dfcae636e38b/pressvesna2019_mini2223.jpg" style="height:164px; width:790px" />&nbsp; &nbsp;17-19 травня 2019 року пройшов&nbsp;<strong>ХVII&nbsp;Міжнародний фестиваль-конкурс дитячо-юнацької журналістики &laquo;Прес-весна на Дніпрових схилах&raquo;</strong>.&nbsp;Юні журналісти, фотографи, блогери, телевізійники та ІТ-ішники з 7 країн світу&nbsp;на розгляд журі надали близько 1000 робіт у 10 номінаціях. Свою роботу представила і студетка&nbsp; 1-го курсу Коледж ЧНУ -&nbsp;<strong>Ольга Плотнікова</strong>.&nbsp;Юні журналісти, фотографи, блогери, телевізійники та ІТ-шники з 7 країн світу: Білорусі, Польщі, Франції, Нідерландів, Чехії, Словаччии, Словенії та України.&nbsp;На розгляд журі надали близько 1000 робіт у 10 номінаціях: &quot;Літературний твір&quot;, &quot;Газета&quot;, &quot;Журналістська робота&quot;, &quot;Медіа-проект&quot;, &quot;Телефільм&quot;, &quot;Фоторепортаж&quot;, &quot;Радіо робота&quot;, &quot;Голос покоління Z&quot;, &quot;Традиції та новаторство&quot; та &quot;Інтернет-журналістика та ІТ-проект&quot;.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/72203776988f/001.jpg" style="height:561px; width:390px" /></td>
			<td><img alt="" src="/pages/files/45ec045722f3/004.jpg" style="height:560px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align: justify;">&nbsp; &nbsp;<strong>Ольга Плотнікова</strong>, вихованка гуртка &quot;Моя майбутня професія&quot; (керівник - Інна Плотнікова), студентка 1-ко курсу спеціальності &quot;Комп&#39;ютерні науки&quot;&nbsp;отримала почесне <strong>ІІ місце</strong> у номінації &quot;Інтернет-журналістика та ІТ-проект&quot;, створивши Лонгрід &quot;Людські крила&quot; на платформі &quot;Tilda&quot; та <strong>ІІІ місце</strong> у номінації &quot;Новітні медіа&quot;. Щиро ВІТАЄМО нашу подвійну призерку і бажаємо подальшого творчого натхнення, успіхів, ще більше нових перемог та руху тільки вперед!</p>

<p><img alt="" src="/pages/files/c19b4f5f7dfc/003.jpg" style="height:479px; width:790px" /></p>
