<p style="text-align:justify"><img alt="" src="/pages/files/af48a7b7f0c1/maxresdefault.jpg" style="height:170px; width:780px" /><img alt="" src="/pages/files/1d87ade28508/001.jpg" style="height:239px; width:780px" />&nbsp; &nbsp;29 травня 2019 року&nbsp;у стінах Коледжу транспорту та комп&#39;ютерних технологій Чернігівського національного технологічного університету&nbsp;- відбулась&nbsp;<strong>Х Всеукраїнська&nbsp;олімпіада&nbsp;з МАТЕМАТИКИ&nbsp;</strong>серед студентів закладів вищої освіти, що здійснюють підготовку молодшого спеціаліста. Чернівецьку область на цих змаганнях представляв студент спеціальності &quot;Комп&#39;ютерна інженерія&quot; Коледжу ЧНУ імені Юрія Федьковича -&nbsp;<strong>Мар&#39;янчук Олександр</strong>.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/20531eb73c7d/002.jpg" style="height:360px; width:780px" />&nbsp; &nbsp;Дні, проведені в Чернігові, дали учасникам унікальну можливість відчути єдність усіх областей країни в царині математики, обмінятись ідеями, знайти однодумців із 24 областей України. Вони відвідали історичні місця, поринули в минуле Чернігова та його легендарних постатей, почули цікаві розповіді знаних науковців краю.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/f15e9fe3c81b/003.jpg" style="height:266px; width:780px" /></p>

<hr />
<p style="text-align:justify"><img alt="" src="/pages/files/dc426b552a79/004.jpg" style="height:271px; width:780px" />&nbsp; &nbsp;Наш студент, <strong>Мар&rsquo;янчук Олександр Олегович</strong>, у нелегкій боротьбі посів почесне<strong> ІІІ місце</strong>&nbsp; виборовши бронзу.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/0bf222ba5528/005.jpg" style="height:553px; width:390px" /></td>
			<td><img alt="" src="/pages/files/f4f8acb2fcab/_Student 1.jpg" style="height:552px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/30663981871b/_Student 2.jpg" style="height:555px; width:390px" /></td>
			<td><img alt="" src="/pages/files/c39ddbf67870/Student 4.jpeg" style="height:555px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;Щиро <strong>ВІТАЄМО</strong> нашого призера Х Всеукраїнської олімпіади з МАТЕМАТИКИ&nbsp;та бажаємо подальших успіхів!</p>

<p style="text-align:justify">&nbsp;</p>
