<p><img alt="" src="/pages/files/82fe55bebd14/europe.jpg" style="height:240px; width:780px" /></p>

<p style="text-align:justify"><span style="background-color:#fffdfd">&nbsp; &nbsp;Відзначення Дня Європи в Україні &ndash; це важливий крок у зміцненні само</span><span style="background-color:#fffdfd">і</span><span style="background-color:#fffdfd">дентифікації України як європейської держави, причетної до традицій і цінностей Європи. </span></p>

<p style="text-align:justify"><span style="background-color:#fffdfd"><img alt="" src="/pages/files/6581341f44d3/001.jpg" style="height:259px; width:780px" /></span></p>

<p style="text-align:justify"><img alt="" src="/pages/files/a286f8ca669d/002.jpg" style="height:253px; width:780px" />&nbsp; &nbsp;18 травня 2021 року<span style="background-color:#fffdfd"> до відзначення цієї події долучилися і студенти </span>Фахового коледжу Чернівецького національного університету ім. Ю.Федьковича. Захід було проведено у форматі онлайн із залученням студентів та викладачів Хотинського фахового коледжу Подільського державного аграрно-технічного університету.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/72a42c91cc6f/003.jpg" style="height:314px; width:780px" /><img alt="" src="/pages/files/1ef95c5f2013/004.jpg" style="height:379px; width:780px" />&nbsp; &nbsp;Анонсований захід&nbsp; було проведено у формі&nbsp; віртуальної подорожі &laquo;Пізнаймо Європу&raquo;. Під час подорожі студенти відкривали для себе нові культурні надбання європейської цивілізації. Ними було підготовлено цікаву інформацію&nbsp; та гарні, яскраві презентації. Свої розповіді студенти доповнювали поезією та піснями мовою відвіданих країн.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/733d364d9c66/005.jpg" style="height:342px; width:780px" /><img alt="" src="/pages/files/41a1eae352ee/006.png" style="height:253px; width:780px" /></p>

<p style="text-align:justify"><img alt="" src="/pages/files/c3b81b4d81a6/007.png" style="height:346px; width:780px" />&nbsp; &nbsp;Ідеологія проекту та сприяння його виконанню було забезпечено завдяки керівникам &ndash; викладачам французької мови Котелевській Р.А., Мельницькій О.А. та викладачу англійської мови Ксенчук В.В.</p>
