<p style="text-align:justify"><img alt="" src="/pages/files/5438dbf80892/Shevchenko.jpg" style="height:244px; width:780px" />&nbsp;4 березня 2021 р.&nbsp;в режимі ONLINE відбувся&nbsp;<strong>ФІНАЛ</strong>&nbsp;(ІІ тур) щорічного університетського конкурсу на краще читання української поезії, присвяченому 207-й річничі від Дня народження&nbsp;<strong>Тараса Шевченка</strong>. Фаховий коледж ЧНУ у фіналі представляли троє учасниць: Юлія Гашмей, Вівіан Тичіна та Юлія Джаман.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:260px">
	<tbody>
		<tr>
			<td style="text-align:center"><img alt="" src="/pages/files/2bcc1f021765/156806254_3723158281095844_8249310302582244896_o.jpg" style="float:left; height:342px; width:226px" /></td>
			<td style="text-align:center"><img alt="" src="/pages/files/a51be54cf144/157162308_3723158427762496_6459588942609023148_o.jpg" style="height:342px; width:226px" /></td>
			<td style="text-align:center"><img alt="" src="/pages/files/6a40304d0a13/157197547_3723158371095835_8476301251307769902_o.jpg" style="float:right; height:342px; width:226px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align: justify;">&nbsp; &nbsp;З понад 35 учасників з різних вузів Чернівців студентка 1 курсу Фахового коледжу ЧНУ -&nbsp;Юлія Гашмей виборола почесне <strong>ІІІ місце</strong>!&nbsp;<img alt="🏆" src="https://static.xx.fbcdn.net/images/emoji.php/v9/tbe/1/16/1f3c6.png" style="height:16px; width:16px" /><img alt="🏆" src="https://static.xx.fbcdn.net/images/emoji.php/v9/tbe/1/16/1f3c6.png" style="height:16px; width:16px" /><img alt="🏆" src="https://static.xx.fbcdn.net/images/emoji.php/v9/tbe/1/16/1f3c6.png" style="height:16px; width:16px" /></p>

<p style="text-align:justify">&nbsp; &nbsp;Призерка буде нагороджена дипломом ІІІ ступеня, пам&#39;ятними сувенірами та ювілейною листівкою на знак того, що ЧНУ святкує 10-річчя під егідою ЮНЕСКО, як визначна пам&#39;ятка архітектури. Фіналісти теж отримають дипломи учасника та пам&#39;ятні сувеніри за першої можливості послаблення карантину.</p>
