<p style="text-align:center"><strong>ЦИКЛОВІ (ПРЕДМЕТНІ) КОМІСІЇ</strong></p>

<table border="0" style="width:790px">
	<tbody>
		<tr>
			<td style="background-color:white; border-color:white; text-align:center"><img alt="" src="/pages/files/8d8240a83e55/econ.png" style="height:128px; width:125px" /></td>
			<td style="background-color:white; border-color:white; text-align:center"><a href="http://college-chnu.cv.ua/article/5f8844d3d6f28212d7d8b03a">Циклова комісія<br />
			ЕКОНОМІЧНИХ ДИСЦИПЛІН</a></td>
		</tr>
		<tr>
			<td style="background-color:white; border-color:white; text-align:center"><img alt="" src="/pages/files/89e73eb8b192/pravo.jpg" style="height:125px; width:125px" /></td>
			<td style="background-color:white; border-color:white; text-align:center"><a href="http://college-chnu.cv.ua/article/5f881b83d6f28212d7d8b02f">Циклова комісія<br />
			ПРАВНИЧИХ ДИСЦИПЛІН</a></td>
		</tr>
		<tr>
			<td style="background-color:white; border-color:white; text-align:center"><img alt="" src="/pages/files/32670af5cca8/KN.jpg" style="height:125px; width:125px" /></td>
			<td style="background-color:white; border-color:white; text-align:center"><a href="http://college-chnu.cv.ua/article/5f8d7afbd6f28212d7d8b03c">Циклова комісія<br />
			КОМП&#39;ЮТЕРНИХ НАУК</a></td>
		</tr>
		<tr>
			<td style="background-color:white; border-color:white; text-align:center"><img alt="" src="/pages/files/6c3d2e36472a/KI.png" style="height:124px; width:125px" /></td>
			<td style="background-color:white; border-color:white; text-align:center"><a href="http://college-chnu.cv.ua/article/5f896397d6f28212d7d8b03b">Циклова комісія<br />
			КОМП&#39;ЮТЕРНОЇ ІНЖЕНЕРІЇ</a></td>
		</tr>
		<tr>
			<td style="background-color:white; border-color:white; text-align:center"><img alt="" src="/pages/files/6ebe1796fb00/PM.png" style="height:121px; width:125px" /></td>
			<td style="background-color:white; border-color:white; text-align:center"><a href="http://college-chnu.cv.ua/article/5f8d9eddd6f28212d7d8b03d">Циклова комісія<br />
			ПРИКЛАДНОЇ МАТЕМАТИКИ та ІНФОРМАЦІЙНИХ ТЕХНОЛОГІЙ</a></td>
		</tr>
		<tr>
			<td style="background-color:white; border-color:white; text-align:center"><img alt="" src="/pages/files/0b2e41c3eb7a/history.jpg" style="height:125px; width:125px" /></td>
			<td style="background-color:white; border-color:white; text-align:center"><a href="http://college-chnu.cv.ua/article/5f80768ed6f28212d7d8b02c">Циклова комісія<br />
			ГУМАНІТАРНИХ ТА СУСПІЛЬНИХ ДИСЦИПЛІН</a></td>
		</tr>
		<tr>
			<td style="background-color:white; border-color:white; text-align:center"><img alt="" src="/pages/files/273e49c7ce38/UKR2.png" style="height:122px; width:125px" /></td>
			<td style="background-color:white; border-color:white; text-align:center"><a href="http://college-chnu.cv.ua/article/5f3bf3dc5cc811715f5f0263">Циклова комісія<br />
			ФІЛОЛОГІЧНИХ ДИСЦИПЛІН</a></td>
		</tr>
		<tr>
			<td style="background-color:white; border-color:white; text-align:center"><img alt="" src="/pages/files/1fcf76746823/In.jpg" style="height:125px; width:125px" /></td>
			<td style="background-color:white; border-color:white; text-align:center"><a href="http://college-chnu.cv.ua/article/5f8035a5d6f28212d7d8b02b">Циклова комісія<br />
			ІНОЗЕМНИХ МОВ</a></td>
		</tr>
		<tr>
			<td style="background-color:white; border-color:white; text-align:center"><img alt="" src="/pages/files/a7506773ba37/school.jpg" style="height:134px; width:125px" /></td>
			<td style="text-align:center"><a href="http://college-chnu.cv.ua/article/5f9031c0d6f28212d7d8b03e">Предметна комісія<br />
			ЗАГАЛЬНООСВІТНЬОЇ ПІДГОТОВКИ</a></td>
		</tr>
		<tr>
			<td style="background-color:white; border-color:white; text-align:center"><img alt="" src="/pages/files/c0e94a06dbcb/222.png" style="height:118px; width:125px" /></td>
			<td style="background-color:white; border-color:white; text-align:center"><a href="http://college-chnu.cv.ua/article/5fe0ce111ac7d90f42365570">Сектор<br />
			ФІЗИЧНОГО ВИХОВАННЯ та СПОРТУ</a></td>
		</tr>
	</tbody>
</table>
