<p style="text-align: justify;"><img alt="" src="/pages/files/3e2a6c97da6b/30171296_2072692546343300_4300332889713783967_o.jpg" style="height:265px; width:780px" />&nbsp; &nbsp;15 лютого 2020 р. Коледж&nbsp;ЧНУ імені Юрія Федьковича запрошує усіх охочих на&nbsp;<strong>День відкритих дверей</strong>&nbsp;з метою ознайомлення майбутніх абітурієнтів із життям Університету та Коледжу, напрямами підготовки та спеціальностями навчального закладу, отримання інформації про особливості вступу та навчання в Коледжі ЧНУ.</p>

<p style="text-align: justify;">&nbsp; &nbsp;Присутні будуть мати можливість поспілкуватися з керівництвом Університету та Коледжу,&nbsp;а також представниками Приймальної комісії.</p>

<p style="text-align: justify;">&nbsp; Захід відбудеться з 10:00 до 16:00 у Мармуровій залі Університету (5 корпус ЧНУ, вул.&nbsp;Коцюбинського, 2).</p>

<p style="text-align: justify;"><img alt="" src="/pages/files/c4e5fb2b36a3/EDUCATION.jpg" style="height:440px; width:780px" /></p>
