<p style="text-align:center"><strong>&laquo;</strong><strong>СКІЛЬКИ</strong><strong> </strong><strong>МОВ</strong><strong> </strong><strong>ТИ</strong><strong> </strong><strong>ЗНАЄШ</strong><strong> </strong><strong>&ndash;</strong><strong> </strong><strong>СТІЛЬКИ</strong><strong> </strong><strong>РАЗІВ</strong><strong> </strong><strong>ТИ</strong><strong> </strong><strong>ЛЮДИНА</strong><strong>&raquo;</strong><strong>. </strong></p>

<p style="text-align:right"><strong><em>Йоганн</em></strong><strong><em> </em></strong><strong><em>Вольфганг</em></strong><strong><em> </em></strong><strong><em>фон</em></strong><strong><em> </em></strong><strong><em>Ґете</em></strong></p>

<p style="text-align:right"><img alt="" src="/pages/files/7fcb6587b12f/__87.png" style="height:290px; width:780px" /></p>

<p style="text-align:justify">&nbsp; &nbsp;Знання іноземних мов &ndash; це ключ до успіху в сучасному світі, де спілкування іноземними мовами та обробка величезних обсягів інформації набуває все більшого значення. Інтерес до вивчення мов традиційно великий, бо перефразовуючи відомий вислів, можна сміливо сказати, що той, хто володіє мовами, володіє світом.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:260px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/3e4432c6364e/фото 6.jpg" style="height:347px; width:260px" /></td>
			<td><img alt="" src="/pages/files/6c84a40fa3dc/фото 1.jpg" style="height:347px; width:260px" /></td>
			<td><img alt="" src="/pages/files/a6f59e261ff6/фото 5.jpg" style="height:347px; width:260px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;З метою визначення рівня мовної підготовки студентів проведений <strong>І тур&nbsp;студентської олімпіади з іноземних мов</strong> у Коледжі ЧНУ імені&nbsp;Юрія&nbsp;Федьковича. В олімпіаді брали участь студенти першого та другого курсів.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/9479bfe27853/фото 3.jpg" style="height:293px; width:390px" /></td>
			<td><img alt="" src="/pages/files/a3966b28e212/фото 4.jpg" style="height:292px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify"><span style="background-color:white">&nbsp; &nbsp;Комплекс завдань відповідав рівню В1 Загальноєвропейських рекомендацій з мовної освіти. <span style="color:black">Конкурсні завдання цьогорічної олімпіади охоплювали:</span></span></p>

<ul>
	<li style="text-align:justify"><strong><em>аудіювання</em></strong> (виконання письмових вправ після прослуховування тексту з метою перевірки&nbsp; його розуміння та вміння використовувати мову);</li>
	<li style="text-align:justify"><strong><em>читання</em></strong> (<span style="color:black">перевірка розуміння основної інформації</span> тексту без словника);</li>
	<li style="text-align:justify"><strong><em>письмо </em></strong>(перевірка словникового запасу та використання лексики, граматики);</li>
	<li style="text-align:justify"><strong><em>усне висловлювання на запропоновані ситуації</em></strong> (перевірка навичок та вмінь непідготовленої монологічної мови).</li>
</ul>

<p style="text-align:justify"><img alt="" src="/pages/files/68a50a91665e/фото 2.jpg" style="height:271px; width:780px" />&nbsp; &nbsp;За підсумками переможцями <strong>І туру студентської олімпіади з іноземних мов</strong> стали:</p>

<p style="text-align:center"><strong>АНГЛІЙСЬКА</strong><strong> </strong><strong>МОВА</strong></p>

<p style="text-align:center"><strong><em>Серед</em></strong><strong><em> </em></strong><strong><em>студентів</em></strong><strong><em> </em></strong><strong><em>І</em></strong><strong><em> </em></strong><strong><em>курсу</em></strong></p>

<p>І місце &ndash;&nbsp; Унгурян Ольга (гр. 101), Прокопчук Антон (гр. 114)</p>

<p>ІІ місце &ndash; Яновицький Олександр (гр. 114), Ріга Андрій (гр. 101)</p>

<p>ІІІ місце &ndash; Шелефета Віталіна (гр. 117), Бабюк Христина (гр. 105)</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center"><strong><em>Серед</em></strong><strong><em> </em></strong><strong><em>студентів</em></strong><strong><em> </em></strong><strong><em>ІІ</em></strong><strong><em> </em></strong><strong><em>курсу</em></strong></p>

<p>І місце &ndash;&nbsp; Ротар Крістіна (гр. 205), Пожарук Ярина (гр. 217)</p>

<p>ІІ місце &ndash; Рущак Юрій (гр. 214), Мельничук Андрій (гр. 217)</p>

<p>ІІІ місце &ndash; Пранничук Максим (гр. 214), Солонар Юлія (гр. 216)</p>

<p>&nbsp;</p>

<p style="text-align:center"><strong>НІМЕЦЬКА</strong><strong> </strong><strong>МОВА</strong></p>

<p style="text-align:center"><strong><em>Серед</em></strong><strong><em> </em></strong><strong><em>студентів</em></strong><strong><em> </em></strong><strong><em>І</em></strong><strong><em> </em></strong><strong><em>курсу</em></strong></p>

<p>І місце &ndash; Руснак Інна (гр. 106)</p>

<p>ІІ місце &ndash; Шаховський Віктор (гр. 107)</p>

<p>ІІІ місце &ndash; Білоус Юлія (гр. 106)</p>

<p>&nbsp;</p>

<p style="text-align:center"><strong>ФРАНЦУЗЬКА</strong><strong> </strong><strong>МОВА</strong></p>

<p style="text-align:center"><strong><em>Серед</em></strong><strong><em> </em></strong><strong><em>студентів</em></strong><strong><em> </em></strong><strong><em>І</em></strong><strong><em> </em></strong><strong><em>курсу</em></strong></p>

<p>І місце &ndash;&nbsp; Фурдіяк Іван (гр. 101)</p>

<p>ІІ місце &ndash; Бишка Микола (гр. 116)</p>

<p>ІІІ місце &ndash; Аксенюк Анастасія (гр. 117)</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center"><strong><em>Серед</em></strong><strong><em> </em></strong><strong><em>студентів</em></strong><strong><em> </em></strong><strong><em>ІІ</em></strong><strong><em> </em></strong><strong><em>курсу</em></strong></p>

<p>І місце &ndash; Герасим Крістіна (гр. 206)</p>

<p>ІІ місце &ndash; Аіріні Андрій (гр. 203)</p>

<p style="text-align:justify">ІІІ місце &ndash; Паскар Дмитро (гр. 214)</p>

<p style="text-align:justify">&nbsp;</p>

<p style="text-align:justify"><strong>&nbsp; &nbsp;Викладачі</strong><strong> </strong><strong>циклової</strong><strong> </strong><strong>комісії</strong><strong> </strong><strong>іноземних</strong><strong> </strong><strong>мов</strong><strong> </strong><strong>висловлюють</strong><strong> </strong><strong>щиру</strong><strong> </strong><strong>вдячність</strong><strong> </strong><strong>учасникам</strong><strong> </strong><strong>олімпіади</strong><strong>, </strong><strong>вітають</strong><strong> </strong><strong>переможців</strong><strong> </strong><strong>та</strong><strong> </strong><strong>бажають</strong><strong> </strong><strong>успіхів</strong><strong> </strong><strong>і</strong><strong> </strong><strong>натхнення</strong><strong> </strong><strong>у</strong><strong> </strong><strong>подальшому</strong><strong> </strong><strong>вивченні</strong><strong> </strong><strong>іноземних</strong><strong> </strong><strong>мов</strong><strong>. </strong></p>
