<p style="text-align: justify;"><img alt="" src="/pages/files/79440140cccb/1-23-1024x768.jpg" style="height:599px; width:780px" />&nbsp;Вельмишановні освітяни!&nbsp;<strong>ВІТАЄМО</strong>&nbsp;Вас із Вашим професійним святом &ndash;&nbsp;<strong>Днем працівників освіти</strong>. У наш з Вами непростий час, на плечі працівників освіти лягає відповідальність за навчальний процес молодого покоління українців, а отже Ви фактично відповідаєте за те, яким буде майбутнє нашої держави.</p>

<p>&nbsp; &nbsp;У день Вашого професійного свята бажаємо&nbsp;Вам міцного здоров&#39;я, мужності, стриманості та великого терпіння, адже виховання та навчання ніколи не було легкою справою.</p>

<p>&nbsp; &nbsp; Щоб донести у час пандемії найщиріші, найтепліші вітання своїм Вчителям студенти коледжу відзняли відео:</p>

<p style="text-align: center;"><a href="https://www.youtube.com/watch?v=IjDxEkuoKe0">Переглянути відео студентів 1-го курсу</a><br />
<a href="https://www.youtube.com/watch?v=XUBS2GEbPjU">Переглянути відео студентів 4-го курсу</a></p>

<p>&nbsp; &nbsp;Зі святом Вас і нехай все у Вас вийде!</p>
