<table>
	<tbody>
		<tr>
			<td style="text-align:center"><strong><span style="color:#1c7fcd">Результати конкурсу &laquo;Лови ритм ЧНУ&raquo;&nbsp;</span></strong></td>
		</tr>
		<tr>
			<td style="text-align:justify; vertical-align:top">
			<p><span style="color:#3c3c3c">&nbsp; &nbsp;29 квітня, у <strong>Міжнародний День танцю</strong>, у Чернівецькому національному університеті імені Юрія Федьковича підбили підсумки конкурсу &laquo;<strong>Лови ритм ЧНУ</strong>&raquo; в режимі онлайн.</span></p>

			<p><span style="color:#3c3c3c">&nbsp; &nbsp;Організатори отримали понад 30 відеороликів, у яких студенти трьох навчальних закладів нашого міста &ndash; Чернівецького національного університету імені Юрія Федьковича, ВСП &quot;Фаховий&nbsp;коледжу ЧНУ&quot; та Педагогічного фахового коледжу ЧНУ &ndash; демонстрували свої вміння у різноманітних танцювальних стилях.</span></p>

			<p><span style="color:#3c3c3c">&nbsp; &nbsp;З-поміж усіх робіт було обрано 19 найкращих, а найчарівніші танцювальні номері, представлені у різних жанрах, були нагороджені цінними призами від ректорату та солодкими подарунками від Профспілкової організації студентів. Оцінювало конкурсантів вельмишановне журі у складі:</span></p>

			<ul>
				<li><span style="color:#3c3c3c">Олександра Погодіна &ndash; начальника управління молоді та спорту Чернівецької Облдержадміністрації;</span></li>
				<li><span style="color:#3c3c3c">Володимира Крижановського &ndash; Голови Молодіжної Ради при Чернівецькій ОДА;</span></li>
				<li><span style="color:#3c3c3c">Ольги Костенчук &ndash; професійного хореографа, багаторазової переможниці танцювальних конкурсів і фестивалів;</span></li>
				<li><span style="color:#3c3c3c">Катерини Фратавчан &ndash; переможниці та призерки всеукраїнських та міжнародних змагань з фігурного катання, танцівниці, хореографа-постановника;</span></li>
				<li><span style="color:#3c3c3c">Інни Глібчук &ndash; керівниці танцювальної студії Dance Family.</span></li>
			</ul>

			<p><span style="color:#3c3c3c">&nbsp; &nbsp;Отож, після перегляду відібраних роликів та обговорення, журі оголосило кращі номери у п&rsquo;ятьох номінаціях.</span></p>

			<p><span style="color:#3c3c3c">&nbsp; &nbsp;Серед переможців є і студент&nbsp;ВСП &quot;Фаховий&nbsp;коледжу ЧНУ імені Юрія Федьковича&quot; спеціальності &quot;Комп&#39;ютерні науки&quot; - <strong>Максим Пранничук</strong>. Разом з <strong>Анною Кушнір</strong> (Педагогічний фаховий коледж ЧНУ) він здобув перемогу у номінації <strong>&quot;Бальна хореографія&quot;</strong>.</span></p>

			<p style="text-align: right;"><strong><span style="color:#3c3c3c">ВІТАЄМО!!!</span></strong></p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p><img alt="" src="/pages/files/e5ccc84063bb/Maksum.jpg" style="height:378px; width:780px" /></p>

<p style="text-align: center;"><a href="https://www.youtube.com/watch?v=ovCjMF6dhRw">ПЕРЕГЛЯНУТИ ВІДЕО</a></p>
