<p style="text-align: justify;">&nbsp; &nbsp; &nbsp;22 січня у стінах Коледжу&nbsp;ЧНУ імені Юрія Федьковича відбувся патріотично-виховний захід приурочений до <strong>100-річчя Акту Злуки</strong> та 101-ї річниці битви під Крутами за ініціативи Центру культури і дозвілля ЧНУ та викладачів історії Коледжу ЧНУ!!!</p>

<p style="text-align: justify;"><img alt="" src="/pages/files/845d94de95c3/005.jpg" style="height:434px; width:780px" /></p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/2e91e8708adb/008.jpg" style="height:528px; width:390px" /></td>
			<td><img alt="" src="/pages/files/91622dc6368c/009.jpg" style="height:583px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align: justify;">&nbsp; &nbsp; &nbsp;Гостями заходу стали волонтер, педагог, громадський активіст Галина Абрам&#39;юк та військовий капеллан, волонтер, учасник бойових дій Василь Гасинець.</p>

<p style="text-align: justify;"><img alt="" src="/pages/files/a6aa0bcfa165/_00.jpg" style="height:322px; width:780px" />&nbsp; &nbsp; &nbsp;Щирі слова настанови та привітання від знаних людей краю розпочали дійство. Патріотичні твори виконували учасники вокальної студії &laquo;Роси&raquo; (керівник Ірина Журавець &ndash; Постевка ).</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/260ff058c040/007.jpg" style="height:261px; width:390px" /></td>
			<td><img alt="" src="/pages/files/be1509aa8f0d/006.jpg" style="height:261px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align: justify;">&nbsp; &nbsp; Поезії про героїчний подвиг української молоді під станцією Крути та про те, якою молодь бачить Україну в майбутньому декламували учасники театр- студії &laquo;Маска&raquo; (керівник Дмитро Павлюк) та першокурсники коледжу.</p>

<p style="text-align: justify;"><img alt="" src="/pages/files/2eb8acfde99b/001.jpg" style="height:385px; width:780px" /><br />
&nbsp; &nbsp; &nbsp;Про важливі та героїчні події, що відбулися у січні в різні роки української історії ( 22 січня 1918 р. &ndash; проголошення IV універсалу, 29 січня 1918 р. &ndash; бій під Крутами , 22 січня 1919 р. &ndash; Акт Злуки УНР і ЗУНР, 21 січня 1990 р. &ndash; Живий ланцюг між Києвом і Львовом) розповідали викладачі історії Василь Дерев&rsquo;янчук, Дмитро Павлюк , студентка коледжу Анна Бинда ( під керівництвом викладача історії Андрія Погребенника) та почесні гості заходу.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:260px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/bc3c7d57dccb/002.jpg" style="height:389px; width:260px" /></td>
			<td><img alt="" src="/pages/files/eb4b1796bd3d/003.jpg" style="height:390px; width:260px" /></td>
			<td><img alt="" src="/pages/files/3ce91a4e2ac8/004.jpg" style="height:370px; width:260px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align: justify;"><br />
&nbsp; &nbsp; &nbsp;Україна єдина. І сьогодні дуже важливо показати світу , показати &quot;добрим сусідам&quot; і показати і довести в першу чергу самому собі, що наша сила у єдності. Любіть Україну , вивчайте її історію , цікавтеся про життєві долі її героїв, співайте українські пісні, допомагайте армії , поважайте старших і найголовніше пам&#39;ятайте , що Україна &ndash; то наша земля і нам тут жити.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/f3162430d623/010.jpg" style="height:260px; width:390px" /></td>
			<td><img alt="" src="/pages/files/c6c914f4c77b/011.jpg" style="height:261px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<hr />
<p>&nbsp;</p>
