<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img alt="" src="/pages/files/d8b352a4a174/kyrsu.jpg" style="height:261px; margin-left:auto; margin-right:auto; width:240px" /></p>

<p style="text-align:justify">&nbsp; &nbsp;Прийом документів на <strong>ПІДГОТОВЧІ КУРСИ</strong> до ДПА 2020&nbsp;та вступу до КОЛЕДЖУ Чернівецького національного університету імені Юрія Федьковича для абітурієнтів &nbsp;(учнів 9-10-х класів) здійснюється в 5-му корпусі ЧНУ (Резиденція, центральний корпус), що знаходиться за адресою вул. Коцюбинського, 2.</p>

<p style="text-align:justify">&nbsp; Тривалість курсів - 6 місяців, навчання проходитиме в суботу та неділю з 2-х предметів: українська мова та математика або історія України.</p>

<p style="text-align:justify">&nbsp; За більш детальною інформацією звертатись у 5-й корпус ЧНУ (Резиденція, центральний корпус),&nbsp;кабінет №156 (Приймальна комісія), або за тел. (0372)58-47-11, (0372) 52-56-69 (Ольга Євгенівна). <a href="http://chnu.edu.ua/index.php?page=ua/news&amp;data[5012][id]=8207">Детальніше</a></p>
