<p><img alt="History" src="http://college-chnu.cv.ua/pages/files/a919648dd173/History.jpg" /></p>

<p style="text-align:center"><strong>КОЛЕДЖ</strong></p>

<p style="text-align:center"><strong>ЧЕРНІВЕЦЬКОГО НАЦІОНАЛЬНОГО УНІВЕРСИТЕТУ</strong></p>

<p style="text-align:center"><strong>ІМЕНІ ЮРІЯ ФЕДЬКОВИЧА</strong></p>

<p>&nbsp;</p>

<p>У 2001 р. при Чернівецькому національному університеті імені Юрія Федьковича було створено природничо-економічне відділення з підготовки молодших спеціалістів. Згідно з наказом Міністерства освіти і науки України від 18 липня 2002 р. №&nbsp;413 &nbsp;його було реорганізовано в Коледж Чернівецького національного університету імені Юрія Федьковича, як структурний підрозділ цього закладу вищої освіти без статусу юридичної особи.</p>

<p>Першим директором коледжу було призначено кандидата філологічних наук Личук Марію Іванівну. Підготовка фахівців спочатку здійснювалася за сімома спеціальностями: &laquo;Фінанси&raquo;, &laquo;Бухгалтерський облік&raquo;, &laquo;Економіка підприємства&raquo;, &laquo;Організація виробництва&raquo;, &laquo;Прикладна екологія&raquo;, &laquo;Прикладна математика&raquo;, &laquo;Обслуговування комп&#39;ютерних та інтелектуальних систем і мереж&raquo;.</p>

<p>Із серпня 2004 р. цей навчальний заклад очолює доцент кафедри математичного аналізу Собчук Олександр Васильович.</p>

<p>Олександр Васильович Собчук &ndash; випускник математичного факультету (1991), кандидат фізико-математичних наук, доцент.</p>

<p>Народився 22 березня 1967 р. у м. Чернівцях. Після закінчення середньої школи у 1984 р. вступив на математичний факультет Чернівецького університету, але навчання довелося перервати для проходження строкової служби в лавах Радянської армії (1985-1987). Демобілізувавшись, повернувся до університету, який закінчив з відзнакою.</p>

<p>Відразу після здобуття вищої освіти почав працювати на рідному факультеті викладачем-стажистом кафедри математичного аналізу, а з 1993 р. став асистентом цієї кафедри.</p>

<p>У 1996 р. успішно захистив кандидатську дисертацію &laquo;Берівська класифікація нарізно неперервних відображень і дискретні обернені задачі&raquo; у Львівському національному університеті імені Івана Франка.</p>

<p>Згідно з наказом Міністерства освіти і науки України від 19 лютого 2016 р. №137&nbsp; Буковинський державний фінансово-економічний університет було реорганізовано шляхом приєднання до Чернівецького національного університету імені Юрія Федьковича. Фінансово-економічний коледж Буковинського державного фінансово-економічного університету, який був його структурним підрозділом, було реорганізовано шляхом приєднання до Коледжу Чернівецького національного університету імені Юрія Федьковича.</p>

<p>Станом на 01 вересня 2019 р. у Коледжі Чернівецького національного університету імені Юрія Федьковича навчається понад тисячу студентів та працюють понад сто викладачів. Коледж Чернівецького національного університету імені Юрія Федьковича є найбільшим коледжем на теренах Чернівецької області.</p>

<p>У коледжі створено і функціонує 3 відділення: Природниче, Економічне та Юридичне. Підготовка здобувачів вищої освіти здійснюється за освітно-професійними програмами на 7-ми спеціальностях:</p>

<ul>
	<li>071&nbsp;&ldquo;<a href="http://college-chnu.cv.ua/index.php?option=com_content&amp;view=article&amp;id=8&amp;Itemid=27">Облік</a> і оподаткування&rdquo;;</li>
</ul>

<p>&nbsp;</p>

<ul>
	<li>
	<p>072&nbsp;&ldquo;<a href="http://college-chnu.cv.ua/index.php?option=com_content&amp;view=article&amp;id=8&amp;Itemid=27">Фінанси, банківська справа та страхування</a>&rdquo;;</p>
	</li>
	<li>
	<p>076&nbsp;&ldquo;<a href="http://college-chnu.cv.ua/index.php?option=com_content&amp;view=article&amp;id=9&amp;Itemid=26">Підприємництво, торгівля та біржова діяльність</a>&rdquo;;</p>
	</li>
	<li>
	<p>081 &ldquo;Право&rdquo;;</p>
	</li>
	<li>
	<p>113 &ldquo;Прикладна математика&rdquo;;</p>
	</li>
	<li>
	<p>122 &ldquo;Комп&rsquo;ютерні науки &rdquo;;</p>
	</li>
	<li>
	<p>123&nbsp;&ldquo;Комп&rsquo;ютерна інженерія&rdquo;.</p>
	</li>
</ul>

<p>Студенти коледжу під керівництвом викладачів є постійними учасниками різноманітних предметних олімпіад та конкурсів, які проводяться між закладами вищої освіти, що здійснюють підготовку молодшого спеціаліста.</p>

<p>Найвищих результатів на Всеукраїнському етапі з предметних олімпіад було досягнуто наступними студентами:</p>

<p>2010 р. &ndash; Василь Мельник, <strong>1 місце</strong> (Математика);</p>

<p>2011 р. &ndash; Микита Чайка, <strong>3 місце</strong> (Математика);</p>

<p>2012 р. &ndash; Олександра Слободян, <strong>1 місце</strong> (Математика);</p>

<p>2013 р. &ndash; Юрій Лугош, <strong>3 місце</strong> (Математика);</p>

<p>2018 р. &ndash; Алла Іванюк, <strong>2 місце</strong> (Українська мова);</p>

<p>2019 р. &ndash; Олександр Мар&rsquo;янчук, <strong>3 місце</strong> (Математика).</p>

<p>&nbsp;</p>
