<p style="text-align:center"><strong>ГРИНВІЧ</strong><strong> </strong></p>

<p style="text-align:right"><strong><em>&laquo;</em></strong><strong><em>So many languages you know, so many times you are a man</em></strong><strong><em>&raquo;</em></strong><strong><em>.</em></strong></p>

<p style="text-align:right"><strong><em>&laquo;Скільки мов ти знаєш &ndash; стільки разів ти людина&raquo;. </em></strong></p>

<p style="text-align:justify">&nbsp; &nbsp;Всеукраїнський конкурс з англійської мови &laquo;Гринвіч&raquo; проводиться відповідно до наказу Міністерства освіти і науки України №&nbsp;105 від 07.02.2013&nbsp;р., зареєстрованого в Міністерстві юстиції України 26.02.2013 р. за №&nbsp;319/22851, та в межах виконання програми вивчення та популяризації іноземних мов.</p>

<p style="text-align:justify">&nbsp; &nbsp;Гринвіч став майданчиком для розширення можливостей та самореалізації в напрямку освоєння англійської мови для багатьох учнів та студентів у різних регіонах України. Даний конкурс дає можливість перевірити знання з граматики, лексики, а також культурних особливостей англомовних країн. Завдання &ndash; різноманітні та цікаві.</p>

<p style="text-align:justify">&nbsp; &nbsp;Цьогоріч 19 студентів І-ІІ курсів Коледжу ЧНУ ім. Ю.&nbsp;Федьковича стали активними учасниками Гринвічу та достойно представили свій навчальний заклад.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/c8b87d263ff8/001.jpg" style="height:276px; width:390px" /></td>
			<td><img alt="" src="/pages/files/1377e8de4e7c/002.jpg" style="height:276px; width:390px" /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/89cbbda56285/003.jpg" style="height:276px; width:390px" /></td>
			<td><img alt="" src="/pages/files/2fe6a4a5f08c/004.jpg" style="height:276px; width:390px" /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/a4b7d809d019/005.jpg" style="height:275px; width:390px" /></td>
			<td><img alt="" src="/pages/files/084220760f0b/006.jpg" style="height:274px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify"><strong><em>&nbsp; </em></strong><em>&nbsp;Студент 1-го&nbsp;курсу, <strong>Ріга Андрій</strong> (спеціальність &quot;Підприємництво, торгівля та біржова діяльність&quot;), здобув ІІІ призове місце на обласному рівні та отримав <strong>Бронзовий сертифікат</strong>.</em></p>

<p style="text-align:justify"><em>&nbsp; &nbsp;Ґрунтовні знання з англійської мови також продемонстрували <strong>Унгурян&nbsp;Ольга</strong> (спеціальність &quot;Підприємництво, торгівля та біржова діяльність&quot;), <strong>Якобишена Евеліна</strong> (спеціальність &quot;Право&quot;), <strong>Пранничук Максим</strong> (спеціальність &quot;Комп&#39;ютерні науки&quot;), <strong>Рущак Юрій</strong> (спеціальність &quot;Комп&#39;ютерні науки&quot;), <strong>Мигидин Наталя</strong> (спеціальність &quot;Комп&#39;ютерні науки&quot;).</em></p>

<p style="text-align:justify">&nbsp; &nbsp;Циклова комісія іноземних мов вітає призера, висловлює вдячність усім учасникам та бажає успіхів у навчанні та творчих здобутків.</p>
