<p style="text-align:justify"><img alt="" src="/pages/files/230adf16041c/prestudy.jpg" style="height:264px; width:780px" />&nbsp; &nbsp;Коледж Чернівецького&nbsp;національного&nbsp;університету імені Юрія Федьковича оголошує прийом слухачів на Підготовчі курси для підготовки до вступу&nbsp;у&nbsp;2020 році. На Підготовчі курси приймаються випускники та учні 9 класів для підготовки до вступних іспитів&nbsp;з української мови,&nbsp;історії України або математики.</p>

<p style="text-align:justify">&nbsp; &nbsp;<span style="color:#3c3c3c"><span style="background-color:#ffffff">Тим, хто бажає одержати ґрунтовні знання з відповідних навчальних предметів, підготуватися до&nbsp;вступу до Коледжу ЧНУ імені Юрія Федьковича з досвідченими викладачами університету,<strong>&nbsp;звертатись за адресою:</strong></span></span></p>

<p style="text-align:justify"><span style="color:#3c3c3c"><span style="background-color:#ffffff">58002, м. Чернівці, вул. Коцюбинського, 2, корпус 5, кабінет 155.</span></span><br />
<span style="color:#3c3c3c"><span style="background-color:#ffffff"><strong>Телефони:</strong>&nbsp;(095) 330-43-70, (068) 925-17-05</span></span><br />
<span style="color:#3c3c3c"><span style="background-color:#ffffff"><strong>Прийом документів</strong>&nbsp;&ndash; з 8 січня до 7 лютого 2020 року.</span></span><br />
<span style="color:#3c3c3c"><span style="background-color:#ffffff"><strong>Початок занять</strong>&nbsp;&ndash; 8 лютого 2020 року.</span></span></p>

<p style="text-align:justify">&nbsp; &nbsp;По завершенню навчання серед слухачів буде проведено контрольну роботу за результатами якої слухачам буде нараховано <strong>ДОДАТКОВІ БАЛИ</strong>&nbsp;для вступу у відповідності Правилам прийому 2020 р.</p>

<p style="text-align:justify"><span style="color:#3c3c3c"><span style="background-color:#ffffff"><strong>ДЕТАЛІ</strong>&nbsp;&ndash;&nbsp;<a href="/pages/files/d71109a879ee/Підготовчі курси.pdf">переглянути</a></span></span></p>

<p style="text-align:justify"><span style="color:#3c3c3c"><span style="background-color:#ffffff"><img alt="" src="/pages/files/b9bf84754511/Nabir.jpg" style="height:234px; width:780px" /></span></span></p>
