<p><img alt="" src="/pages/files/14d850d9cb39/start.png" style="height:134px; width:780px" /></p>

<p style="text-align:justify">&nbsp; У рамках святкування <strong><span style="background-color:white">Global</span></strong><strong> </strong><strong><span style="background-color:white">Money</span></strong><strong> </strong><strong><span style="background-color:white">Week</span></strong><strong><span style="background-color:white"> 2021 (Всесвітній тиждень грошей)</span></strong>, викладачами циклової комісії економічних дисциплін Марич А.В. та Семенюк Ю.В. для студентів 3 курсу спеціальностей &laquo;Фінанси, банківська справа та страхування&raquo; та &laquo;Облік і оподаткування&raquo; була організована онлайн-зустріч з начальником відділу зарплатних проектів Чернівецької обласної дирекції <strong>АБ &laquo;Укргазбанк&raquo; В</strong><strong>&rsquo;</strong><strong>ячеславом Максимюком.</strong></p>

<p style="text-align:justify"><span style="background-color:white">&nbsp; Під час зустрічі студенти мали можливість ознайомитися з особливостями роботи в банківській установі, поспілкуватися з провідним фахівцем банківської справи. Важливим для студентів стало ознайомлення з вимогами, які висуваються до банківських працівників. Це зокрема, високий рівень знань у сфері фінансів, банківської справи, обліку та оподаткування. Крім того, як наголосив В&rsquo;ячеслав, банк створює комфортні умови для саморозвитку кожного працівника &nbsp;&ndash; є багато внутрішніх навчальних програм, курсів та тренінгів.</span></p>

<p style="text-align:justify"><span style="background-color:white"><img alt="" src="/pages/files/dec1f6213350/IMG-0632.JPG" style="height:499px; width:780px" />&nbsp; Крім того, В&rsquo;ячеслав вказав на перспективи для студентів в АБ &laquo;Укргазбанк&raquo;. Це насамперед розгалужена мережа відділень по області, молодий колектив, який постійно розвивається. Кожного місяця з&rsquo;являються вільні вакансії. </span></p>

<p style="text-align:justify"><span style="background-color:white">&nbsp; Також було наголошено, що перед початком роботи в банку проводиться стажування. Аби отримати там роботу потрібно, насамперед, мати бажання працювати і вдосконалюватись, також необхідна мотивація до навчання і роботи. Майбутній працівник повинен володіти такими якостями: розуміння банківської справи, знання банківських категорій, цілеспрямованість, мати стимул до праці та знати комп&rsquo;ютерні програми.</span></p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/47b691d45dad/IMG-0634.JPG" style="height:291px; width:390px" /></td>
			<td><img alt="" src="/pages/files/018b010727ad/IMG-0633.JPG" style="height:291px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify"><span style="background-color:white">&nbsp; Максимюк В&rsquo;ячеслав розповів, що АБ &laquo;Укргазбанк&raquo; перебуває у державній власності, обслуговує юридичних і фізичних осіб. Також банк має закріплені гарантії держави щодо збереження грошових вкладів фізичних осіб, довірених банку. </span></p>

<p style="text-align:justify"><span style="background-color:white">&nbsp; Все це викликало особливий інтерес у студентів, які могли практично відчути важливість та усі тонкощі роботи банку, зрозуміти наскільки важливо здобувати фахові знання, проходити виробничу практику, стажування, щоб у подальшому стати висококваліфікованим фахівцем, бути конкурентоспроможним на ринку праці, отримувати належну фінансову винагороду та моральне задоволення від роботи.</span></p>

<p style="text-align:justify"><span style="background-color:white">&nbsp; Упродовж зустрічі студенти ставили багато запитань та отримували повні компетентні відповіді щодо питань, які більш глибоко їх цікавили, зокрема щодо знання іноземної мови для роботи в банку при обслуговування клієнтів-іноземців, як правильно скласти резюме та ін.</span></p>

<p style="text-align:justify">&nbsp;&nbsp;<span style="background-color:white">Висловлюємо щиру подяку директору Чернівецької обласної дирекції АБ &laquo;Укргазбанк&raquo; Гуцол Людмилі Григорівні та начальнику відділу зарплатних проектів Максимюку В&rsquo;ячеславу АБ &laquo;Укргазбанк&raquo; за змістовну розповідь і бажаємо їм подальшого розвитку та успіху на ринку банківських послуг.</span></p>

<p style="text-align:justify"><span style="background-color:white">&nbsp; Сподіваємося, що отримані знання підвищать зацікавленість студентів в освоєнні своїх спеціальностей, а банківські установи, інші фінансові посередники, підприємства у майбутньому отримають висококваліфікованих фахівців.</span></p>

<p style="text-align:justify">#GlobalMoneyWeek2021</p>

<p style="text-align:justify">#GMWUkraine2021</p>
