<h3 style="text-align:center"><strong>ЦИКЛОВА КОМІСІЯ<br />
КОМП&#39;ЮТЕРНОЇ ІНЖЕНЕРІЇ</strong></h3>

<hr />
<table border="0">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/ee23378eecb3/Taschuk.jpg" style="height:291px; width:210px" /></td>
			<td>
			<p style="text-align:center"><strong>ГОЛОВА&nbsp;ЦИКЛОВОЇ КОМІСІЇ</strong></p>

			<p><strong>&nbsp;Тащук Олександр Юрійович</strong><br />
			&nbsp;к.ф.-м.н. <em>(за спеціальністю &quot;Фізика твердого тіла&quot;, 2017 р.),</em><br />
			&nbsp;викладач вищої кваліфікаційної категорії</p>

			<p>&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Комп&#39;ютерна схемотехніка;</li>
				<li>Комп&#39;ютерна схемотехніка та архітектура комп&#39;ютерів;</li>
				<li>Природничі науки</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; &nbsp;Освіта:&nbsp;</strong>Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Фізика&quot; <em>(2013&nbsp;р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/ffd468957ab6/Bukuros.jpg" style="height:302px; width:210px" /></td>
			<td>
			<p><strong>&nbsp;Букурос Олеся Вікторівна</strong><br />
			&nbsp;викладач</p>

			<p>&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Інформатика;</li>
				<li>Архітектура комп&#39;ютерів;</li>
				<li>Периферійні пристрої;</li>
				<li>Комп&#39;ютерні системи і мережі;</li>
				<li>Операційні системи</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; &nbsp;Освіта:</strong>&nbsp;Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Комп&#39;ютерні системи та мережі&quot;&nbsp;<em>(2006&nbsp;р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td colspan="1" rowspan="2"><img alt="" src="/pages/files/2bcd0c230e70/man.jpg" /></td>
			<td colspan="1" rowspan="2">
			<p><strong>&nbsp;Горський Геннадій Петрович</strong><br />
			&nbsp;викладач ІІ-ї кваліфікаційної категорії</p>

			<p>&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Об&#39;єктно-орієнтоване програмування;</li>
				<li>Програмування Ч.2. Програмування мовою С++</li>
				<li>Програмування Ч.3. Основи ООП</li>
				<li>Системне програмування</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; &nbsp;Освіта:</strong>&nbsp;Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Комп&#39;ютерні системи та мережі&quot;&nbsp;<em>(2008 р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="1">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td colspan="1" rowspan="2"><img alt="" src="/pages/files/90107786d3f3/Debenko.jpg" style="height:291px; width:210px" /></td>
			<td colspan="1" rowspan="2">
			<p><strong>&nbsp;Дебенко Катерина Олександрівна</strong><br />
			&nbsp;викладач ІІ-ї кваліфікаційної категорії</p>

			<p>&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Інформатика;</li>
				<li>Організація баз даних</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; &nbsp;Освіта:</strong>&nbsp;Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Комп&#39;ютерні системи та мережі&quot;&nbsp;<em>(2014&nbsp;р.)</em></p>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td colspan="1" rowspan="2"><img alt="" src="/pages/files/e87927f33c2a/derev.jpg" style="height:281px; width:210px" /></td>
			<td colspan="1" rowspan="2">
			<p><strong>&nbsp;Деревянчук Олександр Володимирович</strong><br />
			&nbsp;к.ф.-м.н. <em>(із&nbsp;спеціальністю &quot;Оптика, лазерна фізика&quot;, 2014 р.)</em>, доцент,<br />
			&nbsp;викладач вищої кваліфікаційної категорії,&nbsp;викладач-методист</p>

			<p>&nbsp; &nbsp;<strong>Дисципліни:</strong></p>

			<ul>
				<li>Електрорадіовимірювання;</li>
				<li>Теорія електричних та магнітних кіл;</li>
				<li>Надійність, діагностика та експлуатація комп&#39;ютерних систем і мереж.</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; &nbsp;Освіта:&nbsp;</strong>Чернівецький державний університет імені Юрія Федьковича за спеціальністю &quot;Оптичне та оптоелектронне приладобудування&quot; <em>(1999&nbsp;р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr />
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td colspan="1" rowspan="2"><img alt="" src="/pages/files/f58562759e4f/unnamed.png" /></td>
			<td colspan="1" rowspan="2">
			<p><strong>&nbsp;Лучик Марина Вікторівна</strong><br />
			&nbsp;викладач</p>

			<p>&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Інформатика;</li>
				<li>Організація баз даних</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; &nbsp;Освіта:</strong>&nbsp;Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Комп&#39;ютерні системи та мережі&quot; <em>(2009&nbsp;р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr />
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td colspan="1" rowspan="2"><img alt="" src="/pages/files/d2e7a467f086/Melnuchuk.jpg" style="height:290px; width:210px" /></td>
			<td colspan="1" rowspan="2">
			<p><strong>&nbsp;Мельничук Христина Володимирівна</strong><br />
			&nbsp;викладач</p>

			<p>&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Інформатика;</li>
				<li>Комп&#39;ютерні мережі.</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; &nbsp;Освіта:</strong>&nbsp;Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Комп&#39;ютерні системи та мережі&quot;&nbsp;<em>(2017&nbsp;р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr />
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td colspan="1" rowspan="2"><img alt="" src="/pages/files/a1ae8c7df585/Plahov.jpg" style="height:290px; width:210px" /></td>
			<td colspan="1" rowspan="2">
			<p><strong>&nbsp;Плахов Олександр Олександрович</strong><br />
			&nbsp;викладач&nbsp;ІІ-ї кваліфікаційної категорії</p>

			<p>&nbsp; &nbsp;<strong>Дисципліна</strong></p>

			<ul>
				<li>Комп&#39;ютерна&nbsp;графіка</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; &nbsp;Освіта:</strong>&nbsp;Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Комп&#39;ютерні системи та мережі&quot;&nbsp;<em>(2008&nbsp;р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="1">&nbsp;</td>
		</tr>
	</tbody>
</table>
