<p><img alt="" src="/pages/files/1068596421f7/357157092.jpg" style="height:233px; width:780px" /></p>

<p style="text-align: justify;">&nbsp; &nbsp;З 25 листопада по 1 грудня 2020 р. на теренах Чернівецької області проходив&nbsp;<strong>XVII відкритий міжрегіональний фото-, кінофестиваль учнівської та&nbsp;студентської молоді &laquo;Осінні Барви Буковини&raquo;</strong>.&nbsp;</p>

<p style="text-align: justify;">&nbsp; Майбутні актори, режисери, фотожурналісти, відеооператори, звукорежисери &ndash; вихованці дитячих фото та кіностудій з різних куточків&nbsp;України взяли участь у цьому святі.</p>

<p style="text-align: justify;"><img alt="" src="/pages/files/003d70e44af1/photo.jpg" style="height:380px; width:720px" /></p>

<p style="text-align: justify;">&nbsp; Фестиваль вперше був проведений на теренах Чернівецької області ще&nbsp;у 2003 році. З маленького обласного конкурсу він виріс у Всеукраїнський&nbsp;захід, який об&rsquo;єднує всіх небайдужих до дитячої фото та кінотворчості. Адже&nbsp;діти дивляться на світ іншими очима та своїм поглядом через камеру можуть&nbsp;створити справжнє диво. Кожен із учасників мріє, що саме його робота&nbsp;зможе змінити світ на краще!<br />
&nbsp; Цьогорічний Фестивалі рекордний для нас за кількістю учасників.&nbsp;Якщо у минулому році у Фестивалі взяли участь 35 команд, то&nbsp;учасниками сьогодні стали 78 команд з різних куточків України та&nbsp;команда міста Молодечне Республіки Білорусь.&nbsp;На розгляд професійного журі Фестивалю було подано 74 кінороботи&nbsp;та понад 800 фоторобіт</p>

<p>&nbsp; Студентка Фахового коледжу ЧНУ імені Юрія Федьковича&nbsp;<strong>Ольга ПЛОТНІКОВА</strong>&nbsp;виборола:</p>

<ul>
	<li><strong>ГРАН-ПРІ </strong>в номінації &quot;Найкращий соціальний ролик&quot; за роботу &quot;Пояснення моєї депресії мамі&quot;;</li>
	<li><strong>1 місце</strong> в&nbsp;номінації &quot;Найкращий соціальний ролик&quot;&nbsp;за роботу &quot;Віртуальне життя&quot;.</li>
</ul>

<p style="text-align: right;">&nbsp;<strong>ВІТАЄМО!!! МОЛОДЕЦЬ!!!</strong></p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/1a1884402359/001.jpg" style="height:560px; width:390px" /></td>
			<td><img alt="" src="/pages/files/0a75893f3d02/002.jpg" style="height:560px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
