<p style="text-align:justify">&nbsp; &nbsp;68 учнів (студентів)&nbsp;ліцеїв, гімназій, загальноосвітніх шкіл, коледжів міста Чернівці та Чернівецької області взяли онлайн участь в&nbsp;<strong>&laquo;VIІ-х буковинських стартах юних економістів&raquo;</strong>, які провела кафедра економічної теорії, менеджменту і адміністрування Чернівецького національного унверситету імені Юрія Федьковича&nbsp;за сприяння департаменту освіти і науки Чернівецької&nbsp;ОДА та ІППО в Чернівецькій області.</p>

<p style="text-align:center"><img alt="" src="/pages/files/7b5293e3f9ef/E5y2ubiksNoTYK1mJm1K.r695x430.png" style="height:430px; width:695px" /></p>

<p style="text-align:justify"><strong>&nbsp;&nbsp;</strong>Це&nbsp;&nbsp;радісний факт &ndash; старшокласники (попри нудний карантин та безкінечну дистанційну)&nbsp;люблять, цікавляться та серйозно ставляться до економічної науки! Наше економічне майбутнє в надійних руках!</p>

<p style="text-align:justify">&nbsp; &nbsp;Студенти Фахового коледжу ЧНУ імені Юрія Федьковича продемонстрували високий рівень знань і вибороли в олімпіаді з економіки два призових місця:</p>

<ul>
	<li style="text-align:justify"><span style="color:#3c3c3c"><span style="background-color:#ffffff"><strong>Данііл Галіщук - 25 балів &ndash; II місце</strong></span></span></li>
	<li style="text-align:justify"><span style="color:#3c3c3c"><span style="background-color:#ffffff"><strong>Білоус Юлія &ndash; 21 бал &ndash; III місце</strong></span></span></li>
</ul>

<p style="text-align:justify"><span style="color:#3c3c3c"><span style="background-color:#ffffff"><strong>&nbsp; &nbsp;ВІТАЄМО </strong>наших призерів!!!</span></span></p>
