<p style="text-align: justify;"><span style="background-color:white"><span style="color:#1c1e21">&nbsp; &nbsp; &nbsp;Відбулося урочисте закриття <strong>70-ї ювілейної Спартакіади ЧНУ</strong>, яка тривала з вересня 2018 року по червень 2019 року. У змаганнях з 9 видів спорту взяли участь 19: 5 &ndash; з факультету фізичної культури та здоров&rsquo;я людини і по одній зі всіх інших факультетів, інститутів і коледжу.</span></span></p>

<p style="text-align: justify;"><img alt="" src="/pages/files/57ef745ffca4/001.jpg" style="height:464px; width:780px" /><span style="background-color:white"><span style="color:#1c1e21">&nbsp; &nbsp; &nbsp;Окрім визначення переможців у спортивних змаганнях, Спартакіада пропагує здоровий спосіб життя, сприяє тісному спілкуванню та новим знайомствам студентів, дає позитивний емоційний заряд.</span></span></p>

<p style="text-align: justify;"><img alt="" src="/pages/files/0420129b220e/изображение_viber_2019-06-05_20-19-53.jpg" style="height:681px; width:780px" /></p>

<p style="text-align: justify;"><span style="background-color:white"><span style="color:#1c1e21">&nbsp; &nbsp; &nbsp; Найкращі с</span></span>туденти-спортсмени коледжу також&nbsp;були відзначені та нагороджені (<strong>Михайлович Максим</strong> <em>(спеціальність - &quot;Право&quot;)</em>, <strong>Ковтун Надія</strong> <em>(спеціальність &quot;Підприємництво, торгівля та біржова діяльність&quot;)</em>, <strong>Шородок Олександра</strong> <em>(спеціальність &quot;Право&quot;))</em>.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/23b18126d36c/002.jpg" style="height:293px; width:390px" /></td>
			<td><img alt="" src="/pages/files/a21c5b575dc5/003.jpg" style="height:293px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align: justify;"><span style="color:#1c1e21"><span style="background-color:white">&nbsp; &nbsp;<strong> &nbsp;Найкращі вітання всім учасникам Спартакіади!</strong></span><br />
<span style="background-color:white">&nbsp; &nbsp; &nbsp;Щира подяка викладачам-тренерам наших спортсменів!</span></span></p>
