<table border="0" style="height:90px; width:709px">
	<tbody>
		<tr>
			<td>&nbsp;</td>
			<td><a href="http://college-chnu.cv.ua/article/5c5c69378f13050d955f215c">Реквізити для оплати</a></td>
			<td>&nbsp;</td>
			<td>&nbsp;<a href="http://college-chnu.cv.ua/article/5c5c62f68f13050d955f2151">Розклад дзвінків</a></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td><a href="http://college-chnu.cv.ua/article/5c5c758d8f13050d955f219a">Гуртожиток</a></td>
			<td>&nbsp;</td>
			<td>&nbsp;<a href="http://college-chnu.cv.ua/article/5c60a0b4bb1e400ef50912ca">Стипендії</a></td>
		</tr>
	</tbody>
</table>

<p>&nbsp;<img alt="Stydenty" src="http://college-chnu.cv.ua/pages/files/fc4966e8dda0/Stydenty.jpg" style="height:356px; width:720px" /></p>

<p style="text-align:justify">&nbsp;</p>
