<p style="text-align:justify"><img alt="" src="/pages/files/13b612d67954/default-banner.png" style="height:229px; width:780px" /></p>

<p style="text-align:justify">&nbsp; &nbsp;19 червня 2020 р. було проведенометодичне об&rsquo;єднання &nbsp;викладачів іноземних мов закладів фахової передвищої освіти Чернівецької області. Були присутні 25 викладачів коледжів Чернівецької області. Голова МО Добровольська Наталія Дмитрівна звернулася з вітальним словом до учасників засідання. У своєму вітальному слові вона підкреслила, що методичне об&rsquo;єднання була спрямована на всебічне підвищення кваліфікації і професійної майстерності кожного вчителя, на розвиток творчого потенціалу.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/fc2975d2a7f3/e-learning.jpeg" style="height:330px; width:780px" />&nbsp; &nbsp;Добровольська Н.Д. підкреслила, що карантин став викликом для всього українського суспільства. Освітня система не стала винятком, так як необхідно було швидко та раптово перейти на навчання з використанням дистанційних&nbsp;технологій. Хоча протягом останніх десятиріч дистанційні&nbsp;технології навчання є глобальним явищем освітньої та інформаційної культури, до нинішнього часу вона не використовувалася широко в освітньому процесі коледжів області.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/86df35cd4d9a/001.jpg" style="height:369px; width:780px" />&nbsp; &nbsp;І саме &laquo;карантин&raquo; активізував проблему навчання з використанням дистанційних технологій. Саме &laquo;карантин&raquo; показав реальний стан речей та необхідність впровадження заходів по виявленню недоробок у процесі&nbsp;освіти з використанням дистанційних технологій навчання. За короткий час українському викладачу довелось переключитись зі звичних офлайн уроків на&nbsp;онлайн-навчання. На таких заняттях є свої підводні камені, але є й чимало переваг, на які ми звернули увагу.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/28b79f4a6bd1/002.jpg" style="height:307px; width:780px" /></p>

<p style="text-align:justify">&nbsp; &nbsp;Тому, звісно, головною темою засідання постало питання про викладання іноземних мов з використанням технологій дистанційного навчання. Голова МО заздалегідь надіслала методичний огляд форм он-лайн освіти, адже однією з причин існування труднощів у розумінні поняття &laquo;навчання з використанням дистанційних технологій&raquo; є термінологічна плутанина, відсутність єдиного розуміння змісту базових визначень, пов&rsquo;язаних з цим терміном.</p>

<p style="text-align:justify">&nbsp; &nbsp;Учасники засідання обговорили основні форми онлайн-комунікації та поширені веб-ресурси для дистанційного навчання, такі як: Moodle, Google Classroom (особливо для викладачів загальноосвітньої підготовки), Zoom (для проведення онлайн-занять), Microsoft Teams, Google Meet, Skype (для відеоконференцій), Сlasstime (для тестової перевірки), &laquo;На Урок&raquo; та &laquo;Всеосвіта&raquo;.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:260px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/9884d0b5a9df/001.jpg" style="height:195px; width:260px" /></td>
			<td><img alt="" src="/pages/files/1c3c97126268/002.jpg" style="height:195px; width:260px" /></td>
			<td><img alt="" src="/pages/files/837a06f47f55/004.jpg" style="height:195px; width:260px" /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/3e4898f260a3/005.jpg" style="height:195px; width:260px" /></td>
			<td><img alt="" src="/pages/files/4fafead98a3c/006.jpg" style="height:195px; width:260px" /></td>
			<td><img alt="" src="/pages/files/6cae571567e3/007.jpg" style="height:195px; width:260px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;Викладачі області висловили власні думки про переваги та недоліки дистанційної освіти, поділились власним досвідом роботи в дистанційному режимі.</p>

<p style="text-align:justify">&nbsp; &nbsp;По третьому питанню звітувала голова МО, Добровольська Н.Д., ретельно проаналізувавши результати роботи МО за 2019/2020 н.р.</p>

<p style="text-align:justify">&nbsp; &nbsp;Всі прийшли висновку, що карантин &ndash; це не канікули. Це період, насамперед, самоорганізації та самоконтролю.</p>

<p style="text-align:justify">&nbsp; &nbsp;На завершення засідання МО були обговорені пропозиції щодо планування роботи ОМО на наступний 2020/2021 навчальний рік.</p>
