<p style="text-align:center"><strong>ДОРОГА УНІВЕРСИТЕТСЬКА РОДИНО!</strong></p>

<p style="text-align:justify"><img alt="" src="/pages/files/fc1e40d5ddc5/002.jpg" style="height:359px; width:780px" />&nbsp; Сердечно вітаю з новорічно-різдвяними святами, що ось-ось завітають у наші домівки, сповіщаючи про радість Новоріччя, про світло Різдва Христового, звеселяючи серця дзвінкою колядою! Нехай у ці святкові дні оселя кожного з вас наповниться любовʼю, надією і Божим благословенням! Нехай навколо панує затишна аура родинного тепла й чудового зимового настрою!</p>

<p style="text-align:justify">&nbsp; 2020 рік був нелегким роком, адже, крім яскравих подій 145-річчя альма-матері, високих досягнень у навчальній, науковій, гуманітарно-виховній сферах, він приніс пандемію коронавірусу. Однак разом з вами ми гідно відповіли на цей виклик, обравши правильний вектор розвитку університету в таких умовах, працюючи у форматі онлайн, репрезентуючи наукові доробки в рейтингових журналах, дбаючи про імідж університету на всіх рівнях. Маю сподівання, що прийдешній Новий рік дасть змогу кожному з нас зреалізувати свої плани й поставити ще вищі цілі, принесе мир і спокій, подарує оптимізм та віру.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/abf091740cb8/Blue and Orange Fireworks Photo New Year Card.png" style="height:432px; width:780px" />&nbsp; Нехай 2021 рік стане роком здійснення мрій та світлих сподівань! Зичу міцного здоровʼя, свіжих сил для нових наукових звершень, творчих успіхів і натхнення для успішного втілення задуманого, для повноцінного розвитку та європейського поступу нашого університету вперед.</p>

<p style="text-align:center"><strong>З Новим роком!<br />
Христос народився!<br />
Славімо Його!</strong></p>

<p style="text-align:center">З повагою та найкращими побажаннями<br />
ректор ‒ Роман ПЕТРИШИН</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>
