<p style="text-align: justify;"><img alt="" src="/pages/files/60a04f13ff3d/1349225847_1349225847.png" style="height:304px; width:780px" />&nbsp; &nbsp;Команда Коледжу ЧНУ імені Юрія Федьковича з&nbsp;<strong>настільного тенісу</strong>&nbsp;виборола&nbsp;&nbsp;<strong>I місце</strong>&nbsp;у <strong>71</strong>&nbsp;<strong>Спартакіаді ЧНУ імені Юрія Федьковича,&nbsp;</strong>обігравши всі команди факультетів та інститутів університету. Наші представники вже другий рік&nbsp;поспіль на Спартакіаді університету з настільного тенісу доводять, що вони найкращі. Вітаємо нашу команду чемпіонів у складі:</p>

<ul>
	<li>Максим Михайлович&nbsp; (2 курс, спеціальність &quot;Право&quot;);</li>
	<li>Олександра Росоха&nbsp; &nbsp;(1 курс, спеціальність &quot;Фінанси, банківська справа та страхування&quot;);</li>
	<li>Олександр Палагнюк&nbsp;(1 курс, спеціальність &quot;Фінанси, банківська справа та страхування&quot;).</li>
</ul>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/eb137bb33463/зображення_viber_2019-11-06_20-02-21.jpg" style="height:520px; width:390px" /></td>
			<td><img alt="" src="/pages/files/17f8816539fa/зображення_viber_2019-11-06_20-02-37.jpg" style="height:521px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
