<p>&nbsp;<img alt="Stydenty" src="http://college-chnu.cv.ua/pages/files/fc4966e8dda0/Stydenty.jpg" /></p>

<p>&nbsp; &nbsp; &nbsp;<a href="http://college-chnu.cv.ua/article/5c5c69378f13050d955f215c">Реквізити для оплати</a></p>

<p>&nbsp; &nbsp; &nbsp;<a href="http://college-chnu.cv.ua/article/5c5c62f68f13050d955f2151">Розклад дзвінків</a></p>

<p>&nbsp; &nbsp; &nbsp;<a href="http://www.college-chnu.cv.ua/article/5dc3d2489fce2d0e869cabf8">Стипендії</a></p>

<p>&nbsp; &nbsp; &nbsp;<a href="http://college-chnu.cv.ua/article/5c5c758d8f13050d955f219a">Гуртожиток</a></p>

<p>&nbsp; &nbsp; &nbsp;<a href="http://college-chnu.cv.ua/article/5e9474b18b2f873f5ba73761">Електронні підручники</a></p>

<p>&nbsp;</p>
