<p><img alt="" src="/pages/files/8a76f818c1e9/banerPresvesna2020.jpg" style="height:347px; width:780px" /></p>

<p style="text-align:justify"><span style="background-color:white"><span style="color:#333333">&nbsp; &nbsp;З 15 по 17 травня 2020 року у Києві відбувся <strong>XVІІІ</strong></span></span><strong> </strong><span style="background-color:white"><span style="color:#333333"><strong>Міжнародний фестиваль-конкурс дитячо-юнацької журналістики &laquo;Прес-весна на Дніпрових схилах&raquo;</strong>.</span></span></p>

<p style="text-align:justify">&nbsp; &nbsp;<span style="background-color:white"><span style="color:#333333">Темою цьогорічного фестивалю</span></span><strong><span style="background-color:white"><span style="color:#333333">, </span></span></strong><span style="color:#333333">яку у листопаді обрали діти<strong> &laquo;2020: моя країна в смартфоні&raquo;. </strong>Вона виявилась вкрай актуальною та співзвучною з програмою НУШ по впровадженню діджиталізації та співпала з подіями року.</span></p>

<p style="text-align:justify"><span style="color:#333333">&nbsp; &nbsp;У 2020 році до оргкомітету Фестивалю надійшло понад 800 робіт від учасників <strong>з 16 регіонів України та із 7 країн світу</strong>: Франції, Білорусі, Польщі, Чехії, Нідерландів, Узбекистану, Молдови. Також до участі у фесті долучилися кияни &ndash; учасники і переможці міських форумів, прес-боїв, фотофристайлів, літературних та журналістських конкурсів.</span></p>

<p style="text-align:justify"><span style="background-color:white"><span style="color:#333333">&nbsp; &nbsp;Учасники змагались <strong>у 10 номінаціях:</strong> &laquo;Літературний твір&raquo;, &laquo;Газета&raquo;, &laquo;Журналістська робота&raquo;, &laquo;Нові медіа&raquo;, &laquo;Медіа-проект&raquo;, &laquo;Відеоробота&raquo;, &laquo;Фоторепортаж&raquo;, &laquo;Радіоробота&raquo;, &laquo;Традиції та новаторство&raquo;, &laquo;Голос покоління Z&raquo;.</span></span></p>

<p style="text-align:justify"><span style="background-color:white"><span style="color:#333333">&nbsp; &nbsp;</span></span>Студентка 2-го курсу, Коледжу ЧНУ імені Юрія Федьковича, спеціальності &quot;Комп&#39;ютерні науки&quot;&nbsp;<strong>Ольга ПЛОТНІКОВА</strong>, яка є <span style="color:#333333">вихованкою&nbsp;гуртка &laquo;Моя майбутня професія&raquo;&nbsp;Чернівецького&nbsp;обласного&nbsp;центру науково-технічної творчості подала на конкурс свої фотороботи.</span></p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/7eb0eec6e487/001.jpg" style="height:220px; width:390px" /></td>
			<td><img alt="" src="/pages/files/027e356f009d/004.jpeg" style="height:220px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify"><span style="color:#333333"><img alt="" src="/pages/files/1edc5d8aa4dc/003.jpg" style="height:585px; width:780px" /></span><span style="background-color:white"><span style="color:#333333">&nbsp; &nbsp;Усі роботи оцінювало професійне журі &ndash; редактори та журналісти провідних засобів масових комунікацій України, науковці та практики столичних закладів вищої освіти тощо.</span></span></p>

<table border="1" cellpadding="1" cellspacing="1" style="width:260px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/7ac34efee6b0/001.jpg" style="height:365px; width:258px" /></td>
			<td><img alt="" src="/pages/files/aa62000b27c2/002.jpg" style="height:365px; width:258px" /></td>
			<td><img alt="" src="/pages/files/d75d819c8e19/003.jpg" style="height:365px; width:258px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;За результатами роботи журі:</p>

<ul>
	<li style="text-align:justify">Диплом <strong>ІІ ступеня</strong> - номінація &quot;Жанрове&nbsp;фото&quot;;</li>
	<li style="text-align:justify">Диплом <strong>ІІ ступеня</strong> - номінація &quot;Живий світ (тварини, рослини, червонокнижні види нашого району)&quot;;</li>
	<li style="text-align:justify">Диплом <strong>І&nbsp;ступеня</strong> - номінація &quot;Позажанрове фото та експерниментальне фото&nbsp;( застосування програми AdobePhotoshop)&quot;;</li>
</ul>

<p style="text-align:justify">&nbsp;<span style="color:#1d2129"><span style="background-color:white">&nbsp;</span></span><span style="color:#333333"><strong>ВІТАЄМО</strong> нашу переможницю <strong>Ольгу ПЛОТНІКОВУ</strong> із нагородами та бажаємо успіхів у навчанні, роботі та творчих злетів.</span></p>
