<p style="text-align:justify"><img alt="" src="/pages/files/0d60dc940147/roadmap.jpg" style="height:84px; width:780px" /><span style="background-color:white"><span style="color:#222222">&nbsp; &nbsp;У буденному студентському житті важливе місце займають можливості використання набутих теоретичних навичок на практиці та ознайомлення із особливостями практичної діяльності установ, в яких вони матимуть змогу розпочати свою трудову діяльність. Саме тому, 23 квітня 2019 року студенти третього курсу економічного відділення, які навчаються за спеціальністю &laquo;Фінанси, банківська справа і страхування&raquo; разом із викладачем циклової комісії економічних дисциплін Семенюк Юліанною Валеріївною провели навчальне заняття в Управлінні Державної казначейської служби у м. Чернівцях Чернівецької області.</span></span></p>

<p style="text-align:justify"><img alt="" src="/pages/files/1666ba8a1efb/001.jpg" style="height:585px; width:780px" /><span style="background-color:white"><span style="color:#222222">&nbsp; &nbsp;Метою навчальної екскурсії було ознайомлення студентів з організаційною структурою, основними завданнями органу, підвищення практичної підготовки студентів та їх майбутнього працевлаштування в органах ДКСУ.</span></span></p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/5f84cac2e792/002.jpg" style="height:293px; width:390px" /></td>
			<td><img alt="" src="/pages/files/5dc433eb7a95/003.jpg" style="height:293px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify"><span style="background-color:white"><span style="color:#222222">&nbsp; &nbsp;Начальник управління Ірина Андріївна Мусаєва провела майбутнім фахівцям екскурсію по відділах управління, де студенти ознайомились із функціональними завданнями, організацією роботи відділів та обліковою політикою установи. Провідні фахівці установи на конкретних прикладах розповіли студентам про особливості казначейського обслуговування бюджетних коштів, зокрема розрахунково-касове обслуговування розпорядників і одержувачів бюджетних коштів державного та місцевих бюджетів; контроль за здійсненням бюджетних повноважень при зарахуванні надходжень бюджету, взятті бюджетних зобов&rsquo;язань та здійсненні платежів; ведення бухгалтерського обліку і складання звітності про виконання бюджетів. У відділі надходжень продемонстрували порядок повернення помилково зарахованих доходів та відшкодування податкових надходжень. У відділі бухгалтерського обліку та звітності студенти мали змогу ознайомитися із особовими справами розпорядників та одержувачів, змістом фінансової та бюджетної звітності, порядком її складання і термінами подання, інформаційними системами ДКСУ.</span></span></p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/2f3accc2248a/004.jpg" style="height:293px; width:390px" /></td>
			<td><img alt="" src="/pages/files/48812d46cb2f/005.jpg" style="height:293px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify"><span style="background-color:white"><span style="color:black">&nbsp; &nbsp;В ході заняття студенти були ознайомлені з основними напрямками діяльності Державної казначейської служби, відвідали робочі місця працівників управління, спостерігали за виконанням основних функціональних завдань територіальних органів Державної казначейської служби України, а також отримали можливість&nbsp; наочно відчути всю важливість і відповідальність виконуваної роботи.</span></span></p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/740c2584e7b6/006.jpg" style="height:293px; width:390px" /></td>
			<td><img alt="" src="/pages/files/2a5c949b0a7c/007.jpg" style="height:293px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify"><span style="background-color:white"><span style="color:#222222">&nbsp; &nbsp;Велика подяка начальнику Управління Державної казначейської служби у м. Чернівцях Мусаєвій Ірині Андріївні за надану можливість проведення навчальної екскурсії та знайомства студентів спеціальності &laquo;Фінанси, банківська справа і страхування&raquo; з провідною фаховою установою.</span></span></p>

<p style="text-align:justify"><span style="background-color:white"><span style="color:#222222"><img alt="" src="/pages/files/dda9b8ce76bd/008.jpg" style="height:402px; width:780px" /></span></span></p>
