<p style="text-align:justify"><img alt="" src="/pages/files/a40cd308d121/банер_Шевченко.jpg" style="height:245px; width:770px" /></p>

<p style="text-align:justify">&nbsp; &nbsp; &nbsp;Учора, 5 березня, відбувся фінал конкурсу на краще читання української поезії, присвячений <strong>205-й річниці від дня народження Тараса Шевченка</strong>.</p>

<p style="text-align:justify">&nbsp; &nbsp; &nbsp;З-поміж&nbsp; 45 учасників компетентне журі&nbsp; вибрало для фіналу 25 найсильніших декламаторів, вони і змагалися за звання кращого читця Шевченкового слова.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/25e355358ff1/001.jpg" style="height:300px; width:770px" /></p>

<p style="text-align:justify">&nbsp; &nbsp; &nbsp;Цьогоріч серед конкурсантів були студенти із більшості факультетів університету: географічного, юридичного, філософсько-теологічного, факультету математики та інформатики, філологічного,&nbsp; факультету педагогіки, психології та соціальної роботи, економічного , Інституту біології хімії та біоресурсів, факультету фізичної культури та здоров&rsquo;я людини, ІФТКН, Коледжу ЧНУ та ін.</p>

<p style="text-align:justify">&nbsp; &nbsp; &nbsp;Коледж ЧНУ імені Юрія Федьковича у фіналі представляли&nbsp;двоє&nbsp;студентів: <strong>Арсеній&nbsp;Вакарчюк</strong>&nbsp;і <strong>Богдана Сергій</strong>.</p>

<p style="text-align:justify">&nbsp; &nbsp; &nbsp;Усіх їх на конкурсі поєднала велика любов та захоплення творчостю українського Пророка та Генія &ndash; Тараса Шевченка.</p>

<p style="text-align:justify">&nbsp; &nbsp; &nbsp;Українською, польською, корейською чи англійською, монологом чи піснею - поезія Тараса Шевченка звучала у&nbsp; 66 аудиторії філологічного факультету однаково сильно і знаково.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/65731f1014df/002.jpg" style="height:383px; width:770px" /></p>

<p style="text-align:justify">&nbsp; &nbsp; &nbsp;У вітальному слові до фіналістів доцент кафедри української літератури та голова журі конкурсу Лариса Маркуляк-Бережан розповіла, що щорічні Шевченківські читання -&nbsp; це справжнє свято поезії, започатковане на філологічному факультету у 1992-у році.</p>

<p style="text-align:justify">&nbsp; &nbsp; &laquo;Скільки би не було конкурсів, заходів, приурочених до щорічного відзначення Дня народження Кобзаря &ndash; це тільки дещиця того, що ми можемо зробити для Шевченка. Постійно переосмислюючи його роль в українській та світовій культурі, розумієш &ndash; цього все одно занадто мало&hellip; А діяльність Шевченка, його трагічний життєпис &ndash; це доля України.</p>

<p style="text-align:justify">&nbsp; &nbsp; &nbsp;Мені надзвичайно приємно бачити на конкурсі стільки молодих шанувальників Шевченкового та й взагалі українського слова, які після завершення навчання в університеті стануть не лише вчителями української мови та літератури, а й фізиками, біологами чи математиками.&nbsp; Однак впевнена, що незалежно від фаху ви завжди любитимете і плекатимете&nbsp; українську поезію та рідне слово.</p>

<p style="text-align:justify">&nbsp; &nbsp; &nbsp;Творчість Тараса Шевченка &ndash; то великий скарб для нашої нації і ми повинні його берегти!&raquo;, підкреслила Лариса Василівна.</p>

<p style="text-align:justify">&nbsp; &nbsp; &nbsp;Голова журі&nbsp; подякувала присутнім за участь у конкурсі і зауважила, що цьогоріч обирати переможців було надзвичайно важко &ndash; всі читали щиро, талановито і вдумливо, кожне слово пропускаючи крізь себе.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:385px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/75fdd0a07782/004.jpg" style="height:562px; width:385px" /></td>
			<td><img alt="" src="/pages/files/cb199b0fbbb0/003.jpg" style="height:561px; width:385px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify"><br />
&nbsp; &nbsp; &nbsp;У нелегкій боротьбі студентка нашого коледжу <strong>Сергій Богдана </strong>(спеціальність &laquo;Фінанси, банківська справа та страхування&raquo;)<strong> виборола І місце</strong> (номінація &laquo;Літературно-музична композиція&raquo;)&nbsp;</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:385px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/0d4ecf386fa7/005.jpg" style="height:513px; width:385px" /></td>
			<td><img alt="" src="/pages/files/aebaf92dc542/006.jpg" style="height:582px; width:385px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp; &nbsp;Приємно зауважити, що цього річ було чимало учасників Шевченківських читань, які взяли участь поза конкурсом. Зокрема, це 6 студентів Буковинського державного медичного університету, а саме студенти, які прибули на навчання до України з далеких країн Африки, а також студентка із Польщі.</p>

<p style="text-align:justify">&nbsp; &nbsp; &nbsp;Зазначимо також, що свято поетичного слова відкрив наймолодший учасник шевченківських читань &ndash; 4-річний Богдан Ілуцан.</p>

<p style="text-align:justify">&nbsp; &nbsp; &nbsp;Адміністрація університету підтримала ініціаторів конкурсу у проведенні і забезпечила розкішний призовий фонд &ndash; фіналістів нагородили кращими зразками української книжкової продукції.</p>
