<p style="text-align:center"><img alt="History" src="/pages/files/a919648dd173/History.jpg" style="height:281px; width:720px" /></p>

<table border="0">
	<tbody>
		<tr>
			<td style="text-align:justify">&nbsp;</td>
			<td><a href="http://localhost:25565/article/5c5c2269e4c89c0f4878c75c">Історія коледжу ЧНУ ім. Ю.Федьковича</a></td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td><a href="http://localhost:25565/article/5c5b5c67e4c89c0f4878c751">Історія ЧНУ ім. Ю.Федьковича</a></td>
		</tr>
	</tbody>
</table>
