<h3 style="text-align:center"><strong>ЦИКЛОВА КОМІСІЯ<br />
ПРАВНИЧИХ ДИСЦИПЛІН</strong></h3>

<hr />
<table border="0">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/5b4f203a5a08/Popelnucka_.jpg" style="height:297px; width:210px" /></td>
			<td>
			<p style="text-align:center"><strong>ГОЛОВА&nbsp;ЦИКЛОВОЇ КОМІСІЇ</strong></p>

			<p><strong>&nbsp;Попельницька Ніна Сергіївна</strong><br />
			&nbsp;викладач І-ї кваліфікаційної категорії<br />
			<br />
			&nbsp;&nbsp; <strong>Дисципліни:</strong></p>

			<ul>
				<li>Теорія держави і права;</li>
				<li>Господарське право;</li>
				<li>Судочинство в господарських судах;</li>
				<li>Цивільний процес.</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp;&nbsp; Освіта:</strong>&nbsp;Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Правознавство&quot; <em>(2014 р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/c30dec85bfd7/Anatiychuk.jpg" style="height:280px; width:210px" /></td>
			<td>
			<p><strong>&nbsp;Анатійчук Вікторія Василівна</strong><br />
			&nbsp;викладач<br />
			<br />
			&nbsp;&nbsp; <strong>Дисципліни:</strong></p>

			<ul>
				<li>Цивільне та сімейне право;</li>
				<li>Цивільний процес;</li>
				<li>Кримінальне право;</li>
				<li>Екологічне право</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp;&nbsp; Освіта:</strong>&nbsp;Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Правознавство&quot; <em>(2007 р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/d6601e0f49f2/Dokash.jpg" style="height:340px; width:210px" /></td>
			<td>
			<p><strong>&nbsp;Докаш Оксана Юріївна</strong><br />
			&nbsp;д.пол.н.&nbsp;<em>(за спеціальністю &quot;Політична культура та ідеологія&quot;, 2017 р.)</em>,<br />
			&nbsp;доцент, викладач вищої кваліфікаційної категорії<br />
			<br />
			&nbsp; &nbsp;<strong>Предмети (дисципліни):</strong></p>

			<ul>
				<li>Правознавство;</li>
				<li>Трудове право;</li>
				<li>Право соціального захисту.</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp;&nbsp; Освіта:</strong> <strong>1.</strong> Львівський інститут внутрішніх справ при Національній академії внутрішніх справ України за спеціальністю &quot;Правознавство&quot; <em>(2001 р.)</em>; <strong>2.</strong> Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Політологія&quot; <em>(2003 р.)</em>; <strong>3.</strong> Чернівецький торговельно-економічний інститут КНТЕУ за спеціальністю &quot;Фінанси&quot; <em>(2010 р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/f6f5188d6d46/Domanchuk_.jpg" style="height:290px; width:210px" /></td>
			<td>
			<p><strong>&nbsp;Доманчук Альона Дмитрівна</strong><br />
			&nbsp;викладач ІІ-ї кваліфікаційної категорії<br />
			<br />
			&nbsp; &nbsp;<strong>Предмети (дисципліни):</strong></p>

			<ul>
				<li>Правознавство;</li>
				<li>Європейське право;</li>
				<li>Фінансове право;</li>
				<li>Аграрне право;</li>
				<li>Земельне право</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp;&nbsp; Освіта:</strong>&nbsp;Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Правознавство&quot; <em>(2007 р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/9748aae3d4d1/Egorov_.jpg" style="height:290px; width:210px" /></td>
			<td colspan="1" rowspan="2">
			<p><strong>&nbsp;Єгоров Павло Валерійович</strong><br />
			&nbsp;викладач ІІ-ї кваліфікаційної категорії</p>

			<p>&nbsp; &nbsp;<strong>Дисципліни:</strong></p>

			<ul>
				<li>Адвокатура;</li>
				<li>Кримінальний процес;</li>
				<li>Організація судових та правоохоронних органів</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp;&nbsp; Освіта:</strong> Національна юридична академія України імені Ярослава Мудрого за спеціальністю &quot;Правознавство&quot; <em>(2001 р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/f284ef6127b5/Zvozdecka_.jpg" style="height:290px; width:210px" /></td>
			<td>
			<p><strong>&nbsp;Звоздецька Ірина Володимирівна</strong><br />
			&nbsp;викладач ІІ-ї кваліфікаційної категорії</p>

			<p>&nbsp; &nbsp;<strong>Дисципліни:</strong></p>

			<ul>
				<li>Конституційне право України;</li>
				<li>Конституційне судочинство;</li>
				<li>Адміністративне право</li>
				<li>Юридична психологія</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp;&nbsp; Освіта:</strong> <strong>1.</strong> Національний&nbsp;університет &quot;Одеська юридична академія&quot; за спеціальністю &quot;Правознавство&quot; <em>(2013 р.)</em>; <strong>2.</strong> Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Психологія&quot; <em>(2018 р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/e0337248a587/Флорескул.jpg" style="height:291px; width:210px" /></td>
			<td>
			<p><strong>&nbsp;Флорескул-Світова Світлана Лазарівна</strong><br />
			&nbsp;викладач вищої кваліфікаційної категорії,<br />
			&nbsp;викладач-методист</p>

			<p>&nbsp; &nbsp;<strong>Дисципліни:</strong></p>

			<ul>
				<li>Цивільне та сімейне право</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp;&nbsp; Освіта:</strong> <strong>1.</strong> Львівська комерційна академія за спеціальністю &quot;Правознавство&quot; <em>(1996 р.)</em><strong> 2.</strong> Полтавський кооперативний інститут за спеціальністю &quot;Менеджмент організацій&quot; <em>(1999 р.)</em></p>
			</td>
		</tr>
	</tbody>
</table>
