<p style="text-align:justify"><img alt="" src="/pages/files/6a5c5413476d/крути.jpg" style="height:259px; width:780px" />&nbsp;&nbsp;&nbsp;Вони були надзвичайно відважними та хоробрими, не побоялися наступу ворога, нерівної боротьби та смерті.&nbsp;Герої Крут 29 січня 1918 року показали, що таке українська згуртованість, міць та сила.<br />
&nbsp; &nbsp;Аби буковинська молодь могла осмислити цей знаковий, але водночас і болючий день у історичному календарі, у Медіа-центрі Belle Vue відбувся&nbsp;перформанс&nbsp;<strong>&laquo;Крути: погляд крізь століття&raquo;</strong>.<br />
&nbsp; &nbsp;Студенти Фахового коледжу ЧНУ імені Юрія Федьковича у&nbsp;складі Молодіжної ради Буковини&nbsp;виступили у&nbsp;головних ролях перформансу.<br />
&nbsp; &nbsp;Організували захід Управління молоді та спорту Чернівецької облдержадміністрації, Управління культури Чернівецької обласної державної адміністрації спільно з Молодіжною радою Чернівецької області та Центром культури і дозвілля ЧНУ імені Юрія Федьковича.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/ccfb03e58b53/001.jpg" style="height:398px; width:780px" /></p>

<p style="text-align:justify"><em>&nbsp; &nbsp;&laquo;Події Крут &ndash; це не лише трагічне минуле України, а й історія сили духу, незламності та перемоги. Вона вчить нас бути єдиними. Це урок, який треба пам&#39;ятати. Бо ж будь-які епохи і герої живі доти, поки про них згадують. Саме такою і є мета заходу. Це перформанс-роздум, і я сподіваюся, що кожен із присутніх зрозуміє наш посил&raquo;, &ndash; сказала сценаристка і режисерка проєкту Іванна Стеф&#39;юк.</em></p>

<p style="text-align:justify"><img alt="" src="/pages/files/1383697dda97/002.jpg" style="height:429px; width:780px" /></p>

<p style="text-align:justify">&nbsp; &nbsp;І це дуже символічно, адже вони, як і герої Крут, &ndash; юні та свідомі громадяни своєї держави. Кожен із цих молодих людей по-своєму бачить теперішнє України, трактує її минуле й творить майбутнє.</p>
