<p style="text-align: justify;"><img alt="" src="/pages/files/3c157f063b45/Mathematics_hdr.png" style="height:173px; width:780px" />&nbsp; &nbsp; &nbsp;26 березня на базі Чернівецького державного комерційного технікуму відбувся ІІ (обласний) етап <strong>Х Всеукраїнської олімпіади з МАТЕМАТИКИ</strong>&nbsp;серед студентів закладів вищої освіти Чернівецької області, що здійснюють підготовку молодшого спеціаліста. Дане творче змагання було організовано та проведено відповідно до плану роботи Ради директорів, на виконання наказу Міністерства освіти і науки України від 20.11.2018 року № 1274 &laquo;Про проведення Всеукраїнських олімпіад та конкурсів серед студентів закладів освіти, що здійснюють підготовку молодшого спеціаліста у 2018/2019 н. р.&raquo;.</p>

<p style="text-align: justify;"><img alt="" src="/pages/files/60e0abb87f33/001.jpg" style="height:325px; width:780px" /><br />
&nbsp; &nbsp; &nbsp;В обласному етапі взяли участь 25 кращих студентів із 16 закладів вищої освіти краю. Олімпіада проводилась з метою підвищення якості підготовки кваліфікованих фахівців, пошуку обдарованої студентської молоді та створення умов для її творчого зростання та подальшого розвитку математичної освіти і культури в Україні, а також для виявлення переможця, який візьме участь у Всеукраїнському етапі.</p>

<p style="text-align: justify;"><img alt="" src="/pages/files/71e8a0c661f0/002.jpg" style="height:339px; width:780px" />&nbsp; &nbsp; &nbsp;За рішенням журі призові місця розподілились наступним чином: <strong>І місце посів студент Коледжу Чернівецького національного університету імені&nbsp;Юрія&nbsp;Федьковича Олександр Мар&rsquo;янчук (викладач Наталія Михайлюк)</strong>, на другій сходинці змагань Марія Бойко та Дмитро Дущак &ndash; студенти ДВНЗ &laquo;Чернівецький коледж дизайну та економіки&raquo; (викладачі Галина Волошин, Надія Фоглінська), третіми фінішували Каріна Щербань &ndash; студентка Чернівецького юридичного коледжу НУ &laquo;Одеська юридична академія&raquo; (викладач Людмила Сірко), Михайло Труфин &ndash; студент ДВНЗ &laquo;Чернівецький індустріальний коледж&raquo; (викладач Ганна Кієвець) та Анастасія Груба &ndash; студентка ДВНЗ &laquo;Чернівецький політехнічний коледж&raquo; (викладач Андрій Білик).</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/e7bc2a2bb851/003.jpg" style="height:219px; width:390px" /></td>
			<td><img alt="" src="/pages/files/b04c3c8dc018/004.jpg" style="height:223px; width:390px" /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/2cd969cd3c22/006.jpg" style="height:278px; width:390px" /></td>
			<td><img alt="" src="/pages/files/14fa67bd66d3/005.jpg" style="height:261px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<hr />
<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/bc8eaeeb4c4c/007.jpg" style="height:258px; width:390px" /></td>
			<td><img alt="" src="/pages/files/8b668f807c3b/008.jpg" style="height:248px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align: justify;">&nbsp; &nbsp; &nbsp;Далі на нашого переможця Олімпіади Олександра Мар&rsquo;янчука очікує чергове випробовування &ndash; участь у ІІІ етапі змагань, який відбудеться в травні в Коледжі транспорту та комп&rsquo;ютерних технологій Чернігівського національного технологічного університету. То ж нехай щастить переможцю і вдалого виступу на Всеукраїнському етапі даного творчого змагання.</p>
