<p style="text-align:justify">&nbsp; &nbsp; &nbsp;Викладач вищої категорії, викладач-методист циклової комісії &laquo;Іноземних мов&raquo;, Наталя Дмитрівна Добровольська провела відкриту пару на тему &laquo;Юридичні професії&raquo;. Присутні мали можливість не лише насолодитися чудово проведеним заняттям, але й побувати в &laquo;залі суду&raquo;.</p>

<p>&nbsp; &nbsp; &nbsp;Студенти попрацювали на славу, а викладач провела бездоганну роботу. Дякуємо! Було справді цікаво!</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/9f5bffb2664d/001.jpg" style="height:243px; width:390px" /></td>
			<td><img alt="" src="/pages/files/9b4a88815a1d/002.jpg" style="height:243px; width:390px" /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/e6e65e5b892d/003.jpg" style="height:243px; width:390px" /></td>
			<td><img alt="" src="/pages/files/222a5f20960c/004.jpg" style="height:243px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<hr />
<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/138271574515/005.jpg" style="height:520px; width:390px" /></td>
			<td><img alt="" src="/pages/files/ee689fa76a81/006.jpg" style="height:520px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<hr />
<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/1889906b1aae/007.jpg" style="height:243px; width:390px" /></td>
			<td><img alt="" src="/pages/files/1bc5db34156b/008.jpg" style="height:243px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
