<p style="text-align: center;"><strong>СТИПЕНДІЇ</strong></p>

<p><strong>1.</strong>&nbsp;<a href="http://college-chnu.cv.ua/pages/files/020d9f157cb5/rules.pdf">Правила призначення і виплати стипендії студентам коледжу</a></p>

<p><strong>2.</strong>&nbsp;<a href="http://college-chnu.cv.ua/pages/files/22439e9c1aae/LITO2019.pdf">Рейтингові списки студентів коледжу за результатами літньої&nbsp;екзаменаційної сесії 2018/2019 н.р.</a></p>
