<table>
	<tbody>
		<tr>
			<td style="text-align:center"><strong><span style="color:#1c7fcd">Відзначили кращих студентів краю&nbsp;</span></strong></td>
		</tr>
		<tr>
			<td style="text-align:justify; vertical-align:top">
			<p>&nbsp; &nbsp;<span style="color:#3c3c3c"><span style="color:black">Сьогодні, 14 листопада 2019 р.,&nbsp;</span>у Чернівецькій обласній державній адміністрації відбулися урочистості з нагоди Міжнародного дня студента.</span></p>

			<p><span style="color:#3c3c3c"><img alt="" src="/pages/files/b3227440db91/oda (1).jpg" style="height:318px; width:780px" /></span></p>

			<p>&nbsp; &nbsp;<span style="color:#3c3c3c"><span style="color:black">&laquo;Студентство стоїть в авангарді перетворень, які відбуваються в Україні&raquo;,&nbsp;&nbsp;&ndash; зазначив під час зустрічі з кращими студентами області в.о. голови Чернівецької облдержадміністрації Михайло Павлюк. А також добавив, що разом із тим, найпершими завданнями студента є &laquo;вчитись, самовдосконалюватись, розвиватись та інвестувати у себе&raquo;.</span></span></p>

			<p>&nbsp; &nbsp;<span style="color:#3c3c3c"><span style="color:black">Проректор університету Тамара Марусик зауважила, що всі, хто зібрався у залі облдержадміністрації, є студентами: теперішніми чи колишніми.</span></span></p>

			<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
				<tbody>
					<tr>
						<td><img alt="" src="/pages/files/72e68feb6871/oda (2).jpg" style="height:293px; width:390px" /></td>
						<td><img alt="" src="/pages/files/fde7fb0bc460/oda (5).jpg" style="height:293px; width:390px" /></td>
					</tr>
				</tbody>
			</table>

			<p>&nbsp; &nbsp;<span style="color:#3c3c3c"><span style="color:black">&laquo;Студенти у всі часи були рушійною силою змін. Згадаймо тих, які віддали своє життя під час Революції Гідності, давши нам шанс жити у незалежній державі. Згадаймо, хто на Сході України оберігав наше мирне небо&raquo;.&nbsp;&nbsp;</span></span></p>

			<p><span style="color:#3c3c3c">&nbsp;&nbsp;Тамара Марусик завершила свій виступ закликом великого архітектора Йозефа Главки, який подарував Чернівцям університет: &laquo;Бережіть почуття прекрасного, допомагайте один одному, живіть дружною сім&#39;єю. Майте свою власну думку, але поважайте думки інших. Будьте чесними і великодушними, творцями, а не руйнівниками&raquo;.</span></p>

			<p><span style="color:#3c3c3c">&nbsp; &nbsp;Подякою&nbsp;відзначили й студентку 2-го курсу спеціальності &quot;Комп&#39;ютерні науки&quot; Коледжу Чернівецького національного&nbsp; університету імені Юрія Федьковича<em>&nbsp;-&nbsp;</em></span><strong>Ольгу Плотнікову!</strong></p>

			<p><strong><img alt="" src="/pages/files/b26f0db955f3/oda (3).jpg" style="height:346px; width:780px" /></strong></p>
			</td>
		</tr>
	</tbody>
</table>
