<p style="text-align:center"><img alt="" src="/pages/files/d8b352a4a174/kyrsu.jpg" style="height:261px; margin-left:auto; margin-right:auto; width:240px" /></p>

<p style="text-align:justify">&nbsp;</p>

<p style="text-align:center"><strong>ПІДГОТОВЧІ КУРСИ</strong><br />
<strong>для вступу до Фахового коледжу ЧНУ імені Юрія Федьковича</strong></p>

<p style="text-align:justify">&nbsp; &nbsp;На підготовчі курси приймаються&nbsp; учні 9-10 класів для підготовки до вступних іспитів до Фахового коледжу ЧНУ імені Юрія Федьковича у 2021 році з української мови,&nbsp;історії України або математики. &nbsp;</p>

<p style="text-align:justify">&nbsp; &nbsp;Прийом документів здійснюється з <strong>10&nbsp;січня </strong>до<strong> 5 лютого 2021&nbsp;року</strong> за адресою:</p>

<hr />
<p style="text-align:center"><strong>м. Чернівці, вул. Банкова, 1, кімната 11&nbsp; (2 поверх) з 10:00 до 17:00, </strong></p>

<p style="text-align:center"><strong>13.00-14.00- ОБІДНЯ ПЕРЕРВА.</strong></p>

<hr />
<p style="text-align:center"><strong>Перелік документів:</strong></p>

<p style="text-align:justify"><strong>1.</strong> Копія ID-картки / паспорта (свідоцтва про народження) + копія ідентифікаційного коду.<br />
<strong>2.</strong> Копія паспорта одного з батьків + копія ідентифікаційного коду.<br />
<strong>3.</strong> Довідка з місця навчання.<br />
<strong>4.</strong> 1 кольорове фото розміром 3х4.</p>

<p style="text-align:justify">&nbsp; &nbsp; &nbsp;<strong>Консультації&nbsp;за телефоном:<br />
тел. роб. </strong>(0372) 55-38-26, (0372) 52-46-27<br />
<strong>тел. моб. </strong>(068) 790 46 90</p>
