<p style="text-align: center;"><img alt="" src="/pages/files/621ae6983159/1548919866_7057373-03.jpg" style="height:303px; width:500px" /></p>

<table>
	<tbody>
		<tr>
			<td style="text-align:center"><strong>&nbsp; Зі святом світлим світу!&nbsp;</strong></td>
		</tr>
		<tr>
			<td style="vertical-align:top">
			<p style="text-align:justify">&nbsp; &nbsp; &nbsp;Із настанням Весни, як сивої давнини на наших теренах початку нового року, прокидаються Природа, ми у Часі, візії благословенних Богом днів, відчувається зрима дія якомога оперативнішого втілення задумів. У світі відбувається щось дивовижне. І з-поміж усього цього &ndash; гармонія&nbsp; найсокровенніших задумів.</p>

			<p style="text-align:justify">&nbsp; &nbsp; &nbsp;Та є у річному циклі дні особливі:</p>

			<p style="text-align:justify">&nbsp; &nbsp; &nbsp;Весни, Матері, Української родини &ndash; і це доволі-таки справедливо! Випадають вони у березні і травні.</p>

			<p style="text-align:justify">&nbsp; &nbsp; &nbsp;Віншуємо Вас усіх, хто належить до найкращої половинки на білому світі: матері, дружини, сестри, колежанки, студентки, зокрема нашого класичного університету імені Юрія Федьковича, що на високій горі Домінік.</p>

			<p style="text-align:justify">&nbsp; &nbsp; &nbsp;А з кожної гори,&nbsp; як відомо, далеко видно.</p>

			<p style="text-align:justify">&nbsp; &nbsp; &nbsp;Чим вища гора, тим дзвінкіше соло чи оркестр, усуціль сплетених, мов перший весняний вінок квітів чи просто букет пролісків цієї несказанної пори.</p>

			<p style="text-align:justify">&nbsp; &nbsp; &nbsp;Нехай переливиста перелуннями мелодія омузичує Ваш глибокий внутрішній світ досі нечутими мотивами, на які здатна і вдатна тільки рання-рання провесінь, коли залишаються хвилини чи й миті до наскрізного пробудження розбубнявілих бруньок.</p>

			<p style="text-align:justify">&nbsp; &nbsp; &nbsp;Нехай оця дивовижна стихія солодкої музики натхненно уповнює і сповиває серця та душі, світиться неповторним сяйвом усмішки, її сузір&rsquo;ям на земних видноколах, коли очі із несподіванки захопливо вбирають розбурхану у білому світі просторінь, гей-гей,якої дзвонистої краси і сили!</p>

			<p style="text-align:justify">&nbsp; &nbsp; &nbsp;Бо де брунька займеться, там і листок &ndash; у множині множинній! &ndash; воздастся кожній гілці, після чого сотвориться своєрідний затишок шатами &ndash; рай березневий!</p>

			<p style="text-align:justify">&nbsp; &nbsp; &nbsp;Ступайте у цю просторінь, як ріку новизни! Із Природою Ви розмовляйте, і отак лиш &ndash; неначе по скайпу.</p>

			<p style="text-align:justify">&nbsp; &nbsp; &nbsp;Зі святом весняним і світлим, Берегині українського роду і вітчизняної науки!</p>

			<p style="text-align:justify">&nbsp;</p>

			<p style="text-align:justify">&nbsp;</p>

			<p style="text-align:right">&nbsp;Олег Ангельський,</p>

			<p style="text-align:right">В.о ректора Чернівецького національного</p>

			<p style="text-align:right">університету імені Ю.Федьковича</p>
			</td>
		</tr>
	</tbody>
</table>
