<p style="text-align:justify"><img alt="" src="/pages/files/1cc3f88fd430/geliantus (2).png" /></p>

<p style="text-align:justify"><span style="background-color:white">&nbsp; &nbsp;Як перетворити навчання на цікаву гру? Як перевірити свою ерудицію та кмітливість з фізики, хімії, біології, географії одночасно? </span></p>

<p style="text-align:justify"><span style="background-color:white">&nbsp; &nbsp;Вам розкажуть учасники <strong>Міжнародної природознавчої гри &laquo;Геліантус&raquo;</strong>! Незважаючи на труднощі дистанційного навчання, двадцять сміливців боролися за право бути найкращими. Наші результати:</span></p>

<ul>
	<li style="text-align:justify"><span style="background-color:white"><strong>Андрій Бевцик</strong> <em>(спеціальність &quot;Прикладна математика&quot;)&nbsp;</em>&nbsp;&ndash; диплом абсолютного переможця</span></li>
	<li style="text-align:justify"><span style="background-color:white"><strong>Данило Гусак</strong>&nbsp;<em>(спеціальність &quot;Прикладна математика&quot;)</em> &ndash; диплом ІІ ступеня</span></li>
	<li style="text-align:justify"><span style="background-color:white"><strong>Оксана Макаранюк</strong>&nbsp;<em>(спеціальність &quot;Прикладна математика&quot;)</em>&nbsp;&ndash; диплом ІІІ ступеня</span></li>
	<li style="text-align:justify"><span style="background-color:white"><strong>Владислав Кацап</strong>&nbsp;<em>(спеціальність &quot;Прикладна математика&quot;)&nbsp;</em>&nbsp;&ndash; диплом ІІІ ступеня</span></li>
	<li style="text-align:justify"><span style="background-color:white"><strong>Неоніла Віксич</strong>&nbsp;<em>(спеціальність &quot;Фінанси, банківська справа та страхування&quot;)</em>&nbsp;&ndash; диплом ІІІ ступеня</span></li>
	<li style="text-align:justify"><span style="background-color:white"><strong>Олександр Гамага</strong> <em>(спеціальність &quot;Фінанси, банківська справа та страхування&quot;)&nbsp;</em>&ndash; диплом ІІІ ступеня</span></li>
</ul>

<p style="text-align: right;"><strong>ВІТАЄМО!!!</strong></p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/10632cfff628/001.jpg" style="height:552px; width:390px" /></td>
			<td><img alt="" src="/pages/files/43f8c5c9d2ba/002.JPG" style="height:553px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
