<h3 style="text-align: justify;"><img alt="" src="/pages/files/3ad6b3e3e0cf/volleyball-background-images-20.jpg" style="height:244px; width:780px" />&nbsp; &nbsp;Завершився обласний&nbsp;етап Спартакіади&nbsp;з <strong>волейболу</strong> серед студентської молоді&nbsp;закладів вищої освіти, що здійснюють підготовку &quot;молодшого спеціаліста&quot;. За результатами Спартакіади, збірна команда Коледжу ЧНУ (юнаки) виборола почесне <strong>ІІ місце</strong> серед 20 коледжів та технікумів Чернівецької області.</h3>

<h3 style="text-align: justify;"><strong>&nbsp; &nbsp;ВІТАЄМО</strong> наших переможців!&nbsp;Молодці!</h3>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/54feb2b55022/viber image 2019-03-28 , 17.47.52.jpg" style="height:520px; width:390px" /></td>
			<td><img alt="" src="/pages/files/2b484babca81/Voleyball_19.jpg" style="height:547px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align: justify;">&nbsp;</p>
