<p style="text-align:justify"><img alt="" src="/pages/files/a91568fdd3ba/001.jpg" style="height:348px; width:780px" />&nbsp; &nbsp;14 грудня&nbsp;2019 р. відбувся<strong>&nbsp;Міжнародний &nbsp;фестиваль-конкурс мистецтв і талантів &quot;Я &ndash; СуперЗірка!&quot;</strong>&nbsp;(м. Бердянськ), у якому взяла участь студентка 4-го курсу спеціальності &quot;Право&quot; -&nbsp;<strong>Діана Панцир</strong>&nbsp;(керівник - І.В. Марко).</p>

<p style="text-align:justify">&nbsp; &nbsp;Діана Панцир у <strong>номінації &quot;Театральне мистецтво та художнє слово&quot;</strong> здобула почесне<strong> І місце</strong>!</p>

<p style="text-align:justify"><img alt="" src="/pages/files/54c736c2d41e/002.jpg" style="height:573px; width:780px" /></p>

<p style="text-align: justify;">&nbsp; &nbsp;Щиро<strong>&nbsp;ВІТАЄМО&nbsp;</strong>нашу&nbsp;призерку&nbsp;та її&nbsp;керівника!&nbsp;Бажаємо і надалі натхнення, віри у свої сили, невичерпної енергії, упевненості у подальших конкурсних випробуваннях!</p>
