<p style="text-align: center;"><strong>Перелік спеціальностей за якими здійснюється підготовка<br />
у Коледжі ЧНУ імені Юрія Федьковича</strong></p>

<table border="0">
	<tbody>
		<tr>
			<td>
			<p>081&nbsp;<a href="http://college-chnu.cv.ua/article/5c5c2895e4c89c0f4878c774">Право</a></p>

			<p>076&nbsp;<a href="http://college-chnu.cv.ua/article/5c5c2951e4c89c0f4878c775">Підприємництво, торгівля та біржова діяльність</a></p>

			<p>072&nbsp;<a href="http://college-chnu.cv.ua/article/5c5c29fee4c89c0f4878c776">Фінанси, банківська справа та страхування</a></p>

			<p>071&nbsp;<a href="http://college-chnu.cv.ua/article/5c5c2dfee4c89c0f4878c777">Облік і оподаткування</a></p>

			<p>113&nbsp;<a href="http://college-chnu.cv.ua/article/5c5c2e7be4c89c0f4878c778">Прикладна математика</a></p>

			<p>122&nbsp;<a href="http://www.college-chnu.cv.ua/article/5cb0ad59f667c727df2ab131">Комп&#39;ютерні науки</a></p>

			<p>123&nbsp;<a href="http://college-chnu.cv.ua/article/5c5c2fb4e4c89c0f4878c77a">Комп&#39;ютерна інженерія</a></p>
			</td>
			<td><img alt="Students05" src="https://web.archive.org/web/20180109082616im_/http://www.college-chnu.cv.ua/images/banners/Students05.jpg" style="float:right" /></td>
		</tr>
	</tbody>
</table>

<p><img alt="specialnosti" src="https://web.archive.org/web/20180109082616im_/http://www.college-chnu.cv.ua/images/img_for_colledg/specialnosti.jpg" /></p>
