<p style="text-align:center"><img alt="" src="/pages/files/8001c996ed9c/college_tr.jpg" style="height:338px; width:780px" /></p>

<p style="text-align:justify">&nbsp; Надійним ґрунтом, на якому виростає покоління, що любить свою мову й культуру, завжди була домашня освіта, помножена на традиції навчальних закладів. Тож цьогоріч студенти Коледжу ЧНУ започаткували традицію розмови про приватні книгозбірні, інтелектуальні звички своїх родин.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/40c304a0a90b/000.jpg" style="height:341px; width:780px" />&nbsp; Студенти 1-3 курсів під керівництвом <strong>Людмили ЧІК</strong>&nbsp;та <strong>Марії ОСТАПОВИЧ</strong> зробили ряд світлин поряд із власними бібліотечками та коротко розповіли про історію їхнього створення. З&rsquo;ясувалося, що дехто лише розпочав колекціонувати розумне й корисне, проте зовсім не збирається зупинятися (Олег БРИЧАК, 25 книг).</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/050da115acbf/001.jpg" style="height:519px; width:390px" /></td>
			<td><img alt="" src="/pages/files/db71614b1e1d/002.jpg" style="height:519px; width:390px" /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/08cfeb7796bc/004.jpg" style="height:578px; width:390px" /></td>
			<td><img alt="" src="/pages/files/677c80693668/005.jpg" style="height:578px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; Головною особливістю більшості із представлених бібліотечок є поєднання потрібного із корисним: українська та світова класика художньої літератури межує із технічною літературою, жіночими романами, кулінарними й дитячими книгами. За такими бібліотеками можна складати історію розвитку кожного члена родини, особливо якщо зважати, що збирали її щонайменше три покоління (Данило ГУСАК, Юлія ДЖАМАН, Ніколета ПАТРАШ, Оксана ГРЕЧАК, Данило ЦИПКО, Іванна СТАШКО, Денис ЄВИНЧУК, Ігор ЛЮБЕЦБКИЙ&nbsp;&ndash; від 100 до 600 книг).</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:260px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/8f930798b52f/010.jpg" style="height:347px; width:260px" /></td>
			<td><img alt="" src="/pages/files/089e8235b596/003.jpg" style="height:347px; width:260px" /></td>
			<td><img alt="" src="/pages/files/669e947501dd/007.jpg" style="height:347px; width:260px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; Є родини, де традиція поважного ставлення до книги доросла до майже семи сотень книг, які не припадають пилом, а сама книгозбірня постійно поповнюється новими виданнями (Анна ЩЕРБАНЬ).</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/0631c4cbda2e/006.jpg" style="height:272px; width:390px" /></td>
			<td><img alt="" src="/pages/files/8a66c25681b2/008.jpg" style="height:272px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; Проте лейтмотивом всіх студентських розповідей стала любов до читання, яка й стає основою писемності, мови, культури кожного народу (Соломія ЧУПРІЧУК).</p>

<p style="text-align:justify"><img alt="" src="/pages/files/267df1525e89/009.jpg" style="height:478px; width:780px" /></p>
