<p><img alt="" src="/pages/files/a5fa29259f61/streetball.jpg" style="height:299px; width:780px" />&nbsp; &nbsp;Команда ВСП &quot;Фаховий коледж ЧНУ імені Юрія Федьковича&quot;&nbsp;зі&nbsp;<strong>стрітболу</strong>&nbsp;(<a href="https://uk.wikipedia.org/wiki/%D0%A1%D1%82%D1%80%D1%96%D1%82%D0%B1%D0%BE%D0%BB"><em>street ball</em></a>)&nbsp;&nbsp;у складі:</p>

<ul>
	<li>Каріна Китайгородська (2 курс, спеціальність &quot;Фінанси, банківська справа та страхування&quot;);</li>
	<li>Анна Писаренко&nbsp; (2 курс, спеціальність &quot;Облік та оподаткування&quot;);</li>
	<li>Інна Руснак&nbsp; (2 курс, спеціальність &quot;Фінанси, банківська справа та страхування&quot;);</li>
	<li>Вероніка Григорчук&nbsp; (2 курс, спеціальність &quot;Фінанси, банківська справа та страхування&quot;).</li>
</ul>

<p style="text-align: justify;">посіла&nbsp;<strong>II місце</strong>&nbsp;у змаганнях обласних Спортивних ігор серед студентів закладів фахової передвищої освіти!&nbsp;Вітаємо срібних призерок!!!</p>

<p style="text-align: justify;"><img alt="" src="/pages/files/2399215bb1c0/001.jpg" style="height:354px; width:780px" /></p>

<hr />
<p><img alt="" src="/pages/files/e7e5e74d5483/0002.jpg" style="height:551px; width:780px" /></p>
