<table border="0">
	<tbody>
		<tr>
			<td><img alt="" src="http://college-chnu.cv.ua/pages/files/6be19daad1ea/1.png" /></td>
			<td>&nbsp; &nbsp;&nbsp;</td>
			<td>
			<p><strong><strong>Директор коледжу</strong></strong></p>

			<p>Собчук Олександр Васильович<br />
			кандидат фізико-математичних наук, доцент<br />
			викладач вищої категорії, методист</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<hr />
<p>&nbsp;</p>

<table border="0">
	<tbody>
		<tr>
			<td><img alt="" src="http://college-chnu.cv.ua/pages/files/96fdeac5bb7e/2.jpg" /></td>
			<td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
			<td>
			<p><strong>Заступник директора</strong><br />
			<strong>з навчально-виховної роботи</strong></p>

			<p>Докаль Ольга Ярославівна<br />
			викладач вищої категорії, методист</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<hr />
<p>&nbsp;</p>

<table border="0">
	<tbody>
		<tr>
			<td><img alt="" src="http://college-chnu.cv.ua/pages/files/78ff7d783076/3.jpg" /></td>
			<td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
			<td>
			<p><strong>Заступник директора</strong><br />
			<strong>з навчально-методичної&nbsp;</strong><strong>роботи</strong></p>

			<p>Дерев&#39;янчук Микола Ярославович<br />
			викладач вищої категорії</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<hr />
<p>&nbsp;</p>

<table border="0">
	<tbody>
		<tr>
			<td><img alt="" src="http://college-chnu.cv.ua/pages/files/e43ddc43bb0d/4.JPG" /></td>
			<td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
			<td>&nbsp;
			<p><strong>Завідувач<br />
			природничого відділення</strong></p>

			<p>Ковдриш Володимир Володимирович<br />
			кандидат фізико-математичних наук,<br />
			викладач вищої категорії</p>
			</td>
		</tr>
	</tbody>
</table>

<hr />
<table border="0">
	<tbody>
		<tr>
			<td><img alt="" src="http://college-chnu.cv.ua/pages/files/c319aa4b8d6b/5.jpg" /></td>
			<td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
			<td>&nbsp;
			<p><strong>Завідувач<br />
			юридичного відділення</strong></p>

			<p>Флорескул-Світова Світлана Лазарівна<br />
			викладач вищої категорії, методист</p>
			</td>
		</tr>
	</tbody>
</table>

<hr />
<table border="0">
	<tbody>
		<tr>
			<td><img alt="" src="http://college-chnu.cv.ua/pages/files/20139023b871/6.png" /></td>
			<td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
			<td>&nbsp;
			<p><strong>Завідувач<br />
			економічного відділення</strong></p>

			<p>Гіщук Оксана Стефанівна<br />
			викладач вищої категорії, методист</p>
			</td>
		</tr>
	</tbody>
</table>

<hr />
<table border="0">
	<tbody>
		<tr>
			<td><img alt="" src="http://college-chnu.cv.ua/pages/files/9ad08e03d0af/7.jpg" /></td>
			<td><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</strong></td>
			<td>
			<p><a href="/pages/files/8c8c8e21fb58/Тестовое задание для Node.docx"><strong>Завідувач</strong></a><br />
			<strong>навчально-методичного кабінету</strong></p>

			<p>Білокрила Ольга Яківна</p>
			</td>
		</tr>
	</tbody>
</table>

<hr />
<table border="0">
	<tbody>
		<tr>
			<td><img alt="" src="http://college-chnu.cv.ua/pages/files/61763068f589/9.jpg" /></td>
			<td><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</strong></td>
			<td>
			<p><strong>Завідувач</strong><br />
			<strong>навчально-методичної лабораторії</strong></p>

			<p>Кушнір Анастасія Володимирівна</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<hr />
<p>&nbsp;</p>

<table border="0">
	<tbody>
		<tr>
			<td><img alt="" src="http://college-chnu.cv.ua/pages/files/7a19a6a1abc4/10.jpg" /></td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p><strong>Завідувач</strong><br />
			<strong>навчальної лабораторії</strong></p>

			<p>Сикотюк Інна Михайлівна</p>

			<p>&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<hr />
<p>&nbsp;</p>

<table border="0">
	<tbody>
		<tr>
			<td><img alt="" src="http://college-chnu.cv.ua/pages/files/bf4afde9cb7d/6.png" /></td>
			<td>
			<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong></p>
			</td>
			<td>
			<p><strong>Завідувач</strong><br />
			<strong>навчальної лабораторії</strong></p>

			<p>Гуцул Тетяна Олександрівна</p>

			<p>&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<hr />
<p>&nbsp;</p>

<table border="0">
	<tbody>
		<tr>
			<td><img alt="" src="http://college-chnu.cv.ua/pages/files/4e5f8dd02625/11.jpg" /></td>
			<td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td>&nbsp;
			<p><strong>Завідувач<br />
			навчально-виробничої практики</strong></p>

			<p>Чубатько Інна Борисівна</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<hr />
<table border="0">
	<tbody>
		<tr>
			<td><img alt="" src="http://college-chnu.cv.ua/pages/files/dc6ca85d5f3f/12.jpg" /></td>
			<td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
			<td>&nbsp;
			<p><strong>Керівник<br />
			фізичного виховання</strong></p>

			<p>Михайлович Майя Михайлівна<br />
			майстер спорту</p>
			</td>
		</tr>
	</tbody>
</table>

<hr />
<p>&nbsp;</p>
