<p style="text-align: justify;"><img alt="" src="/pages/files/5a0c6c295854/banner3.jpg" style="height:227px; width:790px" /></p>

<p style="text-align: justify;">&nbsp; &nbsp;Кращі тенісисти Коледжу ЧНУ&nbsp;<strong>Михайлович Максим</strong>&nbsp;(спеціальність - Право) та&nbsp;<strong>Ковтун Надія</strong>&nbsp;(спеціальність - Підприємництво, торгівля та біржова діяльність) вибороли місце&nbsp;у складі збірної ЧНУ імені Юрія Федьовича для участі у&nbsp;<strong>XIV літній&nbsp;Всеукраїнській Універсіаді</strong>,&nbsp; що<strong>&nbsp;</strong>проходила 9-13 травня<strong>&nbsp;</strong>в&nbsp;місті&nbsp;Чернігів. За результатами змагань наші тенісисти у складі збірної здобули <strong>ІІ&nbsp;місце</strong> у 2&nbsp;категорії (заклади вищої освіти, які мають факультет фізичного виховання) та <strong>ІІ&nbsp;місце</strong> у 3 групі за територіями.</p>

<p style="text-align: justify;">&nbsp; &nbsp;Михайлович Максим також ввійшов у збірну команду Чернівецьої області для участі у&nbsp;<strong>&quot;Спортивних&nbsp;іграх&nbsp;України серед студентів коледжів та технікумів&quot;</strong>,<strong>&nbsp;</strong>що проходила 14-17 травня у Львові.&nbsp;Максим&nbsp;у нелегкій бороьбі виборов <strong>ІІІ&nbsp;місце</strong>.</p>

<p style="text-align: justify;"><img alt="" src="/pages/files/3ea6d00da924/изображение_viber_2019-05-18_10-35-59.jpg" style="height:352px; width:790px" />&nbsp; &nbsp;Щиро <strong>ВІТАЄМО</strong>&nbsp;наших спортсменів з їхніми досягненнями і бажає сили, наснаги, енергії і підкорення нових вершин.</p>
