<p style="text-align:justify">&nbsp;19-21 серпня 2020 р. у м. Бердянськ відбувся Дистанційний Міжнародний фестиваль - конкурс мистецтв &nbsp;і талантів&nbsp;&nbsp;<strong>&laquo;Зірка Азову&raquo;</strong>&nbsp;.&nbsp;Коледжу ЧНУ імені Юрія Федьковича представляв студент 2-го курсу спеціальності &quot;Фінанси, банківська справа та страхування&quot; -&nbsp;<strong>Арсеній ВАКАРЧЮК</strong>.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/1fd8869ffac8/002 (2).jpg" style="height:604px; width:780px" /></p>

<p style="text-align:justify">&nbsp; &nbsp;У&nbsp;номінації <strong>&quot;Художнє слово&quot;</strong>&nbsp; <strong>Арсеній ВАКАРЧЮК&nbsp;</strong>здобув почесне <strong>І місце</strong>! 🏆🏆🏆</p>

<p style="text-align:justify"><img alt="" src="/pages/files/8614f1ce1382/001.jpg" style="height:588px; width:780px" /></p>

<p style="text-align:justify">&nbsp; &nbsp;Переможець нагороджений <strong>Дипломом лауреата І &nbsp;премії</strong> &nbsp;та фестивальним кубком!&nbsp;Також &nbsp;Арсеній&nbsp;отримав запрошення на Міжнародний фестиваль та подарунковий сертифікат в 50 Є на поїздку до Болгарії в м. Кітен.&nbsp;Керівник <strong>Марко І.В.</strong> нагороджена <strong>ПОДЯКОЮ</strong>&nbsp;за високий професіоналізм у вихованні талантів.</p>
