<p>Програми для підготовки до вступу у коледж ЧНУ імені Юрія Федьковича</p>

<ul>
	<li>Програма з математики</li>
	<li>Програма з української мови</li>
	<li>Програма з історії України</li>
</ul>

<p>&nbsp;</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Телефон для довідок:<strong>&nbsp;<strong>55-38-26</strong></strong></p>
