<p><img alt="" src="/pages/files/6d8586f3a1cd/Без имени-1.jpg" style="height:120px; width:790px" /></p>

<h2>&nbsp;</h2>

<h2>1. <a href="/pages/files/acb0e0ba11ed/Plan.pdf">План виховної роботи коледжу</a></h2>
