<p style="text-align: justify;"><img alt="" src="/pages/files/e34549737aa4/672.jpg" style="height:306px; width:790px" />&nbsp; &nbsp;У неділю, 12.05.2019 р. у місті&nbsp;Херсоні відбувся<strong>&nbsp;Всеукраїнський фестиваль-конкурс мистецтв &laquo;Art Tavria Fest&raquo;</strong>, у якому активну участь взяли двоє студентів&nbsp;Коледжу ЧНУ імені Юрія Федьковича - Діана&nbsp;Панцир та Тетяна&nbsp;Шмідт (керівник - Марко І.В.).</p>

<p style="text-align: justify;">&nbsp; &nbsp;У номінаціїї &quot;Театральне мистецтво&quot; поважне журі визнало конкурсний номер Діани Панцир та Тетяни Шмідт найкращим і присудило - &nbsp;поважне І місце!&nbsp;</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/134dd0a1dd5e/изображение_viber_2019-05-19_15-18-37.jpg" style="height:647px; width:390px" /></td>
			<td><img alt="" src="/pages/files/5c984a7b8ab9/изображение_viber_2019-05-19_15-18-50.jpg" style="height:647px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align: justify;">&nbsp; &nbsp;Переможців нагороджено Дипломом лауреатів І премії, кубком та медалями Всеукраїнського фестивалю-конкурсу мистецтв &laquo;Art Tavria Fest&raquo;.</p>

<p style="text-align: justify;"><img alt="" src="/pages/files/a376d07ec358/ART2.jpg" style="height:689px; width:790px" /></p>
