<p><a href="http://college-chnu.cv.ua/article/5c5c7a988f13050d955f21c4">Підготовчі курси</a></p>

<p><a href="http://www.college-chnu.cv.ua/article/5dd3c6339fce2d0e869cacb3">Програма підготовки</a></p>

<p><a href="http://college-chnu.cv.ua/article/5c5c7d148f13050d955f21da">Інформаційний пакет</a></p>

<p><a href="http://college-chnu.cv.ua/article/5c5c7d768f13050d955f21e5">Перелік документів</a></p>

<p><a href="http://college-chnu.cv.ua/article/5c5c7dcc8f13050d955f21f0">Державне замовлення</a></p>

<p><img alt="people" src="https://web.archive.org/web/20180221231232im_/http://college-chnu.cv.ua/images/Gramotu/people.jpg" /></p>
