<p style="text-align:justify">&nbsp; &nbsp;19 грудня 2019 р. студенти першого курсу спеціальності &quot;Комп&#39;ютерна інженерія&quot;&nbsp;побували на презентації нової книги&nbsp;<strong>Марії Матіос</strong>&nbsp;<strong>&laquo;Букова Земля&raquo;</strong>.&nbsp; Майбутні комп&rsquo;ютерні інженери&nbsp;вже не вперше спростовують міф, що сучасна художня література цікавить лише студентів гуманітарних&nbsp;спеціальностей.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/8aef46332d24/зображення_viber_2019-12-20_17-55-37.jpg" style="height:315px; width:780px" />&nbsp; &nbsp;Класичний роман провідної української письменниці Марії Матіос &laquo;БУКОВА ЗЕМЛЯ&raquo; &mdash; це захоплива і зухвала сага завдовжки у 225 років, пропущена через історії п&rsquo;яти родин різного суспільного рівня і статусу, а також історичних персонажів, так чи інакше пов&rsquo;язаних з Буковиною. Землероби, скотарі, воїни, посли і міністри постають повноправними творцями не лише приватної, а й загальноєвропейської історії. Недаремно авторка означила жанр свого твору як роман- панорама. Географія його подій простягається від крихітного буковинського хутора Сірук &mdash; до Відня, Берліна, Бухареста, Москви і Берна. А обрамленням роману виступає особливий сюжет зі Станиці Луганської літа 2014 року.<br />
&nbsp; &nbsp;І як завжди у книжках Марії Матіос, окремим персонажем є мова з її неповторною лексичною розкішшю і гуцульським чаром.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/826a879494ba/24448040.jpg" style="height:603px; width:390px" /></td>
			<td><img alt="" src="/pages/files/025ce9bf05ad/file_19.jpg" style="height:603px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
