<p><img alt="" src="/pages/files/9bf1be6a463a/kobzar_0.jpg" style="height:265px; width:780px" /></p>

<p style="text-align:center"><strong>Шевченко &laquo;без кожуха і смушевої шапки&raquo;</strong></p>

<p style="text-align:justify">&nbsp; &nbsp; &nbsp;Для кожної нації важливо мати список канонічних особистостей, що не втрачають своєї значимості для культури упродовж століть, визначають ментальне обличчя народу. Проте найскладніше завдання &ndash; ненав&rsquo;язливо передавати традицію між поколіннями.</p>

<p style="text-align:justify">&nbsp; &nbsp; &nbsp;Переємність традицій та сучасність образу <strong>Тараса Шевченка з нагоди 206-ї </strong>річниці від дня його народження продемонстрували студенти Коледжу ЧНУ у своїх відеороботах. Виявилося, що для розкриття всієї палітри змісту поезій варто пригадати вигляд українського села в середині ХІХ століття. Тож студенти спеціальності <strong>&quot;Фінанси, банківська справа та страхування&quot;</strong>&nbsp;(керівник &ndash; Завійська Т.А.) вирушила до Музею під відкритим небом, де спостереження Кобзаря щодо побуту та проблем українця-селянина не здаються анахронізмом.</p>

<p style="text-align: center;"><a href="https://www.youtube.com/watch?v=DhEQIFi-u0I">ПЕРЕГЛЯНУТИ ВІДЕО</a></p>

<p style="text-align:justify">&nbsp; &nbsp; &nbsp;Слово Тараса Шевченка як елітарне мистецтво, що потребує значного рівня ерудиції для прочитання і розуміння продемонстрували студенти спеціальностей <strong>&quot;Підприємництво, торгівля та біржова діяльність&quot;</strong>&nbsp;та <strong>&quot;Облік і оподаткування&quot;</strong> (керівник &ndash; Марко І.В.), які вирушили на зйомки свого ролика до стін Резиденції митрополитів Буковини і Далмації. Окрім того, другокурсникам вдалось показати актуальність поетичного слова і для військового, й для красуні, якій не чужа книга.</p>

<p style="text-align: center;"><a href="https://www.youtube.com/watch?v=VieODdpUxGY">ПЕРЕГЛЯНУТИ ВІДЕО</a></p>

<p style="text-align:justify">&nbsp; &nbsp; &nbsp;Шевченко-художник проглядає із робіт&nbsp;студентів спеціальності &quot;Комп&#39;ютерні науки&quot;&nbsp;(керівник &ndash; Чік Л.В.), де Липка Андрій та Прокопчук Антон створили унікальну картину: образ відомого письменника, художника, перекладача, фольклориста, етнографа, ерудита й столичного денді проглядає крізь насичений український пейзаж.</p>

<p style="text-align:center"><a href="https://www.youtube.com/watch?v=sJ5p0rU0YHs">ПЕРЕГЛЯНУТИ ВІДЕО</a></p>

<p style="text-align:justify">&nbsp; &nbsp; &nbsp;Кожен образ Кобзаря, що його створили студенти, дозволяє побачити традиційний український канон очима сучасників та творців майбутнього.</p>
