<p><img alt="" src="/pages/files/168896fa8638/Rezultat.jpg" style="height:318px; width:780px" /></p>

<h2 style="text-align:center"><strong>І курс</strong></h2>

<hr />
<table border="1" cellspacing="0" style="width:572.4pt">
	<tbody>
		<tr>
			<td style="width:69.2pt">
			<p style="text-align:center"><strong>І місце</strong></p>
			</td>
			<td style="width:163.0pt">
			<p>&nbsp; Ольга УНГУРЯН</p>
			</td>
			<td style="width:12.0cm">
			<p style="text-align:center">Коледж Чернівецького національного університету<br />
			імені Юрія Федьковича</p>
			</td>
		</tr>
		<tr>
			<td rowspan="2" style="width:69.2pt">
			<p style="text-align:center"><strong>ІІ місце</strong></p>
			</td>
			<td style="width:163.0pt">
			<p>&nbsp; Марія ЩЕПАНОВСЬКА</p>
			</td>
			<td style="width:12.0cm">
			<p style="text-align:center">Державний вищий навчальний заклад<br />
			&laquo;Чернівецький індустріальний коледж&raquo;</p>
			</td>
		</tr>
		<tr>
			<td style="width:163.0pt">
			<p>&nbsp; Каріна ЦИМБАЛЮК</p>
			</td>
			<td style="width:12.0cm">
			<p style="text-align:center">Вижницький фаховий коледж мистецтв і дизайну<br />
			імені Василя Шкрібляка</p>
			</td>
		</tr>
		<tr>
			<td rowspan="4" style="width:69.2pt">
			<p style="text-align:center"><strong>ІІІ місце</strong></p>
			</td>
			<td style="width:163.0pt">
			<p>&nbsp; Анастасія ГОЛИК</p>
			</td>
			<td style="width:12.0cm">
			<p style="text-align:center">Державний вищий навчальний заклад<br />
			&laquo;Чернівецький політехнічний коледж&raquo;</p>
			</td>
		</tr>
		<tr>
			<td style="width:163.0pt">
			<p>&nbsp; Марія СОЛОМАТІНА</p>
			</td>
			<td style="width:12.0cm">
			<p style="text-align:center">Комунальний заклад<br />
			&laquo;Чернівецький обласний коледж мистецтв<br />
			імені Сидора Воробкевича&raquo;</p>
			</td>
		</tr>
		<tr>
			<td style="width:163.0pt">
			<p>&nbsp; Петро ГЛИНСЬКИЙ</p>
			</td>
			<td style="width:12.0cm">
			<p style="text-align:center">Приватний вищий навчальний заклад<br />
			&laquo;Буковинський університет&raquo;</p>
			</td>
		</tr>
		<tr>
			<td style="width:163.0pt">
			<p>&nbsp; Ірина&nbsp; КОЛЯДИЧ</p>
			</td>
			<td style="width:12.0cm">
			<p style="text-align:center">Комунальний вищий навчальний заклад<br />
			&laquo;Новоселицький медичний коледж&raquo;<br />
			Буковинського державного медичного університету</p>
			</td>
		</tr>
	</tbody>
</table>

<hr />
<h2 style="text-align:center"><strong>ІІ курс</strong></h2>

<hr />
<table border="1" cellspacing="0" style="width:572.4pt">
	<tbody>
		<tr>
			<td style="width:69.2pt">
			<p style="text-align:center"><strong>І місце</strong></p>
			</td>
			<td style="width:134.65pt">
			<p>&nbsp; Ярина&nbsp; ПОЖАРУК</p>
			</td>
			<td style="width:13.0cm">
			<p style="text-align:center">Коледж Чернівецького національного університету<br />
			імені Юрія Федьковича</p>
			</td>
		</tr>
		<tr>
			<td rowspan="2" style="width:69.2pt">
			<p style="text-align:center"><strong>ІІ місце</strong></p>
			</td>
			<td style="width:134.65pt">
			<p>&nbsp; Софія ДЕМИРОВСЬКА</p>
			</td>
			<td style="width:13.0cm">
			<p style="text-align:center">Педагогічний коледж<br />
			Чернівецького національного університету<br />
			імені Юрія Федьковича</p>
			</td>
		</tr>
		<tr>
			<td style="width:134.65pt">
			<p>&nbsp; Олег&nbsp; КРЕМЗЕЛЮК</p>
			</td>
			<td style="width:13.0cm">
			<p style="text-align:center">Державний вищий навчальний заклад<br />
			&laquo;Черніецький політехнічний коледж&raquo;</p>
			</td>
		</tr>
		<tr>
			<td rowspan="3" style="width:69.2pt">
			<p style="text-align:center"><strong>ІІІ місце</strong></p>
			</td>
			<td style="width:134.65pt">
			<p>&nbsp; Дана ЛУКІЯН</p>
			</td>
			<td style="width:13.0cm">
			<p style="text-align:center">Комунальний Вищий навчальний заклад<br />
			&laquo;Новоселицький медичний коледж&raquo;<br />
			Буковинського державного медичного університету</p>
			</td>
		</tr>
		<tr>
			<td style="width:134.65pt">
			<p>&nbsp; Даніель ОЛЄЙНИК</p>
			</td>
			<td style="width:13.0cm">
			<p style="text-align:center">Чернівецький коледж<br />
			Львівського національного аграрного університету</p>
			</td>
		</tr>
		<tr>
			<td style="width:134.65pt">
			<p>&nbsp; Віта ВАСКІВЧУК</p>
			</td>
			<td style="width:13.0cm">
			<p style="text-align:center">Чернівецький кооперативний економіко-правовий коледж.</p>
			</td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;Вітаємо з перемогою та бажаємо невичерпної енергії й творчого натхнення до нових досягнень і здобутків у подальших наукових та творчих пошуках.</p>
