<p style="text-align:justify"><img alt="" src="/pages/files/b3fcd0f6ad67/gusak.jpg" style="height:286px; width:780px" />&nbsp; &nbsp;У&nbsp;Чернігові&nbsp;23-27 вересня 2020 р.&nbsp; відбувся&nbsp;<strong>Чемпіонат України зі стрільби&nbsp;з лука&nbsp;</strong>серед кадетів. За медалі боролось 135 спортсменів. Серед учасників був і студент 2-го курсу спеціальності &quot;Прикладна математика&quot; Коледжу ЧНУ імені Юрія Федьковича -&nbsp;<strong>Данило ГУСАК</strong>, який у напруженій боротьбі виборов&nbsp;<strong>БРОНЗОВУ</strong>&nbsp;нагороду.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/bc0fffd66bed/002.jpg" style="height:515px; width:390px" /></td>
			<td><img alt="" src="/pages/files/181456b5e3fd/vjiwzkFlqc8DkAzHdPiA.w695.jpg" style="height:514px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<hr />
<p><img alt="" src="/pages/files/87b1443ae1d3/001 (2).jpg" style="height:300px; width:780px" /></p>

<p style="text-align: justify;">&nbsp; &nbsp;<strong>ВІТАЄМО</strong> нашого призера і бажаємо невичерпної життєвої енергії, величезної сили волі й нездоланного бажання і&nbsp;надалі перемагати!!!</p>
