<p style="text-align:justify"><img alt="" src="/pages/files/acdbe4b29315/oblozhka.png" style="height:302px; width:780px" />&nbsp; &nbsp;З 22 березня по 5 квітня за підтримки мерії міста Румбурк, Чехія та під патронатом мера м. Румбурк Ing. Люмира Куса пройшов Міжнародний творчий конкурс дітей і молоді <strong>TOGETHER FOR FUTURE</strong> (заочний). Тема конкурсу &ndash; &laquo;ТВОРИМО ДОМА&raquo;.</p>

<p style="text-align:justify">&nbsp; &nbsp;Конкурс був організований з метою допомоги дітям і молоді в подоланні кризової ситуації, що створилася в результаті пандемії нового коронавіруса COVID-19, підтримки творчої активності і зацікавленості молоді, збереження можливості спілкування, обміну досвідом та встановлення міжнародних творчих контактів в умовах ізоляції.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/b80612bcd7ac/11923190_154798248192875_5000851609045611701_n.jpg" style="height:536px; width:390px" /></td>
			<td><img alt="" src="/pages/files/4e1bb2a82fbf/2880_o.jpg" style="height:536px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;Конкурс був організований ініціативною групою громадських діячів, педагогів, фахівців в області культури, лідерами молодіжних організацій та інших фахівців, що працюють з дітьми.</p>

<p style="text-align:justify">&nbsp; &nbsp;На конкурс приймали, розглядали та оцінювали роботи, виконані ТІЛЬКИ з моменту опублікування положення на сторінці Together for future у соц. мережі Facebook і ТІЛЬКИ під час перебування вдома у зв&rsquo;язку з обмеженнями режиму карантину в НС.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/f14dd15aaaf1/Czech.jpeg" style="height:551px; width:780px" />&nbsp; &nbsp;На конкурс було подано 1262 заявки з 27 країн світу у 7 номінаціях. На номінацію відео було надано 56 робіт. <strong>Ольга ПЛОТНІКОВА</strong>, вихованка гуртка &laquo;Моя майбутня професія&raquo; Чернівецького обласного центру науково-технічної творчості, студентка другого курсу спеціальності &quot;Комп&#39;ютерні науки&quot; Коледжу ЧНУ імені&nbsp;Юрія&nbsp;Федьковича, виборола <strong>І місце</strong> у номінації відео.</p>

<p style="text-align:center"><a href="https://www.youtube.com/watch?v=1VrwRsfhiLM&amp;feature=youtu.be">Переглянути конкурсне відео</a></p>

<p style="text-align:justify"><strong>&nbsp; &nbsp;</strong>&nbsp; &nbsp;Крім зазначеної перемоги&nbsp;у номінації відео <strong>Ольга ПЛОТНІКОВА </strong>надіслала ще 3 свої конкурсні фотороботи для участі у номінації фото.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/90ade8bf8202/003.jpg" style="height:409px; width:780px" /></p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/cd49123367ea/001.jpg" style="height:260px; width:390px" /></td>
			<td><img alt="" src="/pages/files/da6c43633652/002.jpg" style="height:260px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">У номінації фото Ольга виборола почесне&nbsp;<strong>ІІ місце</strong>.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/3158ef660f8a/Czech_2.jpg" style="height:551px; width:780px" /></p>

<p style="text-align:justify"><strong>ВІТАЄМО!!!</strong></p>
