<table>
	<tbody>
		<tr>
			<td>
			<h3>Студентське самоврядування</h3>
			</td>
		</tr>
	</tbody>
</table>

<table>
	<tbody>
		<tr>
			<td style="vertical-align:top">
			<p><a href="http://college-chnu.cv.ua/article/5c5c819c8f13050d955f2206">Студентський актив</a></p>

			<p><a href="http://college-chnu.cv.ua/article/5c5c836b8f13050d955f2211">Студпрофком</a></p>

			<p><a href="http://college-chnu.cv.ua/article/5c5c84a58f13050d955f221c">Кращі спортсмени</a></p>
			</td>
		</tr>
	</tbody>
</table>
