<p style="text-align:center"><span style="color:#000080">Розподіл місць державного замовлення</span><br />
<span style="color:#000080">для Коледжу Чернівецького національного університету імені Юрія Федьковича</span><br />
<span style="color:#000080">на <strong>2020/2021</strong>&nbsp;навчальний рік</span></p>

<hr />
<p style="text-align:center"><span style="color:#000080"><span style="color:#000080">на базі базової загальної середньої освіти (9 класів)</span></span></p>

<hr />
<table border="0">
	<tbody>
		<tr>
			<td>&nbsp;</td>
			<td style="text-align:center"><strong>Спеціальність</strong></td>
			<td style="text-align:center">&nbsp;<strong>К-сть місць</strong><br />
			<strong>держ. замовлення</strong></td>
			<td style="text-align:center"><span style="color:#ffffff"><strong>ЧНУ</strong></span></td>
			<td style="text-align:center"><strong>Всього</strong><br />
			<strong>місць</strong></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>Облік і оподаткування</td>
			<td style="text-align:center"><span style="background-color:#ffffff; color:#000000">&nbsp;- <strong>15</strong></span></td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center"><span style="background-color:#ffffff; color:#000000">30</span></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>Фінанси, банківська справа та страхування</td>
			<td style="text-align:center">&nbsp;- <strong>50</strong></td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">100</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>Підприємництво, торгівля та біржова діяльність</td>
			<td style="text-align:center">&nbsp;- <strong>15</strong></td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">30</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>Право</td>
			<td style="text-align:center">&nbsp;- <strong>0</strong></td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">100</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>Прикладна математика</td>
			<td style="text-align:center">&nbsp;- <strong>15</strong></td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">30</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>Комп&rsquo;ютерні науки</td>
			<td style="text-align:center">&nbsp;- <strong>35</strong></td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">50</td>
		</tr>
		<tr>
			<td><span style="color:#ffffff">КОЛЕДЖ</span></td>
			<td>Комп&rsquo;ютерна інженерія</td>
			<td style="text-align:center">&nbsp;- <strong>35</strong></td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">50</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;<span style="color:#ffffff">ЧНУ</span></td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>

<hr />
<p>&nbsp;</p>

<p style="text-align:center">&nbsp;</p>
