<p style="text-align:justify">&nbsp; &nbsp;Вчора, 11 грудня, в палаці &quot;Академічний&quot; відбувся загальноміський конкурс<strong>&nbsp;&quot;Студент року 2019&quot;</strong>.&nbsp;За звання найкращого змагалися 15 переможців відбіркових турів, що відбулися на рівні закладів вищої освіти міста Чернівці. Коледж ЧНУ імені Юрія Федьковича представляв студет 3-го курсу спеціальності &quot;Прикладна математика&quot; -&nbsp;<strong>Назарій Григоряк</strong>.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/80c481bd19ed/005.jpg" style="height:274px; width:780px" /></p>

<p>&nbsp; &nbsp;Назарій у нелегкій боротьбі здобув перемогу у номінації <strong>&laquo;Інтелігентність&raquo;</strong>.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/421e6e13dcd3/003.jpg" style="height:260px; width:390px" /></td>
			<td><img alt="" src="/pages/files/3f6e78bf1abd/004.jpg" style="height:260px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<hr />
<p><img alt="" src="/pages/files/e9c3b06cfb2f/002.jpg" style="height:392px; width:780px" />&nbsp; &nbsp; &nbsp;<strong>ВІТАЄМО!!!</strong></p>
