<p style="text-align:center"><a href="/pages/files/89a581ca6ed8/Pravula_2020_.pdf">Правила прийому до Коледжу ЧНУ імені Юрія Федьковича</a></p>

<p><strong>Додаток 1.</strong>&nbsp;<a href="/pages/files/e52c6c8ce11c/Додаток 1.pdf">Перелік спеціальностей (освтньо-професійних програм),&nbsp;за якими оголошується прийом на навчання, ліцензовані обсяги та нормативні терміни навчання.</a></p>

<p><strong>Додаток 2.</strong>&nbsp;<a href="/pages/files/7680bc558fc8/Додаток 2.pdf">Перелік конкурсних предметів у сертифікаті Українського центру оцінювання якості освіти&nbsp;(вступних екзаменів, творчих конкурсів).</a></p>

<p><strong>Додаток 3.</strong>&nbsp;<a href="/pages/files/c1385a504e0e/Додаток 3.pdf">Таблиця&nbsp;переведення середнього бала документа про повну (базову) загальну середню освіту, обрахованого за 12-бальною шкалою, в шкалу 100-200.</a></p>

<p><strong>Додаток 4</strong>.&nbsp;<a href="/pages/files/89a12f587259/Додаток 4.pdf">Порядок&nbsp;нарахування додаткових балів випускникам Підготовчих курсів.</a></p>

<p>&nbsp;</p>

<p style="text-align: center;">Телефон для консультацій&nbsp;<strong>Приймальної комісії коледжу 068-790-46-90</strong></p>
