<p>Програми для підготовки до вступу у Коледж ЧНУ імені Юрія Федьковича</p>

<ul>
	<li>Програма з математики <a href="/pages/files/5f6fa7e5ef9c/Mathematics2020.pdf">(переглянути)</a></li>
	<li>Програма з української мови <a href="/pages/files/83e8d867d0b2/Ukr_mova_2020_.pdf">(переглянути)</a></li>
	<li>Програма з історії України <a href="/pages/files/e5615a4dd5c6/History2020.pdf">(переглянути)</a></li>
</ul>

<p>&nbsp;</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Телефон для довідок:<strong>&nbsp;<strong>55-38-26</strong></strong></p>
