<p style="text-align:justify"><img alt="" src="/pages/files/1adccdfafa6d/Logo_of_the_VRU.jpg" style="height:265px; width:780px" /></p>

<p style="text-align:justify">&nbsp; &nbsp;31 жовтня 2019 року студенти 3-го курсу спеціальності &laquo;Право&raquo; за ініціативи викладачів Коледжу ЧНУ імені Юрія Федьковича &ndash; Звоздецької Ірини Володимирівни, Попельницької Ніни Сергіївни, Дерев&rsquo;янчука Василя Ярославовича відвідали <strong>Верховну Раду України</strong> &ndash; єдиний орган законодавчої влади України, а також <strong>Національний музей історії України</strong>.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/9f9cdca7b3fa/001.jpg" style="height:429px; width:780px" />&nbsp; &nbsp;На початку екскурсії у <strong>Верховній Раді України</strong> студентам пояснили, що будинок Верховної Ради &nbsp;був побудований 1939 року за проектом архітектора Володимира Заболотного. Будинок спроектовано у строгій прямокутно-симетричній формі, невисоким &ndash; лише три поверхи. Його увінчує купол з металу і скла. Скляний купол з освітлювальним плафоном забезпечує приміщення природним світлом. Діаметр плафона близько 16 метрів. У центрі його розміщено кришталеву люстру, що за формою нагадує соняшник. На основі національних мотивів в освітлювальний плафон зали введено кольорове скло.</p>

<p style="text-align:justify">&nbsp; &nbsp;Студенти Коледжу ЧНУ імені Юрія Федьковича мали змогу відвідати сесійну залу, яка є центром об&#39;ємної композиції будинку Верховної Ради України. Остання розташована на другому поверсі і розрахована на 1000 місць. Вона має загальну площу близько 650 м&sup2;.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/6b2f5d8d85f4/002.jpg" style="height:490px; width:780px" />&nbsp; &nbsp;Під час екскурсії у Верховій Раді України студенти мали змогу ознайомитися із структурою сесійної зали, до якої, зокрема, належать: партер з секторною системою розміщення місць займають народні депутати України; стіл президії на підвищеній частині підлоги з місцями, призначеними для Голови Верховної Ради України та двох його заступників; ложа Президента України (праворуч від столу президії); ложа уряду (ліворуч від столу президії); ложа для поважних гостей (на якій мали змогу побувати студенти коледжу); трибуна для доповідача (нижче столу президії); інші ложі партеру займають народні депутати України; балкон, на якому розташовані ложі дипломатичного корпусу та преси, місця для гостей.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/fec8533b2ebb/003.jpg" style="height:502px; width:780px" /></p>

<p style="text-align:justify">&nbsp; &nbsp;Студенти Коледжу ЧНУ імені Юрія Федьковича під час візиту до Верховної Ради України також взяли участь у проведенні брифінгу народних депутатів Володимира Крейденка та Лади Булах. Захід відбувся за ініціативи ГО &laquo;Життя&raquo;. Учасники брифінгу наголосили на необхідності активізацї законодавчого захисту молоді та дітей від початку куріння.</p>

<p style="text-align:justify">&nbsp; &nbsp;Студенти мали змогу поспілкуватися із Мазурашу Георгієм Георгійовичем, депутатом політичної партії &laquo;Слуга Народу&raquo;, а також адвокатом Криган Любов Анатоліївною.</p>

<p style="text-align:justify">&nbsp; &nbsp;У рамках даної поїздки студенти також мали можливість відвідати <strong>Національний музей історії України</strong>, який за кількістю і значенням колекції є одним із провідних музеїв України. Фондові зібрання Національного музею України налічують понад 800 тис. од. зб. Вони представляють історію України від найдавніших часів до сьогодення.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/c3ec58bce4f4/004.jpg" style="height:466px; width:780px" /></p>

<p style="text-align:justify">&nbsp; &nbsp;Екскурсоводи під час проведення екскурсії продемонстрували цінні археологічні, нумізматичні колекції, колекції холодної та вогнепальної зброї, етнографії, виробів зі скла, порцеляни. Близько 10 тис. одиниць зберігання нараховує колекція живопису, графіки та скульптури.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/dc21ca9c5c27/005.jpg" style="height:519px; width:780px" />&nbsp; &nbsp;Під час екскурсії було продемонстровано колекцію документів XV-XXI століть, козацьких клейнодів, універсалів, грамот, листів гетьманів та козацької старшини.</p>
