<p style="text-align: center;"><img alt="" src="/pages/files/c0ecd655cddb/145.jpg" style="height:376px; width:780px" /><br />
<a href="https://www.youtube.com/watch?v=S8isMW-JZA4">ALMA MATER - 145!</a></p>

<p style="text-align:justify">&nbsp; &nbsp;6 жовтня,&nbsp;з нагоди&nbsp;<strong>145-річчя</strong>&nbsp;від дня заснування нашого університету, у Мармуровій залі викладачі&nbsp;та співробітники&nbsp;університету були відзначені нагородами МОН України, обласної державної адміністрації, обласної та міської рад, профспілкових організацій тощо. Серед нагороджених були і представники коледжу:</p>

<ol>
	<li style="text-align:justify"><strong>Володимир КОВДРИШ</strong> - завідувач Природничого відділення коледжу;</li>
	<li style="text-align:justify"><strong>Ірина МАРКО</strong>&nbsp;- голова предметної комісії &quot;Загальноосвітньої підготовки&quot;;</li>
	<li style="text-align:justify"><strong>Лариса СИВАК</strong> - голова Методичного об&#39;єднання викладачів української мови закладів фахової передвищої освіти Чернівецької області.</li>
</ol>

<p><img alt="" src="/pages/files/ca01d3a6574a/IMG_7917.jpg" style="height:304px; width:780px" /></p>

<hr />
<p><img alt="" src="/pages/files/6f1b8d3a802e/002.jpg" style="height:520px; width:780px" /></p>

<hr />
<p><img alt="" src="/pages/files/0109d48ab932/003.jpg" style="height:520px; width:780px" /></p>

<hr />
<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/dab6d7c71846/005.jpg" style="height:569px; width:390px" /></td>
			<td><img alt="" src="/pages/files/40880bf63837/004.jpg" style="height:570px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p>&nbsp; &nbsp;Вітаємо усіх та щиро дякуємо за титанічну працю, відданість і наполегливість, за терпіння і стійкість!</p>

<p style="text-align:justify">&nbsp; &nbsp;Бажаємо усім нових звершень, які допоможуть коледжу досягати нових висот, бути в авангарді української науки, освіти на благо і процвітання Буковини та України!</p>
