<p style="text-align:justify"><img alt="" src="/pages/files/da6a9edae9f3/Learn-English-with-Commo-Ground-International.png" style="height:171px; width:780px" />&nbsp; &nbsp;29 лютого 2020 року, на базі Коледжу Чернівецького національного університету імені Юрія Федьковича відбувся ІІ (обласний) етап І <strong>Студентської&nbsp;олімпіади з англійської мови</strong> серед 26 студентів закладів фахової передвищої освіти Чернівецької області (І курс &ndash; 13 студентів та ІІ курс &ndash; 13 студентів). <a href="http://college-chnu.cv.ua/article/5e5cf8d28b2f873f5ba736b5">РЕЗУЛЬТАТИ олімпіади.</a></p>

<p style="text-align:justify"><img alt="" src="/pages/files/0cad08654336/001.jpg" style="height:363px; width:780px" />&nbsp; &nbsp;Розпочався обласний етап Олімпіади з реєстрації учасників, на якій кожному учаснику вручалася &laquo;Пам&rsquo;ятка студенту&raquo; з регламентом роботи олімпіади та словами &nbsp;щирої подяки за бажання студентів, учасників олімпіади,&nbsp; вдосконалюватися свої знання з такого важливого у житті кожного молодого українця предмету як англійська мова.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/695bb5cbbfb8/009.jpg" style="height:268px; width:780px" />&nbsp; &nbsp;В пам&rsquo;ятці було зазначено, що &nbsp;всі вже є переможцями: у своїх навчальних закладах вони вже стали найкращими. І той факт, що ці студенти &nbsp;стали учасниками олімпіади, свідчить, що вони належать до найбільш обдарованих, енергійних і амбітних студентів закладів фахової передвищої освіти Чернівецької області.</p>

<p style="text-align:justify">&nbsp; &nbsp;У Пам&rsquo;ятці були наведені <a href="http://college-chnu.cv.ua/article/5e5cf4b28b2f873f5ba736b4">15 мотиваційних порад від студентів Гарварду</a>.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/cc951b1d271d/002.jpg" style="height:252px; width:780px" />&nbsp; &nbsp;Привітала учасників на правах хазяїв Докаль Ольга Ярославівна, заступник директора. Семенюк Микола Степанович, методист Ради Директорів, подякував викладачам за підготовку збірника завдань та студентів до участі, наголосивши, що всі учасники є вже переможцями олімпіади.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/52bd8b5a30df/005_.jpg" style="height:293px; width:390px" /></td>
			<td><img alt="" src="/pages/files/f925dc4b816c/006_.jpg" style="height:293px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;Далі до слова був запрошений доктор філологічних наук, професор, завідувач кафедри теорії і практики перекладу&nbsp; факультету іноземних мов Чернівецького національного університету імені Юрія Федьковича Бялик Василь Дмитрович. Василь Дмитрович привітав учасників Олімпіади та побажав їм справедливих змагань і заслужених перемог<em>&nbsp;</em>у цьому творчому та інтелектуальному змаганні.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:260px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/0896931fb5df/003_.jpg" style="height:346px; width:260px" /></td>
			<td><img alt="" src="/pages/files/7119c421a293/004_.jpg" style="height:347px; width:260px" /></td>
			<td><img alt="" src="/pages/files/46be2b81634c/008_.jpg" style="height:347px; width:260px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;Керівник методичного об&rsquo;єднання викладачів іноземних мов, викладач англійської мови Коледжу Чернівецького національного університету імені Юрія Федьковича Наталія Добровольська пояснила студентам регламент проведення олімпіади та охарактеризувала деякі організаційні питання.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/f11467a1ccaf/010.jpg" style="height:520px; width:390px" /></td>
			<td><img alt="" src="/pages/files/54514135d161/011.jpg" style="height:520px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp;</p>
