<p style="text-align:right"><img alt="" src="/pages/files/87db3d3749b1/VOOZ.jpg" style="height:211px; width:780px" /><em><span style="background-color:white"><span style="color:#050505">Головним скарбом життя є не землі, що ти їх завоював, не багатства, що їх маєш у скринях...<br />
Головним скарбом життя є здоров&rsquo;я, і, щоб його зберегти, потрібно багато що знати.</span></span></em></p>

<p style="text-align:right"><em><span style="background-color:white"><span style="color:#050505"><strong>АВІЦЕНА</strong></span></span></em></p>

<p style="text-align:justify"><span style="background-color:white"><strong><span style="color:#050505">&nbsp; &nbsp;Всесвітній день здоров&rsquo;я</span></strong><span style="color:#050505"> відзначають щорічно 7 квітня &ndash; це день заснування <strong><em>Всесвітньої організації охорони здоров&rsquo;я (ВООЗ)</em></strong> в системі ООН. </span></span></p>

<p style="text-align:justify"><span style="background-color:white"><span style="color:#050505"><img alt="" src="/pages/files/f86262043a6f/001.jpg" style="height:293px; width:780px" /></span></span></p>

<p style="text-align:justify">&nbsp; &nbsp;У день &quot;<strong>Всесвітнього&nbsp;дня&nbsp;здоров&rsquo;я&quot;</strong>,&nbsp;в умовах надзвичайної ситуації&nbsp;природнього характеру, студенти І-ІІ курсів&nbsp;ВСП&nbsp; &quot;Фаховий&nbsp;коледж&nbsp;ЧНУ імені&nbsp;Юрія&nbsp;Федьковича&quot; під керівництвом креативного керівника (викладача біології та екології) Ю.Д. Морозевич провели&nbsp;захід під гаслом&nbsp;<strong>&laquo;Здоров&#39;я для всіх&raquo;</strong>&nbsp;з використанням Google Meet.</p>

<p style="text-align:justify"><span style="color:#050505"><img alt="" src="/pages/files/b73ff5c44577/002.jpg" style="height:293px; width:780px" /></span></p>

<p style="text-align:center"><span style="background-color:white"><strong><span style="color:#050505">Розумні та творчі студенти підготували наступні питання</span></strong><span style="color:#050505">:</span></span></p>

<ol>
	<li style="text-align:justify">Статут ВООЗ (World Health Organization): набуття чинності, структура, функції - доповідач Щербань Анна&nbsp;(1 курс, спеціальність &quot;Фінанси, банківська справа та страхування&quot;);</li>
	<li style="text-align:justify">Відео: Пропаганда здорового способу життя. Захисти себе!. - відповідальні Мозель Олександр, Пацарнюк Христина (1 курс, спеціальність &quot;Комп&#39;ютерні науки&quot;);</li>
	<li style="text-align:justify">Піраміда здорового харчування. &ndash; доповідач Тимофійчук Ольга (1 курс, спеціальність &quot;Прикладна математика&quot;);</li>
	<li style="text-align:justify">Зміцнення імунітету. Як працюють противірусні препарати. - доповідач Серафимчук Олександра (2 курс, &quot;Фінанси, банківська справа та страхування&quot;);</li>
	<li style="text-align:justify">Біологічне значення вітаміну D3 та мікроелементів Zn, Se. - доповідач Віксич Неоніла (1 курс, спеціальність &quot;Фінанси, банківська справа та страхування&quot;);</li>
	<li style="text-align:justify">Значущість вітаміну С для імунітету людини. - доповідач Бурденюк Богдан (1 курс, спеціальність &quot;Комп&#39;ютерні науки&quot;);</li>
	<li style="text-align:justify">Використання ЗІЗ, їх ефективність. - доповідач Білоус Юлія (2 курс, &quot;Фінанси, банківська справа та страхування&quot;);</li>
	<li style="text-align:justify">Пандемія. Використання антисептиків. - доповідач Голіната Ангеліна (2 курс, &quot;Фінанси, банківська справа та страхування&quot;);</li>
	<li style="text-align:justify">Відео: Пропаганда здорового способу життя. Профілактика захворювань. - відповідальні Шевчук Христина, Полякова Ксенія (1&nbsp;курс, &quot;Фінанси, банківська справа та страхування&quot;);</li>
	<li style="text-align:justify">Нобелівські премії у системі охорони здоров&#39;я. Новітні технології. - доповідач Банарик Владислав (2 курс, &quot;Фінанси, банківська справа та страхування&quot;).</li>
</ol>

<p style="text-align:justify"><span style="background-color:white"><span style="color:#050505">&nbsp; &nbsp;Захід проведений з метою поглиблення знань студентів в галузі охорони здоров&rsquo;я, що сприяють збереженню здоров&rsquo;я, працездатності і довголіття, забезпечення фізичного та психічного здоров&rsquo;я, а також виховання цілеспрямованої здорової особистості.</span></span></p>

<p style="text-align:justify"><span style="background-color:white"><span style="color:#050505"><img alt="" src="/pages/files/0950a9657e59/003.jpg" style="height:307px; width:780px" /></span></span><span style="background-color:white"><span style="color:#050505">&nbsp; &nbsp;Ми вдячні всім, хто підтримує здоровий спосіб життя, хто бореться зі шкідливими звичками, адже здоров&rsquo;я молоді є гарантом здоров&rsquo;я всієї нації.</span></span></p>

<p style="text-align:center"><a href="https://www.youtube.com/watch?v=T4GGHNN7PNA"><span style="background-color:white"><span style="color:#050505">ПЕРЕГЛЯНУТИ ВІДЕО</span></span></a></p>

<p style="text-align:right"><span style="color:#050505">&nbsp; Тому бажаємо всім нам - бути здоровими і життєрадісними!</span></p>
