<p style="text-align: justify;"><img alt="" src="/pages/files/aeeacfd53a63/003.jpg" style="height:370px; width:780px" />&nbsp; &nbsp;18 вересня 2020 р. відбулося онлайн-засідання <strong>Методичного об&rsquo;єднання викладачів іноземних мов закладів фахової передвищої освіти Чернівецької області</strong> &laquo;Дистанційне навчання &ndash; випробування педагогічної майстерності чи виклик часу?&raquo;. Участь у роботі засідання прийняли 29 викладачів фахових коледжів області.</p>

<p style="text-align: justify;"><img alt="" src="/pages/files/8e75ae590694/002.jpg" style="height:385px; width:780px" />&nbsp; &nbsp;Розпочалося засідання з вітального слова керівника Методоб&rsquo;єднання, викладача англійської мови Коледжу Чернівецького національного університету імені&nbsp;Юрія&nbsp;Федьковича <strong>Наталії ДОБРОВОЛЬСЬКОЇ</strong>. У своєму виступі Наталія Дмитрівна зазначила, що кожна проблема &ndash; це також привід до якісних змін, пошуку нових можливостей освоєння сучасних новітніх технологій. Якісно й ефективно працювати у віртуальному просторі, бути медіаграмотним, ураховувати сучасні можливості такого навчання є важливою вимогою сьогодення.</p>

<p style="text-align: justify;"><img alt="" src="/pages/files/2b802764979f/005.jpg" style="height:359px; width:780px" />&nbsp; &nbsp;<strong>Олена КУЗИК</strong>, секретар методоб&rsquo;єднання, підготувала чудову презентацію на тему &laquo;Дистанційне навчання &ndash; випробування педагогічної майстерності чи виклик часу?&raquo; та ознайомила учасників засідання з методичними рекомендаціями щодо викладання іноземних мов у поточному навчальному році.</p>

<p style="text-align: justify;"><img alt="" src="/pages/files/fd610b81a214/007.jpg" style="height:280px; width:780px" /></p>

<hr />
<p style="text-align: justify;"><img alt="" src="/pages/files/88a511104a91/006.jpg" style="height:288px; width:780px" />&nbsp; &nbsp;Далі до слова була запрошена викладач Чернівецького фахового коледжу технологій та дизайну <strong>Крістіна ЗИКОВА</strong>, яка презентувала всім присутнім проєкт Арт-клубу Echo Chamber. У своєму зверненні Крістіна Олегівна підкреслила, що Арт-клуб має стати квінтесенцію творчого потенціалу кожного викладача методоб&rsquo;єднання.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/aa7ff723b99d/011.jpg" style="height:293px; width:390px" /></td>
			<td><img alt="" src="/pages/files/a8fcfca503fb/012.jpg" style="height:293px; width:390px" /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/7a76451b266f/014.jpg" style="height:293px; width:390px" /></td>
			<td><img alt="" src="/pages/files/0dfd929e6d14/015.jpg" style="height:293px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align: justify;">&nbsp; &nbsp;Завершилося онлайн-засідання пропозицією створення сайту викладачів іноземних мов закладів фахової передвищої освіти. І, звісно, всі погодилися, що однією з основних наших цілей має стати підготовка фахівця, здатного до самоосвіти і швидкого, гнучкого реагування у сучасному динамічному світі.</p>

<p style="text-align: justify;"><img alt="" src="/pages/files/3221b726876b/004.jpg" style="height:383px; width:780px" /></p>
