<p style="text-align:justify"><img alt="" src="/pages/files/329dcabe3bb7/Stockholm-Christmas-Makets-2.jpg" style="height:300px; width:780px" />&nbsp; 9 грудня 2020 р. на платформі Google-meet відбулася зустріч студентів Фахового коледжу ЧНУ імені&nbsp;Юрія&nbsp;Федьковича та студентів J&auml;rf&auml;lla spr&aring;kcentrum (Стокгольм) <strong>Students&rsquo; Exchange Online Meeting</strong>.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/75609e3bec60/Знімок екрана (20).png" style="height:380px; width:780px" />&nbsp; У зустрічі брали участь Мозель Олександр (1 курс, спеціальність &quot;Комп&#39;ютерні науки&quot;) із відеороликом про Чернівецький національний університет, Завацький Дмитро (2 курс, спеціальність&nbsp;&quot;Право&quot;), який представив наш навчальний заклад. Студенти Бабюк Христина (2 курс, спеціальність &quot;Облік і оподаткування&quot;), Бондар Христина (1&nbsp;курс, спеціальність&nbsp;&quot;Право&quot;), Нягу Дмитро (2&nbsp;курс, спеціальність &quot;Комп&#39;ютерна&nbsp;інженерія&quot;), Баламутовська Олександра (1 курс, спеціальність &quot;Підприємництво, торгівля та біржова діяльність&quot;), Шелефета Віталіна (2 курс, спеціальність&nbsp;&quot;Право&quot;), Єнакаке Анастасія (1&nbsp;курс, спеціальність&nbsp;&quot;Право&quot;) розповіли про традиції святкування Різдва в Україні та представили традиційні різдвяні страви. Кузенко Ярослав (2&nbsp;курс, спеціальність &quot;Комп&#39;ютерна&nbsp;інженерія&quot;) зіграв на бандурі композицію &laquo;Щедрик&raquo;, а Єнакаке Дмитро (3&nbsp;курс, спеціальність&nbsp;&quot;Право&quot;) виступив із грою на скрипці з композиціями &laquo;Щедрик&raquo;, &laquo;Last Christmas&raquo; та народною румунською мелодією.</p>

<p><img alt="" src="/pages/files/81b333658c8e/Знімок екрана (28).png" style="height:385px; width:780px" />&nbsp; Студенти мали змогу поспілкуватися англійською мовою щодо традицій святкування Різдва в обох країнах та відповісти на запитання, які цікавили однолітків зі Стокгольму.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/c85f32f136e1/001.jpeg" style="height:283px; width:390px" /></td>
			<td><img alt="" src="/pages/files/30172f9763a4/004.jpeg" style="height:284px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp;Зустріч була організована та проведена викладачами англійської мови Фахового коледжу ЧНУ імені Юрія Федьковича <strong>Кузик О.В.</strong> та <strong>Добровольською Н.Д.</strong></p>

<p style="text-align:justify"><img alt="" src="/pages/files/877dcd326862/Знімок екрана (30).png" style="height:257px; width:780px" />&nbsp; Хочемо зазначити, що зустріч пройшла в теплій дружній атмосфері та підкреслюємо, що ми пишаємося нашими студентам, які продемонстрували відмінні знання з англійської мови, а їх невимушена та природня поведінка захопила наших друзів зі Швеції.</p>

<p style="text-align:right">&nbsp; Сподіваємося на подальшу співпрацю!</p>
