<p style="text-align:justify"><img alt="" src="/pages/files/534a3dd4dd6a/week2020.png" style="height:293px; width:780px" />&nbsp; У період з 07 грудня до 11 грудня 2020 року у Фаховому коледжі ЧНУ імені Юрія Федьковича відзначали Всеукраїнський тиждень права з нагоди річниці прийняття Загальної декларації прав людини, у рамках якого висвітлено питання міжнародно-правових стандартів у сфері захисту прав людини, поняття і сутності прав людини, основних механізмів її захисту.</p>

<p style="text-align:justify">&nbsp; Організовані&nbsp;&nbsp; заходи,&nbsp; були спрямовані на підвищення рівня правової культури, поширення знань про права і свободи людини і громадянина та набуття навичок в їх застосуванні, зокрема:</p>

<p style="text-align:justify">&nbsp; 7 грудня 2020 року <strong>Анатійчук В.В.</strong> організувала і провела інтерактивний семінар &laquo;СТОП КОРУПЦІЇ&raquo;. Студенти підготували презентації та доповіді по даній тематиці з використанням сучасних технік. Довганюк Ольга, студентка четвертого курсу, розробила анонімне опитування за допомогою Telegram каналу, яке досі функціонує і доповнюється новими цікавими запитаннями (t.me/collegechnua). Радуляк Михайло, студент четвертого курсу, для відображення проблеми розуміння явища корупції пересічними громадянами, опитав різні верстви населення і презентував короткий відеозвіт. Також, під час семінару застосовувався Jamboard в якому могли прийняти участь всі присутні, надавши відповіді та пропозиції щодо протидії та боротьби з корупцією. Семінар проходив на платформі meet.google.com, і на нього були запрошені, як студенти та викладачі нашого коледжу, так і студенти і викладачі інших коледжів. Почесним гостем на заході стала кандидат юридичних наук, доцент, доцент кафедри цивільно-правових дисциплін Чернівецького юридичного інституту Національного університету &laquo;Одеська юридична академія&raquo; Факас Ілона Борисівна.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/e323e8230059/stop.jpg" style="height:303px; width:780px" />&nbsp; Захід пройшов на достатньому рівні, і наштовхнув студентів та викладачів на нові теми для обговорення.</p>

<p style="text-align:justify">&nbsp; 07 грудня 2020 року у День місцевого самоврядування викладачем ІІ-ї кваліфікаційної категорії, <strong>Звоздецькою І.В.</strong> було проведено інтерактивну лекцію-бесіду на тему &laquo;Місцеве самоврядування в Україні&raquo;.</p>

<p style="text-align:justify">&nbsp; Ірина Володимирівна відзначила, що місцеве самоврядування має велике значення для розвитку народовладдя, демократизації суспільних відносин та зміцнення української державності, а тому День місцевого самоврядування &ndash; це свято української громади. Здавна саме громада була в Україні не лише первісною й елементарною формою соціальної організації, а й особливою формою соціальної самоорганізації, яка не знає ієрархії та домінування, і навіть моделлю ідеального суспільства.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/c7519270c732/zvozd.jpg" style="height:400px; width:780px" />&nbsp; На лекції активно обговорювалися проблемні питання децентралізації влади в Україні як однієї з пріоритетних реформ, яка передбачає створення ефективної системи організації та управління соціально-економічним розвитком на місцевому рівні.</p>

<p style="text-align:justify">&nbsp; За ініціативи д.пол.н., доцента, викладача вищої кваліфікаційної категорії, <strong>Докаш О.Ю.</strong> 8 грудня 2020 р. в рамках вивчення дисципліни &laquo;Право соціального захисту&raquo; був проведений студентський круглий стіл на тему: &laquo;Соціальні ризики в Україні: проблеми сьогодення&raquo;. В роботі круглого столу взяли участь студенти 4 курсу спеціальності &laquo;Право&raquo;.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/620097df3bb0/present.jpg" style="height:307px; width:780px" />&nbsp; До обговорення пропонувалися такі проблеми&nbsp; - поняття, ознаки та види соціальних ризиків (Нестор К.), загальна характеристика постійної непрацездатності (Михайлюк В.), порядок встановлення стійкої непрацездатності (Радуляк М.), інвалідність як соціальний ризик&nbsp; (Душинський В.), причини та критерії встановлення груп інвалідності (Судас В.), поняття та загальний порядок розслідування нещасного випадку на виробництві та професійного захворювання (Світова А., Бигар Н.), проблеми правового регулювання безробіття на сучасному етапі (Колбаско М., Токар Т.), порядок визнання громадянина безробітним (Швачій С.), втрата годувальника та малозабезпеченість як соціальні ризики (Довганюк О., Козак А, Штефанчук К.), страховий та вислуга років як юридичні факти в праві соціального захисту (Гриб Н., Гливко Х.), безпритульність як складна життєва обставина (Данчук Є.), безпритульні діти як виклик системи соціального захисту (Гураєвська К.), сирітство (Дашкевич А.), ухилення від виконання обов&rsquo;язків з виховання дитини (Дмитрюк Т.), прояви девіантної поведінки (Дробко М.), насильство в сім&rsquo;ї як соціальний ризик (Дущак К.).</p>

<p style="text-align:justify">&nbsp; В кінці майже кожної доповіді виникала жвава дискусія, що свідчить про небайдужість і зацікавленість студентів до важливих проблем сьогодення.</p>

<p style="text-align:justify">&nbsp; 10 грудня 2020 року у Міжнародний день захисту прав людини <strong>Попельницькою Н.С.</strong>, викладачем І-ї кваліфікаційної категорії було проведено навчально-пізнавальну лекція на тему: &laquo;Людина, її права та свободи як найвища соціальна цінність&raquo; для студентів 207, 217 і 227 груп.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/bc84bdd33de6/popelnucka.jpg" style="height:527px; width:780px" /></p>

<p style="text-align:justify">&nbsp; На початку лекції викладачем було зазначено, що 10 грудня у світі відзначають Міжнародний день прав людини, який було засновано 4 грудня 1950 року на засіданні Генеральної Асамблеї ООН, знаменуючи річницю ухвалення Асамблеєю Загальної декларації прав людини в 1948 році. Засновники Міжнародного дня прав людини висловлювалися за розширення прав людини, активну пропаганду ідей рівноправності, соціальної відповідальності та взаємодопомоги.</p>

<p style="text-align:justify">&nbsp; Загальна декларація стала першим міжнародним документом, в якому були чітко сформульовані положення про права людини. Крім основних прав людини, Загальна декларація прав людини докладно перелічує політичні, громадянські права і свободи людини, а також права в економічній, соціальній і культурній сферах.&nbsp;На лекції також було закцентовано увагу на проблемних питаннях реалізації основних прав людини і громадянина на сучасному етапі.</p>

<p style="text-align:justify">&nbsp; Задля кращого сприйняття інформації та з урахуванням принципу наочності на лекції було продемонстровано відеоролики про права людини, механізми їх реалізації та способи захисту порушених прав, свобод й інтересів.</p>

<p style="text-align:justify">&nbsp; На семінарському занятті з навчальної дисципліни &laquo;Цивільне та сімейне право&raquo; 10 грудня 2020 року у 307 та 317 групі <strong>Флорескул-Світовою С.Л. </strong>з метою поглиблення знань студентів, підвищення юридичної грамотності і правової свідомості, формування високої правової культури та виховання поваги до законодавства України проведено інтелектуальну гру &laquo;Закон і ми&raquo;.</p>

<p style="text-align:justify">&nbsp; Під час гри студенти продемонстрували свої знання, логічне мислення та кмітливість.</p>

<p style="text-align:justify">&nbsp; В рамках проведення тижня права викладачем ІІ-ї кваліфікаційної категорії <strong>Єгоровим П.В.</strong> проведено круглий стіл з студентами 4 курсу з проблемних питань, які виникають в ході <span style="color:black">проведення </span>досудового розслідування <span style="background-color:white"><span style="color:black">кримінальних правопорушень</span></span>, а також судового розгляду у кримінальних провадженнях.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/43a7a1efb4dd/egorov.png" style="height:318px; width:780px" />&nbsp; В ході проведення заходу заслухано та обговорено доповіді студентів з питань проблематики правового регулювання проведення дізнання в Україні, набуття особою статусу підозрюваного в спеціальному досудовому розслідуванні, проведення експертиз в кримінальному провадженні, оскаржень рішень слідчого судді, застосування практики ЄСПЛ національними судами та інше.</p>

<p style="text-align:justify"><strong>&nbsp; Доманчук А.Д.</strong>, викладачем ІІ-ї кваліфікаційної категорії 11 грудня 2020 р. організовано перегляд документального фільму: &laquo;Що таке права людини?&raquo; у 206 групі з нагоди святкування Міжнародного дня прав людини</p>

<p style="text-align:justify">&nbsp; Студенти із захопленням взяли участь у даному заході, активно обговорювали переглянуту інформацію, підвели підсумки та поглибили свої знання про права людини.</p>

<p style="text-align:justify">&nbsp; Крім того, Доманчук А.Д. 11 грудня 2020 р. о 14.40 у 201, 205, 227 групі провела засідання круглого столу на тему: &laquo;Торгівля людьми &ndash; глобальна проблема&raquo;.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/a8cb9ca9670f/domanchuk.jpg" style="height:453px; width:780px" />&nbsp; На засіданні виступили із доповідями:</p>

<ul>
	<li style="text-align:justify">Чибор Анна &ndash; &laquo;Напрями державної політики у сфері протидії торгівлі людьми&raquo;;</li>
	<li style="text-align:justify">Фурдіяк Іван &ndash; &laquo;Попередження торгівлі людьми&raquo;;</li>
	<li style="text-align:justify">Питиляк Діана &ndash; &laquo;Суб&rsquo;єкти, які здійснюють заходи у сфері протидії торгівлі людьми&raquo;;</li>
	<li style="text-align:justify">Бабюк Христина &ndash; &laquo;Статус особи, яка постраждала від торгівлі людьми&raquo;;</li>
	<li style="text-align:justify">Климчук Софія &ndash; &laquo;Протидія торгівлі дітьми&raquo;;</li>
	<li style="text-align:justify">Паращук Анастасія &ndash; &laquo;Боротьба з торгівлею людьми&raquo;.</li>
</ul>

<p style="text-align:justify">&nbsp; В ході засідання продемонстровано документальний фільм &laquo;Злочин можна попередити&raquo;, в якому висвітлено питання про те, як безпечно виїжджати за кордон з метою навчання, працевлаштування, укладення шлюбу, туристичних подорожей.</p>

<p style="text-align:justify">&nbsp; Завершили відзначення Тижня права проведенням, за ініціативи <strong>Попельницької Н.С. </strong>та<strong> Звоздецької І.В.</strong>, соціологічного опитування серед студентської молоді на тему: &laquo;Що ми знаємо про права людини?&raquo; в мережі Instagram. В ході проведеного опитування студентам задавалися питання про права людини та їхні види. Результати даного опитування будуть обговорюватися із студентами-правниками на виховних годинах задля підвищення рівня знань про права людини, формування правової культури та &nbsp;недопущення проявів девіантної поведінки.</p>

<p style="text-align:justify">&nbsp;</p>
