<p style="text-align:center"><img alt="" src="/pages/files/9a33b82dd7b7/072.jpg" style="height:251px; width:780px" /></p>

<p style="text-align:center"><strong>ОБОВ&#39;ЯЗКОВІ&nbsp;ДИСЦИПЛІНИ</strong></p>

<hr />
<p><strong>ЗАГАЛЬНА ПІДГОТОВКА<br />
&nbsp; &nbsp;1.</strong>&nbsp;Основи філософських знань<br />
<strong>&nbsp; &nbsp;2.</strong>&nbsp;Українська мова за професійним спрямуванням<br />
<strong>&nbsp; &nbsp;3.</strong>&nbsp;Іноземна мова за професійним спрямуванням<br />
<strong>&nbsp; &nbsp;4.</strong>&nbsp;Історія України<br />
<strong>&nbsp; &nbsp;5.</strong>&nbsp;Культорологія<br />
<strong>&nbsp; &nbsp;6.</strong>&nbsp;Соціологія<br />
<strong>&nbsp; &nbsp;7.</strong>&nbsp;Вища математика<br />
<strong>&nbsp; &nbsp;8.</strong>&nbsp;Інформатика та комп&#39;ютерна техніка<br />
<strong>&nbsp; &nbsp;9.</strong>&nbsp; Фізичне виховання<br />
<br />
<strong>ПРОФЕСІЙНА ПІДГОТОВКА<br />
&nbsp; &nbsp;1.</strong>&nbsp;Економічна теорія<br />
<strong>&nbsp; &nbsp;2.</strong>&nbsp;Фінанси<br />
<strong>&nbsp; &nbsp;3.</strong>&nbsp;Бухгалтерський облік<br />
<strong>&nbsp; &nbsp;4.</strong>&nbsp;Економіка підприємства<br />
<strong>&nbsp; &nbsp;5.</strong>&nbsp;Банківські операції<br />
<strong>&nbsp; &nbsp;6.</strong>&nbsp;Бюджетна&nbsp;система<br />
<strong>&nbsp; &nbsp;7.</strong>&nbsp;Податкова система<br />
<strong>&nbsp; &nbsp;8.</strong>&nbsp;Гроші та кредит<br />
<strong>&nbsp; &nbsp;9.</strong>&nbsp;Інформаційні системи і технології в фінансово-кредитних установах<br />
<strong>&nbsp; &nbsp;10.</strong>&nbsp;Курсова робота<br />
<strong>&nbsp; &nbsp;11.</strong>&nbsp;Навчальна практика (Основи інформаційної безпеки)<br />
<strong>&nbsp; &nbsp;12.</strong>&nbsp;Навчальна практика (Бізнес-тренінг)<br />
<strong>&nbsp; &nbsp;13.</strong>&nbsp;Виробнича практика</p>

<p style="text-align:center"><strong>ДИСЦИПЛІНИ ЗА ВИБОРОМ ЗАКЛАДУ ФАХОВОЇ ПЕРЕДВИЩОЇ ОСВІТИ</strong></p>

<hr />
<p><strong>ЗАГАЛЬНА ПІДГОТОВКА<br />
&nbsp; &nbsp;1.</strong>&nbsp;Статистика<br />
<strong>&nbsp; &nbsp;2.</strong>&nbsp;Основи правознавства<br />
<strong>&nbsp; &nbsp;3.</strong>&nbsp;Основи екології<br />
<strong>&nbsp; &nbsp;4.</strong>&nbsp;Громадське здоров&#39;я</p>

<p><br />
<strong>ПРОФЕСІЙНА ПІДГОТОВКА</strong><br />
<strong>&nbsp; &nbsp;1.</strong>&nbsp;Страхові послуги<br />
<strong>&nbsp; &nbsp;2.</strong>&nbsp;Аудит</p>

<p style="text-align:center"><strong>ДИСЦИПЛІНИ ВІЛЬНОГО ВИБОРУ ЗДОБУВАЧА ОСВІТИ</strong></p>

<hr />
<p><strong>ЗАГАЛЬНА ПІДГОТОВКА<br />
&nbsp;&nbsp; 1.</strong>&nbsp;<a href="/pages/files/e6cc89ada124/072 English for Life.pdf">Англійська для життя. [English for life]</a>&nbsp;<em>(Н.Д. Добровольська)</em><strong>&nbsp;&nbsp;<br />
&nbsp; &nbsp;2.</strong>&nbsp;<a href="/pages/files/aeca5f3fc439/072 Economic statistics.pdf">Економічна статистика</a>&nbsp;<em>(Н.О.&nbsp;Марценяк)</em><br />
<strong>&nbsp; &nbsp;3.&nbsp;</strong><a href="/pages/files/db96c7da0997/072 E-commerce.pdf">Електронна комерція та ІТ-бізнес</a>&nbsp;<em>(І.В. Гудзик)</em><br />
<strong>&nbsp; &nbsp;4.</strong>&nbsp;<a href="/pages/files/18a61b771ef7/072 graphic processing.pdf">Інтегровані пакети графічної обробки</a>&nbsp;<em>(І.В. Гудзик, В.В. Коропецький)</em><br />
<strong>&nbsp; &nbsp;5.</strong>&nbsp;<a href="/pages/files/8aea90386681/072 Historical figures.pdf">Історичні постаті в процесах державотворення України</a>&nbsp;<em>(В.Я. Дерев&#39;янчук)</em><br />
<strong>&nbsp; &nbsp;6.</strong>&nbsp;<a href="/pages/files/abb93044e0d5/072 the art of good.pdf">Мистецтво добра</a>&nbsp;<em>(І.В. Пержун)</em><br />
<strong>&nbsp; &nbsp;7.</strong>&nbsp;<a href="/pages/files/ae386af59257/072 economic risks.pdf">Моделювання економічних ризиків</a>&nbsp;<em>(Т.І. Крошка)</em><br />
<strong>&nbsp; &nbsp;8.</strong>&nbsp;<a href="/pages/files/0189e9a56405/072 Organization of business.pdf">Організація та ведення бізнесу</a>&nbsp;<em>(О.Ю. Докаш)</em><br />
<strong>&nbsp; &nbsp;9.</strong>&nbsp;<a href="/pages/files/0e936745f437/072 WEB-design.pdf">Основи web-дизайну</a>&nbsp;<em>(В.В. Коропецький)</em><br />
<strong>&nbsp; &nbsp;10.</strong>&nbsp;<a href="/pages/files/833c0279522c/072 scientific research.pdf">Основи наукових досліджень</a>&nbsp;<em>(М.О. Остапович)</em><br />
<strong>&nbsp; &nbsp;11.</strong>&nbsp;<a href="/pages/files/13d5d1bbd240/072 psychology.pdf">Психологія</a>&nbsp;<em>(А.В. Кушнір)</em><br />
<strong>&nbsp; &nbsp;12.</strong>&nbsp;<a href="/pages/files/56525dd0d2b6/072 financial mathematics.pdf">Фінансова математика</a>&nbsp;<em>(Т.І. Крошка)</em><br />
<br />
<strong>&nbsp;</strong><strong>ПРОФЕСІЙНА ПІДГОТОВКА</strong><br />
<strong>&nbsp; &nbsp;1.</strong>&nbsp;<a href="/pages/files/55b5015fddfb/072 Exchange activity.pdf">Біржова діяльність</a>&nbsp;<em>(А.М.&nbsp;Томашевська)</em><br />
<strong>&nbsp; &nbsp;2.</strong>&nbsp;<a href="/pages/files/7877f72dadfb/072 ZED.pdf">Зовнішньо-економічна діяльність</a>&nbsp;<em>(Ю.В.&nbsp;Семенюк)</em><br />
<strong>&nbsp; &nbsp;3.</strong>&nbsp;<a href="/pages/files/bf7058207b48/072 Margin trading.pdf">Маржинальна торгівля</a>&nbsp;<em>(О.І.&nbsp;Луган)</em><br />
<strong>&nbsp; &nbsp;4.</strong>&nbsp;<a href="/pages/files/8babcc9e9110/072 international finance.pdf">Міжнародні фінанси</a>&nbsp;<em>(Ю.В.&nbsp;Семенюк)</em><br />
<strong>&nbsp; &nbsp;5.</strong>&nbsp;<a href="/pages/files/0ed018c6dc9b/accounting and analysis ZED.pdf">Облік і аналіз ЗЕД</a>&nbsp;<em>(О.С.&nbsp;Гіщук)</em><br />
<strong>&nbsp; &nbsp;6.</strong>&nbsp;<a href="/pages/files/c47ea26b9938/072 Accounting PMB.pdf">Облік на підприємствах малого бізнесу</a>&nbsp;<em>(С.І.&nbsp;Гнат)</em><br />
<strong>&nbsp; &nbsp;7.</strong>&nbsp;<a href="/pages/files/729362103cb7/072 Start-UP.pdf">Основи start-up</a>&nbsp;<em>(О.І.&nbsp;Луган)</em><br />
<strong>&nbsp; &nbsp;8.</strong>&nbsp;<a href="/pages/files/c5dd30c4339b/072 Financial services market.pdf">Ринок фінансових послуг</a>&nbsp;<em>(А.М.&nbsp;Томашевська)</em><br />
<strong>&nbsp; &nbsp;9.</strong>&nbsp;<a href="/pages/files/ae0ef3497155/072 Managerial Accounting.pdf">Управлінський облік</a>&nbsp;<em>(С.І.&nbsp;Гнат)</em><br />
<strong>&nbsp; &nbsp;10.</strong>&nbsp;<a href="/pages/files/74c07018c34c/072 small business finance.pdf">Фінанси малого бізнесу</a>&nbsp;<em>(А.В.&nbsp;Марич)</em><br />
<strong>&nbsp; &nbsp;11.&nbsp;</strong><a href="/pages/files/3d54b4ee9e43/072 financial literacy.pdf">Фінансова грамотність</a>&nbsp;<em>(А.В.&nbsp;Марич)</em><br />
<strong>&nbsp; &nbsp;12.</strong>&nbsp;<a href="/pages/files/2ea345dc3f28/072 Financial Statements.pdf">Фінансова звітність</a>&nbsp;<em>(О.С.&nbsp;Гіщук)</em><br />
<strong>&nbsp; &nbsp;13.</strong>&nbsp;<a href="/pages/files/a9059f259f61/Financial and tax accounting.pdf">Фінансовий та податковий облік</a>&nbsp;<em>(С.І.&nbsp;Гнат)</em></p>
