<p><img alt="" src="/pages/files/bbca9acb5be2/АРТ.jpg" style="height:310px; width:780px" /></p>

<p style="text-align:center">Арт-клуб&nbsp;<strong>Echo Chamber &ndash;&nbsp;</strong>осередок креативних та талановитих особистостей, об&rsquo;єднаних спільною метою створення атмосферного простору для самореалізації, самовираження та самовдосконалення.</p>

<hr />
<p><strong>1.</strong> <a href="http://college-chnu.cv.ua/article/5f918539d6f28212d7d8b060">ПІДСУМКИ&nbsp;діяльності (вересень-жовтень 2020/2021 н.р.)</a></p>

<p style="text-align:center"><strong>ВІДЕОМАТЕРІАЛИ</strong></p>

<p><strong>&nbsp; &nbsp; РІЗДВЯНІ ВІТАННЯ<br />
1.</strong> <a href="https://youtu.be/61SAbAzynBY">ВСП &quot;Фаховий&nbsp;коледж&nbsp;ЧНУ імені Юрія Федьковича&quot;</a><br />
<strong>2.</strong>&nbsp;<a href="https://www.youtube.com/watch?v=N0zp0SB2KTk">Чернівецький фаховий коледж технологій та дизайну</a><br />
<strong>3.</strong>&nbsp;<a href="https://www.youtube.com/watch?v=FgjD3c63aYw">Вижницький фаховий коледж мистецтв та дизайну імені Василя Шкрібляка</a><br />
<strong>4.</strong>&nbsp;<a href="https://youtu.be/HkE1aVCSOzQ">Гра на бандурі (Фаховий коледж ЧНУ)</a></p>
