<p style="text-align:center"><strong>Методичне об&rsquo;єднання викладачів іноземних мов закладів фахової передвищої освіти Чернівецької області</strong></p>

<p style="text-align:center"><img alt="" src="/pages/files/929e9c98da7d/Teaching.jpg" style="height:290px; width:780px" /><strong><em>Ви знаходитесь на web-сторінці&nbsp;&laquo;Спільноти&nbsp;викладачів іноземних мов закладів фахової передвищої освіти Чернівецької області&raquo;.</em></strong></p>

<p style="text-align:center"><strong>Ласкаво просимо!</strong></p>

<p><strong>&nbsp; &nbsp; &nbsp;Наш девіз: </strong><strong><span style="color:#2f5496">Teaching&hellip;&nbsp;</span></strong><strong>&nbsp;&nbsp;</strong><strong><span style="color:red">Believing&hellip;&nbsp;</span></strong><strong>&nbsp;&nbsp;</strong><strong><span style="color:#00b050">Achieving&hellip;</span></strong></p>

<p style="text-align:justify"><strong>&nbsp; &nbsp;Ми є свідома педагогічна спільнота, яка формує свідомих майбутніх членів суспільства</strong>. Свідомий викладач &ndash; це інтелектуальна особистість, здатна адекватно аналізувати свої дії та вчинки, заздалегідь прогнозувати їх та свою поведінку у різноманітних ситуаціях.</p>

<p style="text-align:justify"><strong>&nbsp; &nbsp;</strong>Відповідно до Національної стратегії розвитку освіти в Україні на 2012-2021 роки &laquo;пріоритетом розвитку освіти є впровадження сучасних інформаційно-комунікаційних технологій, що забезпечують удосконалення навчально-виховного процесу, доступність та ефективність освіти&raquo;.</p>

<p style="text-align:justify">&nbsp; &nbsp;Мета функціонування віртуального методичного об&rsquo;єднання викладачів іноземних мов є:</p>

<ul>
	<li style="text-align:justify">створення інформаційно-методичного простору для викладачів іноземних мов області;</li>
	<li style="text-align:justify">надання можливості самореалізації педагогів через спільну мережеву діяльність;</li>
	<li style="text-align:justify">методична підтримка та професійне зростання педагогів за рахунок широкого використання засобів інформаційних технологій;</li>
	<li style="text-align:justify">обмін інформацією, досвідом роботи, поширення успішних педагогічних практик;</li>
	<li style="text-align:justify">можливість спілкування вчителів з метою обговорення нагальних педагогічних проблем, актуальних питань освіти;</li>
	<li style="text-align:justify">створення єдиного інформаційного простору, доступного для кожного учасника спільноти та інші.</li>
</ul>

<p style="text-align:justify">&nbsp; &nbsp;Люди, які об&rsquo;єднані спільними інтересами та їх діяльність спрямована на досягнення однієї цілі, в нашому випадку, вивчення іноземних мов, здатні досягти найкращих результатів у своїй роботі. Тому ми впевнені, що наші студенти отримують унікальні знання від професійних викладачів.</p>

<p style="text-align:justify">&nbsp; &nbsp;Завше цінно відчувати, що на іншому кінці області є твої однодумці. Це велика сила &ndash; спільнота, згуртована довкола знання, в нашому випадку, знання іноземних мов. Відчувати цю спільноту найкращих людей області &ndash; то ніби почувати себе вдома, затишно і безпечно.</p>

<p style="text-align:justify">&nbsp; &nbsp;Сподіваємося, що кожен знайде тут те, що виявиться важливим і корисним!</p>

<p style="text-align:justify">&nbsp; &nbsp;На сторінках сайту Ви зможете відшукати інформацію щодо роботи методичного об&#39;єднання вчителів англійської, німецької та французької мов закладів фахової передвищої освіти.</p>

<p style="text-align:justify">&nbsp; &nbsp;Викладачі також можуть переглянути матеріали олімпіади з англійської мови, яка була вперше проведена у 2019/2020 навчальному році на базі Коледжу ЧНУ імені Юрія Федьковича. Корисні посилання дадуть змогу розширити власні знання, допомогти студентам.</p>

<p style="text-align:justify">&nbsp; &nbsp;Тут зібрано основну нормативно-правову базу, якою регулюються особливості викладання іноземних мов.</p>
