<h3 style="text-align:center"><strong>ПРЕДМЕТНА КОМІСІЯ<br />
ЗАГАЛЬНООСВІТНЬОЇ ПІДГТОВКИ</strong></h3>

<hr />
<table border="0">
	<tbody>
		<tr>
			<td colspan="1" rowspan="1"><img alt="" src="/pages/files/00d515e0c023/Marko.png" style="height:290px; width:210px" /></td>
			<td>
			<p style="text-align:center"><strong>ГОЛОВА&nbsp;ЦИКЛОВОЇ КОМІСІЇ</strong></p>

			<p><strong>&nbsp;Марко Ірина Вікторівна</strong><br />
			&nbsp;канд.&nbsp;філологічних наук&nbsp;<em>(із спеціальності &quot;Українська мова&quot;, 2011 р.),</em>&nbsp;<br />
			&nbsp;викладач вищої кваліфікаційної категорії<br />
			<br />
			&nbsp;&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Українська мова;</li>
				<li>Українська література;</li>
				<li>Зарубіжна література;</li>
				<li>Українська мова за професійним спрямуванням</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; Освіта:</strong>&nbsp;Чернівецький національний&nbsp;університет імені Юрія Федьковича&nbsp;за спеціальністю &quot;Українська мова та література&quot;&nbsp;<em>(2003 р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td colspan="1" rowspan="1"><img alt="" src="/pages/files/f58562759e4f/unnamed.png" /></td>
			<td>
			<p><strong>&nbsp;Апухтіна Анна&nbsp;Анатоліївна</strong><br />
			&nbsp;викладач&nbsp;ІІ-ї кваліфікаційної категорії</p>

			<p>&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Хімія;</li>
				<li>Природничі науки;</li>
				<li>Основи екології</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp;&nbsp;Освіта:</strong> Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Хімія&quot;&nbsp;<em>(2003&nbsp;р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td colspan="1" rowspan="2"><img alt="" src="/pages/files/2bcd0c230e70/man.jpg" /></td>
			<td colspan="1" rowspan="2">
			<p style="text-align:justify"><strong>&nbsp;Балазюк Віталій Назарович<br />
			&nbsp;</strong>к.ф.-м. наук<em>, </em>старший науковий співробітник <em>(із спеціальності &quot;Фізика твердого тіла&quot;, 1991 р.)</em>,&nbsp;викладач вищої кваліфікаційної категорії</p>

			<p>&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Фізика;</li>
				<li>Фізика та астрономія</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; Освіта:</strong>&nbsp;Чернівецький державний університет&nbsp;за спеціальністю &quot;Фізика&quot;&nbsp;<em>(1969&nbsp;р.)</em></p>
			</td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td colspan="2">
			<hr />
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="1" rowspan="2"><img alt="" src="/pages/files/f58562759e4f/unnamed.png" /></td>
			<td colspan="1" rowspan="2">
			<p><strong>&nbsp;Гайдукевич-Ратушна Оксана Іванівна</strong><br />
			&nbsp;к.ф.-м. наук&nbsp;<em>(із&nbsp;спеціальності &quot;Математичний аналіз&quot;, 2013&nbsp;р.),</em><br />
			&nbsp;викладач вищої кваліфікаційної категорії</p>

			<p>&nbsp;&nbsp; <em><strong>Предмет</strong></em></p>

			<ul>
				<li>Математика</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; Освіта:</strong> Чернівецький державний університет імені Юрія Федьковича за спеціальністю &quot;Математика&quot;&nbsp;<em>(1996 р.)</em></p>
			</td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td colspan="2">
			<hr />
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="1" rowspan="2"><img alt="" src="/pages/files/f58562759e4f/unnamed.png" /></td>
			<td colspan="1" rowspan="2">
			<p><strong>&nbsp;Докаль Ольга Ярославівна</strong><br />
			&nbsp;викладач вищої кваліфікаційної категорії, викладач-методист</p>

			<p>&nbsp; &nbsp;<em><strong>Предмети:</strong></em></p>

			<ul>
				<li>Географія;</li>
				<li>Природничі науки</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; Освіта:</strong>&nbsp;<strong>1.</strong>&nbsp;Чернівецький державний університет&nbsp;за спеціальністю &quot;Географія&quot;&nbsp;<em>(1989&nbsp;р.)</em>;&nbsp;<strong>2.</strong>&nbsp;Чернівецький торговельно-економічний інститут КНТЕУ за спеціальністю &quot;Фінанси&quot;&nbsp;<em>(2011 р.)</em></p>
			</td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td colspan="2">
			<hr />
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="1" rowspan="2"><img alt="" src="/pages/files/f58562759e4f/unnamed.png" /></td>
			<td colspan="1" rowspan="2">
			<p><strong>&nbsp;Дутчак Світлана Василівна</strong><br />
			&nbsp;викладач вищої кваліфікаційної категорії</p>

			<p>&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Математика;</li>
				<li>Дискретна математика</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; Освіта:</strong>&nbsp;Чернівецький державний університет за спеціальністю &quot;Математика&quot; <em>(1991 р.)</em></p>
			</td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td colspan="2">
			<hr />
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="1" rowspan="1"><img alt="" src="/pages/files/f5175c5d0b7e/kolotulo_.jpg" style="height:322px; width:210px" /></td>
			<td colspan="1">
			<p><strong>&nbsp;Колотило Інна Леонідівна</strong><br />
			&nbsp;викладач вищої кваліфікаційної категорії</p>

			<p>&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Біологія і екологія;</li>
				<li>Природничі науки;</li>
				<li>Основи екології</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; Освіта:</strong>&nbsp;Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Біологія&quot; <em>(2005&nbsp;р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td colspan="1" rowspan="2"><img alt="" src="/pages/files/410f10d6031e/Krushka.JPG" style="height:290px; width:210px" /></td>
			<td colspan="1" rowspan="2">
			<p><strong>&nbsp;Кришка Ангеліна Вікторівна</strong><br />
			&nbsp;викладач&nbsp;ІІ-ї кваліфікаційної категорії</p>

			<p>&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Математика;</li>
				<li>Теорія ймовірностей та математична статистика</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; Освіта:</strong>&nbsp;Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Актуарна та фінансова математика&quot; <em>(2014 р.)</em></p>
			</td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td colspan="2">
			<hr />
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="1" rowspan="2"><img alt="" src="/pages/files/01586bc3c7f3/Kroshka.jpeg" style="height:290px; width:210px" /></td>
			<td colspan="1" rowspan="2">
			<p><strong>&nbsp;Крошка Тетяна Іллівна</strong><br />
			&nbsp;викладач&nbsp;І-ї кваліфікаційної категорії</p>

			<p>&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Математика;</li>
				<li>Вища математика;</li>
				<li>Чисельні методи</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; Освіта:</strong>&nbsp;<strong>1.</strong> Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Математика&quot; <em>(2005&nbsp;р.)</em><strong>&nbsp;2.</strong>&nbsp;Чернівецький торговельно-економічний інститут КНТЕУ за спеціальністю &quot;Облік і аудит&quot;&nbsp;<em>(2007&nbsp;р.)</em></p>
			</td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td colspan="2">
			<hr />
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="1" rowspan="2"><img alt="" src="/pages/files/7b5b3faf66d4/muronuk.JPG" style="height:292px; width:210px" /></td>
			<td colspan="1" rowspan="2">
			<p><strong>&nbsp;Мироник Оксана Дмитрівна</strong><br />
			&nbsp;к.ф.-м. наук&nbsp;<em>(із&nbsp;спеціальності &quot;Математичний аналіз&quot;, 2016&nbsp;р.),</em><br />
			&nbsp;викладач вищої кваліфікаційної категорії</p>

			<p>&nbsp;&nbsp; <em><strong>Предмет</strong></em></p>

			<ul>
				<li>Математика</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; Освіта:</strong> Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Математика&quot; <em>(2005&nbsp;р.)</em></p>
			</td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td colspan="2">
			<hr />
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="1" rowspan="2"><img alt="" src="/pages/files/f58562759e4f/unnamed.png" /></td>
			<td colspan="1" rowspan="2">
			<p><strong>&nbsp;Михайлюк Наталія Мирославівна</strong><br />
			&nbsp;викладач вищої кваліфікаційної категорії, старший викладач</p>

			<p>&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Математика;</li>
				<li>Лінійна алгебра та аналітична геометрія</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; Освіта:</strong>&nbsp;Чернівецький державний університет за спеціальністю &quot;Математика&quot; <em>(1991 р.)</em></p>
			</td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td colspan="2">
			<hr />
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="1" rowspan="1"><img alt="" src="/pages/files/9bd3600775da/morozevuch_.jpg" style="height:308px; width:210px" /></td>
			<td colspan="1">
			<p><strong>&nbsp;Морозевич Юлія Дмитрівна</strong><br />
			&nbsp;викладач ІІ-ї кваліфікаційної категорії</p>

			<p>&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Біологія і екологія;</li>
				<li>Природничі науки;</li>
				<li>Основи екології;</li>
				<li>Захист України (основи медичних&nbsp;знань)</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; &nbsp;Освіта:</strong>&nbsp;<strong>1.</strong>&nbsp;<span style="color:black">Чернівецький медичний коледж БДМУ за спеціальністю &laquo;Сестринська справа&raquo; (2008 р.)</span> <strong>2.&nbsp;</strong>Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Біохімія&quot; <em>(2013 р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr />
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="1" rowspan="2"><img alt="" src="/pages/files/2bcd0c230e70/man.jpg" /></td>
			<td colspan="1" rowspan="2">
			<p style="text-align:justify"><strong>Присакар Віталій Борисович</strong><br />
			канд. географічних наук<em> </em><em>(зі спеціальності &quot;Фізична географія, геофізика і&nbsp; геохімія ландшафтів&quot;, 2002 р.)</em>, доцент,<br />
			викладач вищої кваліфікаційної категорії</p>

			<p>&nbsp; &nbsp;<em><strong>Предмети:</strong></em></p>

			<ul>
				<li>Географія;</li>
				<li>Природничі науки</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; Освіта:</strong>&nbsp;Чернівецький державний університет&nbsp;за спеціальністю &quot;Географія&quot;&nbsp;<em>(1988 р.)</em></p>
			</td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td colspan="2">
			<hr />
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="1" rowspan="2"><img alt="" src="/pages/files/b64f42789ab2/str.jpg" style="height:291px; width:210px" /></td>
			<td colspan="1" rowspan="2">
			<p><strong>&nbsp;Стратійчук Олег Анатолійович</strong><br />
			&nbsp;викладач вищої кваліфікаційної категорії, викладач-методист,<br />
			&nbsp;заслужений вчитель України <em>(2015 р.)</em></p>

			<p>&nbsp; &nbsp;<em><strong>Предмети:</strong></em></p>

			<ul>
				<li>Фізика і астрономія;</li>
				<li>Природничі науки</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; Освіта:</strong>&nbsp;Чернівецький державний університет&nbsp;за спеціальністю &quot;Оптичні та оптикоелектронні системи&quot;&nbsp;<em>(1969&nbsp;р.)</em></p>
			</td>
		</tr>
		<tr>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
