<p style="text-align:justify"><img alt="" src="/pages/files/1a31ee8540d9/002.jpg" style="height:369px; width:780px" />&nbsp; Щорічна мистецько-поетична зустріч з нагоди Дня народження українського письменника й краєзнавця&nbsp;<strong>Михайла Івасюка</strong>&nbsp;завжди стає осердям для відкриття нових талантів та розмови про роль особистості, родини, традиції в розвитку&nbsp; потенціалу Буковини.&nbsp;Активну учать з нагоди відзначення&nbsp;103-ї річниці від дня народження свого земляка взяли й студенти Фахового коледжу ЧНУ імені Юрія Федьковича.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/2ba1962b6f2e/001.jpg" style="height:367px; width:780px" />&nbsp; Цього разу конкурсна частина проходила в дистанційному форматі, що дозволило учасникам представити себе якнайкраще. Зокрема, студенти 1-го курсу спеціальності &quot;Фінанси, банківська справа та страхування&quot;&nbsp;Фахового коледжу ЧНУ імені Юрія Федьковича (Віксич Неоніла, Гамага Олександр, Шевчук Христина) прочитали поезію <strong>&laquo;ЕЛЕГІЯ&raquo;</strong> та здобули заохочувальні призи. Вітаємо наших переможців!</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/56a7dded40b5/Івасюк.jpg" style="height:552px; width:390px" /></td>
			<td><img alt="" src="/pages/files/ddf618b09f01/ELEGIA.jpg" style="height:553px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align: center;"><a href="https://youtu.be/Og_OL4Xuuho">ПЕРЕГЛЯНУТИ ВІДЕО</a></p>
