<p style="text-align: justify;"><img alt="" src="/pages/files/c656f7f5c961/sertse.jpg" style="height:195px; width:780px" /></p>

<p style="text-align: justify;">&nbsp; &nbsp;10 травня 2019 року у місті Чернівцях відбувся&nbsp;<strong>&laquo;БУКОВИНСЬКИЙ&nbsp;ВСЕУКРАЇНСЬКИЙ &nbsp;МІЖНАРОДНИЙ&nbsp;Конкурс-Фестиваль &laquo;РІДНИЙ КРАЙ&raquo;</strong>&nbsp;<strong>Україна&raquo;</strong>, у якому активну участь взяли студенти Коледжу ЧНУ імені Юрія Федьковича.&nbsp;</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/57cd20723599/003.jpg" style="height:693px; width:390px" /></td>
			<td><img alt="" src="/pages/files/6c8bfa61565e/002.jpg" style="height:694px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align: justify;">&nbsp; &nbsp;Студентки 3 курсу Тетяна Шмідт та Діана Панцир &nbsp;пройшли фінальний етап відбору &nbsp;у номінації &quot;Ведучі&quot; і отримали право бути ведучими Конкурсу-Фестивалю у місті Чернівці. Дівчата стали справжньою окрасою Конкурсу і впорались &nbsp;своїми обов&#39;язками ведучих на професійному рівні.</p>

<p style="text-align: justify;"><img alt="" src="/pages/files/47eb9b0c3910/001.jpg" style="height:444px; width:780px" />&nbsp; &nbsp;У конкурсних змаганнях Коледж ЧНУ імені Юрія Федьковича представляли двоє студенток і обоє посіли призові місця!</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/9ccffab3d71b/004.jpg" style="height:693px; width:390px" /></td>
			<td><img alt="" src="/pages/files/f365a7662f6b/005.jpg" style="height:693px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align: justify;">&nbsp; &nbsp;Переможців визначало поважне журі (12 чол.), до складу якого увійшли провідні спеціалісти, &nbsp;заслужені працівники культури України, заслужені діячі мистецтв України, &nbsp;співаки, композитори, члени національних спілок театральних діячів, поети, письменники, продюсери.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/e33bc1caaafb/Лабяк_Рідний_край_2019.jpg" style="height:555px; width:390px" /></td>
			<td><img alt="" src="/pages/files/d5cca3826e4f/Сергій_Рідний_край_2019.jpg" style="height:557px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align: justify;">&nbsp; &nbsp;У номінації &quot;Мистецтво художнього читання&quot; &quot;Національний літературний твір&quot; - <strong>Ганна Лаб&#39;як</strong> - посіла почесне<strong> ІІ місце</strong>!</p>

<p style="text-align: justify;">&nbsp; &nbsp;У номінаціїї &quot;Мистецтво вокалу&quot; &quot;Естрадний спів&quot; - <strong>Богдана Сергій</strong> - посіла почесне <strong>ІІ місце</strong>!</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/5200ac9add08/viber image 2019-05-11 , 07.51.41.jpg" style="height:555px; width:390px" /></td>
			<td><img alt="" src="/pages/files/0de9e033fdbd/Марко_Рідний_край_2019.jpg" style="height:554px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align: justify;">&nbsp; &nbsp;Також грамотою&nbsp;Конкурс-Фестивалю&nbsp;&laquo;РІДНИЙ КРАЙ&raquo;&nbsp;Україна&raquo; була нагороджена керівник призерів - Марко Ірина Вікторівна.</p>

<p style="text-align: justify;">&nbsp; &nbsp;Щиро <strong>ВІТАЄМО</strong> наших призерів та їх керівника з такими високими досягненнями і бажаємо й надалі нехай Вас супроводжують яскравий успіх і творчі перемоги, конкурси і фестивалі&nbsp;приносять тільки задоволення й щедрі результати, а новий день дарує натхнення, нові відкриття та звершення.</p>

<p style="text-align: justify;"><img alt="" src="/pages/files/b18f7b253c30/viber image 2019-05-11 , 07.51.401.jpg" style="height:439px; width:780px" /></p>
