<p><img alt="History" src="http://college-chnu.cv.ua/pages/files/a919648dd173/History.jpg" /></p>

<table border="0">
	<tbody>
		<tr>
			<td>&nbsp;</td>
			<td><a href="http://www.college-chnu.cv.ua/article/5dc9edf99fce2d0e869cac51">Історія коледжу ЧНУ ім. Ю.Федьковича</a></td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td><a href="http://college-chnu.cv.ua/article/5c5b5c67e4c89c0f4878c751">Історія ЧНУ ім. Ю.Федьковича</a></td>
		</tr>
	</tbody>
</table>
