<p style="text-align:justify"><img alt="" src="/pages/files/60f2d4947cf5/001.jpg" style="height:316px; width:780px" />&nbsp; &nbsp;У межах<strong> STEM-весни 2021</strong> пройшли онлайн-змагання &nbsp;<strong>Cisco Кіберзмаг 2021</strong>. Завдання для змагань створювали викладачі КНУ імені Шевченка.&nbsp; Участь взяли понад 2500 учасників (старша школа, ПТУ, технікуми, коледжі).</p>

<p style="text-align:justify"><img alt="" src="/pages/files/97e47d41456c/004.jpg" style="height:341px; width:780px" /></p>

<hr />
<p style="text-align:justify"><img alt="" src="/pages/files/5808d13e5f5a/002.jpg" style="height:303px; width:780px" />&nbsp; &nbsp;Наш коледж представляли 12 студентів (тренери &ndash; Христина Мельничук та Олеся Букурос). У відбірковий тур потрапили 540 учасників серед яких у фінал було обрано 10,&nbsp;які набрали найбільшу кількість балів і найшвидше справилися із завданнями.&nbsp;Серед фіналістів був і наш студент Ярослав Кузенко (2 курс, спеціальність &laquo;Комп&rsquo;ютерна інженерія&raquo;).</p>

<p style="text-align:justify"><img alt="" src="/pages/files/cb9fcdb0f473/003.jpg" /><br />
&nbsp; &nbsp;І сьогодні, 15 квітня 2021 р., десяти учасникам було запропоновано пройти вікторину з 30 питань з кібербезпеки на правильність та швидкість відповіді, де <strong>Ярослав Кузенко<em> </em></strong> виборов почесне <strong>2 місце</strong>. Ярослав &nbsp;набрав 20600 балів, лише на 50 балів менше від лідера.</p>

<p style="text-align:right"><strong>ВІТАЄМО!!!</strong></p>
