<table>
	<tbody>
		<tr>
			<td>
			<h3 style="text-align:center"><strong>Реквізити для оплати за навчання у коледжі</strong></h3>
			</td>
		</tr>
	</tbody>
</table>

<table style="height:335px; width:733px">
	<tbody>
		<tr>
			<td style="vertical-align:top">
			<p>Банк Одержувача - Державна казначейська Служба України м. Київ,</p>

			<p>код 02071240</p>

			<p><strong>Плата за навчання у КОЛЕДЖІ ЧНУ імені Юрія Федьковича</strong></p>

			<h3><strong>UA698201720313261008201007831</strong></h3>

			<p>Уважно перевіряти правильність написання прізвища&nbsp;та ініціалів!</p>

			<p>Копію квитанції про оплату -&nbsp;подати в коледж.</p>

			<hr />
			<p>&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table>
