<p style="text-align:center"><img alt="" src="/pages/files/95be32e2a293/0.jpg" style="height:170px; width:780px" /></p>

<p style="text-align:center"><strong>НОРМАТИВНІ ДОКУМЕНТИ</strong></p>

<ol>
	<li style="text-align:justify"><strong>Закон України &laquo;Про освіту</strong><strong>&raquo;, 5 </strong><strong>вересня, 2017</strong><strong> р.</strong>&nbsp;<em>{Закон визнано таким, що відповідає </em><a href="https://zakon.rada.gov.ua/laws/show/254%D0%BA/96-%D0%B2%D1%80" target="_blank"><em>Конституції України</em></a> <em>(є конституційним), згідно з Рішенням Конституційного Суду </em><a href="https://zakon.rada.gov.ua/laws/show/v010p710-19#n2" target="_blank"><em>№ 10-р/2019 від 16.07.2019</em></a><em>}</em>&nbsp;{Із змінами, внесеними згідно із Законами <a href="https://zakon.rada.gov.ua/laws/show/2657-19#n23" target="_blank">№ 2657-VIII від 18.12.2018</a>, ВВР, 2019, № 5, ст.33 <a href="https://zakon.rada.gov.ua/laws/show/2661-19#n2" target="_blank">№ 2661-VIII від 20.12.2018</a>, ВВР, 2019, № 5, ст.35 <a href="https://zakon.rada.gov.ua/laws/show/2704-19#n751" target="_blank">№ 2704-VIII від 25.04.2019</a>, ВВР, 2019, № 21, ст.81 <a href="https://zakon.rada.gov.ua/laws/show/2745-19#n1459" target="_blank">№ 2745-VIII від 06.06.2019</a>, ВВР, 2019, № 30, ст.119}</li>
	<li style="text-align:justify">Закон України &laquo;Про вищу оcвіту&raquo; (2014).</li>
	<li style="text-align:justify">ЗАКОН УКРАЇНИ &laquo;Про фахову передвищу освіту&raquo;. (6 червня 2019 року відповідний законопроєкт після непростих дискусій у Комітеті Верховної Ради України з питань науки та освіти був ухвалений парламентом у другому читанні та в цілому).</li>
	<li style="text-align:justify">Національна доктрина розвитку освіти.</li>
	<li style="text-align:justify">Державна національна програма &laquo;Освіта&raquo; (&laquo;Україна XXI століття&raquo;) (2002).</li>
	<li style="text-align:justify">Національна стратегія розвитку освіти в Україні до 2021 року (2013).</li>
	<li style="text-align:justify">Концепція розвитку педагогічної освіти (2018).</li>
	<li style="text-align:justify">Проєкт &laquo;Концептуальні засади державної політики щодо розвитку англійської мови у сфері вищої освіти&raquo;, липень 14, 2019. (Цей документ визначає концептуальні засади державної політики щодо підтримки розвитку та застосування англійської мови у вищій освіті в Україні).</li>
	<li style="text-align:justify">Навчальні програми з іноземних мов для загальноосвітніх навчальних закладів і спеціалізованих шкіл із поглибленим вивченням іноземних мов 10 &ndash; 11 класи&nbsp; (Англійська мова Німецька мова Французька мова Іспанська мова)</li>
	<li style="text-align:justify">ПРОГРАМА ЗОВНІШНЬОГО НЕЗАЛЕЖНОГО ОЦІНЮВАННЯ З ІНОЗЕМНИХ МОВ для осіб, які бажають здобувати вищу освіту на основі повної загальної середньої освіти.</li>
</ol>
