<p style="text-align:center"><strong>СТИПЕНДІЇ</strong></p>

<p><strong>1.</strong>&nbsp;<a href="/pages/files/a130101f9dc9/Правила_призначення_стипендії_коледж_01.pdf">Правила призначення і виплати стипендії студентам коледжу</a><br />
<strong>2.&nbsp;</strong><a href="http://www.college-chnu.cv.ua/pages/files/ccff704eed71/%D0%97%D0%BC%D1%96%D0%BD%D0%B8%20%D0%B4%D0%BE%20%20%D0%BF%D1%80%D0%B8%D0%B7%D0%BD%D0%B0%D1%87%D0%B5%D0%BD%D0%BD%D1%8F%20%D1%81%D1%82%D0%B8%D0%BF%D0%B5%D0%BD%D0%B4%D1%96%D1%97.pdf">Зміни до Правил призначення і виплати стипендій студентам коледжу</a></p>

<hr />
<p style="text-align:center"><strong>ОСІННІЙ СЕМЕСТР<br />
2019-2020 н.р.</strong></p>

<p><strong>1.</strong>&nbsp;<a href="/pages/files/fd56b3c55f67/rating of students_1-2.pdf">Рейтингові списки студентів коледжу (1-го та 2-го курсів)</a><br />
<strong>2.</strong>&nbsp;<a href="/pages/files/d8516d830473/Rating_3-4_2020.pdf">Рейтингові списки студентів коледжу (3-го та 4-го курсів)</a></p>

<p style="text-align:center"><strong>2020-2021&nbsp;н.р.</strong></p>

<p><strong>1.</strong>&nbsp;<a href="/pages/files/daa6952bd4b9/reitung_1-2_2020.pdf">Рейтингові списки студентів коледжу (1-го та 2-го курсів)</a><br />
<strong>2.</strong>&nbsp;<a href="/pages/files/4b7b9fabbc98/reytung_3-4.pdf">Рейтингові списки студентів коледжу (3-го та 4-го курсів)</a></p>

<hr />
<p style="text-align:center"><strong>ВЕСНЯНИЙ&nbsp;СЕМЕСТР<br />
2019-2020 н.р.</strong></p>

<p><strong>1.</strong>&nbsp;<a href="/pages/files/607218bb05e0/Reytung_2020.pdf">Рейтингові списки студентів, які навчаються за державним замовленням<br />
у Коледжі ЧНУ імені Юрія Федьковича</a></p>

<hr />
<p style="text-align:center"><strong>До уваги студентів!!!</strong></p>

<p style="text-align:center"><span style="color:#c0392b">З <strong>01 лютого 2020 року</strong><br />
виплата стипендій через касу здійснюватися не буде!</span></p>

<p style="text-align:center">Для отримання стипендії на картку необхідно<br />
<strong>ТЕРМІНОВО</strong> &laquo;прив&rsquo;язати&raquo; її до <strong>СТИПЕНДІЙНОГО ПРОЕКТУ ЧНУ</strong><br />
в будь-якому відділенні банку.</p>
