<p style="text-align: justify;"><img alt="" src="/pages/files/ee5a46ef72d4/1581161059518.jpg" style="height:226px; width:780px" />&nbsp; &nbsp;Перше робоче місце є дуже важливим, як для студента, так і для закладу освіти в якому він навчається. Розуміючи цей беззаперечний факт ВСП &quot;Фаховий коледж ЧНУ&quot; спільно із кафедрою&nbsp;математичного моделювання&nbsp;факультету математики та інформатики знайомлять студентів ІТ-спеціальностей з потенційними робочими місцями. Студенти фахового коледжу завітали &nbsp;в компанію&nbsp;<strong>Yukon Software Ltd</strong>.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/fd6e3427983d/001.jpg" style="height:292px; width:390px" /></td>
			<td><img alt="" src="/pages/files/06eae71f4e82/002.jpg" style="height:293px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align: justify;">&nbsp; &nbsp;Під час ескурсії&nbsp;студенти&nbsp;ознайомились з проектами з автоматизації процесів життєдіяльності міста, які компанія розробляє як для Чернівців так і для голландського&nbsp;міста Антверпен.&nbsp;Представники компанія запропонували студентам&nbsp;долучитись до згаданих проектів під час проходження технологічної&nbsp;практики.</p>

<p style="text-align: justify;"><img alt="" src="/pages/files/1de229fafe2c/003.jpg" style="height:309px; width:780px" />&nbsp; &nbsp;За результатами співбесіди окремим студентам&nbsp;було запропоновано вже під час навчання долучитись до співпраці.&nbsp;</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/e1bda8ad24b5/005.png" style="height:391px; width:390px" /></td>
			<td><img alt="" src="/pages/files/27427413dc87/006.png" style="height:390px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align: justify;">&nbsp; &nbsp;Під час екскурсії, працівник компанії,&nbsp; випусник коледжу Вадим Дерич,&nbsp;розповів про свій досвід навчання в коледжі, а також&nbsp; дав поради нинішнім студентам як краще підготуватися до можливої&nbsp;роботи в Компанії.</p>
