<p style="text-align: justify;">&nbsp; &nbsp; &nbsp;Світ історичного краєзнавства &ndash; різноманітний і цікавий. Свідчення тому &ndash; Міська історико-краєзнавча конференція <strong>&laquo;Рогізна: погляд крізь роки&raquo;</strong>, яка відбулася 20 березня у Чернівецькому коледжі дизайну та економіки. Організаторами цього наукового форуму стали&nbsp;Департамент освіти і науки Чернівецької &nbsp;обласної державної адміністрації<strong>,&nbsp;</strong>Управління культури Чернівецької міської ради<strong>,&nbsp;</strong>Чернівецький національний університет імені Юрія Федьковича та Чернівецький коледж дизайну та економіки, особисто &ndash; доктор історичних наук Олександр Добржанський та викладач коледжу Микола Семенюк.</p>

<p style="text-align: justify;"><img alt="" src="/pages/files/3dc07aa5894d/P1050140.JPG" style="height:345px; width:780px" /></p>

<p style="text-align: justify;">&nbsp; &nbsp; &nbsp;Участь у конференції взяли: директор Департаменту освіти і науки Чернівецької ОДА Оксана Палійчук, завідувач сектору координації діяльності закладів вищої освіти та науки Департаменту освіти і науки Чернівецької ОДА Михайло Павлюк, директор Департаменту містобудівного комплексу та земельних відносин Чернівецької міської ради Микола Собко, професор Олександр Добржанський, співробітник Буковинської державної сільськогосподарської дослідної станції НААН України Тетяна Сандуляк, український скульптор Володимир Гамаль. Крім того, науковці Чернівецького національного університету ім. Ю. Федьковича, працівники Чернівецького обласного краєзнавчого та художнього музеїв, Муніципальної бібліотеки ім. А. Добрянського, Наукової бібліотеки Чернівецького національного університету ім. Ю. Федьковича, Чернівецької обласної універсальної наукової бібліотеки ім. М. Івасюка, студенти, учні, жителі мікрорайону та всі, хто цікавиться історією Рогізни.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/79e8093705f0/_DSC0593.JPG" style="height:259px; width:390px" /></td>
			<td><img alt="" src="/pages/files/036ae2348c32/_DSC0597.JPG" style="height:259px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align: justify;">&nbsp; &nbsp; Свої наукові дослідження представили на конференції й студенти Коледжу ЧНУ &ndash; <strong>Ольга Довганюк та Наталія Гриб</strong> (Науковий керівник &ndash; В.Я. Дерев&rsquo;янчук).</p>

<p style="text-align: justify;">&nbsp; &nbsp; &nbsp;Відкрила роботу конференції Оксана Палійчук, директор Департаменту освіти і науки Чернівецької облдержадміністрації. Оксана Михайлівна зазначила, що &laquo;Господь Бог наділив наш український народ особливою культурою і ця культура у вишиванці, писанці, у нашому світосприйнятті, які ми відображаємо через слово, мову, мистецтво&hellip; Як пише Святе Письмо: &laquo;Де скарб ваш, там і серце ваше!&raquo;. Оксана Михайлівна відзначила, що &laquo;&hellip;перебуваючи в коледжі, який немає гуманітарного спрямування, відмітила для себе те, що ньому настільки культивується гуманітарна складова, без якої ми не можемо говорити про виховання на повний зріст. Скарб цього закладу, який має своє обличчя на карті освіти Буковини, &ndash; правильно обраний скарб! Серце їхнє на тому шляху, щоб спочатку формувати українця та громадянина &laquo;на повний зріст&raquo;, а далі &ndash; професіонала своєї справи! Без пріоритетів у вихованні людини ми не досягнемо висоти у формуванні професіонала&raquo;. &nbsp;Приємно вразили слова Оксани Михайлівни: &laquo;&hellip;в керівництва коледжу, педагогічних працівників, співорганізатора конференції Миколи Семенюка &ndash; &laquo;скарб у ваших серцях обрано правильний!&raquo;.</p>

<p style="text-align: justify;">&nbsp; &nbsp; &nbsp;Чернівецький бард Юрій Олесь з донечкою Ольгою вразили всіх присутніх виконанням чудової авторської пісні &laquo;Хай говорять, що ми такі різні&raquo;.</p>

<p style="text-align: justify;">&nbsp; &nbsp; &nbsp;У ході роботи конференції було розглянуто широке коло історико-краєзнавчих аспектів у межах визначеної проблематики та презентований збірник матеріалів конференції. До нього також увійшли короткі твори відомих людей про Рогізну та бібліографія праць відомого буковинського письменника Івана Синюка.</p>

<p style="text-align: justify;">&nbsp; &nbsp; &nbsp;Це вже другий масштабний історико-краєзнавчий захід у рамках відзначення 500-літнього ювілею від часу першої письмової згадки про поселення у мікрорайоні Рогізна.</p>

<p style="text-align: justify;">&nbsp; &nbsp; &nbsp;Після урочистої частини продовжилася робота конференції. Першим до слова був запрошений декан факультету історії, політології та міжнародних відносин ЧНУ ім. Ю. Федьковича Олександр Добржанський, який розповів про населення Рогізни в останній чверті ХVІІІ &ndash; на поч. ХХ ст.</p>

<p style="text-align: justify;">&nbsp; &nbsp; &nbsp;Віталій Калініченко,<strong>&nbsp;</strong>асистент кафедри історії стародавнього світу, середніх віків та музеєзнавства факультету історії, політології та міжнародних відносин ЧНУ ім. Ю. Федьковича, доповів про археологічні старожитності знайдені на території мікрорайону.</p>

<p style="text-align: justify;">&nbsp; &nbsp; &nbsp;Про історію храму Різдва Пресвятої Богородиці та події, що відбувалися в ньому, повідомив студент Богословського відділення КПБА при ФТФ ЧНУ ім. Ю. Федьковича Павло Лаврук.</p>

<p style="text-align: justify;">&nbsp; &nbsp; &nbsp;Завідувач науково-методичного кабінету дослідження та збереження традиційної культури Учбово-методичного центру культури Буковини, письменниця Іванна Олещук (Стеф&rsquo;юк) наголосила на просвітницькому аспекті традиційної культури жителів Рогізни.</p>

<p style="text-align: justify;">&nbsp; &nbsp; &nbsp;Настасія Загородна,<strong>&nbsp;</strong>заступник&nbsp;директора з наукової роботи Наукової бібліотеки ЧНУ ім. Ю. Федьковича розповіла про буковинського письменника, педагога Івана Синюка, що довгий період проживав у мікрорайоні.</p>

<p style="text-align: justify;">&nbsp; &nbsp; &nbsp;Про борця за незалежність України розказали учні Чернівецької загальноосвітньої школи № 39 Максим Катеринчук і Михайло Сорохан.</p>

<p style="text-align: justify;"><img alt="" src="/pages/files/86c0ee70f1fc/P1050329.JPG" style="height:406px; width:780px" /></p>

<p style="text-align: justify;">&nbsp; &nbsp; Студентка Коледжу ЧНУ ім. Ю. Федьковича<strong>&nbsp;</strong>Ольга Довганюк<strong>&nbsp;</strong>представила всім присутнім розповідь-спогади жителя мікрорайону Степана Семенюка під назвою &laquo;Живу і люблю Україну&raquo;.</p>

<p style="text-align: justify;">&nbsp; &nbsp; &nbsp;Тетяна Мурашевич,<strong>&nbsp;</strong>завідувач науково-методичного відділу Наукової бібліотеки ЧНУ імені&nbsp;Юрія&nbsp;Федьковича зачарувала учасників конференції глибинною народною мудрістю письменниці Софії Майданської.</p>

<p style="text-align: justify;">&nbsp; &nbsp; &nbsp;Про життя та творчість скульптора Володимира Гамаля доповіла учениця Вищого професійного художнього училища № 5 Тетяна Демчук. Її доповнювала та розповіла чимало цікавого про тематику, напрями, матеріали з якими працює митець завідувач відділом науково-освітньої роботи Чернівецького обласного художнього музею Лариса Курущак.</p>

<p style="text-align: justify;">&nbsp; &nbsp; Асистент архітектури та збереження об`єктів Всесвітньої спадщини ЮНЕСКО ЧНУ ім. Ю. Федьковича Ярослав Волощук накреслив власне бачення перспектив розвитку даного мікрорайону.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/0687a44ea370/P1050255.JPG" style="height:293px; width:390px" /></td>
			<td><img alt="" src="/pages/files/8d35a17fba4e/P1050346.JPG" style="height:293px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align: justify;">&nbsp; &nbsp; &nbsp;Також слід зазначити, що цікаві експозиції &laquo;Рогізна 500&raquo; і &laquo;Люблю любити любов&raquo;, з фондів рідкісної книги представили працівники Наукової бібліотеки ЧНУ ім. Ю. Федьковича, які з захопленням переглянули учасники конференції.</p>

<p style="text-align: justify;">&nbsp; &nbsp; &nbsp;Завершилася її робота заключним словом викладача коледжу Миколи Семенюка, який поділився планами на майбутнє та подякував усім присутнім за цікаві та змістовні доповіді.</p>
