<table>
	<tbody>
		<tr>
			<td style="vertical-align:top">
			<p><img alt="" src="/pages/files/3f08cbecb360/Inform.jpg" style="height:259px; width:720px" /></p>

			<p style="text-align:center">&nbsp;</p>

			<p style="text-align:center"><a href="/pages/files/081090a36d9f/college2017.pdf"><strong>Переглянути інформаційний пакет</strong></a></p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
