<p><img alt="" src="/pages/files/d3df5a74b15c/NORM.jpg" style="height:235px; width:780px" /></p>

<hr />
<p style="text-align:center"><strong>НОРМАТИВНІ ДОКУМЕНТИ</strong></p>

<p><strong>1.</strong> <a href="/pages/files/fcc1e6c3979a/Статут_ЧНУ_2016.pdf">Статут Чернівецького національного університету імені Юрія Федьковича</a><br />
<strong>2.</strong> <a href="/pages/files/5deccc501182/Сollege regulations 2020.pdf">Положення про ВСП &quot;Фаховий коледж ЧНУ&nbsp;імені Юрія Федьковича&quot;</a><br />
<strong>3.</strong>&nbsp;<a href="/pages/files/d11d7b178451/Кол.договір_2017-2020.pdf">Колективний договір ЧНУ&nbsp;імені Юрія Федьковича на 2017-2020 рік</a><br />
<strong>4.</strong> <a href="/pages/files/9565f4744e29/stratehichnyi plan rozvytku-2019-2026.pdf">Стратегічний план&nbsp;розвитку ЧНУ імені Юрія&nbsp;Федьковича на 2019-2026 роки</a><br />
<strong>5.</strong>&nbsp;<a href="/pages/files/105dfbc22629/Konception.pdf">Концепція розвитку ЧНУ імені Юрія&nbsp;Федьковича на 2012-2022 роки</a><br />
<strong>6.</strong>&nbsp;<a href="/pages/files/33c81a8e907a/conflict-free ChNU.pdf">Положення про засади безконфліктних комунікацій та врегулювання спорів учасників освітнього процесу в&nbsp;ЧНУ&nbsp;імені Юрія Федьковича</a><br />
<strong>7.</strong>&nbsp;<a href="/pages/files/500211fb434f/N251MON2021.pdf">Положення про конкурсний відбір на посаду керівника&nbsp;закладу фахової передвищої освіти</a><br />
<strong>8.</strong> <a href="/pages/files/8608e4125f9a/Direction.pdf">Положення про дирекцію&nbsp;ВСП &quot;Фаховий коледж ЧНУ&quot;</a><br />
<strong>9.</strong> <a href="/pages/files/083b3a5f5440/department.pdf">Положення про відділення&nbsp;ВСП &quot;Фаховий коледж ЧНУ&quot;</a><br />
<strong>10.</strong> <a href="/pages/files/16cd11d17090/NML.pdf">Положення про навчально-методичну лабораторію&nbsp;ВСП &quot;Фаховий коледж ЧНУ&quot;</a><br />
<strong>11.</strong> <a href="/pages/files/2b9f2bc2f935/Admissions.pdf">Положення про ПРИЙМАЛЬНУ КОМІСІЮ ВСП &quot;Фаховий коледж ЧНУ&quot;</a><br />
<strong>12.</strong> <a href="/pages/files/73152bc2dfce/Preparatory courses.pdf">Положення про організацію роботи ПІДГОТОВЧИХ КУРСІВ до вступу до ВСП &quot;Фаховий коледж ЧНУ&quot;</a><br />
<strong>13.</strong> <a href="/pages/files/dd0eeaabbe22/scholarship.pdf">Положення&nbsp;про стипендіальну комісію&nbsp;ВСП &quot;Фаховий коледж ЧНУ&quot;</a><br />
<strong>14.</strong> <a href="/pages/files/ce0aa4375f05/Rules.pdf">Правила призначення та виплати стипендій студентам ВСП &quot;Фаховий коледж ЧНУ&quot;</a><br />
<strong>15.</strong> <a href="https://zakon.rada.gov.ua/laws/show/z1132-18#Text">Положення про Єдину державну електронну базу з питань освіти</a></p>

<hr />
<p style="text-align:center"><strong>ОСВІТНІЙ ПРОЦЕС</strong></p>

<p><strong>1.</strong>&nbsp;<a href="/pages/files/dabba9092e57/Education_2021.pdf">Положення про організацію освітнього процесу у ВСП &quot;Фаховий коледж ЧНУ&quot;</a><br />
<strong>2.</strong>&nbsp;<a href="/pages/files/7954cf5b773f/selection provisions.pdf">Положення про порядок реалізації студентами&nbsp;ВСП &quot;Фаховий коледж ЧНУ&quot; права на вибір дисциплін</a><br />
<strong>3.</strong> <a href="/pages/files/619446fe340a/EK.pdf">Положення про екзаменаційну комісію у&nbsp;ВСП &quot;Фаховий коледж ЧНУ&quot;</a><br />
<strong>4.</strong><a href="/pages/files/ade7b775107c/appeal.pdf"> Положення про апеляційні комісії у ВСП &quot;Фаховий коледж ЧНУ&quot;</a><br />
<strong>5.</strong>&nbsp;<a href="/pages/files/3c1075c95a6e/transfer.pdf">Положення про переведення на навчання за кошти державного бюджету студентів ВСП &quot;Фаховий коледж ЧНУ&quot;</a><br />
<strong>6.</strong> <a href="/pages/files/960f0fe894d2/Положення внутр забезп 2016.pdf">Положення про&nbsp; систему внутрішнього забезпечення якості освітньої діяльності та якості вищої освіти в ЧНУ імені Юрія Федьковича</a><br />
<strong>7.</strong>&nbsp;<a href="/pages/files/fb5aeda6e765/Положення про моніторинг 2016.pdf">Положення про моніторинг якості вищої освіти в ЧНУ імені Юрія Федьковича</a><br />
<strong>8.</strong> <a href="/pages/files/5624673a2bff/Положення про контроль 2020.pdf">Положення про контроль і систему оцінювання результатів навчання&nbsp;здобувачів вищої освіти&nbsp;у&nbsp;ЧНУ імені Юрія Федьковича</a><br />
<strong>9.</strong>&nbsp;<a href="/pages/files/0db91a1367b4/Положення_плагіат_2019.pdf">Положення про виявлення та запобігання плагіату у ЧНУ імені Юрія Федьковича</a><br />
<strong>10.</strong>&nbsp;<a href="https://drive.google.com/file/d/1CB4AIMVXSAykF_CepI-k98GPc9E8KznQ/view">Етичний&nbsp;кодекс&nbsp;Чернівецького національного університету імені Юрія Федьковича</a></p>

<hr />
<p style="text-align:center"><strong>ВИХОВНИЙ ПРОЦЕС</strong></p>

<p><strong>1.</strong>&nbsp;<a href="/pages/files/7761742b01e0/ПРАВИЛА_2017.pdf">Правила внутрішнього розпорядку ЧНУ&nbsp;імені Юрія Федьковича</a><br />
<strong>2.</strong> <a href="/pages/files/2d549fd2d328/Сurator.pdf">Положення про куратора&nbsp;ВСП &quot;Фаховий коледж ЧНУ&nbsp;імені Юрія Федьковича&quot;</a></p>
