<table>
	<tbody>
		<tr>
			<td>
			<h3><strong>Список груп 4 курсу</strong></h3>
			</td>
		</tr>
	</tbody>
</table>

<table>
	<tbody>
		<tr>
			<td style="vertical-align:top">
			<ul>
				<li>442 група, спеціальність &quot;Прикладна математика&quot;</li>
				<li>443 група, спеціальність &quot;Обслуговування комп&#39;ютерних систем і мереж&quot;</li>
				<li>444 група, спеціальність &quot;Обслуговування комп&#39;ютерних систем і мереж&quot;</li>
			</ul>
			</td>
		</tr>
	</tbody>
</table>
