<p><img alt="" src="/pages/files/06919a0b9c6e/Inform.jpg" style="height:281px; width:780px" /></p>

<h2 style="text-align:center"><a href="/pages/files/2cac8b8a942c/College_2020.pdf">Переглянути</a></h2>

<hr />
<h3><img alt="" src="/pages/files/ead05c874693/str.jpg" style="height:81px; width:200px" /><a href="http://college-chnu.cv.ua/article/5dd3c6679fce2d0e869cacb4">Детальніше про ВСТУП</a></h3>

<p>&nbsp;</p>
