<p style="text-align:justify"><img alt="" src="/pages/files/d7c83902edeb/012.jpg" style="height:201px; width:780px" />&nbsp; &nbsp;Доброю традицією впродовж дев&rsquo;ятнадцяти років є об&rsquo;єднання українців по всьому світу участю у написанні <strong>Всеукраїнського радіодиктанту національної єдності</strong>, присвяченому <strong>Дню української писемності та мови</strong>. Коледж ЧНУ імені&nbsp;Юрія Федьковича є активним учасником цієї акції вже кілька років поспіль.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/185162e26b76/000.jpg" style="height:248px; width:780px" />&nbsp; &nbsp; Цьогорічне гасло радіодиктанту &ndash; &ldquo;Нас багато, ми різні, нас всіх об`єднує спільна мета&rdquo; &ndash; у Чернівцях було підкріплено не менш вагомим &ndash; &ldquo;Було б бажання, а можливість знайдеться&rdquo;: масштабна аварія в середмісті внесла свої корективи &ndash; центр міста було знеструмлено. Незважаючи на перепони,&nbsp;студенти коледжу разом з викладачами все-таки приєдналися до написання радіодиктанту.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/ef60e007bf23/000.2.jpg" style="height:359px; width:780px" /></p>

<p style="text-align:justify">&nbsp; &nbsp;Як завжди, автор диктанту, доцент Київського університету імені Бориса Грінченка, був оригінальним у складанні тексту, показавши в розрізі історію від Нестора Літописця до ери цифрових технологій.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/17baed729279/003.jpg" style="height:288px; width:390px" /></td>
			<td><img alt="" src="/pages/files/ff45b274bce2/004.jpg" style="height:274px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;Цікавим є той факт, що відомий мовознавець Олександр Авраменко продиктував текст зі словами, які пишуться за новими правилами правопису.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/e67780b8be00/001.jpg" style="height:445px; width:780px" /></p>

<p style="text-align:justify">&nbsp; &nbsp;Поки відбувалися налаштування мобільної техніки, цікавий&nbsp; екскурс з історії писемності зробила Чік Л. В. Викладач зосередила увагу на культурі мовлення молодого покоління та можливостях його підвищення, зокрема якісній підготовці та складанні ЗНО з української мови та літератури.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/facee2b03dfc/002.jpg" style="height:415px; width:780px" /></p>

<p style="text-align:justify">&nbsp; &nbsp;Нові правописні норми пройшли адаптацію, бо студенти та викладачі були задоволені написаним. Очікувані результати присутні могли перевірити вже за кілька хвилин у прямому ефірі.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/5b5a14c0652c/007.jpg" style="height:292px; width:390px" /></td>
			<td><img alt="" src="/pages/files/903e73efc788/009.jpg" style="height:292px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/5e6f01f2e855/008.jpg" style="height:292px; width:390px" /></td>
			<td><img alt="" src="/pages/files/73158a0b3746/011.jpg" style="height:293px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/6bff0d2576e3/010.jpg" style="height:292px; width:390px" /></td>
			<td><img alt="" src="/pages/files/fe0da0888f78/зображення_viber_2019-11-12_09-46-36.jpg" style="height:287px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/7bd88e50d161/005.jpg" style="height:293px; width:390px" /></td>
			<td><img alt="" src="/pages/files/c7c560548387/006.jpg" style="height:280px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p><img alt="" src="/pages/files/dbe2f8b086e9/2019-11-12_09-47-52.jpg" style="height:419px; width:780px" /></p>
