<p style="text-align: center;">Підсумки діяльності арт-клубу <strong>Echo Chamber</strong> за вересень-жовтень 2020/2021 н.р.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/462f4e6c87f4/001.jpg" style="height:416px; width:780px" />&nbsp; &nbsp;Одним з перших творчих завдань арт-клубу було створення оригінального дизайну захисних масок іноземною мовою! Дякуємо навчальним закладам за залучення до реалізації ідеї: Коледж ЧНУ ім. Юрія Федьковича, Чернівецький фаховий коледж технологій та дизайну, Новоселецький медичний фаховий коледж, Вижницький коледж прикладного мистецтва ім. В.Ю. Шкрібляка, Хотинський коледж.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/3b3724e8b6e9/002_.jpg" style="height:409px; width:780px" />&nbsp; &nbsp;У жовтні на засіданні арт-клубу підсумували результати другого завдання <strong>&ldquo;</strong><strong>STOP SHOT&rdquo;</strong>, приуроченого святкуванню Дня міста Чернівці. З метою популяризації рідних міст та містечок було запропоновано зробити оригінальний стоп кадр будь-якої цікавої локації та розробити до фото змістовний допис іноземною мовою. Дякуємо усім причетним до здійснення поставленої мети: Коледж ЧНУ ім. Юрія Федьковича, Чернівецький фаховий коледж технологій та дизайну, Чернівецький фаховий коледж мистецтв ім. С. Воробкевича, Хотинський коледж, &nbsp;Вижницький коледж прикладного мистецтва ім. В.Ю. Шкрібляка</p>

<p style="text-align:center"><a href="/pages/files/508097bdc44b/Present.pdf">ПЕРЕГЛЯНУТИ ПРЕЗЕНТАЦІЮ</a></p>

<p style="text-align:center">До нових зустрічей у нашому арт-середовищі!<br />
<strong>TAKE PART &ndash; MAKE ART!</strong></p>
