<h3 style="text-align:center"><strong>ЦИКЛОВА КОМІСІЯ<br />
ГУМАНІТАРНИХ ТА СУСПІЛЬНИХ ДИСЦИПЛІН</strong></h3>

<hr />
<table border="0">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/749eb6fe8b59/sivakov.jpg" style="height:290px; width:210px" /></td>
			<td>
			<p style="text-align:center"><strong>ГОЛОВА&nbsp;ЦИКЛОВОЇ КОМІСІЇ</strong></p>

			<p><strong>&nbsp;Сіваков Михайло Михайлович</strong><br />
			&nbsp;викладач вищої кваліфікаційної категорії<br />
			<br />
			&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Історія: Україна і світ;</li>
				<li>Історія держави і права України;</li>
				<li>Мистецтво</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; Освіта: 1.</strong>&nbsp;Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Математика&quot; <em>(2003&nbsp;р.)</em>; <strong>2.&nbsp;</strong>Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Історія&quot; <em>(2009&nbsp;р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td colspan="1" rowspan="2"><img alt="" src="/pages/files/c8d7eb5a629d/derevianchuk.jpg" style="height:290px; width:210px" /></td>
			<td colspan="1" rowspan="2">
			<p><strong>&nbsp;Дерев&#39;янчук Василь Ярославович</strong><br />
			&nbsp;викладач І-ї кваліфікаційної категорії<br />
			<br />
			&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Історія: Україна і світ;</li>
				<li>Громадянська освіта</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; Освіта:&nbsp;</strong>Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Історія&quot; <em>(2006 р.)</em></p>
			</td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/254dac7d9437/Kushnir2.jpg" style="height:299px; width:210px" /></td>
			<td>
			<p><strong>&nbsp;Кушнір Анастасія Володимирівна</strong><br />
			&nbsp;викладач І-ї кваліфікаційної категорії<br />
			<br />
			&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Психологія;</li>
				<li>Громадське здоров&#39;я</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; Освіта:</strong>&nbsp;<strong>1.</strong>&nbsp;Чернівецький медичний коледж БДМУ за спеціальністю &laquo;Сестринська справа&raquo; <em>(2006&nbsp;р.)</em>&nbsp;<strong>2.&nbsp;</strong>Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Психологія&quot;&nbsp;<em>(2010&nbsp;р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td colspan="1" rowspan="2"><img alt="" src="/pages/files/b670c58db0f4/Pavlyuk.jpg" style="height:280px; width:210px" /></td>
			<td colspan="1" rowspan="2">
			<p><strong>&nbsp;Павлюк Дмитро Васильович</strong><br />
			&nbsp;викладач І-ї кваліфікаційної категорії<br />
			<br />
			&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Історія: Україна і світ;</li>
				<li>Історія держави і права України</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; Освіта:&nbsp;</strong>Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Історія&quot; <em>(2012&nbsp;р.)</em></p>
			</td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td colspan="1" rowspan="2"><img alt="" src="/pages/files/c7acbb0de910/001.jpg" style="height:291px; width:210px" /></td>
			<td colspan="1" rowspan="2">
			<p><strong>&nbsp;Пержун Іван Володимирович</strong><br />
			&nbsp;викладач І-ї кваліфікаційної категорії,<br />
			<br />
			&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Громадянська освіта;</li>
				<li>Основи філософських знань;</li>
				<li>Соціологія</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; Освіта:</strong>&nbsp;Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Політологія&quot; <em>(2011&nbsp;р.)</em></p>
			</td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td colspan="1" rowspan="2"><img alt="" src="/pages/files/20b501c0d6a4/pogr.jpg" style="height:292px; width:210px" /></td>
			<td colspan="1" rowspan="2">
			<p><strong>&nbsp;Погребенник Андрій Іванович</strong><br />
			&nbsp;канд.&nbsp;іст. наук&nbsp;<em>(за спеціальністю &quot;Всесвітня історія&quot;, 2017 р.),</em><br />
			&nbsp;викладач вищої&nbsp;кваліфікаційної категорії<br />
			<br />
			&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Історія: Україна і світ;</li>
				<li>Історія України</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; Освіта:</strong>&nbsp;Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Історія&quot;&nbsp;<em>(2012 р.)</em></p>
			</td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/9e618716571c/yur.gif" style="height:290px; width:210px" /></td>
			<td>
			<p><strong>&nbsp;Юрій Михайло Федорович</strong><br />
			&nbsp;доктор іст.&nbsp;наук, професор <em>(1992 р.)</em>,<br />
			&nbsp;викладач вищої кваліфікаційної категорії<br />
			&nbsp;<br />
			&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Мистецтво;</li>
				<li>Соціологія</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; Освіта:</strong>&nbsp;Чернівецький державний університет за спеціальністю &quot;Історія&quot; <em>(1976 р.)</em></p>
			</td>
		</tr>
	</tbody>
</table>
