<p style="text-align: center;"><img alt="" src="/pages/files/e57898f3af1a/license.jpg" style="height:149px; width:780px" /><a href="/pages/files/29fe2e135566/License_2020.pdf">Відомості щодо здійснення освітньої діяльності у сфері фахової передвищої освіти</a></p>

<hr />
<p style="text-align:center"><strong>СЕРТИФІКАТИ ПРО АКРЕДИТАЦІЮ</strong></p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><a href="/pages/files/7f492d258da3/071.jpg"><img alt="" src="/pages/files/048636796849/071_Oblik.jpg" style="height:273px; width:390px" /></a></td>
			<td><a href="/pages/files/37a9a151831d/072.jpg"><img alt="" src="/pages/files/5497163b3a79/072_Finansu.jpg" style="height:273px; width:390px" /></a></td>
		</tr>
		<tr>
			<td style="text-align:center">Облік і оподаткування</td>
			<td style="text-align:center">Фінанси, банківська справа та страхування</td>
		</tr>
		<tr>
			<td><a href="/pages/files/64fe672738fe/076.jpg"><img alt="" src="/pages/files/6f64484396f3/076_Pidpruemnuctvo.jpg" style="height:273px; width:390px" /></a></td>
			<td><a href="/pages/files/b57fc2d99d03/081.jpg"><img alt="" src="/pages/files/8a00f4f845b0/081_Pravo.jpg" style="height:273px; width:390px" /></a></td>
		</tr>
		<tr>
			<td style="text-align:center">Підприємництво, торгівля та біржова діяльність</td>
			<td style="text-align:center">Право</td>
		</tr>
		<tr>
			<td><a href="/pages/files/5cde3c571605/113.jpg"><img alt="" src="/pages/files/f3261443baac/113_Prukladna_math.jpg" style="height:273px; width:390px" /></a></td>
			<td><a href="/pages/files/53a9d89d97a5/122.jpg"><img alt="" src="/pages/files/751590e54308/122_KN.jpg" style="height:273px; width:390px" /></a></td>
		</tr>
		<tr>
			<td style="text-align:center">Прикладна математика</td>
			<td style="text-align:center">Комп&#39;ютерні науки</td>
		</tr>
		<tr>
			<td><a href="/pages/files/91938ee452f3/122_.jpg"><img alt="" src="/pages/files/d8e1f2102357/122_KN_ta_IT.jpg" style="height:273px; width:390px" /></a></td>
			<td><a href="/pages/files/ebb84722979c/123.jpg"><img alt="" src="/pages/files/a066c64dc551/123_KI.jpg" style="height:273px; width:390px" /></a></td>
		</tr>
		<tr>
			<td style="text-align:center">Комп&#39;ютерні науки та інформаційні технології</td>
			<td style="text-align:center">Комп&#39;ютерна інженерія</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
