<p><img alt="" src="/pages/files/c59aff732d93/081.jpg" style="height:308px; width:780px" /></p>

<p style="text-align:center"><strong>ОБОВ&#39;ЯЗКОВІ&nbsp;ДИСЦИПЛІНИ</strong></p>

<hr />
<p><strong>ЗАГАЛЬНА ПІДГОТОВКА<br />
&nbsp; &nbsp;1.</strong>&nbsp;Основи філософських знань<br />
<strong>&nbsp; &nbsp;2.</strong>&nbsp;Українська мова за професійним спрямуванням<br />
<strong>&nbsp; &nbsp;3.</strong>&nbsp;Іноземна мова за професійним спрямуванням<br />
<strong>&nbsp; &nbsp;4.</strong>&nbsp;Історія України<br />
<strong>&nbsp; &nbsp;5.</strong>&nbsp;Історія української культури<br />
<strong>&nbsp; &nbsp;6.</strong>&nbsp;Соціологія<br />
<strong>&nbsp; &nbsp;7.</strong>&nbsp;Інформатика та комп&#39;ютерна техніка<br />
<strong>&nbsp; &nbsp;8.</strong>&nbsp; Фізичне виховання</p>

<p><strong>ПРОФЕСІЙНА ПІДГОТОВКА<br />
&nbsp; &nbsp;1.</strong>&nbsp;Юридична деонтологія<br />
<strong>&nbsp; &nbsp;2.</strong>&nbsp;Історія держави і права України<br />
<strong>&nbsp; &nbsp;3.</strong>&nbsp;Теорія держави і права<br />
<strong>&nbsp; &nbsp;4.</strong>&nbsp;Конституційне право України<br />
<strong>&nbsp; &nbsp;5.</strong>&nbsp;Адміністративне право<br />
<strong>&nbsp; &nbsp;6.</strong>&nbsp;Організація судових та правоохоронних органів<br />
<strong>&nbsp; &nbsp;7.</strong>&nbsp;Цивільне та сімейне право<br />
<strong>&nbsp; &nbsp;8.</strong>&nbsp;Цивільний процес<br />
<strong>&nbsp; &nbsp;9.</strong>&nbsp;<a href="/pages/files/90e59748ecb5/Labor Law.pdf">Трудове право</a><br />
<strong>&nbsp; &nbsp;10.</strong>&nbsp;Кримінальне право<br />
<strong>&nbsp; &nbsp;11.</strong>&nbsp;Кримінальний процес<br />
<strong>&nbsp; &nbsp;12.</strong>&nbsp;Господарське право<br />
<strong>&nbsp; &nbsp;13.</strong>&nbsp;Судочинство в господарських судах<br />
<strong>&nbsp; &nbsp;15.</strong>&nbsp;Фінансове право<br />
<strong>&nbsp; &nbsp;16.</strong>&nbsp;Курсова робота <em>(3 курс)</em><br />
<strong>&nbsp; &nbsp;17.</strong>&nbsp;Курсова робота <em>(4&nbsp;курс)</em><br />
<strong>&nbsp; &nbsp;18.</strong>&nbsp;Навчальна практика <em>(2 курс)</em><br />
<strong>&nbsp; &nbsp;19.</strong>&nbsp;Навчальна практика&nbsp;<em>(3&nbsp;курс)</em><br />
<strong>&nbsp; &nbsp;20.</strong>&nbsp;Виробнича практика&nbsp;<em>(4&nbsp;курс)</em></p>

<p style="text-align:center"><strong>ДИСЦИПЛІНИ ЗА ВИБОРОМ ЗАКЛАДУ ФАХОВОЇ ПЕРЕДВИЩОЇ ОСВІТИ</strong></p>

<hr />
<p><strong>ЗАГАЛЬНА ПІДГОТОВКА<br />
&nbsp; &nbsp;1.</strong>&nbsp;Правова статистика<br />
<strong>&nbsp; &nbsp;2.</strong>&nbsp;Основи екології<br />
<strong>&nbsp; &nbsp;3.</strong>&nbsp;Економічна теорія<br />
<strong>&nbsp; &nbsp;4.</strong>&nbsp;Громадське здоров&#39;я</p>

<p><strong>ПРОФЕСІЙНА ПІДГОТОВКА<br />
&nbsp; &nbsp;1.</strong>&nbsp;Діловодство<br />
<strong>&nbsp; &nbsp;2.</strong>&nbsp;Міжнародне право<br />
<strong>&nbsp; &nbsp;3.</strong>&nbsp;Складання процесуальних документів<br />
<strong>&nbsp; &nbsp;4.</strong>&nbsp;Комп&#39;ютерні технології в юридичній діяльності</p>

<p style="text-align:center"><strong>ДИСЦИПЛІНИ ВІЛЬНОГО ВИБОРУ ЗДОБУВАЧА ОСВІТИ</strong></p>

<hr />
<p><strong>ЗАГАЛЬНА ПІДГОТОВКА</strong><br />
<strong>&nbsp; &nbsp;1.</strong>&nbsp;<a href="/pages/files/c51964c5bd2a/English for Life.pdf">Англійська для життя. [English for life]</a>&nbsp;<em>(Н.Д. Добровольська)</em><br />
<strong>&nbsp; &nbsp;2.</strong>&nbsp;<a href="/pages/files/e63b8fcb7d16/081 E-commerce.pdf">Електронна комерція та ІТ-бізнес</a>&nbsp;<em>(І.В. Гудзик)</em><br />
<strong>&nbsp; &nbsp;3.</strong>&nbsp;<a href="/pages/files/6f96e17bd6d7/Historical figures.pdf">Історичні постаті в процесах державотворення України</a>&nbsp;<em>(В.Я. Дерев&#39;янчук)</em><br />
<strong>&nbsp; &nbsp;4.</strong>&nbsp;<a href="/pages/files/344c55e6c0d1/graphic processing.pdf">Інтегровані пакети графічної обробки</a>&nbsp;<em>(І.В. Гудзик, В.В. Коропецький)</em><br />
<strong>&nbsp; &nbsp;5.</strong>&nbsp;<a href="/pages/files/b0b4235c606e/the art of good.pdf">Мистецтво добра</a>&nbsp;<em>(І.В. Пержун)</em><br />
<strong>&nbsp; &nbsp;6.</strong>&nbsp;<a href="/pages/files/3384c8c598b1/081 international finance.pdf">Міжнародні фінанси</a>&nbsp;<em>(Ю.В.&nbsp;Семенюк)</em><br />
<strong>&nbsp; &nbsp;7.</strong>&nbsp;<a href="/pages/files/163dcdf94428/Start-UP.pdf">Основи start-up</a>&nbsp;<em>(О.І.&nbsp;Луган)</em><br />
<strong>&nbsp; &nbsp;8.</strong>&nbsp;<a href="/pages/files/d1fa117ac973/WEB-design.pdf">Основи web-дизайну</a>&nbsp;<em>(В.В. Коропецький)</em><br />
<strong>&nbsp; &nbsp;9.&nbsp;</strong><a href="/pages/files/6fbd0a725db3/Accounting.pdf">Основи бухгалтерського обліку</a>&nbsp;<em>(С.І.&nbsp;Гнат)</em><br />
<strong>&nbsp; &nbsp;10.</strong>&nbsp;<a href="/pages/files/9d9bed058694/scientific research.pdf">Основи наукових досліджень</a>&nbsp;<em>(М.О. Остапович)</em><br />
<strong>&nbsp; &nbsp;11.</strong>&nbsp;<a href="/pages/files/4dbac210876e/psychology.pdf">Психологія</a>&nbsp;<em>(А.В. Кушнір)</em><br />
<strong>&nbsp; &nbsp;12.</strong>&nbsp;<a href="/pages/files/92f4f21af824/Financial services market.pdf">Ринок фінансових послуг</a>&nbsp;<em>(А.М.&nbsp;Томашевська)</em><br />
<strong>&nbsp; &nbsp;13.&nbsp;</strong><a href="/pages/files/fe079a5090dc/081 financial literacy.pdf">Фінансова грамотність</a>&nbsp;<em>(А.В.&nbsp;Марич)</em><br />
<strong>&nbsp; &nbsp;14.</strong>&nbsp;<a href="/pages/files/b5b5ee13dc8e/081 small business finance.pdf">Фінанси малого бізнесу</a>&nbsp;<em>(А.В.&nbsp;Марич)</em><br />
<br />
<strong>ПРОФЕСІЙНА ПІДГОТОВКА<br />
&nbsp; &nbsp;1.</strong> <a href="/pages/files/ca62b86e19a1/advocacy.pdf">Адвокатура</a> <em>(П.В. Єгоров)</em><br />
<strong>&nbsp; &nbsp;2.</strong> <a href="/pages/files/ae6d8aa53aca/Enforcement.pdf">Виконавче провадження</a> <em>(Н.С. Попельницька)</em><br />
<strong>&nbsp; &nbsp;3.</strong> <a href="/pages/files/1632bc06ce1f/European law.pdf">Європейське право</a> <em>(А.Д. Доманчук)</em><br />
<strong>&nbsp; &nbsp;4.</strong> <a href="/pages/files/46060ada08fd/081 Constitutional law.pdf">Конституційне право зарубіжних країн</a> <em>(І.В. Звоздецька)</em><br />
<strong>&nbsp; &nbsp;5.</strong> <a href="/pages/files/f0a7e31a3cd6/international law.pdf">Міжнародне право</a> <em>(А.Д. Доманчук)</em><br />
<strong>&nbsp; &nbsp;6.</strong> <a href="/pages/files/ca5407990776/social protection.pdf">Право соціального захисту</a> <em>(О.Ю. Докаш)</em><br />
<strong>&nbsp; &nbsp;7.</strong> <a href="/pages/files/bb1bc92be158/081 Roman law.pdf">Римське право</a> <em>(А.Д. Доманчук)</em><br />
<strong>&nbsp; &nbsp;8.</strong>&nbsp;<a href="/pages/files/0f4042af57ff/081 rhetoric.pdf">Юридична риторика</a> &nbsp;<em>(Н.С. Попельницька)</em><br />
<strong>&nbsp; &nbsp;9.</strong> <a href="/pages/files/214ec117ad75/Legal psychology.pdf">Юридична психологія</a>&nbsp;<em>(І.В.&nbsp;Звоздецька)</em></p>
