<p style="text-align: justify;">&nbsp; &nbsp;7-8 червня 2019 р. у місті&nbsp;Бердянськ відбувся<strong>&nbsp;І Всеукраїнський фестиваль - конкурс мистецтв &nbsp;і талантів</strong>&nbsp;<strong>&laquo;Мій Зірковий Час&raquo;</strong>. На конкурсі Коледж Чернівецького національного університету імені Юрія Федьковича представляв студент 1 курсу&nbsp;<strong>Арсеній Вакарчюк&nbsp;</strong>(керівник - І.В. Марко), який &nbsp;у номінації &quot;Художнє читання&quot; здобув &nbsp;почесне&nbsp;<strong>І місце</strong>!</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/13920cf30898/002.jpg" style="height:824px; width:390px" /></td>
			<td><img alt="" src="/pages/files/858cd0857e16/001.jpg" style="height:822px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align: justify;">&nbsp; &nbsp;Переможець нагороджений Дипломом лауреата І премії, пам&#39;ятним кубком та запрошенням представляти Україну на Міжнародному фестивалі у Німеччині за Золотим сертифікатом Ульменгоф! Коледж пишається своїми талановитими студентами та їх керівниками!</p>

<p style="text-align: center;"><a href="https://www.youtube.com/watch?v=9bE1Pm_mF9o">Переглянути конкурсне відео учасника</a></p>

<p style="text-align: justify;"><img alt="" src="/pages/files/37dcde7f4b8d/003.jpg" style="height:970px; width:780px" /></p>
