<p style="text-align:center"><strong>Французька весна завітала в Чернівці</strong></p>

<p style="text-align:center"><img alt="" src="/pages/files/2052ef2a683d/fv2019.jpg" style="height:169px; width:780px" /></p>

<p style="text-align:justify">&nbsp; &nbsp;13 квітня 2019 року в рамках міжнародного фестивалю &laquo;Французька весна-2019&raquo; у Чернівецький обласній філармонії відбулася яскрава подія за участю струнного квартету &laquo;DANOS&raquo; із міста Авіньйона, на якій були присутні викладач французької мови Котелевська Р.А. та студенти Коледжу ЧНУ, які вивчають французьку мову. Музиканти з Франції презентували&nbsp; унікальний проект під назвою &laquo;Андре Жід та Музика&raquo; з нагоди святкування 150-річчя з дня народження лауреата<span style="background-color:white"> Нобелівської премії з літератури (1947 р.), письменника та поета Андре Жіда.</span></p>

<p style="text-align:justify"><img alt="" src="/pages/files/b8f6f0677512/003.jpg" style="height:362px; width:780px" /></p>

<p style="text-align:justify">&nbsp; &nbsp;На мистецькому вечорі у виконанні молодих талантів звучала музика видатних композиторів-класиків: Моріса Равеля, Франца Шуберта, Фредеріка Шопена та представників сучасного класичного музичного мистецтва П&rsquo;єра Тійюа, Івана Карабиця та Мирослава Скорика.</p>

<p style="text-align:justify">&nbsp; &nbsp;В це зворушливе музичне дійство виокремилася поезія Андре Жідa та українських поетів епохи модерну, яку читав актор Івано-Франківського національного музично-драматичного театру Євгеній Холодняк.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/5c76da77c4f0/005.jpg" style="height:293px; width:390px" /></td>
			<td><img alt="" src="/pages/files/010625fa7d52/004.jpg" style="height:293px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;А на завершення французькі музиканти зробили сюрприз слухачам, виконуючи ліричний романс &laquo;Місяць на небі&raquo;. Автором ідеї музично-поетичного виконання є французький композитор П&rsquo;єр Тійюа.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/f27082513612/001.jpg" style="height:201px; width:390px" /></td>
			<td><img alt="" src="/pages/files/a217fe0e6ae3/002.jpg" style="height:200px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;На цьому дійстві студенти мали можливість відчути красу звучання струнних інструментів. Власне для них це було велике свято Музики та Поезії.</p>
