<p><img alt="" src="/pages/files/476580c6c72b/e-learn.jpg" style="height:333px; width:780px" /></p>

<p style="text-align:center"><strong>Організація дистанційної освіти</strong></p>

<hr />
<p><a href="/pages/files/904040aaae5a/ORG.pdf">Організація навчання з використання дистанційних технологій</a><br />
<a href="/pages/files/72aa110d9c2e/ORG2.pdf">Організація та розвиток освіти з використанням дистанційних технолоргій</a><br />
<a href="/pages/files/99c14a877a1a/web.pdf">Поширені web-ресурси дистанційного&nbsp;навчання</a></p>
