<p style="text-align:justify"><img alt="" src="/pages/files/04e43ea98a99/inter.png" style="height:164px; width:780px" />&nbsp; Розмову про роль української писемності й мови в коледжі цьогоріч розпочали зі звернення до&nbsp;<strong>КНИГИ</strong>. Зокрема Юлія СІНЬКОВА, Наталія РОМАНЮК, Вікторія НОВАК (спеціальність &quot;Фінанси, банківська справа та страхування&quot;) під керівництвом своїх викладачів Людмили ЧІК та&nbsp;Марії ОСТАПОВИЧ&nbsp;відвідали Муніципальну бібліотеку імені Анатолія ДОБРЯНСЬКОГО та спробували під новим кутом зору оцінити роль книги, мови у рамках національної культури.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/7b83799b8a12/001.jpg" style="height:486px; width:780px" />&nbsp; 15 років тому на культурній мапі Чернівців з&rsquo;явилася Муніципальна бібліотека імені Анатолія Добрянського. Передана місту приватна книгозбірня відомого літературознавця стала основою бібліотеки. Справжній рай для гуманітаріїв кожного року доповнюється видавничими новинками. Окрім того, чимало чернівчан чи й просто тих, хто розуміє вартість книги, надсилали сюди частину приватних книгозбірень.</p>

<p style="text-align:justify">&nbsp; Проте найцікавіше &ndash; це долі власників цих малих і великих книгозбірень. В цьому аспекті розповіді пані Лесі Щербанюк, директорки бібліотеки, &ndash; це можливість і побачити об&rsquo;ємний портрет людини, і зрозуміти, які рисочки на ньому промальовані книгами.</p>

<p style="text-align:justify">&nbsp; Постаттю, достойною пригодницького роману чи й екранізації, видається чернівчанин, інтелектуал, в&rsquo;язень ГУЛАГу &ndash; Петер Демант (Вернон Крес), книгозбірня якого теж зберігається на вулиці Українській, 22.</p>

<p style="text-align:justify">&nbsp; В кожному залі бібліотеки бачимо таблички із іменами тих, хто передав сюди принаймні частину приватної бібліотеки. Є тут що почитати архітекторам і дизайнерам, якщо звернуть увагу на книги Михайла Шевченка, який відновлював Резиденцію. Музиканти знайдуть не одне цікаве видання, коли зазирнуть до приватної бібліотеки Олександра Залуцького. Зануритися з головою в німецькомовну літературу вдасться завдяки Петру Рихлу, а українську відкриємо через Володимира Антофійчука, Надію Бабич, Тамару Севернюк.</p>

<p style="text-align:justify">&nbsp; Знаходячись в затишних коридорах вілли з кришталевими вікнами, не полишає хіба одна думка: хто ж зможе підхопити й продовжити цей інтелектуальний челендж, без якого мова й культура не розвиватимуться? Впевнені, що такі герої нашого часу навчаються й у коледжі.</p>

<p style="text-align:center"><a href="https://youtu.be/0yLFwi2KjYQ">ПЕРЕГЛЯНУТИ ІНТЕРВ&#39;Ю</a></p>
