<p style="text-align:center"><strong>СТУДЕНТИ КОЛЕДЖУ ЧНУ ПРОТИ НАРКОТИКІВ!!!</strong></p>

<p style="text-align: justify;"><strong><img alt="" src="/pages/files/eb7f1e345f14/Stop2.jpg" style="height:292px; width:780px" /></strong>&nbsp; Студенти Коледжу ЧНУ імені Юрія Федьковича долучилися до інтерактивного заходу <strong>#Мій_вибір_життя_без_наркотиків</strong>.</p>

<p style="text-align: justify;"><img alt="" src="/pages/files/898d0593d3b8/001.jpg" style="height:460px; width:780px" /></p>

<hr />
<p style="text-align: justify;"><img alt="" src="/pages/files/544eafd9aa5b/002.jpg" style="height:500px; width:780px" />&nbsp; &nbsp;&nbsp; &nbsp;Разом з старшим інспектором ювенальної превенції Шевченківського ВП студенти мали змогу почути та зрозуміти наслідки вживання наркотичних засобів.&nbsp; Окрему увагу студентів співробітники поліції звернули на відповідальність за порушення законодавства у сфері незаконного обігу наркотиків.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/018c5c13e162/82615006_602059010356943_7785114311218692096_o.jpg" style="height:520px; width:390px" /></td>
			<td><img alt="" src="/pages/files/72b4cabb7e30/зображення_viber_2020-02-11_14-58-30.jpg" style="height:520px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p><img alt="" src="/pages/files/578501da889b/82763241_602059060356938_219012421216370688_o.jpg" style="height:435px; width:780px" /></p>
