<p style="text-align:center"><strong>Мистецьке обличчя Чернівців: знайомство з Ольгою Кобилянською</strong></p>

<p style="text-align:justify"><em>&nbsp; &nbsp;Література &ndash; це не лише рядки літер, а й неймовірно цікаві долі справжніх, а не вигаданих людей, тож знайомство із епохою чи творчістю конкретного автора ефективніше проводити в &laquo;польових умовах&raquo;.</em></p>

<p style="text-align:justify"><img alt="" src="/pages/files/b9633d299c3f/001.jpg" style="height:377px; width:780px" /></p>

<p style="text-align:justify">&nbsp; &nbsp;Викладачі української літератури Коледжу ЧНУ імені&nbsp;Юрія&nbsp;Федьковича організували екскурсії студентів 1-го курсу в Літературно-меморіальний музей О.&nbsp;Кобилянської. Музей заснований 27 листопада 1944, а розміщений у будинку (сучасна адреса &ndash; Софії Окуневської, 5), де письменниця жила з 1925 року до самої смерті.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/9a8eb5021474/002.jpg" style="height:293px; width:390px" /></td>
			<td><img alt="" src="/pages/files/6aa59156c94a/003.jpg" style="height:292px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp;&nbsp; Це уже стало традицією &ndash; розпочинати вивчення творчості знаменитої буковинки зі знайомства з атмосферою оселі відомої людини, розшифровування її особистості, що криється і в побутових деталях&hellip;</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/dba6afacd72a/004.jpg" style="height:292px; width:390px" /></td>
			<td><img alt="" src="/pages/files/019391625d85/005.jpg" style="height:293px; width:390px" /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/1ff52e8d0c2f/006.jpg" style="height:293px; width:390px" /></td>
			<td><img alt="" src="/pages/files/504b21b8f661/007.jpg" style="height:293px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align: justify;">&nbsp; &nbsp;Родзинками екскурсії стали дорогі серцю авторки &laquo;дрібнички&raquo;. Це і &laquo;море у пляшці&raquo;, надіслане до Чернівців з Констанци Леєю Прункул із записочкою: &laquo;Люба пані Ольго, Чорне море шле вам сю маленьку хвилю як гарний привіт&raquo;. А ще й едельвейси, зірвані 135 років тому, бережно заховані під склом у старовинній рамці, зі щирою вірою письменниці в те, що ця квітка приносить щастя.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:260px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/d4c8a8914441/008.jpg" style="height:347px; width:260px" /></td>
			<td><img alt="" src="/pages/files/7e276d15f2b8/009.jpg" style="height:347px; width:260px" /></td>
			<td><img alt="" src="/pages/files/30300b3ed0cd/010.jpg" style="height:347px; width:260px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align: justify;">&nbsp; &nbsp;Не менш значущими стали для першокурсників й деталі біографії відомої буковинки, гірської орлиці, феміністки, емансипантки, письменниці, яка починала літературну діяльність німецькою мовою, але стала класиком української літератури. Дружба з Лесею Українкою, Іваном Франком, самоосвіта протягом усього життя (закінчила 4 класи), інтерес до найрізноманітніших сфер діяльності (цікавилася музикою &ndash; грала на фортепіано, цитрі, дримбі, непогано малювала, грала в театрі, навіть мріяла стати професійною актрисою, любила верхову їзду), глибоке знання творів Шевченка (могла читати напам&rsquo;ять вірші поета упродовж кількох годин), нерозділене кохання до Осипа Маковея, виховання прийомної доньки Олени Панчук, &ndash; ось штрихи до портрета, без яких не вдасться осягнути всієї глибини прози Ольги Кобилянської.</p>

<p><img alt="" src="/pages/files/c2b272a0f88e/011.jpg" style="height:336px; width:780px" /></p>

<p style="text-align: justify;">&nbsp; &nbsp;І, напевно, найцікавіше, &ndash; враження студентів від почутого й побаченого: непересічна, яскрава, прогресивна, завзята, розумна, надзвичайно талановита і обдарована, при цьому жіночна, романтична та натхнена &ndash; ось вона, Ольга Кобилянська.</p>
