<p style="text-align:justify"><img alt="" src="/pages/files/c8cefc704499/1587103368.jpg" style="height:245px; width:780px" /><span style="color:#3c3c3c"><span style="background-color:#ffffff">&nbsp; &nbsp;Профспілкова організація студентів Чернівецького національного університету імені Юрія Федьковича вітає усіх зі Світлим Христовим Воскресінням!<br />
&nbsp;&nbsp;</span></span><span style="color:#3c3c3c"><span style="background-color:#ffffff">&nbsp;</span></span><span style="color:#3c3c3c"><span style="background-color:#ffffff">Цей день &ndash; можливість духовного очищення і просвітлення. Нехай&nbsp;цього дня&nbsp;у всіх&nbsp;буде трохи більше віри, ніж зазвичай. Бо, на жаль, святкуємо ми його не в найкращі часи. Душу охоплює радість і одночасно смуток.<br />
&nbsp;&nbsp;</span></span><span style="color:#3c3c3c"><span style="background-color:#ffffff">&nbsp;</span></span><span style="color:#3c3c3c"><span style="background-color:#ffffff">Насамперед,&nbsp;бажаємо&nbsp;вам міцного здоров&lsquo;я та терпіння. Нехай кожен день ваш будинок наповнюється затишком, теплом, щастям, благополуччям. Даруйте один одному увагу і турботу, любов і вірність.<br />
&nbsp;&nbsp;&nbsp;</span></span><span style="color:#3c3c3c"><span style="background-color:#ffffff">Христос Воскрес!<br />
&nbsp;&nbsp;</span></span><span style="color:#3c3c3c"><span style="background-color:#ffffff">&nbsp;</span></span><span style="color:#3c3c3c"><span style="background-color:#ffffff">Хай яскраве світло цього великого свята осяє сьогодні весь світ, подарує надію, радість і щастя людям. І нехай сьогодні і завжди душа твоя іскриться вірою, помисли &mdash; добром, а серце &mdash; любов&rsquo;ю.</span></span></p>

<p style="text-align:justify"><span style="color:#3c3c3c"><span style="background-color:#ffffff">&nbsp; &nbsp;Залишайтеся&nbsp;вдома!</span></span></p>

<p style="text-align:justify"><span style="color:#3c3c3c"><span style="background-color:#ffffff">&nbsp; &nbsp;До зустрічі в рідному Університеті!</span></span></p>

<p style="text-align:justify"><span style="color:#3c3c3c"><span style="background-color:#ffffff">&nbsp; &nbsp;Зі Святом Пасхи!</span></span></p>
