<h1 style="text-align: center;"><strong>Олімпіада з бухгалтерського обліку<br />
серед студентів коледжів і технікумів</strong></h1>

<p style="text-align: center;"><img alt="" src="/pages/files/97bee4ce8a6d/Emblems-2019.png" style="height:250px; width:500px" /></p>

<p style="text-align: justify;">&nbsp; &nbsp;5-6 квітня 2019 року на базі кафедри обліку та аналізу Національного університету &laquo;Львівська політехніка&raquo; відбулася <strong>олімпіада з бухгалтерського обліку</strong> серед студентів коледжів і технікумів &ndash; випускників ОКР &laquo;молодший спеціаліст&raquo;. В Олімпіаді взяли участь 62 учасники із 20 коледжів України, зокрема Львова, Кропивницького, Рівне, Чернівців, Хмельницького, Коломиї, Мукачево, Дрогобича, Гусятина, Нового Роздолу та ін.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/91ba8d77c430/001.jpg" style="height:293px; width:390px" /></td>
			<td><img alt="" src="/pages/files/20e4596b77d4/002.jpg" style="height:293px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align: justify;">&nbsp; &nbsp; &nbsp;Для участі в олімпіаді Коледж Чернівецького&nbsp;національного університету імені Юрія Федьковича відрядив студентку третього курсу спеціальності &laquo;Облік і оподаткування&raquo; <strong>Сіньковську Діану Сергіївну</strong> (викладач - <strong>Гнат Сільва Іванівна</strong>).</p>

<p style="text-align: justify;">&nbsp; &nbsp;На відкритті учасників Олімпіади привітали проректор Львівської політехніки Олег Давидчак, директор Інституту економіки і менеджменту, проф. Олег Кузьмін, завідувач кафедри обліку та аналізу, проф. Ігор Яремко, голова журі Олімпіади Наталія Воськало. Представники компанії Нестле Бізнес Сервіс Львів розповіли про діяльність компанії, можливості та перспективи працевлаштування студентів, співпрацю із кафедрою обліку та аналізу, провели цікаву вікторину.</p>

<p style="text-align: justify;"><img alt="" src="/pages/files/a53691c85cb9/006.jpg" style="height:268px; width:780px" /></p>

<p style="text-align: justify;">&nbsp; &nbsp;Перший тур Олімпіади проходив у формі комп&rsquo;ютерного тестування із використанням платформи Центру тестування та діагностики знань Львівської політехніки в навчальній лабораторії кафедри та комп&rsquo;ютерних класах інформаційно-комп&rsquo;ютерного комплексу. Тестові завдання передбачали виявлення знань студентів із теорії бухгалтерського обліку, фінансового обліку та оподаткування.</p>

<p style="text-align: justify;"><img alt="" src="/pages/files/35b06ccc62ee/007.jpg" style="height:351px; width:780px" /></p>

<hr />
<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/8e5e0c79b464/004.jpg" style="height:293px; width:390px" /></td>
			<td><img alt="" src="/pages/files/0d3ae6c03d29/005.jpg" style="height:293px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align: justify;">&nbsp; &nbsp;Другий тур Олімпіади передбачав розв&rsquo;язування практичних завдань із фінансового обліку та оподаткування, зокрема із обліку основних засобів, податку на додану вартість, виробництва та реалізації продукції, фінансових результатів, заробітної плати, допомоги із тимчасової непрацездатності. Учасники Олімпіади продемонстрували досить високий рівень професійних знань та вмінь.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:260px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/57af7dd15406/008.jpg" style="height:410px; width:260px" /></td>
			<td><img alt="" src="/pages/files/ff4a1372b3d2/009.jpg" style="height:410px; width:260px" /></td>
			<td><img alt="" src="/pages/files/6f0af7458105/010.jpg" style="height:409px; width:260px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align: justify;">&nbsp; &nbsp;Зав. кафедри обліку та аналізу, проф. Яремко І.Й. провів зустріч із викладачами коледжів, що супроводжували студентів на Олімпіаді, розповів про напрямки роботи кафедри у науковій та навчальній діяльності, ознайомив присутніх про відкриття спільної із кафедрою педагогіки і соціальної роботи магістерської програми за спеціальністю 015 &laquo;Професійна освіта (за спеціальністю &laquo;Облік і оподаткування)&raquo;, що дозволяє здійснювати підготовку викладачів обліково-економічних дисциплін.</p>

<p style="text-align: justify;"><img alt="" src="/pages/files/a7462e9ba5b4/011.jpg" style="height:303px; width:780px" />&nbsp; &nbsp;Попри насичену програму Олімпіади, учасники та їхні викладачі мали змогу відвідати із екскурсією Актову залу Політехніки та центральну частину Львова. До проведення екскурсії активно долучилися студенти-обліковці 3-4 курсів, що дало змогу студентам поспілкуватися в неформальній обстановці.</p>

<p style="text-align: justify;">&nbsp; &nbsp; Наша учасниця - <strong>Сіньковська Діана</strong> виборола&nbsp;<strong>ІІІ (третє) місце</strong>.&nbsp;Вітаємо нашу студентку&nbsp;і бажаємо нових здобутків, а ще &ndash; успіху в професійній сфері!</p>

<p style="text-align: justify;"><img alt="" src="/pages/files/3cf222bf437d/012.jpg" style="height:544px; width:780px" /></p>
