<table border="0">
	<tbody>
		<tr>
			<td>&nbsp;</td>
			<td><a href="http://college-chnu.cv.ua/article/5c5c69378f13050d955f215c">Реквізити для оплати</a></td>
			<td>&nbsp;</td>
			<td>&nbsp;<a href="http://college-chnu.cv.ua/article/5c5c62f68f13050d955f2151">Розклад дзвінків</a></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td><a href="http://college-chnu.cv.ua/article/5c5c758d8f13050d955f219a">Гуртожиток</a></td>
			<td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
			<td>&nbsp;<a href="http://www.college-chnu.cv.ua/article/5da9c9ad9fce2d0e869cabcf">Стипендії</a></td>
		</tr>
	</tbody>
</table>

<p>&nbsp;<img alt="Stydenty" src="http://college-chnu.cv.ua/pages/files/fc4966e8dda0/Stydenty.jpg" /></p>
