<table>
	<tbody>
		<tr>
			<td style="vertical-align:top">
			<p style="text-align:center"><img alt="Untitled-1" src="/pages/files/411508d4a9ef/Untitled-1.jpg" style="height:421px; width:500px" /></p>

			<p style="text-align:justify">&nbsp; &nbsp;Відокремлений структурний підрозділ &quot;Фаховий коледж Чернівецького національного університету імені Юрія Федьковича&quot; є структурним підрозділом університету без статутсу юридичної особи і надає освітні послуги, пов&#39;язані з одержанням фахової передвищої освіти за освітньо-професійним&nbsp;&nbsp;ступенем&nbsp;&quot;фаховий молодший бакалавр&quot; з одночасним наданням повної загальної середньої освіти. Наш&nbsp;заклад освіти має відповідний рівень кадрового та матеріально-технічного забезпечення.</p>

			<p style="text-align:justify">&nbsp; &nbsp;Юридичною датою створення ВСП &quot;Фаховий&nbsp;коледж&nbsp;ЧНУ імені Юрія Федьковича&quot; є 2001 рік, проте за такий короткий період існування він посів одне з провідних місць серед закладів фахової передвищої освіти. Підтвердженням цього є успішні виступи наших студентів на всіх етапах Всеукраїнських олімпіад серед студентів закладів фахової передвищої освіти. Студенти ВСП &quot;Фаховий&nbsp;коледж&nbsp;ЧНУ імені Юрія Федьковича&quot; неодноразово здобували абсолютні&nbsp;перемоги, що давало можливість нашому коледжу приймати у своїх стінах учасників&nbsp; ІІІ етапу Всеукраїнської олімпіади.&nbsp;Найвищих результатів на Всеукраїнському етапі з предметних олімпіад було досягнуто наступними студентами:</p>

			<p style="text-align:justify">&nbsp; &nbsp;2010 р. &ndash; Василь Мельник, <strong>1 місце</strong> (Математика);<br />
			&nbsp; &nbsp;2011 р. &ndash; Микита Чайка, <strong>3 місце</strong> (Математика);<br />
			&nbsp; &nbsp;2012 р. &ndash; Олександра Слободян, <strong>1 місце</strong> (Математика);<br />
			&nbsp; &nbsp;2013 р. &ndash; Юрій Лугош, <strong>3 місце</strong> (Математика);<br />
			&nbsp; &nbsp;2018 р. &ndash; Алла Іванюк, <strong>2 місце</strong> (Українська мова);<br />
			&nbsp; &nbsp;2019 р. &ndash; Олександр Мар&rsquo;янчук, <strong>3 місце</strong> (Математика).</p>

			<p style="text-align:justify">&nbsp; &nbsp;Звичайно, такі вагомі успіхи досягнуті завдяки високопрофесійному науково-педагогічному колективові, загальна кількість яких у коледжі становить 108&nbsp;викладачів, серед яких: 3&nbsp;доктори наук (1 професор), 30 кандидатів&nbsp;наук (15&nbsp;доцентів), 53&nbsp;викладачі вищої категорії, 10&nbsp;викладачів-методистів.</p>

			<p style="text-align:justify">&nbsp; &nbsp;Говорячи про освіту загалом, хочеться згадати слова американського письменника і викладача Роберта Тору Кіосакі: &quot;<em>Освіта, яка не вчить жити успішно в сучасному світі, не має&nbsp; ніякої цінності. Кожен із нас приходить&nbsp; у життя&nbsp; з природженою здатністю жити щасливо й&nbsp; успішно. А ми повинні збагатити цю здатність знаннями і навичками, які допомогли б нам реалізувати&nbsp; її якомога ефективніше&quot;.</em></p>

			<p style="text-align:justify"><em>&nbsp;&nbsp;</em>Саме тому у процесі навчання ми враховуємо сучасні вимоги до освіти та намагаємося максимально адаптувати теоретичний і практичний матеріал до реалій життя, тісно пов&#39;язати його з майбутньою професійною діяльністю студентів.</p>

			<p style="text-align:justify">&nbsp; &nbsp;Із врахуванням потреб регіону &nbsp;у Фаховому коледжі ЧНУ здійснюється підготовка фахових молодших бакалаврів за освітньо-професійними програмами&nbsp;на таких&nbsp;спеціальностях:<br />
			<strong>&nbsp; &nbsp;071 &quot;Облік і оподаткування&quot;;<br />
			&nbsp; &nbsp;072 &quot;Фінанси, банківська справа та стражування&quot;;<br />
			&nbsp; &nbsp;076 &quot;Підприємництво, торгівля та біржова діяльність&quot;;</strong><br />
			<strong>&nbsp; &nbsp;081</strong> <strong>&quot;Право&quot;;<br />
			&nbsp; &nbsp;113 &quot;Прикладна математика&quot;;</strong><br />
			<strong>&nbsp; &nbsp;122 &quot;Комп&#39;ютерні науки&quot;;</strong><br />
			<strong>&nbsp; &nbsp;123 &quot;Комп&#39;ютерна інженерія&quot;</strong><em>.</em></p>

			<p style="text-align:justify">&nbsp; &nbsp;З метою найкращого впровадження навчального процесу використовуються навчальні площі та об&#39;єкти соціальної інфраструктури ЧНУ імені&nbsp;Юрія Федьковича. За коледжем закріплені місця для поселення студентів у гуртожиток.</p>

			<p style="text-align:justify">&nbsp; &nbsp;Після закінчення фахового коледжу наші випускники отримують можливість продовжити навчання на 3-му курсі університету для здобуття освітньо рівня &quot;бакалавр&quot; за відповідним напрямом підготовки.</p>

			<p style="text-align:justify">&nbsp; Підсумовуючи сказане, ми звертаємося до потенційних абітурієнтів і запрошуємо до навчання у Фаховому коледжі ЧНУ імені Юрія Федьковича. Викладацький склад нашого закладу освіти&nbsp;зробить все можливе &nbsp;для того, щоб наші студенти мали високий рівень знань і були конкурентноспроможними на сучасному ринку праці.</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
