<p style="text-align:justify"><img alt="" src="/pages/files/daaf1deff985/golden.jpg" style="height:271px; width:780px" /></p>

<p style="text-align:justify">&nbsp; &nbsp;Студент Коледжу Чернівецького національного університету імені Юрія Федьковича&nbsp;Арсеній <strong>ВАКАРЧЮК</strong>&nbsp;переміг у <strong>Міжнародному конкурсі Golden Time (Канада)</strong>&nbsp;&ndash; здобув <strong>ІІ&nbsp;призове місце</strong>!</p>

<p style="text-align:justify"><img alt="" src="/pages/files/0b10438e5d3f/1581436781_5.png" style="height:410px; width:780px" />&nbsp; &nbsp;Згідно умов конкурсу студент 2-го курсу Коледжу ЧНУ імені Юрія Федьковича Арсеній ВАКАРЧЮК&nbsp;(спеціальність &laquo;Фінанси, банківська справа та страхування&raquo;) разом зі своїм керівником&nbsp;<strong>Іриною&nbsp;МАРКО</strong>&nbsp;підготували відео для участі у Міжнародному конкурсі Golden Time (Канада).</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/2ba9e3232b58/Vakarchiuk.jpg" style="height:513px; width:390px" /></td>
			<td><img alt="" src="/pages/files/456a8558aba8/Marko.jpg" style="height:520px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;Упродовж двох місяців конкурсантів оцінювало незалежне журі з різних країн. До складу журі&nbsp;входять відомі європейські музиканти і фахівці в галузі інструментальної музики, вокалу, хореографії, акторської майстерності та арт мистецтва. Серед них &mdash; Marina Spencer O`neill (Італія), Evelina De Lain (Великобританія), Anas Khazh Bargut (ОАЕ), Alexandr Balbus (США), Lee Yeon Seong (Південна Корея), Varda (Росія) і багато інших. Вони відбирають і оцінюють тільки кращих учасників, в яких бачать творчий потенціал. Серед поданих 3000 тис. заявок, в конкурсі взяли участь 500 учасників з 17 країн світу. До щасливої 500-ки 13-го сезону Конкурсу увійшов і студент нашого коледжу - Арсен ВАКАРЧЮК.&nbsp;Паралельно з незалежним журі конкурсантів оцінювали глядачі в соціальних мережах та через YouTube.</p>

<p style="text-align:justify">&nbsp; &nbsp;Поважне журі відзначило оригінальність задуму, творчу індивідуальність та майстерність виконання конкурсанта. Арсен&nbsp;зі 100 можливих набрав 90 балів та здобув у номінації &laquo;Мистецтво слова&raquo; Міжнародного конкурсу Golden Time&nbsp;(Канада)&nbsp;- почесне ІІ місце!</p>

<p style="text-align:justify">&nbsp; &nbsp;Переможець отримав Диплом, який має унікальний номер і дані про його власника. Дата отримання і зайняте місце зберігаються в базі даних і присвоюються тільки одному власнику. Дипломи Міжнародного конкурсу Golden Time визнаються при вступі до всіх ЗВО світу.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/7f39907ee1c5/002.jpg" style="height:693px; width:390px" /></td>
			<td><img alt="" src="/pages/files/e73b82d7fab0/001.jpg" style="height:692px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;Керівник&nbsp;Ірина МАРКО&nbsp;відзначена Подякою Міжнародного конкурсу Golden Time (Канада)&nbsp;за внесок у розвиток і сприяння творчого потенціалу студента.<br />
<strong>&nbsp; &nbsp; &nbsp;ВІТАЄМО!!!</strong></p>
