<p style="text-align:center">Фінанси, банківська справа та страхування</p>

<p><img alt="Fin" src="/pages/files/ef9fe82c4a10/Fin.jpg" style="height:304px; margin-left:auto; margin-right:auto; width:720px" /></p>

<p style="text-align:justify">Увесь комплекс економічних, фінансових структур, органи державного регулювання потребують кваліфікованих фахівців, які мають високий загальний рівень економічної освіти, спеціальні знання у сфері фінансів, корпоративного управління, економічних розрахунків, банківської справи, вміння і навички використання сучасних інформаційних технологій. Саме такими фахівцями є випускники спеціальності <strong>&ldquo;<em>Фінанси, банківська справа та страхування&rdquo;</em>.</strong></p>

<p style="text-align:justify">У сфері<strong> <em>фінансів</em> </strong>&nbsp;&ndash; &nbsp;це фахівець, який здійснює роботу за такими видами економічної діяльності: фінансове посередництво, страхування, керування у банківській сфері, управління та нагляд у сфері оподаткування, організація фінансових служб підприємств та установ різних форм власності і господарювання, управління діяльністю холдингових компаній, трастів, фондів,&nbsp;фінансовий лізинг, управління фінансовими ринками, операції з нерухомим майном, державне управління. &nbsp;Він займається фінансовою діяльністю у сфері ринкових відносин.</p>

<p style="text-align:justify">У сфері <strong><em>банківської діяльності</em></strong>&nbsp;&ndash; здійснюють облік та аналіз банківських операцій, проводять розрахунки і складають звітність в комерційних банках, кредитних організаціях та інших кредитно-фінансових установах. У сфері банківської справи&nbsp;володіють практичними навичками щодо здійснення депозитних та інших операцій із залучення грошових коштів; оформлення операцій з надання кредитів, контролю за їх використанням та погашенням; проведення факторингових, лізингових та&nbsp;операцій з цінними паперами й іноземною валютою.</p>

<p style="text-align:justify">У галузях <strong><em>страхування</em></strong>&nbsp;&ndash;&nbsp;проводять усі види страхової діяльності, виконують роботу з укладення і обслуговування страхових договорів, здійснюють облік, аналіз показників діяльності страхової компанії і виконання нею умов забезпечення платоспроможності, розробляють довгострокові і короткострокові фінансові плани, формують фінансові стратегії залежно від фінансового стану страховика, виконують операції з перестрахування, контролюють достатність страхових тарифів та розробляють пропозиції щодо їх зміни.</p>

<p style="text-align:justify">&nbsp;</p>

<p style="text-align:center"><strong>Основні дисципліни, які складають фахову підготовку:</strong></p>

<p>&bull; Фінанси;</p>

<p>&bull; Фінансовий ринок;</p>

<p>&bull; Фінансовий облік в банках;</p>

<p>&bull; Фінансове право;</p>

<p>&bull; Грошово-кредитна система;<br />
&bull; Бюджетна система;</p>

<p>&bull; Банківські операції;</p>

<p>&bull; Податкова система;</p>

<p>&bull; Страхування;</p>

<p>&bull; Страхові послуги;</p>

<p>&bull; Соціальне страхування;</p>

<p>&bull; Економічна теорія;</p>

<p>&bull; Економіко-статистичний аналіз;</p>

<p>&bull; Інформаційні системи і технології у галузі;</p>

<p>&bull; Основи підприємницької діяльності;</p>

<p>&bull; Бухгалтерський облік.<br />
&nbsp;</p>

<p style="text-align:center"><strong>Професійні назви робіт, які здатний виконувати фахівець </strong></p>

<p style="text-align:center"><strong>освітньо-кваліфікаційного рівня &quot;Молодший спеціаліст&quot;:</strong></p>

<p>&nbsp;</p>

<p>&bull; Економіст з фінансової роботи;</p>

<p>&bull; Економіст з валютних операцій;</p>

<p>&bull; Економіст з грошового обігу;</p>

<p>&bull; Фахівець в фіскальних органах;</p>

<p>&bull; Брокер (посередник) з цінних паперів;<br />
&bull; Дилер (продавець) цінних паперів;<br />
&bull; Маклер біржовий;<br />
&bull; Агент страховий;<br />
&bull; Інспектор з організації інкасації та перевезення цінностей;<br />
&bull; Інспектор кредитний;<br />
&bull; Інспектор обмінного пункту;<br />
&bull; Бухгалтер;<br />
&bull; Касир-експерт;<br />
&bull; Інспектор-ревізор;<br />
&bull; Інспектор;<br />
&bull; Ревізор;<br />
&bull; Молодший державний інспектор;<br />
&bull; Інспектор з інвентаризації;<br />
&bull; Інспектор митний;<br />
&bull; Інспектор з контролю за цінами;<br />
&bull; Інспектор цін.</p>

<p style="text-align:center"><strong>Основні місця роботи, де можна працювати після закінчення навчання:</strong>&nbsp;</p>

<p>&bull; Фінансові відділи органів управління;<br />
&bull; Державні органи планування і місцевого самоврядування;<br />
&bull; Державні, сумісні, приватні підприємства різних галузей народного господарства;<br />
&bull; Банківські установи;<br />
&bull; Державне казначейство;<br />
&bull; Страхові компанії;<br />
&bull; Митна служба;<br />
&bull; Податкова інспекція;<br />
&bull; Консалтингові компанії;<br />
&bull; Органи з планування та координації кадрової політики;<br />
&bull; Торгівельно-посередницькі фірми;<br />
&bull; Економічні підрозділи державних і галузевих виробничих підприємств;<br />
&bull; Наукові і проектні установи.</p>

<p>&nbsp;</p>

<hr />
<p>&nbsp;</p>
