<p><img alt="" src="/pages/files/06919a0b9c6e/Inform.jpg" style="height:281px; width:780px" /></p>

<h2 style="text-align:center"><a href="/pages/files/1dece18ae9d0/College2019.pdf">Переглянути ІНФОРМАЦІЙНИЙ ПАКЕТ</a></h2>
