<table>
	<tbody>
		<tr>
			<td>
			<h3 style="text-align:center"><strong>Реквізити для оплати за навчання у<br />
			ВСП &quot;Фаховий&nbsp;коледж&nbsp;ЧНУ імені Юрія Федьковича&quot;</strong></h3>
			</td>
		</tr>
	</tbody>
</table>

<table style="height:335px; width:733px">
	<tbody>
		<tr>
			<td style="vertical-align:top">
			<hr />
			<p>Банк Одержувача - Державна казначейська служба України м. Київ,</p>

			<p>код 26184664</p>

			<p><strong>Плата за навчання у Фаховому коледжі&nbsp;ЧНУ імені Юрія Федьковича</strong></p>

			<h3 style="text-align:center"><strong>UA288201720313271001201057292</strong></h3>

			<p><span style="background-color:white"><span style="color:#222222">Призначення платежу:</span></span><span style="background-color:white"><span style="color:#222222"> &nbsp;&laquo;</span></span><span style="background-color:white"><span style="color:#222222">Плата за навчання </span></span>прізвище, ім&rsquo;я, по батькові &nbsp;студента, курс, спеціальність навчання&raquo;</p>

			<p>Уважно перевіряти правильність написання прізвища, ім&rsquo;я, по батькові!</p>

			<p><strong><span style="color:#c0392b">Копію квитанції про оплату -&nbsp;подати в коледж!</span></strong></p>

			<hr />
			<h3 style="text-align:center"><strong>Реквізити для оплати за проживання у ГУРТОЖИТКУ</strong></h3>

			<p>Сума оплати за <strong>І семестр</strong> складає&nbsp;2100 грн.<br />
			Обов&rsquo;язковим є зазначення призначення платежу: &nbsp;<br />
			За проживання у гуртожитку № <strong>5</strong> ПІП студента &nbsp;</p>

			<p>Р/Р&nbsp;для оплати</p>

			<h3 style="text-align: center;"><strong>UA 838201720313211002202007831</strong></h3>
			</td>
		</tr>
	</tbody>
</table>
