<p style="text-align:justify"><img alt="" src="/pages/files/9fc55ccd32ea/BOOKSTORE.jpg" style="height:258px; width:780px" />&nbsp; &nbsp;Міністерство освіти і науки&nbsp;закупило у видавництв електронні версії всіх шкільних підручників. Таким чином у вільному доступі для усіх бажаючих є повний комплект підручників для 10-11&nbsp;класів&nbsp;з усіх предметів, найменувань та авторств. Із повним переліком підручників можна ознайомитись за наступним&nbsp;<a href="https://imzo.gov.ua/pidruchniki/elektronni-versiyi-pidruchnikiv/">посиланням</a>.</p>

<p style="text-align:center"><strong>Посилання на ПІДРУЧНИКИ ЗАГАЛЬООСВІТНЬОЇ ПІДГОТОВКИ</strong><br />
(для навчання студентів ВСП &quot;Фаховий&nbsp;коледж&nbsp;ЧНУ імені Юрія Федьковича&quot;)</p>

<hr />
<table border="0">
	<tbody>
		<tr>
			<td><a href="https://lib.imzo.gov.ua/wa-data/public/site/books2/pidruchnyky-10-klas-2018/01-ukrainska-mova-10-klas/ukr-mova10-gramota.pdf"><img alt="" src="/pages/files/ed6be50cd53c/001.jpg" style="height:286px; width:195px" /></a></td>
			<td><a href="https://lib.imzo.gov.ua/wa-data/public/site/books2/pidruchnyky-11-klas-2019/01-ukrainska-mova-11-klas/gramota-ukr-mova-11-sait.pdf"><img alt="" src="/pages/files/4b56a785c65a/312.970.jpg" style="height:294px; width:195px" /></a></td>
			<td style="text-align:center"><a href="https://lib.imzo.gov.ua/wa-data/public/site/books2/pidruchnyky-10-klas-2018/02-ukrainska-literatura-10-klas/ukr-liter-10-stand-sait.pdf"><img alt="" src="/pages/files/a34eb95654dc/502.970.jpg" style="height:286px; width:195px" /></a></td>
			<td style="text-align:center"><a href="https://lib.imzo.gov.ua/wa-data/public/site/books2/pidruchnyky-11-klas-2019/02-ukrainska-literatura-11-klas/ul-11-standar.pdf"><img alt="" src="/pages/files/c50de0e2b02a/ul-11.jpg" style="height:293px; width:195px" /></a></td>
		</tr>
		<tr>
			<td style="text-align:center">Українська мова<br />
			(10 клас)</td>
			<td style="text-align:center">Українська мова<br />
			(11 клас)</td>
			<td style="text-align:center">Українська література<br />
			(10 клас)</td>
			<td style="text-align:center">Українська література<br />
			(11 клас)</td>
		</tr>
		<tr>
			<td style="text-align:center"><a href="https://lib.imzo.gov.ua/wa-data/public/site/books2/navchalno-metodychny-posibnyky/dlya-pedpraytsivnykiv/%D0%A2%D0%B5%D1%80%D0%B5%D1%89%D0%B5%D0%BD%D0%BA%D0%BE%20%D0%9C%D0%B5%D1%82%D0%BE%D0%B4%D0%B8%D0%BA%D0%B0%20%D1%80%D0%B5%D0%B0%D0%BB%D1%96%D0%B7%D0%B0%D1%86%D1%96%D1%97%20%D0%9D%D0%BE%D0%B2%D0%BE%D0%B3%D0%BE%20%D0%BF%D1%80%D0%B0%D0%B2%D0%BE%D0%BF%D0%B8%D1%81%D1%83.pdf"><img alt="" src="/pages/files/351ed2c9465c/896.970.jpg" style="height:304px; width:195px" /></a></td>
			<td style="text-align:center"><a href="/pages/files/1cbd57efcee6/pravopus2019.pdf"><img alt="" src="/pages/files/7c177037dd6e/2019.jpg" style="height:279px; width:195px" /></a></td>
			<td style="text-align:center"><a href="https://lib.imzo.gov.ua/wa-data/public/site/books2/pidruchnyky-10-klas-2018/03-zarubizhna-literatura-10-klas/zarubij-lit-10-standart-sait.pdf"><img alt="" src="/pages/files/70b10d42d679/663.970.jpg" style="height:286px; width:195px" /></a></td>
			<td style="text-align:center"><a href="https://lib.imzo.gov.ua/wa-data/public/site/books2/pidruchnyky-11-klas-2019/03-zarubizhna-literatura-11-klas/zarublit-11-stand.pdf"><img alt="" src="/pages/files/212c82eb91a9/338.970.jpg" style="height:300px; width:195px" /></a></td>
		</tr>
		<tr>
			<td style="text-align:center">Український правопис<br />
			(редакція 2019 р.)</td>
			<td style="text-align:center">Український правопис<br />
			(редакція 2019 р.)</td>
			<td style="text-align:center">Зарубіжна література<br />
			(10 клас)</td>
			<td style="text-align:center">Зарубіжна література<br />
			(11 клас)</td>
		</tr>
		<tr>
			<td><a href="https://lib.imzo.gov.ua/wa-data/public/site/books2/pidruchnyky-10-klas-2018/06-istoriya-ukraina-i-svit-10-klas/mudryy-isuksvst-p-10ukr-062-17-s.pdf"><img alt="" src="/pages/files/06fd4b1d9bc9/641.970.jpg" style="height:273px; width:195px" /></a></td>
			<td><a href="https://lib.imzo.gov.ua/wa-data/public/site/books2/pidruchnyky-11-klas-2019/06-istoriya-ukraina-i-svit-integrovanyy-kurs-riven-standartu-11-klas/mudryy-isuksvst-p-11ukr-084-18-s.pdf"><img alt="" src="/pages/files/32b77d7a04a2/354.970.jpg" style="height:274px; width:195px" /></a></td>
			<td style="text-align:center"><a href="https://lib.imzo.gov.ua/wa-data/public/site/books2/pidruchnyky-10-klas-2018/14-matematyka-10-klas/matematyka-10kl-nelin-ranok.pdf"><img alt="" src="/pages/files/86968e89d8e1/620.970.jpg" style="height:266px; width:193px" /></a></td>
			<td style="text-align:center"><a href="https://lib.imzo.gov.ua/wa-data/public/site/books2/pidruchnyky-11-klas-2019/13-matematyka-11-klas/matematika-alhebra-i-pochatki-analizu-ta-heometriia-riven-standartu-pidruchnyk-dlia-11-klasu-zzso-avt-nelin-ye-p-1.pdf"><img alt="" src="/pages/files/aaed9929ba37/380.970.jpg" style="height:261px; width:193px" /></a></td>
		</tr>
		<tr>
			<td style="text-align:center">Історія (10 клас)</td>
			<td style="text-align:center">Історія (11 клас)</td>
			<td style="text-align:center">Математика (10 клас)</td>
			<td style="text-align:center">Математика (11 клас)</td>
		</tr>
		<tr>
			<td style="text-align:center"><a href="https://lib.imzo.gov.ua/wa-data/public/site/books2/pidruchnyky-10-klas-2018/11-inozemna-mova-nimecka-10-klas/nimecka-mova-10kl-10rn-sotnikova.pdf"><img alt="" src="/pages/files/d3f619bc2b40/624.970.jpg" style="height:248px; width:195px" /></a></td>
			<td style="text-align:center"><a href="https://lib.imzo.gov.ua/wa-data/public/site/books2/pidruchnyky-11-klas-2019/10-inozemna-mova-nimecka-mova-11-klas/deutsch-11-bassai-orap-kyrylenko-20192.pdf"><img alt="" src="/pages/files/e71f4e1c1444/366.970.jpg" style="height:282px; width:195px" /></a></td>
			<td style="text-align:center"><a href="https://lib.imzo.gov.ua/wa-data/public/site/books2/pidruchnyky-10-klas-2018/12-inozemna-mova-francuzka-10-klas/klymenko-fm-10rik-p-10fra-073-17-s-1.pdf"><img alt="" src="/pages/files/5de726adaa78/556.970.jpg" style="height:289px; width:195px" /></a></td>
			<td style="text-align:center"><a href="https://lib.imzo.gov.ua/wa-data/public/site/books2/pidruchnyky-11-klas-2019/11-inozemna-mova-francuzka-mova-11-klas/klymenko-fm-11rik-p-11fra-117-18-s-1.pdf"><img alt="" src="/pages/files/18d198615f0e/371.970.jpg" style="height:293px; width:195px" /></a></td>
		</tr>
		<tr>
			<td style="text-align:center">Іноземна мова (німецька)<br />
			(10 клас)</td>
			<td style="text-align:center">Іноземна мова (німецька)<br />
			(11 клас)</td>
			<td style="text-align:center">Іноземна мова (французька)<br />
			(10 клас)</td>
			<td style="text-align:center">Іноземна мова (французька)<br />
			(11 клас)</td>
		</tr>
		<tr>
			<td style="text-align:center"><a href="https://lib.imzo.gov.ua/wa-data/public/site/books2/pidruchnyky-10-klas-2018/23-zahyst-vitchyzny-10-klas/hlopci-256-na-druk-cmyk-edit-1.pdf"><img alt="" src="/pages/files/7cfc1893fc77/570.970.jpg" style="height:263px; width:195px" /></a></td>
			<td style="text-align:center"><a href="https://lib.imzo.gov.ua/wa-data/public/site/books2/pidruchnyky-11-klas-2019/21-zahyst-vitchyzny-11-klas/zahyst-vitchyzny-11-klas-hlopci-sayt.pdf"><img alt="" src="/pages/files/9ce6f10a62da/434.970.jpg" style="height:272px; width:195px" /></a></td>
			<td style="text-align:center"><a href="https://lib.imzo.gov.ua/wa-data/public/site/books2/pidruchnyky-10-klas-2018/23-zahyst-vitchyzny-10-klas/zahyst-vitchyzny-10kl-leleka-ranok.pdf"><img alt="" src="/pages/files/10ac08e7f33e/568.970.jpg" style="height:257px; width:195px" /></a></td>
			<td style="text-align:center"><a href="https://lib.imzo.gov.ua/wa-data/public/site/books2/pidruchnyky-11-klas-2019/21-zahyst-vitchyzny-11-klas/osnovy-medych-znan-11-klas-sayt.pdf"><img alt="" src="/pages/files/1f44723f274b/435.970.jpg" style="height:263px; width:195px" /></a></td>
		</tr>
		<tr>
			<td style="text-align:center">Захист України (10 клас)</td>
			<td style="text-align:center">Захист України (11 клас)</td>
			<td style="text-align:center">Захист України (10 клас)<br />
			основи медичних знань</td>
			<td style="text-align:center">Захист України (11 клас)<br />
			основи медичних знань</td>
		</tr>
		<tr>
			<td><a href="https://lib.imzo.gov.ua/wa-data/public/site/books2/pidruchnyky-10-klas-2018/09-ekonomika-10-klas/ekonomika-10kl-krupska-ranok.pdf"><img alt="" src="/pages/files/b282ce0d9670/555.970.jpg" style="height:244px; width:193px" /></a></td>
			<td style="text-align:center">
			<p><a href="https://lib.imzo.gov.ua/wa-data/public/site/books2/pidruchnyky-11-klas-2019/08-ekonomika-11-klas/ekonomika-profilnyi-riven-pidruchnyk-dlia-11-klasu-zzso-krupska-l-p-ta-in.pdf"><img alt="" src="/pages/files/3bf95becbd64/358.970.jpg" style="height:250px; width:193px" /></a></p>
			</td>
			<td style="text-align:center"><a href="https://lib.imzo.gov.ua/wa-data/public/site/books2/pidruchnyky-10-klas-2018/07-pravoznavstvo-10-klas/filipenko-pravo-prof-p-10ukr-030-17-sindd.pdf"><img alt="" src="/pages/files/ce5868927352/Право_10_кл.jpg" style="height:257px; width:193px" /></a></td>
			<td style="text-align:center"><a href="https://lib.imzo.gov.ua/wa-data/public/site/books2/pidruchnyky-11-klas-2019/07-pravoznavstvo-11-klas/filipenko-pravopr-p-11ukr-116-18-s.pdf"><img alt="" src="/pages/files/4edf45602bf7/Право_11_кл.jpg" style="height:283px; width:193px" /></a></td>
		</tr>
		<tr>
			<td style="text-align:center">Економіка (10 клас)</td>
			<td style="text-align:center">
			<p>Економіка (11 клас)</p>
			</td>
			<td style="text-align:center">Правознавство (10 клас)</td>
			<td style="text-align:center">Правознавство (11 клас)</td>
		</tr>
		<tr>
			<td><a href="https://lib.imzo.gov.ua/wa-data/public/site/books2/pidruchnyky-10-klas-2018/18-informatyka-10-klas/0009-10kl-informatyka-morze.pdf"><img alt="" src="/pages/files/94e91f1697f5/602.970.jpg" style="height:270px; width:195px" /></a></td>
			<td><a href="https://lib.imzo.gov.ua/wa-data/public/site/books2/pidruchnyky-11-klas-2019/19-informatyka-11-klas/informatyka-profilnyi-riven-pidruchnyk-dlia-11-klasu-zzso-rudenko-v-d-rechych-n-v-potienko-v-o.pdf"><img alt="" src="/pages/files/52ee6303c105/431.970.jpg" style="height:252px; width:195px" /></a></td>
			<td><a href="https://lib.imzo.gov.ua/wa-data/public/site/books2/pidruchnyky-10-klas-2018/24-tehnologii-10-klas/tehnologiyi-riven-standartu-pidruchnyk-dlia-10-11-klasu-zzso-khodzytska-i-y-ta-in.pdf"><img alt="" src="/pages/files/501e45f668af/559.970.jpg" style="height:245px; width:195px" /></a></td>
			<td><a href="https://lib.imzo.gov.ua/wa-data/public/site/books2/pidruchnyky-10-klas-2018/24-mystectvo-10-klas/mystectvo10-11-perun-1.pdf"><img alt="" src="/pages/files/55755ecc3391/565.970.jpg" style="height:265px; width:195px" /></a></td>
		</tr>
		<tr>
			<td style="text-align:center">Інформатика (стандарт)</td>
			<td style="text-align:center">Інформатика</td>
			<td style="text-align:center">Технології</td>
			<td style="text-align:center">Мистецтво</td>
		</tr>
		<tr>
			<td><a href="https://lib.imzo.gov.ua/wa-data/public/site/books2/pidruchnyky-10-klas-2018/21-fizyka-10-klas/fizyka-10kl-bar%E2%80%99yahtar-ranok.pdf"><img alt="" src="/pages/files/b42519ec21f1/582.970.jpg" style="height:267px; width:195px" /></a></td>
			<td><a href="https://lib.imzo.gov.ua/wa-data/public/site/books2/pidruchnyky-11-klas-2019/18-fizyka-ta-astronomiya-11-klas/fizyka-riven-standartu-pidruchnyk-dlia-11-klasu-zzso-za-red-bariakhtara-v-h-dovhoho-s-o.pdf"><img alt="" src="/pages/files/66a4d583b7a5/436.970.jpg" style="height:258px; width:195px" /></a></td>
			<td><a href="https://lib.imzo.gov.ua/wa-data/public/site/books2/pidruchnyky-11-klas-2019/18-fizyka-ta-astronomiya-11-klas/astronomiia-riven-standartu-za-navchalnoiu-prohramoiu-avtorskoho-kolektyvu-pid-kerivnytstvom-yatskiva-ya-s-pidruchny-1-1.pdf"><img alt="" src="/pages/files/5468ee3c1ddc/440.970.jpg" style="height:261px; width:195px" /></a></td>
			<td><a href="https://lib.imzo.gov.ua/wa-data/public/site/books2/pidruchnyky-10-klas-2018/08-gromadyanska-osvita-10-klas/gromadosvita-10-stand-sait.pdf"><img alt="" src="/pages/files/dc31c1213f31/636.970.jpg" style="height:269px; width:195px" /></a></td>
		</tr>
		<tr>
			<td style="text-align:center">Фізика (10 клас)</td>
			<td style="text-align:center">Фізика (11 клас)</td>
			<td style="text-align:center">Астрономія</td>
			<td style="text-align:center">Громадянська освіта</td>
		</tr>
		<tr>
			<td><a href="https://lib.imzo.gov.ua/wa-data/public/site/books2/pidruchnyky-10-klas-2018/19-biologiya-i-ekologiya-10-klas/biologiya-10-kl-dlya-imzo.pdf"><img alt="" src="/pages/files/eb6e398c1231/598.970.jpg" style="height:280px; width:195px" /></a></td>
			<td><a href="https://lib.imzo.gov.ua/wa-data/public/site/books2/pidruchnyky-11-klas-2019/16-biologiya-i-ekologiya-11-klas/bio-11kl-nk.pdf"><img alt="" src="/pages/files/5b6a9a1c4fb7/420.970.jpg" style="height:297px; width:195px" /></a></td>
			<td><a href="https://lib.imzo.gov.ua/wa-data/public/site/books2/pidruchnyky-10-klas-2018/22-himiya-10-klas/10-kl-himiya-1-208.pdf"><img alt="" src="/pages/files/10b847c8c49e/574.970.jpg" style="height:298px; width:195px" /></a></td>
			<td><a href="https://lib.imzo.gov.ua/wa-data/public/site/books2/pidruchnyky-11-klas-2019/20-himiya-11-klas/11-kl-himiya.pdf"><img alt="" src="/pages/files/795adbd51377/449.970.jpg" style="height:289px; width:195px" /></a></td>
		</tr>
		<tr>
			<td style="text-align:center">Біологія і екологія (10)</td>
			<td style="text-align:center">Біологія і екологія (11)</td>
			<td style="text-align:center">Хімія (10 клас)</td>
			<td style="text-align:center">Хімія (11 клас)</td>
		</tr>
		<tr>
			<td><a href="https://lib.imzo.gov.ua/wa-data/public/site/books2/pidruchnyky-10-klas-2018/20-geografiya-10-klas/kobernik-geografiya-10-kl.pdf"><img alt="" src="/pages/files/eed76a8a22db/593.970.jpg" style="height:280px; width:195px" /></a></td>
			<td><a href="https://lib.imzo.gov.ua/wa-data/public/site/books2/pidruchnyky-11-klas-2019/17-geografiya-11-klas/Geo-11kl-Kobernyk-2.pdf"><img alt="" src="/pages/files/e8112d01f766/430.970.jpg" style="height:278px; width:195px" /></a></td>
			<td><a href="https://drive.google.com/file/d/1sX0_yXLchhQ_pj_QLyakgbpGqo5Sdf0K/view"><img alt="" src="/pages/files/528b084b0eaa/Fin.jpg" style="height:278px; width:195px" /></a></td>
			<td><a href="https://mon.gov.ua/storage/app/media/zagalna%20serednya/fingram/2Financial_Literacy_Workbook_Aug2019.pdf"><img alt="" src="/pages/files/4f7db6d57973/Fin_2.jpg" style="height:277px; width:195px" /></a></td>
		</tr>
		<tr>
			<td style="text-align:center">Географія (10 клас)</td>
			<td style="text-align:center">Географія (11 клас)</td>
			<td style="text-align:center">Фінансова грамотність<br />
			(посібник)</td>
			<td style="text-align:center">Фінансова грамотність<br />
			(робочий зошит)</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
