<p style="text-align:center"><strong>Перелік спеціальностей та освітньо-професійних програм<br />
за якими здійснюється підготовка&nbsp;у Коледжі ЧНУ імені Юрія Федьковича</strong></p>

<hr />
<table border="0">
	<tbody>
		<tr>
			<td style="text-align:center"><strong>Назва спеціальності</strong></td>
			<td style="text-align:center"><strong>Назва освітньо-професійної програми</strong></td>
		</tr>
		<tr>
			<td>061 <a href="http://college-chnu.cv.ua/article/5e32ba128b2f873f5ba73685">Журналістика</a> <span style="color:#c0392b">(на ліцензуванні)</span></td>
			<td>&nbsp; &nbsp;<a href="/pages/files/970c7b6be906/061_Journalism.pdf">Журналістика</a>&nbsp;<span style="color:#c0392b">(на ліцензуванні)</span></td>
		</tr>
		<tr>
			<td>071&nbsp;<a href="http://college-chnu.cv.ua/article/5c5c2dfee4c89c0f4878c777">Облік і оподаткування</a></td>
			<td>&nbsp; &nbsp;<a href="/pages/files/563772d777b9/071_Oblik.pdf">Облік і оподаткування</a></td>
		</tr>
		<tr>
			<td>072&nbsp;<a href="http://college-chnu.cv.ua/article/5c5c29fee4c89c0f4878c776">Фінанси, банківська справа та страхування</a></td>
			<td>&nbsp; &nbsp;<a href="/pages/files/8c639233ba5d/072_Finansu.pdf">Фінанси, банківська справа та страхування</a></td>
		</tr>
		<tr>
			<td>076&nbsp;<a href="http://college-chnu.cv.ua/article/5c5c2951e4c89c0f4878c775">Підприємництво, торгівля та біржова діяльність</a></td>
			<td>&nbsp; &nbsp;<a href="/pages/files/34b7475a0b11/076_Pidpr.pdf">Підприємництво, торгівля та біржова діяльність</a></td>
		</tr>
		<tr>
			<td>081&nbsp;<a href="http://college-chnu.cv.ua/article/5c5c2895e4c89c0f4878c774">Право</a></td>
			<td>&nbsp; &nbsp;<a href="/pages/files/44b8982e6ab9/081_Pravo.pdf">Право</a></td>
		</tr>
		<tr>
			<td>113&nbsp;<a href="http://college-chnu.cv.ua/article/5c5c2e7be4c89c0f4878c778">Прикладна математика</a></td>
			<td>&nbsp; &nbsp;<a href="/pages/files/01b32ed8f6a0/113_PM.pdf">Прикладна математика</a></td>
		</tr>
		<tr>
			<td>122&nbsp;<a href="http://college-chnu.cv.ua/article/5cb0b20cf667c727df2ab14b">Комп&#39;ютерні науки</a></td>
			<td>&nbsp; &nbsp;<a href="/pages/files/1d1a0a920b4c/122_KN.pdf">Комп&#39;ютерні науки</a></td>
		</tr>
		<tr>
			<td>123&nbsp;<a href="http://college-chnu.cv.ua/article/5c5c2fb4e4c89c0f4878c77a">Комп&#39;ютерна інженерія</a></td>
			<td>&nbsp; &nbsp;<a href="/pages/files/28e393165983/123_KI.pdf">Комп&#39;ютерна інженерія</a></td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
