<p style="text-align:justify">&nbsp; &nbsp;У рамках обласного фестивалю-конкурсу &laquo;Розквітай, писанко!&raquo; стартували&nbsp;конкурсні випробування у номінаціях &laquo;Великодній рушник (покрівець)&raquo; та &laquo;Традиційний розпис писанки&raquo;. Цього року конкурсні випробування у номінації &laquo;Великодній рушник (покрівець)&raquo; тривають вперше.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/d2db02b36b0c/001.JPG" style="height:300px; width:780px" /></p>

<p style="text-align:justify">&nbsp; &nbsp;Великодній рушник &ndash; це розмаїття кольорів, сплетених розумом і любов&rsquo;ю, це символ нескінченності, вічності життя.&nbsp;34 учасники представили частину вишитого рушника і впродовж конкурсу вони відтворювали елементи орнаменту&nbsp;на базі&nbsp;Коледжу Чернівецького національного університету імені Юрія Федьковича.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/d36778038c75/002.JPG" style="height:260px; width:390px" /></td>
			<td><img alt="" src="/pages/files/8c4c0b69d082/003.JPG" style="height:261px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p>&nbsp; &nbsp;Вишитий&nbsp; рушник,&nbsp; сорочка, писанка є однією із найдавніших видів народного ужиткового мистецтва. Без них важко уявити нашу Україну. Це є наші обереги &ndash; прадавні добрі символи-захисники, знаки віри у вище заступництво. Саме з оберегів починається для кожного Батьківщина.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/f9fb07174f41/004.JPG" style="height:260px; width:390px" /></td>
			<td><img alt="" src="/pages/files/e8b4793f192f/005.JPG" style="height:260px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p>&nbsp; &nbsp;Найкращих митців, пошановувачів народних традицій нагороджено сьогодні на третьому обласному фестивалі-конкурсі &laquo;Розквітай, писанко!&raquo;</p>

<p><img alt="" src="/pages/files/67a9f095a313/006.jpg" style="height:253px; width:780px" /></p>

<p><img alt="" src="/pages/files/f1ce2751f243/007.jpg" style="height:260px; width:780px" /></p>

<p style="text-align:center"><strong>Номінація &laquo;Великодній рушник (покрівець)&raquo;:</strong></p>

<p>- <strong>І місце</strong> - Осовська Надія Віталіївна, Лукавецька ЗОШ І-ІІІ ступенів Вижницького району;</p>

<p>- <strong>ІІ місце</strong> - Петрушко Юлія Володимирівна, Сокирянський районний центр дитячої та юнацької творчості, дизайн-студія &laquo;Фантазія&raquo;;</p>

<p>-&nbsp;<strong>ІІ місце</strong> - Рибюк Марина Іванівна, Карапчівська ЗОШ І-ІІІ ступенів Вашківецької ОТГ, Вижницького району;</p>

<p>- <strong>ІІІ місце</strong> - Назарій Іоанна, Колінковецький&nbsp; ЗНЗ І-ІІІ ст. Хотинського району;</p>

<p>- <strong>ІІІ місце</strong> - Ревега Олеся, Топорівська загальоноосвітня школа І-ІІІ ступнів Новоселицького району;</p>

<p>- <strong>ІІІ місце</strong> - Чибук Микола Степанович, Брусницький ЗЗСО І-ІІІ ст, Кіцманського району.</p>

<p><img alt="" src="/pages/files/970ad26e7e8b/032.jpg" style="height:285px; width:780px" /></p>

<table border="1" cellpadding="1" cellspacing="1" style="width:260px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/ba2497458ed4/008.jpg" style="height:462px; width:260px" /></td>
			<td><img alt="" src="/pages/files/5f1b2ac54a4c/009.jpg" style="height:462px; width:260px" /></td>
			<td><img alt="" src="/pages/files/379a831d898e/010.jpg" style="height:462px; width:260px" /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/31b6604d5ccd/011.jpg" style="height:462px; width:260px" /></td>
			<td><img alt="" src="/pages/files/b6a095764929/012.jpg" style="height:462px; width:260px" /></td>
			<td><img alt="" src="/pages/files/8a3435b0b7ed/013.jpg" style="height:462px; width:260px" /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/5aa6e8589f3f/014.jpg" style="height:462px; width:260px" /></td>
			<td><img alt="" src="/pages/files/17dda462a174/015.jpg" style="height:462px; width:260px" /></td>
			<td><img alt="" src="/pages/files/5e0ce5511bed/016.jpg" style="height:462px; width:260px" /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/85d578aca781/017.jpg" style="height:462px; width:260px" /></td>
			<td><img alt="" src="/pages/files/5f8dfc6e6268/018.jpg" style="height:462px; width:260px" /></td>
			<td><img alt="" src="/pages/files/e336815f1afd/019.jpg" style="height:462px; width:260px" /></td>
		</tr>
	</tbody>
</table>

<hr />
<p><img alt="" src="/pages/files/d69b13b45607/031.jpg" style="height:273px; width:780px" /></p>
