<p style="text-align:center"><strong>ЖУРНАЛІСТИКА</strong><br />
<span style="color:#e74c3c">(проходить процедуру ліцензування)</span></p>

<p><img alt="" src="/pages/files/7debc4611b74/zurnalistuka.jpg" style="height:345px; width:780px" /></p>

<p style="text-align:justify">&nbsp; &nbsp;Професію фахівця спеціальності <strong>061 &laquo;Журналістика&raquo;</strong> можна віднести і до ремесла, і до творчості, та навіть до мистецтва. Обравши цю спеціальність, люди часто змінюють свій стиль та спосіб життя. Щоб стати успішним у цій професії, необхідно мати літературні здібності, а головне &ndash; по-справжньому цікавитися життям і тим, про що доводиться писати чи розповідати.</p>

<p style="text-align:justify">&nbsp; &nbsp;Розвиток інформаційних і мультимедійних технологій і зміна структури споживання інформації (аудиторія оперативно отримує інформацію в зручний для неї час і за зручним їй каналом) зажадав від фахівця спеціальності <strong>061 &laquo;Журналістика&raquo;</strong> додаткових навичок, переосмислення підходів до організації роботи.</p>

<p style="text-align:justify">&nbsp; &nbsp;У цих умовах журналісти переосмислюють свою роль, практику та етику, а також соціальну, політичну і комерційну функції новин та інформації, щоб створити принципово нові форми професії для умов XXI століття. Професія передбачає вміння оперативно збирати, аналізувати, якісно обробляти та в грамотному, доступному вигляді подавати актуальну інформацію, яка цікавить широке коло людей.</p>

<p style="text-align:justify">&nbsp; &nbsp;Цифрові медіа дозволяють журналістам оформити свою роботу у вигляді наочних інтерактивних графіків і карт. Але журналісти не можуть створювати тільки красиві картинки. Спеціалісти цієї галузі повинні знати, як перевірити і організувати дані, а також презентувати їх у такому вигляді, щоб зовнішній стан відповідав внутрішньому наповненню. Майбутнє журналістики лежить у сфері цифрових технологій. На нові робочі місця можуть претендувати ті, хто може подолати міст між двома цими світами.</p>

<p style="text-align:center"><strong>Основні дисципліни, які складають фахову підготовку:</strong></p>

<p>&bull; Масова комунікація та інформація;<br />
&bull; Теорія&nbsp;і&nbsp;методика&nbsp;журналістської творчості;<br />
&bull; Журналістикознавство;<br />
&bull; Історія видавничої справи;<br />
&bull; Основи редагування;<br />
&bull; Концепція газетно-журнального видання;<br />
&bull; Газетно-журнальне виробництво;<br />
&bull; Основи видавничо-поліграфічної справи;<br />
&bull; Мультимедійні засоби створення та верифікації контенту;<br />
&bull; Комп&#39;ютерна графіка;<br />
&bull; Графічний дизайн;<br />
&bull; Історія літератури;<br />
&bull; Видавничі стандарти;<br />
&bull; Медіаетика;<br />
&bull; Новітні медіа;<br />
&bull; Авторське право;<br />
&bull; Фотожурналістика;<br />
&bull; Книжкові видання;<br />
&bull; Шрифтознавство;<br />
&bull; Коректура;<br />
&bull; Літературна&nbsp;творчість.</p>

<p style="text-align:center"><strong>Професійні назви робіт, які здатний виконувати фахівець<br />
освітньо-професійного ступеня фаховий молодший бакалавр:</strong></p>

<p>&bull; Фахівець з видавничо-поліграфічного виробництва;<br />
&bull; Організатор зі збуту видавничої продукції;<br />
&bull; Представник з реклами;<br />
&bull; Відповідальний секретар редакції;<br />
&bull; Коректор (коригування текстів);<br />
&bull; Коректор (переддрукарські процеси поліграфічного виробництва);<br />
&bull; Редактор;<br />
&bull; Журналіст;<br />
&bull; Журналіст мультимедійних видань засобів масової інформації.</p>

<p style="text-align:center"><strong>Основні місця роботи, де можна працювати після закінчення навчання:</strong></p>

<p>&bull; Видавничо-поліграфічні виробництва;<br />
&bull; Рекламні компанії;<br />
&bull; Редакції газетно-журнальних видань;<br />
&bull; Редакції книжкових видань;<br />
&bull; Редакції on-line ресурсів;<br />
&bull; Радіо та TV-компанії;<br />
&bull; Інформаційні агентства.</p>
