<p style="text-align:center"><img alt="" src="/pages/files/93b8a4eb0392/Syllabi.png" style="height:219px; width:780px" /><strong>Силабуси навчальних дисциплін освітньо-професійних програм<br />
за якими здійснюється підготовка фахового молодшого бакалавра<br />
у Відокремленому структурному підрозділі<br />
&quot;Фаховий&nbsp;коледж&nbsp;ЧНУ імені Юрія Федьковича&quot;</strong></p>

<hr />
<p><a href="http://college-chnu.cv.ua/article/5f7b0ff3d6f28212d7d8b023">ОПП Облік і оподаткування</a><br />
<a href="http://college-chnu.cv.ua/article/5f7b196bd6f28212d7d8b024">ОПП Фінанси, банківська справа та страхування</a><br />
<a href="http://college-chnu.cv.ua/article/5f7497a2d6f28212d7d8b01c">ОПП Підприємництво, торгівля та біржова діяльність</a><br />
<a href="http://college-chnu.cv.ua/article/5f7b1f3ad6f28212d7d8b025">ОПП Право</a><br />
<a href="http://college-chnu.cv.ua/article/605f87367effd6432d1c1ae0">ОПП Прикладна математика</a><br />
<a href="http://college-chnu.cv.ua/article/605f87e77effd6432d1c1ae1">ОПП Комп&#39;ютерні науки</a><br />
<a href="http://college-chnu.cv.ua/article/605f88867effd6432d1c1ae2">ОПП Комп&#39;ютерна інженерія</a></p>
