<p><img alt="" src="/pages/files/1f8b84044730/abiturient.jpg" /></p>

<p><a href="http://college-chnu.cv.ua/article/5e3a8fc38b2f873f5ba73690">Правила прийому до коледжу</a></p>

<p><a href="http://college-chnu.cv.ua/article/5c5c7a988f13050d955f21c4">Підготовчі курси</a></p>

<p><a href="http://www.college-chnu.cv.ua/article/5dd3c6339fce2d0e869cacb3">Програма підготовки</a></p>

<p><a href="http://college-chnu.cv.ua/article/5c5c7d148f13050d955f21da">Інформаційний пакет</a></p>

<p><a href="http://college-chnu.cv.ua/article/5c5c7d768f13050d955f21e5">Перелік документів</a></p>

<p><a href="http://college-chnu.cv.ua/article/5c5c7dcc8f13050d955f21f0">Державне замовлення 2019</a></p>

<p><a href="http://college-chnu.cv.ua/pages/files/d7e96c40e5a3/%D0%94%D0%BE%D0%B4.%D0%B1%D0%B0%D0%BB%D0%B8_2020.pdf">Додаткові бали 2020</a></p>

<p style="text-align: center;">Телефон для консультацій&nbsp;<strong>Приймальної комісії коледжу 068-790-46-90</strong></p>

<p><img alt="people" src="https://web.archive.org/web/20180221231232im_/http://college-chnu.cv.ua/images/Gramotu/people.jpg" /></p>
