<h3 style="text-align:center"><strong>ЦИКЛОВА КОМІСІЯ<br />
ПРИКЛАДНОЇ МАТЕМАТИКИ<br />
ТА ІНФОРМАЦІЙНИХ ТЕХНОЛОГІЙ</strong></h3>

<hr />
<table border="0">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/2bcd0c230e70/man.jpg" /></td>
			<td>
			<p style="text-align:center"><strong>ГОЛОВА&nbsp;ЦИКЛОВОЇ КОМІСІЇ</strong></p>

			<p><strong>&nbsp;Луцюк Юрій Віталійович</strong><br />
			&nbsp;викладач І-ї кваліфікаційної категорії</p>

			<p>&nbsp;&nbsp; <strong>Дисципліни:</strong></p>

			<ul>
				<li>Програмування;</li>
				<li>Спеціалізовані мови програмування;</li>
				<li>Бази даних та інформаційні системи;</li>
				<li>Адміністрування в сучасних СКБД</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; &nbsp;Освіта: 1.</strong> Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Соціальна інформатика&quot; <em>(2010 р.)</em>; <strong>2.</strong>Буковинський державний фінансово-економічний університет за спеціальністю &quot;Фінанси і кредит&quot;&nbsp;<em>(2012 р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td colspan="1" rowspan="1"><img alt="" src="/pages/files/f58562759e4f/unnamed.png" /></td>
			<td>
			<p><strong>&nbsp;Бунєвич Вікторія Вікторівна</strong><br />
			&nbsp;викладач</p>

			<p>&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Інформатика</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; &nbsp;Освіта:</strong> Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Прикладна математика&quot;&nbsp;<em>(1981 р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td colspan="1" rowspan="2"><img alt="" src="/pages/files/f58562759e4f/unnamed.png" /></td>
			<td colspan="1" rowspan="2">
			<p><strong>&nbsp;Григорець Олена Павлівна</strong><br />
			&nbsp;викладач І-ї кваліфікаційної категорії</p>

			<p>&nbsp; &nbsp;<strong>Дисципліни:</strong></p>

			<ul>
				<li>Вища математика;</li>
				<li>Теорія ймовірностей та математична статистика</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; &nbsp;Освіта:</strong>&nbsp;Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Математика&quot;&nbsp;<em>(2004 р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td colspan="2">
			<hr />
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="1" rowspan="2"><img alt="" src="/pages/files/35514347cac0/Mykola.jpg" style="height:291px; width:210px" /></td>
			<td colspan="1" rowspan="2">
			<p><strong>&nbsp;Дерев&#39;янчук Микола Ярославович</strong><br />
			&nbsp;викладач вищої кваліфікаційної категорії, викладач-методист</p>

			<p>&nbsp;&nbsp; <strong>Дисципліни:</strong></p>

			<ul>
				<li>Диференціальні рівняння;</li>
				<li>Інформатика та комп&#39;ютерна техніка;</li>
				<li>Інформаційні системи і технології у фінансово-кредитних установах</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; &nbsp;Освіта:</strong> <strong>1.</strong> Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Математика&quot;&nbsp;<em>(2004 р.)</em>; <strong>2.</strong> Чернівецький торговельно-економічний інститут КНТЕУ за спеціальністю &quot;Фінанси&quot; <em>(2011 р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td colspan="2">
			<hr />
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="1" rowspan="2"><img alt="" src="/pages/files/f58562759e4f/unnamed.png" /></td>
			<td colspan="1" rowspan="2">
			<p><strong>&nbsp;Кобильник Леся Анатоліївна</strong><br />
			&nbsp;викладач вищої кваліфікаційної категорії</p>

			<p>&nbsp; &nbsp;<strong>Дисципліни:</strong></p>

			<ul>
				<li>Вища математика;</li>
				<li>Теорія ймовірностей та математична статистика</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; &nbsp;Освіта:&nbsp;</strong>Чернівецький державний університет імені Юрія Федьковича за спеціальністю &quot;Математика&quot; <em>(1997 р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td colspan="2">
			<hr />
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="1" rowspan="2"><img alt="" src="/pages/files/ef05411dcce6/sobchuk.jpg" style="height:290px; width:210px" /></td>
			<td colspan="1" rowspan="2">
			<p><strong>&nbsp;Собчук Олександр Васильович</strong><br />
			&nbsp;к.ф.-м.н. <em>(1996 р.)</em>, доцент<br />
			&nbsp;викладач вищої кваліфікаційної категорії, викладач-методист</p>

			<p>&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Вища математика;</li>
				<li>Математичний аналіз</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; &nbsp;Освіта:</strong>&nbsp;Чернівецький державний університет за спеціальністю &quot;Математика&quot; <em>(1991 р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td colspan="2">
			<hr />
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="1" rowspan="1"><img alt="" src="/pages/files/f58562759e4f/unnamed.png" /></td>
			<td colspan="1">
			<p><strong>&nbsp;Унгурян Галина Михайлівна</strong><br />
			&nbsp;к.ф.-м.н. <em>(за спеціальністю &quot;Диференціальні рівняння&quot;, 2019 р.)</em><br />
			&nbsp;викладач вищої кваліфікаційної категорії</p>

			<p>&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Вища математика</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; &nbsp;Освіта:</strong>&nbsp;Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Математика&quot; <em>(2012 р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td colspan="1" rowspan="2"><img alt="" src="/pages/files/f58562759e4f/unnamed.png" /></td>
			<td colspan="1" rowspan="2">
			<p><strong>&nbsp;Широковських&nbsp;Альона&nbsp;Олександрівна</strong><br />
			&nbsp;доктор філософії&nbsp;<em>(за спеціальністю &quot;Математика&quot;, 2021&nbsp;р.)</em><br />
			&nbsp;викладач</p>

			<p>&nbsp; &nbsp;<strong>Дисципліни:</strong></p>

			<ul>
				<li>Алгоритмізація та програмування</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; &nbsp;Освіта:&nbsp;</strong>Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Математика&quot; <em>(2009&nbsp;р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr />
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr />
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="1" rowspan="2"><img alt="" src="/pages/files/f58562759e4f/unnamed.png" /></td>
			<td colspan="1" rowspan="2">
			<p><strong>&nbsp;Юрійчук Анастасія Олександрівна</strong><br />
			&nbsp;викладач</p>

			<p>&nbsp; &nbsp;<strong>Дисципліни:</strong></p>

			<ul>
				<li>Алгоритмізація та програмування</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; &nbsp;Освіта:&nbsp;</strong>Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Прикладна математика&quot; <em>(2014 р.)</em></p>
			</td>
		</tr>
	</tbody>
</table>
