<p><img alt="" src="/pages/files/7e28d55495f6/LAW.png" style="height:216px; width:770px" /></p>

<p style="text-align: justify;">&nbsp; &nbsp;Cтуденти 4 курсу спеціальності &laquo;Правознавство&raquo; Коледжу ЧНУ імені Юрія Федьковича - 408, 418, 428 групи &ndash; разом з викладачем д.п.н., доц. Докаш О.Ю. відвідали в межах вивчення дисципліни&nbsp;<strong>&laquo;Трудове право&raquo;</strong>&nbsp;(Тема: &laquo;Правове регулювання зайнятості та працевлаштування громадян&raquo;) Чернівецьку міську філію Чернівецького обласного центру зайнятості за адресою: м. Чернівці, вул. Воробкевича, 37.</p>

<p style="text-align: justify;">&nbsp; &nbsp;На сьогодні державна служба зайнятості є активним посередником на ринку праці між роботодавцями і шукачами роботи, вона на безоплатній основі надає послуги із пошуку підходящої роботи та підбору персоналу, послуги з державного соціального страхування на випадок безробіття, а також здійснює виплату матеріального забезпечення у зв&rsquo;язку з тимчасовою втратою роботи.</p>

<p style="text-align: justify;">&nbsp; &nbsp;Всі відділення Служби працюють за єдиною схемою надання послуг. Клієнти можуть звернутися до будь-якого центру зайнятості та отримати всі передбачені законодавством соціальні послуги, пов&rsquo;язані з працевлаштуванням. У службі зайнятості створена уніфікована оперативна база вакансій, шукачів роботи та можливостей проходження професійного навчання по всій країні. Це дозволяє розширити зону пошуку роботи для безробітних не тільки в межах району чи області, а й держави в цілому.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:385px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/3ec42d0ddbd3/DSC_0693.JPG" style="height:289px; width:385px" /></td>
			<td><img alt="" src="/pages/files/abaf47bff577/DSC_0699.JPG" style="height:289px; width:385px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align: justify;">&nbsp; &nbsp;В ході зустрічі заступник директора Прудченко О. В. докладно висвітлила для студентів питання:</p>

<ul>
	<li style="text-align: justify;">професійної підготовки або перепідготовки, підвищення кваліфікації у професійно-технічних та вищих навчальних закладах, у тому числі в навчальних закладах державної служби зайнятості, на підприємствах, в установах, організаціях;&nbsp;</li>
	<li style="text-align: justify;">профорієнтації;&nbsp;</li>
	<li style="text-align: justify;">пошуку підходящої роботи та сприяння у працевлаштуванні, у т.ч. шляхом організації громадських та інших робіт тимчасового характеру в порядку, встановленому Кабінетом Міністрів України;</li>
	<li style="text-align: justify;">надання роботодавцям, які працевлаштовують громадян, зазначених у ч. 1 ст. 14 Закону України &laquo;Про зайнятість населення&raquo;, компенсації відповідно до ст. 26 Закону України &laquo;Про зайнятість населення&raquo;;</li>
	<li style="text-align: justify;">надання ваучера для підтримання конкурентоспроможності деяких категорій громадян шляхом перепідготовки, спеціалізації, підвищення кваліфікації за професіями та спеціальностями для пріоритетних видів економічної діяльності відповідно до ст. 30 Закону України &laquo;Про зайнятість населення&raquo;;</li>
	<li style="text-align: justify;">здійснення заходів сприяння зайнятості внутрішньо переміщених осіб &nbsp;відповідно до ст. 24-1 Закону України &laquo;Про зайнятість населення&raquo;;</li>
	<li style="text-align: justify;">інформаційних та консультаційних послуг, пов&rsquo;язаних з працевлаштуванням.</li>
</ul>

<p style="text-align: justify;">&nbsp; &nbsp;Крім того, охарактеризовані прикладні аспекти застосування Закону України &laquo;Про зайнятість населення&raquo;; Закону України &laquo;Про загальнообов&rsquo;язкове державне соціальне страхування на випадок безробіття&raquo;; Постанови правління Фонду загальнообов&rsquo;язкового державного соціального страхування України на випадок безробіття від 15.12.2017 № 149 &laquo;Про мінімальний розмір допомоги по безробіттю&raquo;; Порядку надання матеріальної допомоги по безробіттю, одноразової матеріальної допомоги безробітному та непрацездатним особам, які перебувають на його утриманні, допомоги на поховання у разі смерті безробітного або особи, яка перебувала на його утриманні; Порядку розслідування страхових випадків та обґрунтованості виплати матеріального забезпечення безробітним; Порядку надання допомоги по безробіттю, у т.ч. одноразової її виплати для організації безробітними підприємницької діяльності.</p>
