<p style="text-align:justify"><img alt="" src="/pages/files/061541038ad0/nbu1.jpg" style="height:245px; width:780px" /></p>

<p style="text-align:justify">&nbsp; &nbsp;В межах викладання дисципліни &laquo;Банківські операції&raquo; для студентів 3 курсу спеціальності &laquo;Фінанси, банківська справа та страхування&raquo; викладачем коледжу ЧНУ ім. Ю. Федьковича Марич Аліною Василівною та за сприянням декана факультету фінансів, підприємництва та обліку ЧНУ ім. Ю. Федьковича Марича Максима Григоровича та викладачів кафедри публічних, корпоративних фінансів та фінансового посередництва Попової Л.В. та Полагнина Д.Д. 12 квітня 2019 року була проведена екскурсія в серце банківського сектору України, в місце, де починається процес створення грошової одиниці нашої Батьківщини, Банкнотно-монетний двір та інші підрозділи Національного банку України в м. Київ. 40 студентів коледжу отримали море позитивних емоцій та змогли застосувати свої знання на практиці. Лекції, круглі столи, диспути &ndash; це важливі компоненти формування сучасного фахівця, але побачена власними очима робота працівників НБУ&nbsp; та Банкнотно-монетного двору НБУ є ключовою формою навчання студентів.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/b3f3fedb2209/1.jpg" style="height:336px; width:780px" />&nbsp; &nbsp;Під час екскурсії студенти ознайомились із структурою НБУ, відвідали Музей, де побачили велику кількість експонатів монет та купюр, починаючи із початку ХХ ст. до сьогодні, а також цінні папери, ювілейні пам&rsquo;ятні монети та старовинні цінності; ознайомились із процесом чеканки&nbsp; монети та державних орденів, відвідавши Банкнотно-монетний двір; побували біля Державної скарбниці України. Керівництво двору розповіло студентам історію його будівництва, показало весь виробничий цикл. Це було надзвичайно цікаво та пізнавально.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/ac95aca17817/4.jpg" style="height:292px; width:390px" /></td>
			<td>
			<p><img alt="" src="/pages/files/1586932a454c/123.jpg" style="height:15px; width:390px" /></p>

			<p style="text-align: justify;">&nbsp; &nbsp;А на завершення студенти змогли залишити в книзі відгуків та побажань згадку про себе та написали слова вдячності та побажання плідної&nbsp; та цікавої роботи.</p>
			</td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify"><img alt="" src="/pages/files/f4405975c994/3.jpg" style="height:508px; width:780px" />&nbsp; &nbsp;Однозначно, після завершення екскурсії кожен коледжист переконався у правильності вибору спеціальності &laquo;Фінанси, банківська справа та страхування&raquo;.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/34ad8809f66a/2.jpg" style="height:293px; width:390px" /></td>
			<td><img alt="" src="/pages/files/2044366db84d/5.jpg" style="height:292px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;Окрім цього, студенти побували біля Верховної Ради України та адміністрації Президента, прогулялися Майданом Незалежності та біля Арки Дружби народів.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/112035d45ce4/6.jpg" style="height:481px; width:780px" />&nbsp; &nbsp;Окремо хочеться висловити подяку директору коледжу Собчуку О.В., заступнику директора з навчально-виховної роботи Докаль О.Я., заступнику директора з навчально-методичної роботи Дерев&rsquo;янчуку М.Я. та викладачу коледжу Семенюк Ю.В. за сприяння, допомогу в організації поїздки та виховання коледжистів. Ми вдячні студентам за створену атмосферу, енергійність&nbsp; та активність.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/1d8b0715b249/7.jpg" style="height:305px; width:780px" /></p>
