<p style="text-align:center"><span style="color:#000080">Програми для підготовки до вступу у коледж ЧНУ імені Юрія Федьковича</span></p>

<ul>
	<li>Програма з математики <a href="/pages/files/5e2322a2f830/mathematics.pdf">(Переглянути)</a></li>
	<li>Програма з української мови <a href="/pages/files/006b754bd841/ukrmova.pdf">(Переглянути)</a></li>
	<li>Програма з історії України <a href="/pages/files/6540fc773835/istukr_college.pdf">(Переглянути)</a></li>
</ul>

<p>&nbsp;</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Телефон для довідок:<strong>&nbsp;<strong>55-38-26</strong></strong></p>
