<p style="text-align:justify">&nbsp; &nbsp;Відповідно до Регламенту про проведення <strong>ХV обласних Спортивних ігор</strong> серед студентської молоді закладів вищої освіти, які здійснюють підготовку молодших спеціалістів у 2019/2020 навчальному році проведено змагання з <strong>міні-футболу</strong> (дівчата). У змаганнях взяли участь 9 команд.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/334e9fbf137e/001.jpg" style="height:342px; width:780px" />&nbsp; &nbsp;Збірна команда дівчат Коледжу Чернівецького національного університету імені Юрія Федьковича в запеклій боротьбі виборола почесне <strong>ІІ місце</strong> і була нагороджена&nbsp;кубками та грамотами Чернівецького обласного відділення Комітету з фізичного виховання та спорту МОН України.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/4759b05511bf/002.jpg" style="height:463px; width:780px" /></p>

<p style="text-align:justify">&nbsp; &nbsp;<strong>ВІТАЄМО</strong>&nbsp;команду наших срібних призерок&nbsp;у складі:</p>

<ul>
	<li style="text-align: justify;">Шнайдер Діана (1 курс, спеціальність &quot;Облік і оподаткування&quot;);</li>
	<li style="text-align: justify;">Руснак Інна (1 курс, спеціальність &quot;Фінанси, банківська справа та страхування&quot;);</li>
	<li style="text-align: justify;">Серафимчук Олександра&nbsp;(1 курс, спеціальність &quot;Фінанси, банківська справа та страхування&quot;);</li>
	<li style="text-align: justify;">Братушко Олександра (1 курс, спеціальність &quot;Фінанси, банківська справа та страхування&quot;);</li>
	<li style="text-align: justify;">Китайгородська Каріна (1 курс, спеціальність &quot;Фінанси, банківська справа та страхування&quot;);</li>
	<li style="text-align: justify;">Мисенюк Маргарита&nbsp;(1 курс, спеціальність &quot;Фінанси, банківська справа та страхування&quot;);</li>
	<li style="text-align: justify;">Штирбу Віолетта&nbsp;(1 курс, спеціальність &quot;Фінанси, банківська справа та страхування&quot;);</li>
	<li style="text-align: justify;">Паславська Ольга (1 курс, спеціальність &quot;Фінанси, банківська справа та страхування&quot;);</li>
	<li style="text-align: justify;">Поп&#39;юк Олександра (2 курс, спеціальність &quot;Право&quot;);</li>
	<li style="text-align: justify;">Лахман Діана (3&nbsp;курс, спеціальність &quot;Право&quot;);</li>
	<li style="text-align: justify;">Молдован Альона (4 курс, спеціальність &quot;Право&quot;).</li>
</ul>

<p style="text-align: justify;"><img alt="" src="/pages/files/ac3baa95fe6b/003.jpg" style="height:491px; width:780px" /></p>
