<p style="text-align: justify;"><img alt="" src="/pages/files/992fea30c8b9/sheva207.jpg" style="height:350px; width:780px" /></p>

<p style="text-align: justify;">&nbsp;&nbsp; У вівторок, 23 лютого, відбувся ONLINE&nbsp;щорічний університетський&nbsp; І тур конкурсу на краще читання української поезії, присвяченому 207-й річничі від дня народження Т.Г. Шевченка. Фаховий коледж ЧНУ імені Юрія Федьковича представляли троє учасниць: Юлія Гашмей (спеціальність &quot;Комп&#39;ютерна інженерія&quot;), Вівіан Тичіна та Юлія Джаман (спеціальність &quot;Прикладна математика&quot;).</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:260px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/808e8f4a5f62/002+.jpg" style="height:520px; width:260px" /></td>
			<td><img alt="" src="/pages/files/bec449c1a951/003.jpg" style="height:520px; width:260px" /></td>
			<td><img alt="" src="/pages/files/d01e84d9f2fc/001+.jpg" style="height:520px; width:260px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align: justify;">&nbsp;&nbsp; Усі троє пройшли у ФІНАЛ - ІІ тур, який відбудеться 4 березня. Бажаємо нашим учасницям отримати задоволення від декламування творів ВЕЛИКОГО СИНА УКРАЇНИ та здобути перемогу!</p>
