<p><img alt="" src="/pages/files/c85c860e0b1b/p1.jpg" style="height:199px; width:780px" /></p>

<p>&nbsp; &nbsp;<strong>1.</strong> Склад Педагогічної ради<br />
&nbsp; &nbsp;<strong>2.</strong> План роботи Педагогічної ради на 2019/2020 н.р.<br />
&nbsp; &nbsp;<strong>3.</strong>&nbsp;Матеріали&nbsp;засідань та рішення Педагогічної ради</p>

<ul>
	<li>Протокол №1</li>
	<li>Протокол №2</li>
	<li>Протокол №3</li>
	<li>Протокол №4</li>
	<li>Протокол №5</li>
</ul>

<hr />
<p><a href="/pages/files/b5483d635a1f/Pr_3_college.pdf">Протокол&nbsp;відбору підручників (10 клас)</a><br />
<a href="/pages/files/44294512b573/Book_10.pdf">Результат&nbsp;відбору підручників (10 клас)&nbsp;</a></p>

<h2>&nbsp;</h2>
