<p style="text-align:justify">&nbsp; &nbsp;26 листопада 2019 р.&nbsp;Відповідно до&nbsp;<a href="http://college-chnu.cv.ua/pages/files/45f5be23fd2c/Polozhennia.pdf">&quot;Положення про призначення декана факультету, директора інституту, директора коледжу Чернівецького національного університету імені Юрія Федьковича&quot;</a>&nbsp;&nbsp;в стінах Червоної зали університету пройшли&nbsp;<strong>ВИБОРИ</strong>&nbsp;директора коледжу. Вибори проходили на засіданні зборів органу громадського самоврядування Коледжу Чернівецького національного університету імені Юрія Федьковича на яких був присутній і ректор університету - <strong>Роман Іванович Петришин</strong>.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/03020709d03d/DSC_5447.jpg" style="height:349px; width:780px" /></p>

<p style="text-align:justify">&nbsp; &nbsp;Відкрив збори член оргкомітету ЧНУ, заступник декана філософсько-теологічного факультету - Микола Васильович Шкрібляк. Член оргкомітету повідомив, що єдиним кандидатом на посаду директора коледжу,&nbsp;відповідно&nbsp;<a href="http://college-chnu.cv.ua/pages/files/3fc80dfebf5c/Podannya.jpg">подання&nbsp;ректора&nbsp;</a>університету є&nbsp;<strong>Собчук Олександр Васильович</strong>.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/df63055a6d7e/001.jpg" style="height:306px; width:780px" />&nbsp; &nbsp;Учасниками зборів було обрану голову зборів - Білокрилу Ольгу Яківну та сектретаря - Сикотюк Інну Михайлівну.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/015cba0b56f0/002.jpg" style="height:362px; width:780px" />&nbsp; &nbsp;Всі присутні учасники мали можливість поставити запитання кандидату на посаду директора коледжу. Обговорення проходило досить цікаво та святково.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:260px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/08721c0f57ef/DSC_5464.jpg" style="height:351px; width:260px" /></td>
			<td><img alt="" src="/pages/files/17c67bf870ea/DSC_5528.jpg" style="height:352px; width:260px" /></td>
			<td><img alt="" src="/pages/files/b66d49bb4e09/DSC_5443.jpg" style="height:351px; width:260px" /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/71558a999ede/DSC_5479.jpg" style="height:352px; width:260px" /></td>
			<td><img alt="" src="/pages/files/b9646bc9f8da/DSC_5482.jpg" style="height:352px; width:260px" /></td>
			<td><img alt="" src="/pages/files/8e4985d8b527/DSC_5485.jpg" style="height:352px; width:260px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;По завершенню обговорення зборами було обрано 3-х членів лічильної комісі: Єгорова Павла Валерійовича, Захарчук Ірину Олександрівну, Мельничук Христину Володимирівну. Після чого розпочався процес волевиявлення шляхом таємного голосування.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/39730ed7f2b7/005.jpg" style="height:260px; width:390px" /></td>
			<td><img alt="" src="/pages/files/44855c5f3d00/007.jpg" style="height:260px; width:390px" /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/b1bf70152ff5/006.jpg" style="height:260px; width:390px" /></td>
			<td><img alt="" src="/pages/files/982726811fca/008.jpg" style="height:260px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;Після того, як&nbsp;останній бюлетень було опущено в урну для голосування, лічильна комісія розпочала свою клопітку роботу з підрахунками.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/cdbf1ee9dee9/009.jpg" style="height:260px; width:390px" /></td>
			<td><img alt="" src="/pages/files/7c5021e57970/010.jpg" style="height:260px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;За результатами голосування лічильною комісією встановлено, що за кандидата на посаду директора - Собчука Олександра Васильовича з 94 голосів проголосували <strong>&quot;ЗА&quot; - 88 осіб</strong>, 6 бюлетнів лічильною комісією визнано зіпсованими.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/f0944e47d8f3/78.jpg" style="height:422px; width:780px" />&nbsp; &nbsp;Новообраний директор коледжу Олександр Васильович Собчук подякував всім присутнім за таку високу довіру і пообіцяв й надалі докладати максимум зусиль для розвитку коледжу.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/ca7590e92f33/011.jpg" style="height:520px; width:390px" /></td>
			<td><img alt="" src="/pages/files/beda5df0398f/012.jpg" style="height:520px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align: justify;"><img alt="" src="/pages/files/a8fb92329ae1/DSC_5637.jpg" style="height:480px; width:780px" /><img alt="" src="/pages/files/0b794fd2dd85/DSC_5631.jpg" style="height:379px; width:780px" /><img alt="" src="/pages/files/d594475b523a/DSC_5629.jpg" style="height:521px; width:780px" />&nbsp; &nbsp;Увесь педагогічний, студентський колектив та працівники Коледжу ЧНУ імені Юрія Федьковича&nbsp;щиро вітають Собчука Олександра Васильовича з обранням його на посаду директора коледжу.</p>

<p style="text-align: justify;">&nbsp; &nbsp;Бажаємо нашому Олександру Васильовичу творчої наснаги, оптимізму, надійної підтримки від колег, &nbsp;друзів та оточуючих, досягнення максимально бажаних результатів діяльності та значних професійних здобутків. Нехай кожен день буде наповнений новим змістом, а невичерпна енергія, бажання допомагати людям принесе &nbsp;користь оточуючим, подарує стабільність та душевну рівновагу.</p>
