<table>
	<tbody>
		<tr>
			<td style="vertical-align:top">
			<p style="text-align:center"><span style="color:#000080"><strong>Курсова робота</strong></span></p>

			<p><strong>1.</strong> <a href="http://localhost:25565/article/5c5c6dc18f13050d955f2172">Перелік тем для курсових робіт з дисципліни &quot;Фінанси підприємств&quot;</a></p>

			<p><strong>2.</strong> <a href="http://localhost:25565/article/5c5c6f038f13050d955f2173">Перелік тем для курсових робіт з дисципліни &quot;Економіка підприємств&quot;</a></p>

			<p><strong>3.</strong>&nbsp;<a href="http://localhost:25565/article/5c5c70518f13050d955f2175">Перелік тем для курсових робіт з дисципліни &quot;Трудове право&quot;</a></p>

			<p>&nbsp;</p>

			<p style="text-align:center"><span style="color:#000080"><strong>Дипломний проект</strong></span></p>

			<p><strong>1.</strong>&nbsp;<a href="http://localhost:25565/article/5c5c70aa8f13050d955f2176">Орієнтовний перелік тем дипломних проектів</a> (для спеціальності &quot;Обслуговування програмних систем та комплексів&quot;&nbsp;<em>(&quot;Комп&#39;ютерні науки та інформаційні технології&quot;)</em>)</p>

			<hr />
			<p>&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
