<p style="text-align:center"><a href="/pages/files/cfc865f11971/PP_2021.pdf">Правила прийому до ВСП &quot;Фаховий&nbsp;коледж&nbsp;ЧНУ імені Юрія Федьковича&quot; в 2021 р.</a></p>

<hr />
<p style="text-align:justify"><strong>Додаток 1.</strong>&nbsp;<a href="/pages/files/4d8aef13b686/dod_1.pdf">Перелік спеціальностей (освтньо-професійних програм),&nbsp;за якими оголошується прийом на навчання, ліцензовані обсяги та нормативні терміни навчання.</a></p>

<p style="text-align:justify"><strong>Додаток 2.</strong>&nbsp;<a href="/pages/files/2110e1a7c60b/dod_2.pdf">Перелік конкурсних предметів у сертифікаті Українського центру оцінювання якості освіти&nbsp;(вступних екзаменів, творчих конкурсів).</a></p>

<p style="text-align:justify"><strong>Додаток 3.</strong>&nbsp;<a href="/pages/files/5fe8b206647c/dod_3.pdf">Таблиця&nbsp;переведення середнього бала документа про повну (базову) загальну середню освіту, обрахованого за 12-бальною шкалою, в шкалу 100-200.</a></p>

<p><strong>Додаток 4</strong>.&nbsp;<a href="/pages/files/9796d87cc702/dod_4.pdf">Порядок&nbsp;нарахування додаткових балів випускникам Підготовчих курсів.</a></p>

<hr />
<p style="text-align:center">Телефон для консультацій&nbsp;<strong>Приймальної комісії коледжу 068-790-46-90</strong></p>
