<p style="text-align:center"><strong>Право</strong></p>

<table border="0">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/1d3f5f37dbc2/cropped-cropped-headerbg1.jpg" style="height:213px; width:740px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;Юридичну роботу виконують не всі хто бажає, а лише уповноважені особи, які володіють відповідними знаннями та навичками. Юрист - це одна з найбільш поширених, необхідних і високооплачуваних професій у цивілізованому суспільстві. Кожному потрібен свій юрист, як і свій лікар. Від поради або рішення юриста багато в чому залежить доля людини, благополуччя сім&#39;ї, її майновий стан, економічний розвиток суспільства.<br />
&nbsp; &nbsp;Юрист, який працює слідчим, суддею, може забезпечити справедливе покарання злочинця. Прокурор має право притягти до відповідальності чиновника, який порушує закон. Саме ці широкі можливості використання свого інтелекту, характеру, породжують задоволення юриста своєю роботою. Він виробляє власний стиль, майстерність, і більшості професіоналів це подобається.<br />
&nbsp; &nbsp;Професійна діяльність молодшого спеціаліста з права безпосередньо пов&rsquo;язана з необхідністю використання різних методів і засобів юридичної техніки.</p>

<p style="text-align:center">&nbsp;<strong>Молодший спеціаліст з права під час навчання в коледжі набуде таких вмінь:</strong></p>

<p style="text-align:justify"><strong>&nbsp; &nbsp;1. </strong>Тлумачити та застосувати закони та інші нормативні акти;юридично правильно кваліфікувати дії, факти та обставини; приймати правові рішення і здійснювати інші юридичні дії в точній відповідності до законів.<br />
<strong>&nbsp; 2.</strong> Забезпечувати законність в діяльності державних органів, підприємств, установ, організацій, посадових осіб та громадян, а також неухильно дотримуватись державної та трудової дисципліни; здійснювати контроль за виконанням законів та інших державних рішень; вживати заходи по запобіганню порушень прав і законних інтересів громадян і організацій; забезпечувати дотримання встановленого порядку розгляду заяв, звернень, скарг та пропозицій громадян.<br />
<strong>&nbsp; 3.</strong>Складати та оформляти юридичні документи; надавати кваліфіковані юридичні висновки і консультації.<br />
<strong>&nbsp; 4.</strong>Проводити профілактичну роботу по дотриманню законності і попередженню правопорушень, зміцненню правопорядку; пропагувати правові знання та здійснювати правове виховання громадян; надавати юридичну допомогу населенню і організаціям.<br />
<strong>&nbsp; &nbsp;5. </strong>&nbsp;Систематично підвищувати свою професійну кваліфікацію; вивчати законодавство і практику його застосування; орієнтуватися в спеціальній літературі, застосовувати сучасні методи наукової організації праці.</p>

<p style="text-align:justify">&nbsp;</p>

<p style="text-align:center"><strong>Основні дисципліни, які складають фахову підготовку:</strong></p>

<p style="text-align:left">&bull;&nbsp;Конституційне право України;<br />
&bull;&nbsp;Адміністративне право;<br />
&bull;&nbsp;Кримінальне право;<br />
&bull;&nbsp;Кримінальний процес;<br />
&bull;&nbsp;Цивільне та сімейне право;<br />
&bull;&nbsp;Кооперативне право;<br />
&bull;&nbsp;Трудове право;<br />
&bull;&nbsp;Податкове право;<br />
&bull;&nbsp;Цивільний процес;<br />
&bull;&nbsp;Господарське право;<br />
&bull;&nbsp;Фінансове право;<br />
&bull;&nbsp;Екологічне право;<br />
&bull;&nbsp;Аграрне право;<br />
&bull;&nbsp;Міжнародне право.</p>

<p style="text-align:center"><strong>Професійні назви робіт, які здатний виконувати фахівець<br />
освітньо-кваліфікаційного рівня &quot;Молодший спеціаліст&quot;:&nbsp;</strong></p>

<p style="text-align:justify">&bull; Інспектор з кадрів;<br />
&bull; Організатор з персоналу;<br />
&bull;&nbsp;Спеціаліст з питань кадрової роботи та державної служби;<br />
&bull;&nbsp;Інспектор з контролю за виконанням доручень;<br />
&bull;&nbsp;Керуючий справами (секретар) виконавчого комітету;<br />
&bull;&nbsp;Секретар адміністративний;<br />
&bull;&nbsp;Секретар виконкому;<br />
&bull;&nbsp;Секретар комітету (організації, підприємства, установи);<br />
&bull;&nbsp;Секретар правління;<br />
&bull;&nbsp;Секретар колегії судової;<br />
&bull;&nbsp;Серетар судового засідання;<br />
&bull;&nbsp;Секретар суду;<br />
&bull;&nbsp;Судовий розпорядник;<br />
&bull;&nbsp;Організатор діловодства;<br />
&bull;&nbsp;Помічник керівника установи виконання покарань;<br />
&bull;&nbsp;Референт;<br />
&bull;&nbsp;Помічник адвоката;<br />
&bull;&nbsp;Помічник нотаріуса;<br />
&bull;&nbsp;Помічник юриста;<br />
&bull;&nbsp;Секретар центрального органу виконавчої влади;<br />
&bull;&nbsp;Державний податковий інспектор;<br />
&bull;&nbsp;Інспектор з виплати пенсій;<br />
&bull;&nbsp;Інспектор з призначення пенсій;<br />
&bull;&nbsp;Інспектор з соціальної допомоги;<br />
&bull;&nbsp;Інспектор з ліцензування;<br />
&bull;&nbsp;Фахівець з організації майнової та особистої безпеки;<br />
&bull;&nbsp;Архіваріус;<br />
&bull;&nbsp;Кодифікатор;<br />
&bull;&nbsp;Діловод;<br />
&bull;&nbsp;Паспортист;<br />
&bull;&nbsp;Молодший інспектор (органи внутрішніх справ).</p>

<p style="text-align:justify"><br />
&nbsp;</p>

<p style="text-align:center"><strong>Основні місця роботи, де можна працювати після закінчення навчання:</strong></p>

<p style="text-align:justify">&bull;&nbsp;Юридичні служби підприємств і організацій всіх форм власності (правові послуги: консультування з правових питань, правовий супровід, правовий аудит);<br />
&bull;&nbsp;Органи місцевого самоврядування й виконавчої державної влади (правовий нагляд і контроль за відповідністю виконання й дотриманням підконтрольними обєктами правових приписів);<br />
&bull;&nbsp;Правоохоронні органи (вирішення кримінально-правових, адміністративно-правових, цивільно-правових спорів у процесі розгляду судових справ).</p>

<hr />
<p style="text-align:left">&nbsp;</p>
