<p style="text-align:center"><img alt="" src="/pages/files/4ecba9ddf09a/6.jpg" style="height:309px; width:780px" /></p>

<p style="text-align:center"><strong>День пам&rsquo;яті Михайла ІВАСЮКА</strong></p>

<p style="text-align:justify">&nbsp; &nbsp;5 лютого 2021 року минуло 26 років від дня смерті письменника, науковця, активного громадського діяча. У Чернівецькому обласному меморіальному музеї<strong>&nbsp;</strong>Володимира ІВАСЮКА&nbsp;вже склалася своєрідна традиція святкування &ndash; зустріч із неординарними учнями Михайла&nbsp;ІВАСЮКА. Цьогоріч традицію інтелігентної бесіди-спомину продовжила зустріч з Анатолієм ТОМКІВИМ.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/88c1e8055666/Ivasyuk01.jpg" style="height:324px; width:780px" />&nbsp; &nbsp;Приємно, що студенти ВСП &laquo;Фаховий&nbsp;коледж&nbsp;ЧНУ імені&nbsp;Юрія&nbsp;Федьковича&raquo; не залишаються осторонь найцікавіших подій Буковини. Так, вже відзначені окремою нагородою за декламування поезії Михайла&nbsp;ІВАСЮКА, студенти 1-го курсу Неоніла ВІКСИЧ, Олександр ГАМАГА, Христина ШЕВЧУК&nbsp;відкривали проєкт &laquo;Знайомство зблизька з відомими учнями Михайла ІВАСЮКА&raquo; читанням поезії &laquo;Елегія&raquo;.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/4ceb78005549/Ivasyuk02.jpg" style="height:335px; width:780px" />&nbsp; &nbsp;Аристократичний дух пам&rsquo;ятного заходу підкреслили й &laquo;Мелодія&raquo; Скорика у виконанні Лілії ХОЛОМЕНЮК, й прочитання ще недрукованої новели Анатолія ТОМКІВА&nbsp;&laquo;Завдаток&raquo;.</p>
