<p style="text-align:justify">&nbsp; &nbsp;Поселення студентів в гуртожиток відбудеться <strong>28 серпня 2019 року</strong>.</p>

<p style="text-align:justify"><strong>&nbsp; &nbsp;Перелік необхідних документів</strong>, які повинен мати студент при поселенні у гуртожиток:</p>

<ol>
	<li style="text-align:justify">Паспорт, ідентифікаційний код та їх копії.</li>
	<li style="text-align:justify">Виписку з місця проживання для тимчасової реєстрації.</li>
	<li style="text-align:justify">Фото 3х4.</li>
	<li style="text-align:justify">Кошти для сплати проживання в гуртожитку за І семестр (орієнтована вартість 2500 грн.).</li>
</ol>

<p style="text-align:justify">&nbsp; &nbsp;Точна сума та реквізити для оплати будуть надані в гуртожитку.</p>

<p style="text-align:justify"><strong>&nbsp; &nbsp;Присутність одного з батьків обов&rsquo;язкова!!!</strong></p>

<p style="text-align:justify">&nbsp; &nbsp;Адреси гуртожитків Коледжу Чернівецького національного університету імені Юрія Федьковича:</p>

<p style="text-align:justify">&nbsp; &nbsp; &nbsp; &nbsp;м. Чернівці, вул. Небесної Сотні, 4Б (гуртожиток №5).</p>

<p style="text-align:justify">&nbsp; &nbsp; &nbsp; &nbsp;м. Чернівці, вул. Кутузова, 6 (гуртожиток №8).</p>

<p style="text-align:justify">&nbsp; &nbsp;За більш детальною інформацією звертатись за телефоном:&nbsp;<strong>(095) 342 3632</strong> Ольга Ярославівна, заст. директора з навчально-виховної роботи, <strong><em>робочий час: 10:00-17:00</em></strong>.</p>

<p style="text-align: center;"><a href="/pages/files/5e0aa4aa2745/Поселення2019.pdf">СПИСКИ СТУДЕНТІВ НА ПОСЕЛЕННЯ У ГУРТОЖИТКИ</a></p>
