<p style="text-align:center"><img alt="" src="/pages/files/7f28b8ddb574/113_2.jpg" style="height:223px; width:780px" /></p>

<p style="text-align:center"><strong>ДИСЦИПЛІНИ ВІЛЬНОГО ВИБОРУ ЗДОБУВАЧА ОСВІТИ</strong></p>

<hr />
<p><strong>ЗАГАЛЬНА ПІДГОТОВКА<br />
&nbsp;&nbsp; 1.</strong>&nbsp;<a href="/pages/files/fc22397acfaa/English for Life.pdf">Англійська для життя. [English for life]</a>&nbsp;<em>(Н.Д. Добровольська)</em><strong>&nbsp;&nbsp;<br />
&nbsp; &nbsp;2.</strong>&nbsp;<a href="/pages/files/bdb54f8c1553/Historical figures.pdf">Історичні постаті в процесах державотворення України</a>&nbsp;<em>(В.Я. Дерев&#39;янчук)</em><br />
<strong>&nbsp; &nbsp;3.</strong>&nbsp;<a href="/pages/files/a60b1186d0ca/Organization of business 113.pdf">Організація та ведення бізнесу</a>&nbsp;<em>(О.Ю. Докаш)</em><br />
<strong>&nbsp; &nbsp;4.</strong>&nbsp;<a href="/pages/files/fd377de3de04/Start-UP.pdf">Основи START-UP </a><em>(О.І. Луган)</em><br />
<strong>&nbsp; &nbsp;5.</strong>&nbsp;<a href="/pages/files/dce5cc1698fd/Accounting.pdf">Основи бухгатерського обліку</a>&nbsp; <em>(С.І. Гнат)</em><br />
<strong>&nbsp; &nbsp;6.</strong>&nbsp;<a href="/pages/files/381a7296b277/scientific research.pdf">Основи наукових досліджень</a>&nbsp;<em>(М.О. Остапович)</em><br />
<strong>&nbsp; &nbsp;7.</strong>&nbsp;<a href="/pages/files/a88cb68b10c3/the art of good.pdf">Мистецтво добра</a>&nbsp;<em>(І.В. Пержун)</em><br />
<strong>&nbsp; &nbsp;8.</strong>&nbsp;<a href="/pages/files/7bd188ee203e/international finance.pdf">Міжнародні фінанси</a> <em>(Ю.В. Семенюк)</em><br />
<strong>&nbsp; &nbsp;9.</strong>&nbsp;<a href="/pages/files/e72eb6d81ac8/Copyright.pdf">Правопорушення у сфері авторського права та використання цифрових пристроїв</a>&nbsp;<em>(П.В. Єгоров)</em><br />
<strong>&nbsp; &nbsp;10.</strong>&nbsp;<a href="/pages/files/103bb6604ad6/psychology.pdf">Психологія</a>&nbsp;<em>(А.В. Кушнір)</em><br />
<strong>&nbsp; &nbsp;11.</strong>&nbsp;<a href="/pages/files/ab64fe1aa776/Financial services market.pdf">Ринок фінансових послуг</a> <em>(А.М. Томашевська)</em><br />
<strong>&nbsp; &nbsp;12.</strong>&nbsp;<a href="/pages/files/57205d9c99c1/financial literacy.pdf">Фінансова грамотність</a> <em>(А.В. Марич)</em><br />
<strong>&nbsp; &nbsp;13.</strong>&nbsp;<a href="/pages/files/f44cdceb7137/small business finance.pdf">Фінанси малого бізнесу</a> <em>(А.В. Марич)</em><br />
<br />
<strong>&nbsp;</strong><strong>ПРОФЕСІЙНА ПІДГОТОВКА</strong><br />
<strong>&nbsp; &nbsp;1.</strong>&nbsp;<a href="/pages/files/80a3ba5dff88/CyberSecurity.pdf">Основи кібербезпеки</a> <em>(О.В. Букурос, Х.В. Мельничук)</em><br />
<strong>&nbsp;</strong><strong>&nbsp; 2.</strong>&nbsp;<a href="/pages/files/b7ff5854d3ba/Robotics.pdf">Робототехніка</a>&nbsp;<em>(Д.В. Кондрюк, В.М. Нагорний)</em><br />
<strong>&nbsp;</strong><strong>&nbsp; 3.</strong>&nbsp;<a href="/pages/files/4c9ec38b1f58/asoi_PM.pdf">Автоматизовані системи обробки інформації</a>&nbsp;<em>(В.В. Коропецький)</em><br />
<strong>&nbsp; &nbsp;4.</strong>&nbsp;<a href="/pages/files/fc6d74eb9850/Motion PM.pdf">Основи Motion дизайну</a>&nbsp;<em>(І.В. Гудзик)</em><br />
<strong>&nbsp; &nbsp;5.</strong>&nbsp;<a href="/pages/files/f125fa2dfc7b/stp_PM.pdf">Сучасні технології програмування</a>&nbsp;<em>(Ю.В. Луцюк)</em></p>
