<p style="text-align:justify"><img alt="" src="/pages/files/55be95ea56e6/geo-sports-banner-cropped-size21.png" style="height:288px; width:780px" /></p>

<p style="text-align:justify">&nbsp; &nbsp;Свято <strong>День фізичної культури і спорту в Україні</strong> відзначається в другу суботу вересня. Офіційно засновано в 1994 році. Це свято здорового способу життя і радості, що виникає при використанні корисної фізичної діяльності.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/9016487fe36a/001.jpg" style="height:271px; width:780px" />&nbsp; &nbsp;Традиційне святкування Дня фізичної культури і спорту в Україні припадає на другу суботу вересня (Указ президента від 29 червня 1994 року № 340/94).&nbsp;У Коледжі ЧНУ імені Юрія Федьковича викладачами фізичного виховання були організовані змагання з волейболу серед студентів І-го курсу ЕКОНОМІЧНОГО, ПРИРОДНИЧОГО&nbsp;та ЮРИДИЧОГО&nbsp;відділень.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/100502a40cd3/002.jpg" style="height:292px; width:390px" /></td>
			<td><img alt="" src="/pages/files/7323a1375f89/003.jpg" style="height:292px; width:390px" /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/4c4233da94b1/004.jpg" style="height:293px; width:390px" /></td>
			<td><img alt="" src="/pages/files/039d45b10d0f/005.jpg" style="height:292px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;Переможцями, в не простому фіналі, виявились студенти <strong>Природничого</strong> <strong>відділення</strong> (113 група) 2 місце посіли представники <strong>Економічного відділення</strong> (збірна 106 і 116 групи), бронзові медалі дістались спортсменам <strong>Юридичного відділення</strong> (збірна 107 і 117 групи).</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/08435ef87410/006.jpg" style="height:292px; width:390px" /></td>
			<td><img alt="" src="/pages/files/503d61c3ca46/007.jpg" style="height:293px; width:390px" /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/f3504658a482/008.jpg" style="height:292px; width:390px" /></td>
			<td><img alt="" src="/pages/files/44b798dadbfb/009.jpg" style="height:292px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align: justify;">&nbsp; &nbsp;Дякуємо ВСІМ за активну участь у такому чудовому святі та&nbsp;<strong>ВІТАЄМО</strong> наших переможців та призерів!!!</p>
