<p style="text-align:center"><img alt="" src="/pages/files/7ede58a4cdf0/kolag.jpg" style="height:322px; width:780px" /><strong>МАТЕРІАЛИ ЗАСІДАНЬ</strong><br />
обласного методичного об&#39;єднання викладачів іноземних мов<br />
закладів фахової передвищої освіти Чернівецької області</p>

<hr />
<p><a href="/pages/files/e24135aecb3a/Засідання №1.pdf">Засідання №1</a><br />
<a href="/pages/files/62bf1bc66c94/Засідання №2.pdf">Засідання №2</a><br />
<a href="/pages/files/fc68b61eab21/Засідання №3.pdf">Засідання №3</a><br />
<a href="/pages/files/03251c18a2f7/Z_OMO_4.pdf">Засідання №4</a></p>

<p>&nbsp;</p>
