<p style="text-align: justify;">&nbsp; &nbsp; &nbsp;21 лютого в стінах Коледжу ЧНУ імені Юрія Федьковича відбувся конкурс читців поезії <strong>Лесі Українки</strong>, присвячений 148-ій річниці від дня народження видатної української поетеси. Кожен студент вклав у своє читання усю душу, передаючи суть написаного колись Великою Дочкою Прометея.</p>

<table align="center" border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/fa1cdaf208c7/001.jpg" style="height:272px; width:390px" /></td>
			<td><img alt="" src="/pages/files/71668c736516/002.jpg" style="height:280px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<table border="1" cellpadding="1" cellspacing="1" style="width:260px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/9d956830dc74/003.jpg" style="height:354px; width:260px" /></td>
			<td><img alt="" src="/pages/files/0c9b545773bb/004.jpg" style="height:383px; width:260px" /></td>
			<td><img alt="" src="/pages/files/3d3b71f2a5a1/005.jpg" style="height:347px; width:260px" /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/31646223a367/006.jpg" style="height:325px; width:260px" /></td>
			<td><img alt="" src="/pages/files/c28a017922b9/007.jpg" style="height:406px; width:260px" /></td>
			<td><img alt="" src="/pages/files/5892b9fd83c4/008.jpg" style="height:321px; width:260px" /></td>
		</tr>
	</tbody>
</table>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/68c3f83d51af/009.jpg" style="height:309px; width:390px" /></td>
			<td><img alt="" src="/pages/files/48e5ac82c7d3/010.jpg" style="height:218px; width:290px" /></td>
		</tr>
	</tbody>
</table>

<p><img alt="" src="/pages/files/8b4132ad4e8e/011.jpg" style="height:541px; width:780px" /></p>

<hr />
<p><img alt="" src="/pages/files/94e80b774383/012.jpg" style="height:299px; width:780px" /></p>

<hr />
<p>&nbsp;</p>
