<p style="text-align:justify"><img alt="" src="/pages/files/481f5aa4afbe/002.jpg" style="height:289px; width:780px" />&nbsp; &nbsp;Команда Коледжу ЧНУ імені Юрія Федьковича&nbsp;у складі:<br />
<em><strong>гравці</strong></em></p>

<ul>
	<li>Ірина Вікторівна&nbsp;Кречун (викладачка фізичної культури);</li>
	<li>Наталія Мирославівна&nbsp;Михайлюк (викладачка математики);</li>
	<li>Дмитро Олександрович&nbsp;Хапко (викладач фізичної культури);</li>
	<li>Денис Павлович&nbsp;Онипа (інженер);</li>
	<li>Михайло Михайлович Сіваков (викладач історії);</li>
	<li>Олександра Шородок (студентка 2-го курсу, спеціальність &quot;Право&quot;);</li>
	<li>Богдан Цуркан (студент 2-го курсу, спеціальність &quot;Комп&#39;ютерні науки&quot;);</li>
</ul>

<p><img alt="" src="/pages/files/ccedc36aa23e/003.jpg" style="height:382px; width:780px" /><em><strong>представники</strong></em></p>

<ul>
	<li>Олександр Васильович Собчук (директор);</li>
	<li>Майя Михайлівна&nbsp;Михайлович (керівник фізичного виховання).</li>
</ul>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/b875f2da84af/005.jpg" style="height:552px; width:390px" /></td>
			<td><img alt="" src="/pages/files/812cc3edc4d7/VoleyBALL2019.jpg" style="height:552px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">посіла &nbsp;<strong>III місце</strong> у турнірі з волейболу серед (викладачів, аспірантів, студентів) факультетів/інститутів ЧНУ імені&nbsp;Юрія Федьковича, присвяченому <strong>Дню збройних сил України&nbsp;</strong>- пам&#39;яті першого декана ФФКЗЛ Чабаненка В.П.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/72869d137e07/004.jpg" style="height:389px; width:780px" />&nbsp; &nbsp;<strong>Вітаємо</strong> нашу збірну команду викладачів та студентів, які подемонстрували блискучу&nbsp;співпрацю&nbsp;та досягли високого результату. Всім учасникам команди бажаємо невичерпної енергії, бадьорості духу й подальших успіхів!</p>
