<h3 style="text-align:center"><strong>ЦИКЛОВА КОМІСІЯ<br />
КОМП&#39;ЮТЕРНИХ НАУК</strong></h3>

<hr />
<table border="0">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/e8cab269979b/koropeckuy_.jpg" style="height:290px; width:210px" /></td>
			<td>
			<p style="text-align:center"><strong>ГОЛОВА&nbsp;ЦИКЛОВОЇ КОМІСІЇ</strong></p>

			<p><strong>&nbsp;Коропецький Василь Васильович</strong><br />
			&nbsp;викладач І-ї кваліфікаційної категорії</p>

			<p>&nbsp;&nbsp; <strong>Дисципліни:</strong></p>

			<ul>
				<li>Програмування;</li>
				<li>Алгоритмізація та програмування;</li>
				<li>WEB-технології та WEB-дизайн;</li>
				<li>Тестування програмних систем та комплексів;</li>
				<li>Технологія створення програмних продуктів</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; &nbsp;Освіта:&nbsp;</strong>Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Статистика&quot; <em>(2012 р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/e076e9e23dbe/gudzuk_.jpg" style="height:301px; width:210px" /></td>
			<td>
			<p><strong>&nbsp;Гудзик Ілля Васильович</strong><br />
			&nbsp;викладач ІІ-ї кваліфікаційної категорії</p>

			<p>&nbsp; &nbsp;<strong>Дисципліни:</strong></p>

			<ul>
				<li>Інформатика та комп&#39;ютерна техніка;</li>
				<li>Програмування;</li>
				<li>Інформаційні ситеми та технології;</li>
				<li>Економіка та основи ІТ-бізнесу;</li>
				<li>Менеджмент та основи ІТ-бізнесу</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; &nbsp;Освіта:</strong> <strong>1.</strong> Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Математика&quot;&nbsp;<em>(2010 р.)</em>; <strong>2.</strong> Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Економічна кібернетика&quot;&nbsp;<em>(2010 р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td colspan="1" rowspan="2"><img alt="" src="/pages/files/f58562759e4f/unnamed.png" /></td>
			<td colspan="1" rowspan="2">
			<p><strong>&nbsp;Гуцул Тетяна Олександрівна</strong><br />
			&nbsp;викладач І-ї кваліфікаційної категорії</p>

			<p>&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Інформатика;</li>
				<li>Програмування;</li>
				<li>Алгоритмізація та програмування</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; &nbsp;Освіта:</strong>&nbsp;Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Математика&quot;&nbsp;<em>(2002 р.)</em></p>
			</td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td colspan="1" rowspan="2"><img alt="" src="/pages/files/08d04b922730/kovdrush.jpg" style="height:270px; width:210px" /></td>
			<td colspan="1" rowspan="2">
			<p><strong>&nbsp;Ковдриш Володимир Володимирови</strong><br />
			&nbsp;к.ф.-м.н. <em>(із&nbsp;спеціальністю &quot;Алгебра та теорія чисел&quot;, 2013 р.)</em>,<br />
			&nbsp;викладач вищої кваліфікаційної категорії</p>

			<p>&nbsp; &nbsp;<em><strong>Дисципліни:</strong></em></p>

			<ul>
				<li>Моделювання систем;</li>
				<li>Об&#39;єктно-орієнтоване програмування</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; &nbsp;Освіта:</strong>&nbsp;<strong>1.</strong> Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Математика&quot;&nbsp;<em>(2003 р.)</em>;<em> </em><strong>2.</strong><em> </em>Чернівецький національний університет&nbsp;імені Юрія Федьковича за спеціальністю &quot;Комп&#39;ютерні науки&quot; <em>(2020 р.)</em></p>
			</td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td colspan="1" rowspan="2"><img alt="" src="/pages/files/6b093404ee4f/onupa.jpg" style="height:292px; width:210px" /></td>
			<td colspan="1" rowspan="2">
			<p><strong>&nbsp;Онипа Денис Павлович</strong><br />
			&nbsp;к.ф.-м.н. <em>(за спеціальністю &quot;Математичний аналіз&quot;, 2019 р.)</em><br />
			&nbsp;викладач вищої кваліфікаційної категорії</p>

			<p>&nbsp; &nbsp;<strong>Дисципліна</strong></p>

			<ul>
				<li>Алгоритмізація та програмування</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; &nbsp;Освіта: </strong>Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Математика&quot; <em>(2012 р.)</em></p>
			</td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td colspan="1" rowspan="2"><img alt="" src="/pages/files/2bda16050904/Yacko.jpg" style="height:333px; width:210px" /></td>
			<td colspan="1" rowspan="2">
			<p style="text-align:justify"><strong>&nbsp;Яцько Оксана Мирославівна</strong><br />
			&nbsp;кандидат педагогічних наук <em>(за спеціальністю &quot;Теорія та методика навчання (інформатика)&quot;, 2016 р.)</em>,&nbsp; викладач вищої кваліфікаційної категорії</p>

			<p>&nbsp; &nbsp;<em><strong>Дисципліни:</strong></em></p>

			<ul>
				<li>Математичні методи дослідження операцій;</li>
				<li>Системний аналіз</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp; &nbsp;Освіта:</strong> <strong>1.</strong> Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Математика&quot; <em>(2004 р.)</em>; <strong>2.</strong> Чернівецький торговельно-економічний інститут КНТЕУ за спеціальністю &quot;Фінанси&quot; <em>(2011 р.)</em></p>
			</td>
		</tr>
		<tr>
		</tr>
	</tbody>
</table>
