<h3 style="text-align:center"><strong>ЦИКЛОВА КОМІСІЯ<br />
ІНОЗЕМНИХ МОВ</strong></h3>

<hr />
<table border="0">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/87d28cc043f3/verenko_.jpg" style="height:293px; width:210px" /></td>
			<td>
			<p style="text-align:center"><strong>ГОЛОВА&nbsp;ЦИКЛОВОЇ КОМІСІЇ</strong></p>

			<p><strong>&nbsp;Веренько Михайло Михайлович</strong><br />
			&nbsp;викладач І-ї кваліфікаційної категорії<br />
			<br />
			&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Іноземна мова (англійська);</li>
				<li>Іноземна мова за професійним спрямуванням (англійська).</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp;&nbsp; Освіта:</strong>&nbsp;Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Переклад (англійсько-український)&quot; та здобув кваліфікацію магістра філології, перекладача, викладача-дослідника англійської мови <em>(2012&nbsp;р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/2e6f25ede8c2/banulevska_.jpg" style="height:290px; width:210px" /></td>
			<td>
			<p><strong>&nbsp;Банилевська Валентина Василівна</strong><br />
			&nbsp;викладач<br />
			<br />
			&nbsp; &nbsp;<em><strong>Предмет</strong></em></p>

			<ul>
				<li>Іноземна мова (англійська)</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp;&nbsp; Освіта:</strong>&nbsp;Чернівецький національний&nbsp;університет імені Юрія Федьковича за спеціальністю &quot;Мова та література (англійська)&quot; та здобула кваліфікацію магістра філології, викладача англійської та французької мов <em>(2015 р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/e7275e4793b9/boichuk_.jpg" style="height:308px; width:210px" /></td>
			<td>
			<p><strong>&nbsp;Бойчук&nbsp;Олександра Ігорівна</strong><br />
			&nbsp;викладач І-ї кваліфікаційної категорії<br />
			<br />
			&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Іноземна мова (англійська);</li>
				<li>Іноземна мова за професійним спрямуванням (англійська).</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp;&nbsp; Освіта:</strong>&nbsp;Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Переклад (англійсько-український)&quot; та здобула&nbsp;кваліфікацію магістра філології, перекладача, викладача-дослідника англійської мови <em>(2011&nbsp;р.)</em></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td colspan="1" rowspan="2"><img alt="" src="/pages/files/d2f2f1f19cc6/dobrovolska_.jpg" style="height:290px; width:210px" /></td>
			<td colspan="1" rowspan="2">
			<p><strong>&nbsp;Добровольська Наталія Дмитрівна</strong><br />
			&nbsp;викладач вищої кваліфікаційної категорії,<br />
			&nbsp;викладач-методист</p>

			<p>&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Іноземна мова (англійська);</li>
				<li>Іноземна мова за професійним спрямуванням (англійська).</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp;&nbsp; Освіта:</strong>&nbsp;Чернівецький державний університет&nbsp;за спеціальністю &quot;Романо-германські мови та література. Англійська мова&quot; (1986&nbsp;р.)&nbsp;та здобула&nbsp;кваліфікацію філолога, викладача, перекладача.</p>
			</td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/5549af5979f1/Zaharchuk_.jpg" style="height:290px; width:210px" /></td>
			<td>
			<p><strong>&nbsp;Захарчук Ірина Олександрівна</strong><br />
			&nbsp;викладач вищої кваліфікаційної категорії,<br />
			&nbsp;канд.&nbsp;філологічних наук&nbsp;<em>(із спеціальності &quot;Германські мови&quot;, 2017 р.)</em></p>

			<p>&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Іноземна мова (англійська);</li>
				<li>Іноземна мова за професійним спрямуванням (англійська).</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp;&nbsp; Освіта:</strong>&nbsp;Чернівецький національний&nbsp;університет імені Юрія Федьковича за спеціальністю &quot;Мова та література (англійська)&quot; та здобула&nbsp;кваліфікацію магістра філології, викладача&nbsp; англійської мови та літератури, вчителя німецької мови (2007&nbsp;р.)</p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/491f2496e74d/Kuzuk_2.jpg" style="height:291px; width:210px" /></td>
			<td>
			<p><strong>&nbsp;Кузик Олена Володимирівна</strong><br />
			&nbsp;викладач І-ї кваліфікаційної категорії<br />
			<br />
			&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Іноземна мова (англійська);</li>
				<li>Іноземна мова за професійним спрямуванням (англійська).</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp;&nbsp; Освіта:</strong>&nbsp;Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Мова та література (німецька)&quot; та здобула&nbsp;кваліфікацію&nbsp;філолога, викладача німецької мови та літератури, вчителя англійської мови (2002 р.)</p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/b509e2f40fb7/Kotelevska_.jpg" style="height:290px; width:210px" /></td>
			<td>
			<p><strong>&nbsp;Котелевська Раїса Аурелівна</strong><br />
			&nbsp;викладач вищої кваліфікаційної категорії,<br />
			&nbsp;викладач-методист</p>

			<p>&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Іноземна мова (французька);</li>
				<li>Іноземна мова за професійним спрямуванням (французька).</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp;&nbsp; Освіта:</strong>&nbsp;Чернівецький державний університет&nbsp;за спеціальністю &quot;Романо-германські мови та література. Французька мова&quot; та здобула&nbsp;кваліфікацію філолога, викладача, перекладача&nbsp;(1983&nbsp;р.)</p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/ed78c81359de/lyubchunska_.jpg" style="height:292px; width:210px" /></td>
			<td>
			<p><strong>&nbsp;Любчинська Катерина Артемівна</strong><br />
			&nbsp;викладач І-ї кваліфікаційної категорії<br />
			<br />
			&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Іноземна мова (німецька);</li>
				<li>Іноземна мова за професійним спрямуванням (німецька).</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp;&nbsp; Освіта:</strong>&nbsp;Чернівецький національний&nbsp;університет імені Юрія Федьковича за спеціальністю &quot;Мова та література (німецька)&quot; та здобула&nbsp;кваліфікацію магістра філології, викладача німецької мови (2009&nbsp;р.)</p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<hr /></td>
		</tr>
		<tr>
			<td><img alt="" src="/pages/files/54c6a57882d8/marku_.jpg" style="height:291px; width:210px" /></td>
			<td>
			<p><strong>&nbsp;Марку Василь Іванович</strong><br />
			&nbsp;викладач І-ї кваліфікаційної категорії<br />
			<br />
			&nbsp; &nbsp;<em><strong>Предмети (дисципліни):</strong></em></p>

			<ul>
				<li>Іноземна мова (англійська);</li>
				<li>Іноземна мова за професійним спрямуванням (англійська).</li>
			</ul>

			<p style="text-align:justify"><strong>&nbsp;&nbsp; Освіта:</strong>&nbsp;Чернівецький національний університет імені Юрія Федьковича за спеціальністю &quot;Мова та література (англійська)&quot; та здобув кваліфікацію магістра філології, викладача англійської та французької мов (2012&nbsp;р.)</p>
			</td>
		</tr>
	</tbody>
</table>
