<p style="text-align: justify;"><img alt="" src="/pages/files/67ea2dec44e4/001.jpg" style="height:364px; width:780px" />&nbsp; &nbsp;&nbsp;Найкращі спортсмени&nbsp;Коледжу ЧНУ імені Юрія Федьковича взяли участь у відкритті &nbsp;<strong>71-ої &nbsp;Спартакіади</strong>&nbsp;Чернівецького національного університету&nbsp;імені Юрія Федьковича.</p>

<p style="text-align: justify;"><img alt="" src="/pages/files/d50cd9463836/002.jpg" style="height:341px; width:780px" /></p>

<p style="text-align: justify;"><img alt="" src="/pages/files/112790572813/003.jpg" style="height:441px; width:780px" /></p>
