<p style="text-align:justify">&nbsp; &nbsp;З нагоди свята 9 травня -&nbsp;<strong>Дня&nbsp;Перемоги</strong>&nbsp;<strong>над нацизмом у Другій світовій війні</strong>, cтудентка&nbsp;1-го курсу спеціальності &quot;Прикладна математика&quot; Вівіан ТИЧІНА&nbsp;змонтувала&nbsp;відеоролик&nbsp;<strong>&quot;Родинні історії війни&quot;.</strong></p>

<p style="text-align:center"><strong><img alt="" src="/pages/files/e8ce68b1ec7a/002.jpg" style="height:760px; width:780px" />Пам&#39;ятаємо тих, хто боровся за Україну тоді!<br />
Шануємо тих, хто воює за неї сьогодні!</strong></p>

<p style="text-align:center"><a href="https://youtu.be/SSiUVrWZx68">Переглянути відеоролик</a></p>
