<p style="text-align:center"><strong>ГРАН-ПРІ</strong><strong>🏆</strong><strong> та І МІСЦЕ на Міжнародному фестивалі-конкурсі &ldquo;Golden fest&rdquo; &ndash; 2019 w Magicznyсh Ogrodaсh (Польща)!</strong></p>

<p style="text-align:justify">&nbsp; &nbsp;З 28 серпня по 1 вересня 2019 року&nbsp;у місті Тжчьанки (Польща) відбувся<strong> Міжнародний фестиваль-конкурс &ldquo;Golden fest&rdquo; &ndash; 2019 w Magicznyсh Ogrodaсh</strong>. На Фестивалі Коледж ЧНУ імені Юрія Федьковича представляли двоє учасників &ndash; викладач, канд. філол. наук <strong>Марко Ірина Вікторівна</strong> та студентка 3-го курсу спеціальності &laquo;Облік та оподаткування&raquo; &shy;&nbsp; <strong>&ndash;</strong>&nbsp;<strong>Ганна Лаб&#39;як</strong>.</p>

<p style="text-align:justify"><img alt="" src="/pages/files/0b1e532ecc8b/009.jpg" style="height:520px; width:780px" /></p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/74635eb09111/005.jpg" style="height:694px; width:390px" /></td>
			<td><img alt="" src="/pages/files/4f1654026dfd/006.jpg" style="height:693px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp;Поважне журі з Польщі, України та Мексики у номінації &ldquo;Декламація&rdquo; визнало виступи конкурсантів найкращими і присудило призові місця:</p>

<ul>
	<li style="text-align:justify">Лаб&rsquo;як Ганна - <strong>Диплом І ступеня</strong>!</li>
	<li style="text-align:justify">Марко Ірина Вікторівна - <strong>Гран-прі!</strong></li>
</ul>

<p style="text-align: right;"><strong>Щирі ВІТАННЯ нашим переможцям!</strong></p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/e41ac3d06520/Labiak_pl-.jpg" style="height:280px; width:390px" /></td>
			<td><img alt="" src="/pages/files/ea0b1288b648/Marko_pl-.jpg" style="height:280px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/519147201637/003.jpg" style="height:692px; width:390px" /></td>
			<td><img alt="" src="/pages/files/f10a9758a759/004.jpg" style="height:693px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;Учасники нагороджені Дипломами, Сертифікатами міжнародного зразка, кубком та пам&#39;ятними сувенірами.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/b345ab65af6b/001.jpg" style="height:694px; width:390px" /></td>
			<td><img alt="" src="/pages/files/a3b04da46c4c/002.jpg" style="height:693px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;Під час проведення фестивалю була реалізована не тільки творча програма, але й культурно-розважальна. Учасники фестивалю мали можливість ознайомитись з містами неймовірної краси та оповитими давньою історією.</p>

<p style="text-align:justify">&nbsp; &nbsp;Нас гостинно зустріло місто Пулави, центр пулавської гміни і повіту Люблінського воєводства. Також потрапили на цікаві екскурсії до історичних місць Люблін і Казимеж.</p>

<p style="text-align:justify">&nbsp; &nbsp;Фестиваль проходив у чарівному місті в величезному парку розваг Magiczne Ogrody, що перекладається як &laquo;Чарівні Сади&raquo; і повністю відповідає назві. Парк розташований в Люблінському воєводстві в місцевості Тжчьанки, біля історичного міста з старовинним замком Казімеж з мальовничими парками та незабутніми краєвидами!</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:390px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/fe1441a5da00/007.jpg" style="height:520px; width:390px" /></td>
			<td><img alt="" src="/pages/files/00febf93fdb0/008.jpg" style="height:520px; width:390px" /></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify">&nbsp; &nbsp;Магічні сади - це перший тематичний парк в Польщі, створений на основі оригінальної казкової історії. Серед сотень квітів, дерев, розваг, замків і озер є казкові землі, на яких мешкають надзвичайні магічні істоти. Ця незабутня пригода, контакт з магічною природою та яскравий конкурс-фестиваль з талановитими виконавцями, дружня та родинна атмосфера назавжди залишаться тендітним, зворушливим спогадом в серці!</p>
