<table>
	<tbody>
		<tr>
			<td>
			<h3><strong>Список груп 2 курсу</strong></h3>
			</td>
		</tr>
	</tbody>
</table>

<table>
	<tbody>
		<tr>
			<td style="vertical-align:top">
			<ul>
				<li>201 група, спеціальність &quot;Економіка підприємства&quot;</li>
				<li>202 група, спеціальність &quot;Прикладна математика&quot;</li>
				<li>203 група, спеціальність &quot;Обслуговування комп&#39;ютерних систем і мереж&quot;</li>
				<li>213 група, спеціальність &quot;Обслуговування комп&#39;ютерних систем і мереж&quot;</li>
				<li>204 група, спеціальність &quot;Інформаційна діяльність підприємства&quot;</li>
				<li>205 група, спеціальність &quot;Бухгалтерський облік&quot;</li>
				<li>206 група, спеціальність &quot;Фінанси та кредит&quot;</li>
				<li>208 група, спеціальність &quot;Правознавство&quot;</li>
				<li>218 група, спеціальність &quot;Правознавство&quot;</li>
			</ul>
			</td>
		</tr>
	</tbody>
</table>
