<p style="text-align:center"><strong>Перелік спеціальностей за якими здійснюється підготовка<br />
у Коледжі ЧНУ імені Юрія Федьковича </strong></p>

<table border="0" style="height:252px; width:343px">
	<tbody>
		<tr>
			<td>
			<p>081 <a href="https://web.archive.org/web/20171206104909/http://www.college-chnu.cv.ua/index.php?option=com_content&amp;view=article&amp;id=260:2014-06-04-09-32-43&amp;catid=1:2012-02-06-18-12-00&amp;Itemid=134">Право</a></p>

			<p>076&nbsp;<a href="https://web.archive.org/web/20171206104909/http://www.college-chnu.cv.ua/index.php?option=com_content&amp;view=article&amp;id=9&amp;Itemid=26">Підприємництво, торгівля та біржова діяльність</a></p>

			<p>072&nbsp;<a href="https://web.archive.org/web/20171206104909/http://www.college-chnu.cv.ua/index.php?option=com_content&amp;view=article&amp;id=8&amp;Itemid=27">Фінанси, банківська справа та страхування</a></p>

			<p>071&nbsp;<a href="https://web.archive.org/web/20171206104909/http://www.college-chnu.cv.ua/index.php?option=com_content&amp;view=article&amp;id=10&amp;Itemid=24">Облік і оподаткування</a></p>

			<p>113&nbsp;<a href="https://web.archive.org/web/20171206104909/http://www.college-chnu.cv.ua/index.php?option=com_content&amp;view=article&amp;id=11:2012-01-19-09-18-14&amp;catid=1:2012-02-06-18-12-00&amp;Itemid=25">Прикладна математика</a></p>

			<p>122&nbsp;<a href="https://web.archive.org/web/20171206104909/http://www.college-chnu.cv.ua/index.php?option=com_content&amp;view=article&amp;id=347:2016-06-07-20-40-06&amp;catid=1:2012-02-06-18-12-00&amp;Itemid=144">Комп&#39;ютерні науки</a></p>

			<p>123&nbsp;<a href="https://web.archive.org/web/20171206104909/http://www.college-chnu.cv.ua/index.php?option=com_content&amp;view=article&amp;id=12&amp;Itemid=23">Комп&#39;ютерна інженерія</a></p>
			</td>
			<td><img alt="Students05" src="https://web.archive.org/web/20171206104909im_/http://www.college-chnu.cv.ua/images/banners/Students05.jpg" style="height:200px; width:77px" /></td>
		</tr>
	</tbody>
</table>

<p><img alt="specialnosti" src="https://web.archive.org/web/20171206104909im_/http://www.college-chnu.cv.ua/images/img_for_colledg/specialnosti.jpg" style="height:405px; margin-left:auto; margin-right:auto; width:630px" /></p>
