<p style="text-align:center"><strong>СТУДЕНТСЬКИЙ АКТИВ</strong></p>

<hr />
<table border="0">
	<tbody>
		<tr>
			<td><img alt="Sobkova" src="/pages/files/b76412f32698/1.jpg" style="height:326px; width:250px" /></td>
			<td>
			<p style="text-align:center">Голова профспілкової організації студентів</p>

			<p style="text-align:center">Коледжу Чернівецького національного університету</p>

			<p style="text-align:center">імені Юрія Федьковича&nbsp;</p>

			<p style="text-align:center"><strong>Cобко Марина</strong></p>

			<p style="text-align:center">спеціальність &quot;Бухгалтерський облік&quot;</p>
			</td>
		</tr>
	</tbody>
</table>

<hr />
<table border="0">
	<tbody>
		<tr>
			<td><span style="color:#000080"><strong><img alt="Pasichnuk" src="/pages/files/066d3f730ec3/2.jpg" style="height:334px; width:250px" /></strong></span></td>
			<td>
			<p style="text-align:center">Голова студентського парламенту</p>

			<p style="text-align:center">Коледжу Чернівецького національного університету</p>

			<p style="text-align:center">імені Юрія Федьковича&nbsp;</p>

			<p style="text-align:center"><strong>Пасічник Микола</strong></p>

			<p style="text-align:center">спеціальність &quot;Правознавство&quot;</p>
			</td>
		</tr>
	</tbody>
</table>

<hr />
<table border="0">
	<tbody>
		<tr>
			<td><span style="color:#000080"><strong><img alt="Rotar" src="/pages/files/9060bfe92586/3.jpg" style="height:334px; width:250px" /></strong></span></td>
			<td>
			<p style="text-align:center">Заступник голови студентського парламенту</p>

			<p style="text-align:center">Коледжу Чернівецького національного університету</p>

			<p style="text-align:center">імені Юрія Федьковича&nbsp;</p>

			<p style="text-align:center"><strong>Ротар Анна</strong></p>

			<p style="text-align:center">спеціальність &quot;Фінанси і кредит&quot;</p>
			</td>
		</tr>
	</tbody>
</table>

<hr />
<table border="0">
	<tbody>
		<tr>
			<td><span style="color:#000080"><strong><img alt="Kvitka" src="/pages/files/ff0d09aa1b57/4.jpg" style="height:334px; width:250px" /></strong></span></td>
			<td>
			<p style="text-align:center">Голова навчально-організаційного сектору</p>

			<p style="text-align:center">Коледжу Чернівецького національного університету</p>

			<p style="text-align:center">імені Юрія Федьковича&nbsp;</p>

			<p style="text-align:center"><strong>Квітка Ірина</strong></p>

			<p style="text-align:center">спеціальність &quot;Фінанси і кредит&quot;</p>
			</td>
		</tr>
	</tbody>
</table>

<hr />
<table border="0">
	<tbody>
		<tr>
			<td><img alt="Halaturnuk" src="/pages/files/2f5539550397/5.jpg" style="height:334px; width:250px" /></td>
			<td>
			<p style="text-align:center">Заступник голови навчально-організаційного сектору</p>

			<p style="text-align:center">Коледжу Чернівецького національного університету</p>

			<p style="text-align:center">імені Юрія Федьковича&nbsp;</p>

			<p style="text-align:center"><strong>Халатурник Ірина</strong></p>

			<p style="text-align:center">спеціальність&nbsp;&quot;Правознавство&quot;</p>
			</td>
		</tr>
	</tbody>
</table>

<hr />
<table border="0">
	<tbody>
		<tr>
			<td><img alt="Pisecka" src="/pages/files/d858c01e81d6/6.jpg" style="height:334px; width:250px" /></td>
			<td>
			<p style="text-align:center">Заступник голови навчально-організаційного сектору</p>

			<p style="text-align:center">Коледжу Чернівецького національного університету</p>

			<p style="text-align:center">імені Юрія Федьковича&nbsp;</p>

			<p style="text-align:center"><strong>Пісецька Ольга</strong></p>

			<p style="text-align:center">спеціальність &quot;Фінанси і кредит&quot;</p>
			</td>
		</tr>
	</tbody>
</table>

<hr />
<table border="0">
	<tbody>
		<tr>
			<td><img alt="Filiyovuch" src="/pages/files/a9082221a81b/7.jpg" style="height:334px; width:250px" /></td>
			<td>
			<p style="text-align:center">Голова культмасового сектору</p>

			<p style="text-align:center">Коледжу Чернівецького національного університету</p>

			<p style="text-align:center">імені Юрія Федьковича&nbsp;</p>

			<p style="text-align:center">&nbsp;<strong>Філійович Анна Михайлівна</strong></p>

			<p style="text-align:center">спеціальність &quot;Прикладна математика&quot;</p>
			</td>
		</tr>
	</tbody>
</table>

<hr />
<table border="0">
	<tbody>
		<tr>
			<td><img alt="Dolgan" src="/pages/files/6aec0bb1ea49/8.jpg" style="height:334px; width:250px" /></td>
			<td>
			<p style="text-align:center">Заступник голови культмасового сектору</p>

			<p style="text-align:center">Коледжу Чернівецького національного університету</p>

			<p style="text-align:center">імені Юрія Федьковича&nbsp;</p>

			<p style="text-align:center">&nbsp;<strong>Долган Ксенія</strong></p>

			<p style="text-align:center">спеціальність &quot;Правознавство&quot;</p>
			</td>
		</tr>
	</tbody>
</table>

<hr />
<table border="0">
	<tbody>
		<tr>
			<td><img alt="Haryuk" src="/pages/files/d3c6bcf6d0be/9.jpg" style="height:334px; width:250px" /></td>
			<td>
			<p style="text-align:center">Заступник голови культмасового сектору</p>

			<p style="text-align:center">Коледжу Чернівецького національного університету</p>

			<p style="text-align:center">імені Юрія Федьковича&nbsp;</p>

			<p style="text-align:center">&nbsp;<strong>Харюк Анна</strong></p>

			<p style="text-align:center">спеціальність&nbsp;&quot;Правознавство&quot;</p>
			</td>
		</tr>
	</tbody>
</table>

<hr />
<table border="0">
	<tbody>
		<tr>
			<td><span style="color:#000080"><strong><img alt="Man" src="/pages/files/f46170968990/10.jpg" style="height:280px; width:250px" /></strong></span></td>
			<td>
			<p style="text-align:center">Голова спортивно-оздоровчого сектору</p>

			<p style="text-align:center">Коледжу Чернівецького національного університету</p>

			<p style="text-align:center">імені Юрія Федьковича&nbsp;</p>

			<p style="text-align:center"><strong>Нарольський Денис</strong></p>

			<p style="text-align:center">спеціальність&nbsp;&quot;Правознавство&quot;</p>
			</td>
		</tr>
	</tbody>
</table>

<hr />
<table border="0">
	<tbody>
		<tr>
			<td><img alt="Macenko" src="/pages/files/8b781ac3741f/11.jpg" style="height:334px; width:250px" /></td>
			<td>
			<p style="text-align:center">Заступник голови спортивно-оздоровчого сектору</p>

			<p style="text-align:center">Коледжу Чернівецького національного університету</p>

			<p style="text-align:center">імені Юрія Федьковича&nbsp;</p>

			<p style="text-align:center"><strong>Маценко Діана</strong></p>

			<p style="text-align:center">спеціальність&nbsp;&quot;Правознавство&quot;</p>
			</td>
		</tr>
	</tbody>
</table>

<hr />
<table border="0">
	<tbody>
		<tr>
			<td><span style="color:#000080"><strong><img alt="Golyak" src="/pages/files/cc99fa57bac7/12.jpg" style="height:334px; width:250px" /></strong></span></td>
			<td>
			<p style="text-align:center">Голова&nbsp;благодійного сектору</p>

			<p style="text-align:center">Коледжу Чернівецького національного університету</p>

			<p style="text-align:center">імені Юрія Федьковича&nbsp;</p>

			<p style="text-align:center"><strong>Голяк&nbsp;Валентин</strong></p>

			<p style="text-align:center">спеціальність &quot;Фінанси і кредит&quot;</p>
			</td>
		</tr>
	</tbody>
</table>

<hr />
<table border="0">
	<tbody>
		<tr>
			<td><span style="color:#000080"><strong><img alt="" src="/pages/files/0f3080aa9c45/13.jpg" style="height:334px; width:250px" /></strong></span></td>
			<td>
			<p style="text-align:center">Заступник голови благодійного сектору</p>

			<p style="text-align:center">Коледжу Чернівецького національного університету</p>

			<p style="text-align:center">імені Юрія Федьковича&nbsp;</p>

			<p style="text-align:center"><strong>Ряба Ярина</strong></p>

			<p style="text-align:center">спеціальність&nbsp;&quot;Правознавство&quot;</p>

			<p>&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table>

<hr />
<table border="0">
	<tbody>
		<tr>
			<td><span style="color:#000080"><strong><img alt="Bernavska" src="https://web.archive.org/web/20180221231450im_/http://college-chnu.cv.ua/images/img_for_colledg/Bernavska.jpg" style="height:334px; width:250px" /></strong></span></td>
			<td>
			<p style="text-align:center">Фотограф студентського парламенту</p>

			<p style="text-align:center">Коледжу Чернівецького національного університету</p>

			<p style="text-align:center">імені Юрія Федьковича&nbsp;</p>

			<p style="text-align:center"><strong>Бернавська Владилена</strong></p>

			<p style="text-align:center">спеціальність&nbsp;&quot;Правознавство&quot;</p>

			<p>&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table>

<hr />
<table border="0">
	<tbody>
		<tr>
			<td><span style="color:#000080"><strong><img alt="Vunnuchuk" src="/pages/files/218688887e21/14.jpg" style="height:334px; width:250px" /></strong></span></td>
			<td>
			<p style="text-align:center">Фотограф студентського парламенту</p>

			<p style="text-align:center">Коледжу Чернівецького національного університету</p>

			<p style="text-align:center">імені Юрія Федьковича&nbsp;</p>

			<p style="text-align:center"><strong>Винничук Анна</strong></p>

			<p style="text-align:center">спеціальність&nbsp;&quot;Правознавство&quot;</p>

			<p>&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table>
