<table border="0">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/6be19daad1ea/1.png" style="height:224px; width:156px" /></td>
			<td>&nbsp; &nbsp;&nbsp;</td>
			<td>
			<p style="text-align:center"><strong><strong>Директор коледжу</strong></strong></p>

			<p style="text-align:center">Собчук Олександр Васильович<br />
			кандидат фізико-математичних наук, доцент<br />
			викладач вищої категорії, методист</p>
			</td>
		</tr>
	</tbody>
</table>

<p style="text-align:left">&nbsp;</p>

<hr />
<p>&nbsp;</p>

<table border="0">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/96fdeac5bb7e/2.jpg" style="height:206px; width:156px" /></td>
			<td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
			<td>
			<p style="text-align:center"><strong>Заступник директора</strong><br />
			<strong>з навчально-виховної роботи</strong></p>

			<p style="text-align:center">Докаль Ольга Ярославівна<br />
			викладач вищої категорії, методист</p>
			</td>
		</tr>
	</tbody>
</table>

<p style="text-align:left">&nbsp;</p>

<hr />
<p>&nbsp;</p>

<table border="0">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/78ff7d783076/3.jpg" style="height:207px; width:155px" /></td>
			<td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
			<td>
			<p style="text-align:center"><strong>Заступник директора</strong><br />
			<strong>з навчально-методичної&nbsp;</strong><strong>роботи</strong></p>

			<p style="text-align:center">Дерев&#39;янчук Микола Ярославович<br />
			викладач вищої категорії</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<hr />
<p>&nbsp;</p>

<table border="0">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/e43ddc43bb0d/4.JPG" style="height:200px; width:155px" /></td>
			<td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
			<td>&nbsp;
			<p style="text-align:center"><strong>Завідувач<br />
			природничого відділення</strong></p>

			<p style="text-align:center">Ковдриш Володимир Володимирович<br />
			кандидат фізико-математичних наук,<br />
			викладач вищої категорії</p>
			</td>
		</tr>
	</tbody>
</table>

<hr />
<table border="0">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/c319aa4b8d6b/5.jpg" style="height:215px; width:155px" /></td>
			<td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
			<td>&nbsp;
			<p style="text-align:center"><strong>Завідувач<br />
			юридичного відділення</strong></p>

			<p style="text-align:center">Флорескул-Світова Світлана Лазарівна<br />
			викладач вищої категорії, методист</p>
			</td>
		</tr>
	</tbody>
</table>

<hr />
<table border="0">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/20139023b871/6.png" style="height:196px; width:150px" /></td>
			<td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
			<td>&nbsp;
			<p style="text-align:center"><strong>Завідувач<br />
			економічного відділення</strong></p>

			<p style="text-align:center">Гіщук Оксана Стефанівна<br />
			викладач вищої категорії, методист</p>
			</td>
		</tr>
	</tbody>
</table>

<hr />
<table border="0">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/9ad08e03d0af/7.jpg" style="height:208px; width:150px" /></td>
			<td style="text-align:center"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</strong></td>
			<td style="text-align:center">
			<p><strong>Завідувач</strong><br />
			<strong>навчально-методичного кабінету</strong></p>

			<p>Білокрила Ольга Яківна</p>
			</td>
		</tr>
	</tbody>
</table>

<hr />
<table border="0">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/61763068f589/9.jpg" style="height:185px; width:150px" /></td>
			<td style="text-align:center"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</strong></td>
			<td style="text-align:center">
			<p><strong>Завідувач</strong><br />
			<strong>навчально-методичної лабораторії</strong></p>

			<p>Кушнір Анастасія Володимирівна</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<hr />
<p>&nbsp;</p>

<table border="0" style="height:209px; width:480px">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/7a19a6a1abc4/10.jpg" style="height:187px; width:150px" /></td>
			<td>
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td>
			<p style="text-align:center"><strong>Завідувач</strong><br />
			<strong>навчальної лабораторії</strong></p>

			<p style="text-align:center">Сикотюк Інна Михайлівна</p>

			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<hr />
<p>&nbsp;</p>

<table border="0">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/bf4afde9cb7d/6.png" style="height:196px; width:150px" /></td>
			<td>
			<p style="text-align:center"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </strong></p>
			</td>
			<td>
			<p style="text-align:center"><strong>Завідувач</strong><br />
			<strong>навчальної лабораторії</strong></p>

			<p style="text-align:center">Гуцул Тетяна Олександрівна</p>

			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<hr />
<p>&nbsp;</p>

<table border="0">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/4e5f8dd02625/11.jpg" style="height:210px; width:150px" /></td>
			<td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td>&nbsp;
			<p style="text-align:center"><strong>Завідувач<br />
			навчально-виробничої практики</strong></p>

			<p style="text-align:center">Чубатько Інна Борисівна</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<hr />
<table border="0">
	<tbody>
		<tr>
			<td><img alt="" src="/pages/files/dc6ca85d5f3f/12.jpg" style="height:226px; width:150px" /></td>
			<td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
			<td>&nbsp;
			<p style="text-align:center"><strong>Керівник<br />
			фізичного виховання</strong></p>

			<p style="text-align:center">Михайлович Майя Михайлівна<br />
			майстер спорту</p>
			</td>
		</tr>
	</tbody>
</table>

<hr />
<p style="text-align:left">&nbsp;</p>
