<table>
	<tbody>
		<tr>
			<td>
			<h3>Студентське самоврядування</h3>
			</td>
		</tr>
	</tbody>
</table>

<table>
	<tbody>
		<tr>
			<td style="vertical-align:top">
			<p><a href="https://web.archive.org/web/20180221231252/http://college-chnu.cv.ua/index.php?option=com_content&amp;view=article&amp;id=40:2012-09-10-12-15-56&amp;catid=2:2012-09-01-10-28-33&amp;Itemid=67">Студентський актив</a></p>

			<p><a href="https://web.archive.org/web/20180221231252/http://college-chnu.cv.ua/index.php?option=com_content&amp;view=article&amp;id=115:2013-10-29-16-33-06&amp;catid=16:2013-10-29-16-31-53&amp;Itemid=121">Студпрофком</a></p>

			<p><a href="https://web.archive.org/web/20180221231252/http://college-chnu.cv.ua/index.php?option=com_content&amp;view=article&amp;id=86%3A2013-02-27-09-56-27&amp;catid=13%3A2013-02-27-09-53-17&amp;Itemid=66">Міс коледжу</a></p>

			<p><a href="https://web.archive.org/web/20180221231252/http://college-chnu.cv.ua/index.php?option=com_content&amp;view=article&amp;id=104:2013-05-16-15-30-52&amp;catid=13:2013-02-27-09-53-17&amp;Itemid=105">Кращі спортсмени</a></p>
			</td>
		</tr>
	</tbody>
</table>
