<p style="text-align:center">&nbsp;<img alt="History" src="/pages/files/b55aa53334be/History.jpg" style="height:281px; width:720px" /></p>

<p style="text-align:justify">З метою реалізації ступеневої підготовки фахівців з вищою освітою у Чернівецькому національному університеті імені Юрія Федьковича та відповідно до наказу МОН України № 816 від 28.12.2001 р. у структурі університету створено природничо-економічне відділення з підготовки молодших спеціалістів.&nbsp;<br />
&nbsp;&nbsp;&nbsp;&nbsp;Відповідно до наказу МОН України № 413 від 18.07.2002 р. природничо-економічне відділення було реорганізовано у <strong>Коледж Чернівецького національного університету імені Юрія Федьковича</strong><strong>.</strong><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Першим директором коледжу було призначено Личук Марію Іванівну, кандидата філологічних наук.<br />
&nbsp;&nbsp;&nbsp;Підготовка фахівців проводилась за сімома спеціальностями: &quot;Фінанси&quot;, &quot;Бухгалтерський облік&quot;, &quot;Економіка підприємства&quot;, &quot;Організація виробництва&quot;, &quot;Прикладна екологія&quot;, &quot;Прикладна математика&quot;, &quot;Обслуговування комп&#39;ютерних та інтелектуальних систем і мереж&quot;.<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;У серпні 2004 року директором коледжу призначено кандидата фізико-математичних, доцента кафедри математичного аналізу факультета &quot;Прикладної математики&quot; - Собчука Олександра Васильовича.&nbsp;<br />
&nbsp;&nbsp;&nbsp;За рішенням акредитаційної комісії України від 27 червня 2013 р., протокол №105, була ліцензована нова спеціальність 5.03050201 &quot;ІНФОРМАЦІЙНА ДІЯЛЬНІСТЬ ПІДПРИЄМСТВА&quot;.&nbsp;А в 2014 році, згідно з рішенням акредитаційної комісії України від 20 червня 2014 р., протокол №105, була ліцензована нова спеціальність 5.03040101 &quot;ПРАВОЗНАВСТВО&quot;.<br />
&nbsp;&nbsp;&nbsp;&nbsp;На сьогоднішній день коледж є структурним підрозділом університету без статусу юридичної особи, що надає освітні послуги, пов&rsquo;язані з одержанням вищої освіти на рівні кваліфікаційних вимог до молодшого спеціаліста (молодшого бакалавра) з одночасним наданням повної загальної середньої освіти.<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Враховуючи потреби регіону, у коледжі ЧНУ здійснюється підготовка молодших спеціалістів за такими спеціальностями:</p>

<p style="text-align:left">5.03040101 <strong>&quot;ПРАВОЗНАВСТВО&quot;</strong>,</p>

<p style="text-align:left">5.03050201 <strong>&quot;ІНФОРМАЦІЙНА ДІЯЛЬНІСТЬ ПІДПРИЄМСТВА&quot;</strong>,</p>

<p style="text-align:left">5.03050401 <strong>&quot;ЕКОНОМІКА ПІДПРИЄМСТВА&quot;</strong>,</p>

<p style="text-align:left">5.03050801 <strong>&quot;ФІНАНСИ І КРЕДИТ&quot;</strong>,</p>

<p style="text-align:left">5.03050901 <strong>&quot;БУХГАЛТЕРСЬКИЙ ОБЛІК&quot;</strong>,</p>

<p style="text-align:left">5.04030101 <strong>&quot;ПРИКЛАДНА МАТЕМАТИКА&quot;</strong>,</p>

<p style="text-align:left">5.05010201 <strong>&quot;ОБСЛУГОВУВАННЯ КОМП&quot;ЮТЕРНИХ СИСТЕМ І МЕРЕЖ&quot;</strong>.&nbsp;</p>

<p style="text-align:justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Станом на 1 вересня 2015 року контингент студентів становить 505 осіб, з яких 269 навчаються за державним замовленням. Студенти коледжу беруть активну участь в різноманітних предметних олімпіадах серед студентів вищих навчальних закладів І-ІІ рівнів акредитації, обласних фестивалях-конкурсах самодіяльної творчості.</p>
