<p style="text-align:center"><strong>СТИПЕНДІЇ</strong></p>

<p><strong>1.</strong> <a href="/pages/files/593280427b72/stupendii.pdf">Правила призначення і виплати стипендії студентам коледжу</a></p>

<p><strong>2.</strong> <a href="/pages/files/b6bdb76fad68/Рейтинг зима 2018-2019_45% коледж.pdf">Рейтингові списки студентів коледжу за результатами зимової екзаменаційної сесії 2018/2019 н.р.</a></p>
