<h2 style="text-align: center;"><strong>Інформація щодо поселення у гуртожиток</strong></h2>

<p><strong>&nbsp;</strong></p>

<p>&nbsp;</p>

<p><strong>Терміни поселення</strong> : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 29-30 серпня &ndash; вул. Кутузова, 6;</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 31 серпня &ndash; вул. Небесної Сотні, 4б.</p>

<p>&nbsp;</p>

<p><strong>При собі мати:</strong></p>

<p><strong>&nbsp;</strong></p>

<ol>
	<li><strong>1.</strong>Ксерокопії свідоцтва про народження або паспорту та ідент. коду.</li>
	<li><strong>2.</strong>Виписка з місця проживання для тимчасової реєстрації.</li>
	<li><strong>3.</strong>Постільна білизна.</li>
</ol>

<p>&nbsp;</p>

<p>Орієнтована вартість проживання &ndash; 1500 грн. за семестр.</p>

<p><strong>&nbsp;</strong></p>

<p><strong>Присутність одного з батьків обов&rsquo;</strong><strong>язкова</strong><strong>!!</strong><strong>!</strong></p>

<p><strong>&nbsp;</strong></p>

<p><strong><em>Довідки </em></strong><em>за тел. 095-342-36-32 &ndash; Ольга Ярославівна, заст. директора з навчально-виховоної роботи, робочий час: 10:00-17:00.</em></p>
