<p style="text-align:center"><strong>Теми дипломних </strong><strong>проектів</strong></p>

<p><strong>1.&nbsp;</strong>Розробка інформаційно-аналітичної системи &laquo;Облік пацієнтів лікарні&raquo;.</p>

<p><strong>2.&nbsp;</strong>Розробка мережевої інформаційної системи &laquo;Бібліотека ВНЗ&raquo;.</p>

<p><strong>3.&nbsp;</strong>Розробка веб-орієнтованої системи &laquo;Автосервіс&raquo;.</p>

<p><strong>4.&nbsp;</strong>Реалізація мобільного додатку &ndash; месенжера.</p>

<p><strong>5.&nbsp;</strong>Веб-орієнтована система замовлення послуг.</p>

<p><strong>6.&nbsp;</strong>Реалізація веб-орієнтованої системи фотостудії.</p>

<p><strong>7.&nbsp;</strong>Розробка інформаційної системи &laquo;Деканат коледжу&raquo;.</p>

<p><strong>8.&nbsp;</strong>Автоматизація обліку успішності студентів.</p>

<p><strong>9.&nbsp;</strong>Інформаційна система для обчислення фінансових показників підприємства.</p>

<p><strong>10.&nbsp;</strong>Проектування веб-сайту торговельної компанії.</p>

<p><strong>11.</strong>&nbsp;Інформаційна система для обліку оплати праці на підприємстві.</p>

<p><strong>12.&nbsp;</strong>Реалізація інформаційної системи для амортизації основних засобів організації.</p>

<p><strong>13.</strong> Реалізація веб-орієнтованої системи &laquo;Склад будівельного підприємства&raquo;.</p>

<p><strong>14.</strong> Програмна реалізація сучасних методів шифрування даних.</p>

<p><strong>15.</strong> Розробка інформаційної системи &laquo;Автосалон&raquo;.</p>

<p><strong>16.</strong>&nbsp;Розробка мультимедійноїпрограми-органайзера.</p>

<p><strong>17.</strong> Інформаційна система для обслуговування відвідувачів ресторану.</p>

<p><strong>18.</strong> Реалізація програмного модуля для підтримки проведення спортивних змагань.</p>

<hr />
<p>&nbsp;</p>
