<table>
	<tbody>
		<tr>
			<td>
			<h3><strong>Список груп 3 курсу</strong></h3>
			</td>
		</tr>
	</tbody>
</table>

<table>
	<tbody>
		<tr>
			<td style="vertical-align:top">
			<ul>
				<li>301 група, спеціальність &quot;Економіка підприємства&quot;</li>
				<li>302 група, спеціальність &quot;Прикладна математика&quot;</li>
				<li>303 група, спеціальність &quot;Обслуговування комп&#39;ютерних систем і мереж&quot;</li>
				<li>313 група, спеціальність &quot;Обслуговування комп&#39;ютерних систем і мереж&quot;</li>
				<li>305 група, спеціальність &quot;Бухгалтерський облік&quot;</li>
				<li>306 група, спеціальність &quot;Фінанси та кредит&quot;</li>
				<li>308 група, спеціальність &quot;Правознавство&quot;</li>
			</ul>
			</td>
		</tr>
	</tbody>
</table>
