<p style="text-align:center"><strong>Орієнтовна тематика курсових робіт з дисципліни &ldquo;Трудове право&rdquo;</strong></p>

<p>1. Право людини на працю і гарантії його реалізації.</p>

<p>2. Історія виникнення та розвитку трудового права.</p>

<p>3. Поняття та особливості трудового права і його місце в системі права України.</p>

<p>4. Предмет трудового права України.</p>

<p>5. Джерела міжнародно-правового регулювання праці.</p>

<p>6. Правове регулювання принципів трудового права України.</p>

<p>7. Теоретико-правовий аналіз юридичних гарантій трудових прав громадян.</p>

<p>8. Працівники як суб&rsquo;єкти трудового права України.</p>

<p>9. Порівняльно-правовий аналіз Кодексу законів про працю України та проекту Трудового кодексу України.</p>

<p>10. Правовий статус профспілок.</p>

<p>11. Правове регулювання інституту соціального партнерства в Україні та світі.</p>

<p>12. Правовий аналіз поняття, змісту та значення колективних договорів в Україні.</p>

<p>13. Особливості працевлаштування іноземців та осіб без громадянства в Україні.</p>

<p>14. Правий статус безробітного за законодавством України.</p>

<p>15. Контракт як особлива форма трудового договору в Україні.</p>

<p>16. Інститут випробування при прийнятті на роботу: роль та значення в сучасних українських реаліях.</p>

<p>17. Правове регулювання професійного розвитку та перекваліфікації працівників.</p>

<p>18. Правові питання розірвання трудового договору за ініціативою працівника.</p>

<p>19. Порівняльний аналіз поняття та видів робочого часу за законодавством України та зарубіжних країн.</p>

<p>20. Правова регламентація інституту відповідальності за порушення норм трудового законодавства.</p>

<p>21. Теоретико-правовий аналіз інституту трудової дисципліни.</p>

<p>22. Особливості дисциплінарної відповідальності державних службовців.</p>

<p>23. Правова аналіз інституту охорони праці неповнолітніх.</p>

<p>24. Право на страйк: особливості реалізації в Україні та світі.</p>

<p>25. Особливості розгляду трудових спорів у судах України.</p>

<p>26. Теоретико-правовий аналіз функцій трудового права України.</p>

<p>27. Особливості галузевих принципів трудового права.</p>

<p>28. Правовий статус Міжнародної організації праці.</p>

<p>29. Локальні нормативно-правові акти в системі джерел трудового права України.</p>

<p>30. Правова регламентація правового статусу роботодавця.</p>

<p>31. Трудовий колектив як суб&rsquo;єкт трудового права.</p>

<p>32. Правове регулювання порядку ведення переговорів та укладення колективного договору в Україні.</p>

<p>33. Правові засади забезпечення зайнятості молоді в Україні.</p>

<p>34. Трудовий договір: поняття, зміст та значення.</p>

<p>35. Особливості трудового договору з роботодавцем &ndash; фізичною особою.</p>

<p>36. Правові питання укладення строкових трудових договорів.</p>

<p>37. Актуальні правові питання зміни умов трудового договору в Україні.</p>

<p>38. Правова регламентація підстав припинення трудового договору.</p>

<p>39. Розірвання трудового договору за ініціативою роботодавця з підстав, пов&rsquo;язаних із винними діями працівника.</p>

<p>40. Правовий аналіз нормування праці.</p>

<p>41. Інститут відпусток в Україні та світі: порівняльно-правовий аспект.</p>

<p>42. Особливості матеріальної відповідальності працівника за трудовим правом України.</p>

<p>43. Правове регулювання інституту заробітної плати в Україні та світі.</p>

<p>44. Актуальні питання правового регулювання праці жінок.</p>

<p>45. Правова регламентація інституту дисциплінарної відповідальності в Україні.</p>

<p>46. Заохочення за успіхи в роботі: поняття, види та значення.</p>

<p>47. Нагляд і контроль за дотриманням трудового законодавства.</p>

<p>48. Правові питання підстав та порядку відшкодування шкоди у трудовому праві України.</p>

<p>49. Особливості причин виникнення та види трудових спорів в Україні.</p>

<p>50. Правова регламентація порядку вирішення колективних трудових спорів.</p>

<p>51. Особливості реалізації права на працю в Україні.</p>

<p>52. Теоретико-правовий аналіз системи трудового права України.</p>

<p>53. Реформа трудового права України: тенденції та перспективи.</p>

<p>54. Джерела трудового права України.</p>

<p>55. Державні органи як суб&rsquo;єкти трудового права в Україні.</p>

<p>56. Регламентація правового статусу організації роботодавців в Україні.</p>

<p>57. Інститут забезпечення зайнятості і працевлаштування в Україні та світі.</p>

<p>58. Правові питання порядку укладення трудового договору.</p>

<p>59. Правовий аналіз видів трудових договорів.</p>

<p>60. Порівняльний-правовий аналіз інститутів сумісництва та суміщення професій у трудових правовідносинах.</p>

<p>61. Атестація працівників: поняття, зміст та значення.</p>

<p>62. Розірвання трудового договору за ініціативою роботодавця з підстав, не пов&rsquo;язаних із винними діями працівника.</p>

<p>63. Особливості режимів та обліку робочого часу в Україні.</p>

<p>64. Порядок оформлення, ведення та видачі трудових книжок.</p>

<p>65. Теоретико-правовий аналіз поняття та видів часу відпочинку в Україні.</p>

<p>66. Щорічні додаткові відпустки: поняття, види та порядок надання.</p>

<p>67. Проблеми правової регламентації праці державних службовців в Україні.</p>

<p>68. Правовий аналіз інституту охорони праці в Україні.</p>

<p>69. Особливості матеріальної відповідальності роботодавця за трудовим правом України.</p>

<p>70. Правові питання регулювання форм та систем оплати праці.</p>

<p>71. Мінімальна заробітна плата як державна гарантія оплати найманої праці.</p>

<p>72. Актуальні питання охорони праці на підприємстві.</p>

<p>73. Правове регулювання внутрішнього трудового розпорядку.</p>

<p>74. Теоретико-правовий аналіз права працівників на безпечні і здорові умови праці.</p>

<p>75. Правова регламентація порядку вирішення індивідуальних трудових спорів.</p>
