<p style="text-align:left"><img alt="" src="/pages/files/7e5cbd8e37fd/sport_College2.jpg" style="height:228px; width:720px" /></p>

<table border="0">
	<tbody>
		<tr>
			<td><img alt="Jaschuk" src="/pages/files/006df10ef2f9/Jaschuk.jpg" style="height:345px; width:230px" /></td>
			<td><img alt="Gorobec" src="/pages/files/5b3c98f0c8bb/Gorobec.jpg" style="height:345px; width:230px" /></td>
			<td><img alt="Yurchak" src="/pages/files/34d7a8d2f530/Yurchak.jpg" style="height:345px; width:230px" /></td>
		</tr>
		<tr>
			<td style="text-align:center">
			<p style="text-align:center"><strong>Ящук Ігор</strong><br />
			майстер спорту з дзюдо</p>
			</td>
			<td style="text-align:center">
			<p style="text-align:center"><strong>Горобець Олег</strong><br />
			майстер спорту з карате</p>
			</td>
			<td style="text-align:center">
			<p><strong>Юрчак Максим</strong><br />
			кандидат у майстри спорту з карате</p>
			</td>
		</tr>
		<tr>
			<td style="text-align:center"><img alt="Protasova" src="/pages/files/b0a2c534c732/Protasova.jpg" style="height:345px; width:230px" /></td>
			<td style="text-align:center"><strong><img alt="Pizhovska" src="/pages/files/6bf735695953/Pizhovska.jpg" style="height:345px; width:230px" /></strong></td>
			<td style="text-align:center"><img alt="Baydalina" src="/pages/files/a2315035570f/Baydalina.jpg" style="height:345px; width:230px" /></td>
		</tr>
		<tr>
			<td style="text-align:center">
			<p style="text-align:center"><strong>Протасова Ольга</strong><br />
			майстер спорту<br />
			з художньої гімнастики</p>
			</td>
			<td style="text-align:center">
			<p><strong>Піжовська Аделя</strong><br />
			кандидат у майстри спорту<br />
			з бально-спортивних танців</p>
			</td>
			<td style="text-align:center">
			<p><strong>Байдаліна Катерина</strong></p>
			</td>
		</tr>
		<tr>
			<td style="text-align:center">
			<p style="text-align:center"><img alt="Manuila" src="/pages/files/a67ed0145b32/Manuila.jpeg" style="height:346px; width:230px" /></p>
			</td>
			<td style="text-align:center">
			<p>&nbsp;</p>
			</td>
			<td style="text-align:center">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="text-align:center"><strong>Мануїла Микола</strong></td>
		</tr>
	</tbody>
</table>
