<p style="text-align:center">Комп&#39;ютерна інженерія</p>

<p style="text-align:justify"><img alt="paren s noutbukom" src="/pages/files/781b7de3efde/paren_s_noutbukom.jpg" style="height:461px; margin-left:auto; margin-right:auto; width:720px" />&nbsp;&nbsp;</p>

<p style="text-align:justify">В усіх галузях науки, освіти, промислового виробництва і в домашньому побуті пройшли глибокі зміни, пов&rsquo;язані з розвитком найновіших сучасних технологій. Ера інформації скорочує дистанції, стискує час і розширює доступ до різноманітних областей знань. Неприйняття можливостей, що пропонує інформаційна революція &ndash; означає повернутися спиною до майбутнього і до життєво важливих потоків інформації, які складають живлячу силу часу.</p>

<p style="text-align:justify">Випускник спеціальності <strong><em>&ldquo;Комп&rsquo;ютерна інженерія&rdquo;</em></strong> &ndash; це фахівець з комп&rsquo;ютерних мереж і технологій. Комп&rsquo;ютерні інженери, мають професійну підготовку в галузі електротехніки, програмного забезпечення та інтеграції апаратно-програмного забезпечення. Комп&rsquo;ютерні інженери займаються багатьма аспектами обчислень: від проектування окремих мікропроцесорів, комп&rsquo;ютерів і суперкомп&rsquo;ютерів до кругового проектування. Завдання, пов&rsquo;язані з комп&rsquo;ютерною інженерією, включають написання програм і мікропрограм для вбудованих мікроконтролерів, проектування інтегральних схем, аналогових датчиків, плат змішаних сигналів, а також розробку операційних систем. Комп&rsquo;ютерні інженери також працюють над дослідженнями для робототехніки, які спираються на використанні цифрових систем для управління і контролю електричних систем, таких як двигуни, системи зв&rsquo;язку та датчики.</p>

<p style="text-align:justify">&nbsp;</p>

<p style="text-align:center"><strong>&nbsp;Основні дисципліни, які складають фахову підготовку:</strong></p>

<p>&bull;&nbsp;Комп&#39;ютерна електроніка;<br />
&bull;&nbsp;Теорія інформації та кодування;<br />
&bull;&nbsp;Основи конструювання обчислювальної техніки;<br />
&bull;&nbsp;Теорія електричних кіл;<br />
&bull;&nbsp;Інженерна графіка;<br />
&bull;&nbsp;Програмування мовою Сі;<br />
&bull;&nbsp;Алгоритми та методи обчислень;<br />
&bull;&nbsp;Теорія ймовірностей та математична статистика;<br />
&bull;&nbsp;Прикладна теорія цифрових автоматів;<br />
&bull;&nbsp;Програмне забезпечення;<br />
&bull;&nbsp;Мікросхемотехніка;<br />
&bull;&nbsp;Периферійні пристрої;<br />
&bull;&nbsp;Електрорадіовимірювання;<br />
&bull;&nbsp;Системне програмування;<br />
&bull;&nbsp;Мікропроцесорні системи;<br />
&bull;&nbsp;Технічне обслуговування ЕОМ;<br />
&bull;&nbsp;Основи метрології, стандартизації та взаємозамінюваності.<strong><em>&nbsp;</em></strong></p>

<p style="text-align:center"><strong>Професійні назви робіт, які здатний виконувати фахівець<br />
освітньо-кваліфікаційного рівня &quot;Молодший спеціаліст&quot;:</strong></p>

<p>&bull; Адміністратор та налагоджувальник локальних мереж;<br />
&bull; Технік-програміст;<br />
&bull; Інженера з обслуговування комп&rsquo;ютерних мереж;<br />
&bull; Керівник підрозділу комп&#39;ютерних послуг;<br />
&bull; Фахівець у галузі інформаційних технологій, для вирішення питань пошуку, обробки, передачі та захисту інформації;<br />
&bull; Технічний фахівець в галузі електроніки та телекомунікацій;<br />
&bull; Фахівець у галузі розробки Web-сайтів;<br />
&bull; Фахівець у галузі формування та управління електронних баз даних;<br />
&bull; Оператор електронно-обчислювальної (комп&#39;ютерної) техніки;<br />
&bull; Монтажник електронного устаткування;<br />
&bull; Майстер з ремонту приладів та апаратури;<br />
&bull; Технік обчислювального (інформаційного) центру;<br />
&bull; Налагоджувальник приладів, апаратури та систем автоматичного контролю, регулювання та керування (налагоджувальник КВП та автоматики);<br />
&bull; Налагоджувальник технологічного устаткування (електронна техніка);<br />
&bull; Консультант з програмного забезпечення;<br />
&bull; Регулювальник радіоелектронної апаратури та приладів.</p>

<p style="text-align:center"><strong>Основні місця роботи, де можна працювати після закінчення навчання:</strong></p>

<p>&bull; Банківські установи;<br />
&bull; Відділ обробки інформації підприємств різних форм власності;<br />
&bull; Фірми, які займаються розробкою прикладного та програмного забезпечення;<br />
&bull; Фірми, що є провайдерами послуг Internet;<br />
&bull; Фірми, що надають послуги кабельного та супутникового телебачення;<br />
&bull; Наукові інститути і установи.</p>
