<table>
	<tbody>
		<tr>
			<td>
			<h3><strong>Доступ до публічної інформації</strong></h3>
			</td>
		</tr>
	</tbody>
</table>

<table>
	<tbody>
		<tr>
			<td style="vertical-align:top">
			<h2 style="text-align:justify">&nbsp;</h2>

			<p style="text-align:justify">Коледж Чернівецького національного університету імені Юрія Федьковича (Коледж ЧНУ) надає публічну інформацію керуючись Законом України <a href="https://zakon3.rada.gov.ua/laws/show/2939-17/print1312365579880327">Про доступ до публічної інформації</a>.<br />
			Надання інформації Коледж ЧНУ здійснює у відповідь на інформаційний запит.<br />
			Запит від особи на отримання інформації подається шляхом заповнення відповідних форм запитів на інформацію.<br />
			-&nbsp;<span style="color:#4183af"><a href="/pages/files/dfba3e7e9976/ZapitP.doc">Форма для подання запиту у паперовому вигляді</a>&nbsp;</span><br />
			-&nbsp;<a href="/pages/files/89e047ac7bc2/ZapitEmail.doc"><span style="color:#4183af">Форма для подання запиту у електронному вигляді</span>&nbsp;</a><br />
			Поштова адреса для подання інформаційного запиту:<br />
			м. Чернівці, вул. Сковороди, 9, 58012, (на конверті вказувати Публічна інформація)<br />
			тел./факс (0372) 58-48-50,<br />
			Електронна пошта: <a href="mailto:college@chnu.edu.ua">college@chnu.edu.ua</a></p>
			</td>
		</tr>
	</tbody>
</table>
