<p><a href="http://localhost:25565/article/5c5c53e68f13050d955f2141">1 курс</a></p>

<p><a href="http://localhost:25565/article/5c5c54248f13050d955f2142">2 курс</a></p>

<p><a href="http://localhost:25565/article/5c5c546e8f13050d955f2143">3 курс</a></p>

<p><a href="http://localhost:25565/article/5c5c54a88f13050d955f2144">4 курс</a></p>
