<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="/pages/admin/login/style.css">
</head>
<body>
	<div id="login-form">
		<form enctype="application/json" method="post" action="/admin/login">
			<legend>Дані адміністратора</legend>
			<p>
				<input name="username" type="text" placeholder="Логін">
			</p>
			<p>
				<input name="password" type="password" placeholder="Пароль">
			</p>
			<p>
				<input type="submit" value="Ввійти">
			</p>
		</form>
	</div>
</body>
</html>