<link rel="stylesheet" type="text/css" href="/pages/temporary_not_working/style.css">

<div id="alert">
	<p id="header-title">Увага!</p>
	<p id="desc">Сайт коледжу ЧНУ оновлюється. Перепрошуємо за незручності!</p>
</div>