<link rel="stylesheet" type="text/css" href="/pages/temporary_not_working/style.css">

<div id="alert">
	<p id="header-title">Увага!</p>
	<p id="desc">Сайт коледжу ЧНУ оновлюється. Перепрошуємо за незручності! <br/>
		<br/><a href="/pages/temporary_not_working/files/first_course_rating.pdf" download>Рейтинг стипендія курс</a><hr/>
			Оплата за навчання до 25 січня! Ксерокопії квитанцій заносити в приймальню (17 каб.)
			<a href="/pages/temporary_not_working/files/payment.jpg" target="_blank"><img src="/pages/temporary_not_working/files/payment.jpg" id="payment_img"/></a>
		</p>
</div>