#alert {
	margin: 0 auto;
	width: 500px;
	height: 250px;
	border: 1px solid gray;
}

#header-title {
	display: block;
	background-image: linear-gradient(#0B3776, #0E489B);
	color: white;
	font-size: 35px;
	font-weight: bolder;
	text-align: center;
	height: 50px;
}

#desc {
	height: 200px;
	display: block;
	color: blue;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
}

#payment_img {
	height: 400px;
	width: 400px;
	margin: 0 auto;
	border: 1px solid gray;
}