<!doctype html>
<html>
<head>
    
    <meta charset="UTF-8">
    <title>Коледж ЧНУ імені Юрія Федьковича</title> <!-- Add your title -->
    <link rel="shortcut icon" href="../icons/main_icon" /> <!-- Add your own favicon to the images folder -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- STYLES -->
    
    <!-- STYLES.CSS -->
    <link rel="stylesheet" type="text/css" href="/temporary_not_working/style.css" />
    
</head>
<body>
	
	<div class="background">
		<img src="/temporary_not_working/background.jpg" alt="background"/>
	</div>
	
	<div class="hello" align="center">
		<p id="hello-title">Вітаємо!</p>
	</div>

	<div class="desc" align="center">
		<p id="desc-title">Сайт тимчасово не працює. Перепрошуємо за незручності!</p>
	</div>

</body>
</html>