<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Добавити статтю</title>
	<script src="/pages/ckeditor/ckeditor.js"></script>
</head>
<body>
	<div id="container">
		<form method="post" action="/admin/postarticle" enctype="multipart/form-data">
			<p><label>Назва статті: </label><input type="text" name="name" style="width: 350px;"></p>
			<textarea name="content" id="editor"></textarea>
			<input type="submit" value="Добавити статтю">
		</form>
	</div>
	<script type="text/javascript">
        CKEDITOR.replace("editor", {
        	width: "780px",
        	height: "600px",
        	marginLeft: "40%"
        });
	</script>
</body>
</html>