<link rel="stylesheet" type="text/css" href="/pages/css/header-style.css">
<div id="header-div">
<div id="header-panel">
	<img id="site-logo" src="/pages/images/logo.jpg"/>
	<% if (admin) { %>
		<a href="/admin/edit-top-menu" style="color: lightblue; vertical-align: bottom; position: absolute; top: 3%;">Редагувати</a>
	<% } %>
</div>
<div id="nav-dropdown">
	<ul id="main-nav">
		<% for (var i = 0; i < topMenu.length; i++) { %>
			<li>
				<div class="mydropdown">
					<button class="dropbtn" onclick="location.href='<%=topMenu[i].link%>'">
						<%=topMenu[i].buttonName%>
					</button>
					<% if (topMenu[i].subItems && topMenu[i].subItems.length > 0) { %>
					<div class="dropdown-content">
						<% for (var j = 0; j < topMenu[i].subItems.length; j++) { %>
							<a class="dropdown-item" href="<%=topMenu[i].subItems[j].link%>"><%=topMenu[i].subItems[j].name%></a>
						<% } %>
					</div>
					<% } %>
				</div>
			</li>
		<% } %>
	</ul>
</div>
</div>