#header-panel {
	width: 1000px;
	height: 50px;
	top: 40px;
	margin: 0 auto;
	background-image: linear-gradient(#0B3776, #0E489B);
}

#nav-dropdown {
	width: 1000px;
	height: 35px;
	background-image: linear-gradient(#0B3776, #0E489B);
	margin: 0 auto;
}

#site-logo {
	float: right;
}


#main-nav li {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	display: inline;
}