<html>
<head>
	<meta charset="UTF-8">
	<title><%= name %></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/pages/style.css">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</head>
<body background="/pages/background.jpg">
	<%- include header.ejs %>
	<div id="main-panel">
		<%- include left.ejs %>
		<div id="page-content">
			<%- include("articles/" + path)%>
			<hr/>
		</div>
		<div style="display: flex; justify-content: space-between; float: left; margin-top: 400px;">
			<a href="http://mon.gov.ua/"><img class="banner" src="/pages/MainPage/images/monu.jpeg"/></a>
			<a href="http://chnu.edu.ua/"><img class="banner" src="/pages/MainPage/images/chnu_banner.jpeg"/></a>
			<a href="http://oblosvita.com/"><img class="banner" src="/pages/MainPage/images/oda.jpeg"/></a>
			<a href="http://testportal.gov.ua/"><img class="banner" src="/pages/MainPage/images/quality.jpg"></a>
		</div>
		<div style="display: flex; justify-content: space-between; float: left; margin-left: 10px;">
			<a href="http://la-strada.org.ua/"><img class="banner2" src="/pages/MainPage/images/la_strada.gif"/></a>
			<a href="http://www.chnu.edu.ua/index.php?page=ua/gum_osvita/02%20stud_parlam"><img class="banner2" src="/pages/MainPage/images/parlament.jpg"/></a>
			<a href="http://studprofkom.cv.ua/"><img class="banner2" src="/pages/MainPage/images/profspilka.jpg"/></a>
			<a href="http://pedpresa.com.ua/"><img class="banner2" src="/pages/MainPage/images/ped-presa.jpg"/></a>
			<a href="http://www.stud-job.cv.ua/"><img class="banner2" src="/pages/MainPage/images/robota.jpg"/></a>
			<a href="http://la-strada.org.ua/"><img class="banner2" src="/pages/MainPage/images/la_strada2.gif"/></a>
		</div>
	</div>
</div>
</body>
</html>