<link rel="stylesheet" type="text/css" href="/pages/css/left-style.css">

<div id="left-panel">
	<div id="nav-menu">
		<ul id="nav-list">
			<% if (admin) { %>
				<p class="title">Меню <a href="/admin/edit-left-menu" style="float: right; color: lightblue;">Редагувати</a></p>
			<% } else { %>
				<p class="title">Меню</p>
			<% } %>
			<% for (var i = 0; i < leftMenu.length; i++) { %>
				<a href="<%=leftMenu[i].link%>"><li><%=leftMenu[i].name%></li></a>
			<% } %>
		</ul>
	</div>

	<a href="#" id="courses-link"><img src="/pages/MainPage/images/courses.jpg"/></a>

	<div id="contacts">
		<p class="title">Контакти</p>
		<p id="contacts-text">58012, м. Чернівці, вул. Сковороди, 9, корпус 12, аудиторія 3.<br/>Тел/факс: (0372) 58-48-50<br/> college@chnu.edu.ua</p>
		<a href="http://www.ukr.net/theheavenshundred.html" style="padding-left: 25px;"><img src="/pages/MainPage/images/baner-sotnya.png"/></a>
	</div>

	<div id="SinoptikInformer" style="width:270px; margin-top: 20px;" class="SinoptikInformer type1c1"><div class="siHeader"><div class="siLh"><div class="siMh"><a onmousedown="siClickCount();" class="siLogo" href="https://ua.sinoptik.ua/" target="_blank" rel="nofollow" title="Погода"> </a>Погода <span id="siHeader"></span></div></div></div><div class="siBody"><a onmousedown="siClickCount();" href="https://ua.sinoptik.ua/погода-чернівці" title="Погода у Чернівцях" target="_blank"><div class="siCity"><div class="siCityName"><span>Чернівці</span></div><div id="siCont0" class="siBodyContent"><div class="siLeft"><div class="siTerm"></div><div class="siT" id="siT0"></div><div id="weatherIco0"></div></div><div class="siInf"><p>вологість: <span id="vl0"></span></p><p>тиск: <span id="dav0"></span></p><p>вітер: <span id="wind0"></span></p></div></div></div></a><div class="siLinks">Погода на 10 днів від <a href="https://ua.sinoptik.ua/погода-чернівці/10-днів" title="Погода на 10 днів" target="_blank" onmousedown="siClickCount();">sinoptik.ua</a></div></div><div class="siFooter"><div class="siLf"><div class="siMf"></div></div></div></div><script type="text/javascript" charset="UTF-8" src="//sinoptik.ua/informers_js.php?title=4&amp;wind=3&amp;cities=303028948&amp;lang=ua"></script>

	<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=270&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=b07rd6l47ees1l3p5qrnj0tf94%40group.calendar.google.com&amp;color=%238C500B&amp;ctz=Europe%2FKiev" style="border:solid 1px gray" width="270" height="270" frameborder="0" scrolling="no" id="calendar" style="margin-top: 20px"></iframe>

	<div id="partners">
		<p class="title">Партнери</p>
		<a href="http://mon.gov.ua/"><img src="/pages/MainPage/images/monu.jpeg" style="width: 100%;"/></a>
		<a href="http://chnu.edu.ua/""><img src="/pages/MainPage/images/chnu_banner.jpeg" style="width: 100%;"/></a>
		<a href="http://radavnz.cv.ua/"><img src="/pages/MainPage/images/rada_vnz.jpeg" style="width: 100%;"/></a>
		<a href="http://oblosvita.com/""><img src="/pages/MainPage/images/oda.jpeg" style="width: 100%;"/></a>
		<a href="http://pedpresa.com.ua/""><img src="/pages/MainPage/images/pedrpesacom_banner.gif" style="width: 100%;"/></a>
		<a href="http://studprofkom.cv.ua/"><img src="/pages/MainPage/images/profspilka.jpeg" style="width: 100%;"/></a>
		<a href="http://newformaty.com.ua/"><img src="/pages/MainPage/images/new_formats.jpeg" style="width: 100%;"/></a>
	</div>

	<a href="#" id="strada-link"><img src="/pages/MainPage/images/la_strada.gif"/></a>
	<a href="#" id="strada-link"><img src="/pages/MainPage/images/la_strada2.gif"/></a>

	<div id="contacts">
		<p class="title">Статистика</p>
		<a href="http://hotlog.ru/viewstat?id=2251042">Hotlog</a>
	</div>
</div>
