<link rel="stylesheet" type="text/css" href="/pages/css/left-style.css">

<div id="left-panel">
	<div id="nav-menu">
		<ul id="nav-list">
			<p class="title">Меню</p>
			<a href="#"><li>Головна</li></a>
			<a href="#"><li>Вступ на навчання</li></a>
			<a href="#"><li>Ліцензії</li></a>
			<a href="#"><li>Сертифікати</li></a>
			<a href="#"><li>Розташування</li></a>
			<a href="#"><li>Історія</li></a>
			<a href="#"><li>Адміністрація</li></a>
			<a href="#"><li>Спеціальності</li></a>
			<a href="#"><li>Студенту</li></a>
			<a href="#"><li>Абітурієнту</li></a>
			<a href="#"><li>Самоврядування</li></a>
			<a href="#"><li>Досягнення</li></a>
			<a href="#"><li>Медотична сторінка</li></a>
			<a href="#"><li>Фінансово-економічна діяльність</li></a>
			<a href="#"><li>Доступ до публічної інформації</li></a>
			<a href="#"><li>Про нас пишуть</li></a>
			<a href="#"><li>Галерея</li></a>
		</ul>
	</div>

	<a href="#" id="courses-link"><img src="/pages/MainPage/images/courses.jpg"/></a>

	<div id="contacts">
		<p class="title">Контакти</p>
		<p id="contacts-text">58012, м. Чернівці, вул. Сковороди, 9, корпус 12, аудиторія 3.<br/>Тел/факс: (0372) 58-48-50<br/> college@chnu.edu.ua</p>
		<a href="http://www.ukr.net/theheavenshundred.html" style="padding-left: 25px;"><img src="/pages/MainPage/images/baner-sotnya.png"/></a>
	</div>

	<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=270&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=b07rd6l47ees1l3p5qrnj0tf94%40group.calendar.google.com&amp;color=%238C500B&amp;ctz=Europe%2FKiev" style="border:solid 1px gray" width="270" height="270" frameborder="0" scrolling="no" id="calendar" style="margin-top: 20px"></iframe>

	<div id="partners">
		<p class="title">Партнери</p>
		<a href="http://mon.gov.ua/"><img src="/pages/MainPage/images/monu.jpeg" style="width: 100%;"/></a>
		<a href="http://chnu.edu.ua/""><img src="/pages/MainPage/images/chnu_banner.jpeg" style="width: 100%;"/></a>
		<a href="http://radavnz.cv.ua/"><img src="/pages/MainPage/images/rada_vnz.jpeg" style="width: 100%;"/></a>
		<a href="http://oblosvita.com/""><img src="/pages/MainPage/images/oda.jpeg" style="width: 100%;"/></a>
		<a href="http://pedpresa.com.ua/""><img src="/pages/MainPage/images/pedrpesacom_banner.gif" style="width: 100%;"/></a>
		<a href="http://studprofkom.cv.ua/"><img src="/pages/MainPage/images/profspilka.jpeg" style="width: 100%;"/></a>
		<a href="http://newformaty.com.ua/"><img src="/pages/MainPage/images/new_formats.jpeg" style="width: 100%;"/></a>
	</div>
</div>
