body {
	position: relative;
	background-repeat: repeat;
	background-position: 0 0;
	background-attachment: fixed;
}

#main-panel {
	width: 1100px;
	display: block;
	/* min-height: 3100px; */
	overflow: auto;
	overflow-x: hidden;
	background-color: #ffffff;
	margin: 0 auto;
	box-shadow: 5px 5px 8px #888888, -5px 5px 8px #888888;
}

#page-content {
	padding-top: 20px;
	margin-left: 300px;
	margin-right: 40px;
	padding-bottom: 30px;
	display: block;
}
.banner {
	height: 80px;
	padding-right: 5px;
	width: 278px;
}

.banner2 {
	/* height: 200px; */
<<<<<<< HEAD
	padding-right: 7px;
}
=======
	padding-right: 5px;
	width: 273px;
}
>>>>>>> 2821ffcfad898f8988e0eef7dfc7770e7e2569e0
