body {
	position: relative;
	background-repeat: repeat;
	background-position: 0 0;
	background-attachment: fixed;
}

#main-panel {
	width: 1100px;
	min-height: 3400px;
	overflow: auto;
	overflow-x: hidden;
	background-color: #ffffff;
	margin: 0 auto;
	box-shadow: 5px 5px 8px #888888, -5px 5px 8px #888888;
}

#page-content {
	padding-top: 20px;
	margin-left: 300px;
	margin-right: 40px;
	padding-bottom: 30px;
	display: block;
}
.banner {
	height: 80px;
	padding-right: 11px;
}

.banner2 {
	/* height: 200px; */
	padding-right: 7px;
}