<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
	<div style="display: block; width: 200px; height: 200px; margin: 0 auto; box-shadow: 1px 1px 10px black; background-color: darkgrey;">
		<form enctype="application/json" method="post" action="/admin/edit-package-info">
			<input type="text" name="name" placeholder="Назва">
			<input type="text" name="link" placeholder="Адреса">
			<input type="submit" value="Зберегти">
		</form>
	</div>
</body>
</html>